Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Redesign layer_group_opacity test case with auto-layout for centered alignment.
  resources/pagx_to_html/layer_group_opacity.pagx
Owners: @domchen, @Hparty, @shlzxjp

Address PR review round 2 with 12 fixes across PPT exporter modules.
  CMakeLists.txt
  src/cli/CommandExport.cpp
  src/pagx/ppt/PPTBoilerplate.cpp
  src/pagx/ppt/PPTContourUtils.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTWriterContext.h
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
  src/pagx/xml/XMLBuilder.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add image caching and downsampling to reduce WASM memory usage in WeChat MiniProgram.
  pagx/wechat/CMakeLists.txt
  pagx/wechat/src/PAGXView.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Disable scaling below 1:1 and scrollRect clipping for first frame optimization.
  pagx/wechat/src/PAGXView.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Redesign 4 test cases with auto-layout for centered alignment.
  resources/pagx_to_html/layer_nesting.pagx
  resources/pagx_to_html/layer_scroll_rect.pagx
  resources/pagx_to_html/layer_transform_priority.pagx
  resources/pagx_to_html/resource_composition.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add performance logging for PAGX parsing and rendering pipeline.
  DEPS
  pagx/wechat/CMakeLists.txt
  pagx/wechat/package.json
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  pagx/wechat/ts/pagx-view.ts
  pagx/wechat/wx_demo/pages/viewer/viewer.js
  src/pagx/PAGXImporter.cpp
  src/pagx/xml/XMLDOM.cpp
  src/pagx/xml/XMLParser.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/TextLayout.cpp
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Redesign layer_pass_through test case with auto-layout for centered alignment.
  resources/pagx_to_html/layer_pass_through.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign layer_visibility test case with auto-layout for centered alignment.
  resources/pagx_to_html/layer_visibility.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign modifier_merge_path test case with auto-layout for centered alignment.
  resources/pagx_to_html/modifier_merge_path.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign modifier_round_corner test case with auto-layout for centered alignment.
  resources/pagx_to_html/modifier_round_corner.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign painter_accumulated_geometry test case with auto-layout for centered alignment.
  resources/pagx_to_html/painter_accumulated_geometry.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix shape container size in painter_accumulated_geometry test case.
  resources/pagx_to_html/painter_accumulated_geometry.pagx
Owners: @domchen, @Hparty, @shlzxjp

Use centerX and centerY constraints to center shapes in painter_accumulated_geometry test case.
  resources/pagx_to_html/painter_accumulated_geometry.pagx
Owners: @domchen, @Hparty, @shlzxjp

Revert painter_accumulated_geometry test case to original version.
  resources/pagx_to_html/painter_accumulated_geometry.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign painter_accumulated_geometry with auto-layout and clearer visual structure.
  resources/pagx_to_html/painter_accumulated_geometry.pagx
Owners: @domchen, @Hparty, @shlzxjp

Adapt pagx/wechat to new TextLayout and LayerBuilder API changes.
  pagx/wechat/CMakeLists.txt
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Disable scrollRect clipping for first frame optimization.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add image caching and downsampling to reduce WASM memory usage.
  pagx/wechat/src/PAGXView.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Redesign painter_accumulated_geometry with shapes as direct contents for correct positioning.
  resources/pagx_to_html/painter_accumulated_geometry.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign 5 test cases with auto-layout for centered alignment.
  resources/pagx_to_html/layer_transform_matrix.pagx
  resources/pagx_to_html/painter_fill.pagx
  resources/pagx_to_html/painter_multiple.pagx
  resources/pagx_to_html/painter_stroke.pagx
  resources/pagx_to_html/resource_forward_ref.pagx
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline updates for auto-layout redesign of multiple test cases.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update LayerTransformPriority test to match new x/y coordinates after auto-layout redesign.
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Redesign blend_modes_showcase with auto-layout for vertical centering and wider row spacing.
  resources/pagx_to_html/blend_modes_showcase.pagx
Owners: @domchen, @Hparty, @shlzxjp

Increase row gap in layer_blend_modes test case for better spacing.
  resources/pagx_to_html/layer_blend_modes.pagx
Owners: @domchen, @Hparty, @shlzxjp

fix: move disk cache IO operations to background thread to avoid main thread blocking
  src/rendering/caches/DiskCache.cpp
  src/rendering/caches/DiskCache.h
  src/rendering/caches/SequenceFile.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix TextBox position center point in layer_scroll_rect text clipping demo.
  resources/pagx_to_html/layer_scroll_rect.pagx
Owners: @domchen, @Hparty, @shlzxjp

Set TextBox wordWrap to false in layer_scroll_rect to prevent text wrapping in clipping demo.
  resources/pagx_to_html/layer_scroll_rect.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add PAGXOptimizer to simplify document structure and improve verify accuracy.
  include/pagx/PAGXOptimizer.h
  src/cli/CommandImport.cpp
  src/cli/CommandResolve.cpp
  src/cli/CommandVerify.cpp
  src/pagx/PAGXOptimizer.cpp
  test/src/PAGXCliTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix rotated rectangle overflow by centering matrix translation and reducing shape size.
  resources/pagx_to_html/layer_transform_matrix.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign layer_transform_matrix3d with auto-layout and increased title spacing.
  resources/pagx_to_html/layer_transform_matrix3d.pagx
Owners: @domchen, @Hparty, @shlzxjp

Increase horizontal padding in polystar_advanced card for better left and right margins.
  resources/pagx_to_html/polystar_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Reduce polystar sizes and use spaceEvenly layout to fit within card boundaries.
  resources/pagx_to_html/polystar_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign repeater test case with auto-layout for centered alignment.
  resources/pagx_to_html/repeater.pagx
Owners: @domchen, @Hparty, @shlzxjp

Extract shared predicates into PAGXAnalyzer and deduplicate test utilities.
  src/cli/CommandVerify.cpp
  src/pagx/PAGXAnalyzer.cpp
  src/pagx/PAGXAnalyzer.h
  src/pagx/PAGXOptimizer.cpp
  test/src/PAGXCliTest.cpp
  test/src/PAGXTest.cpp
  test/src/utils/PAGXTestUtils.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix DetectPathPrimitive returning None when output params are null.
  src/pagx/PAGXAnalyzer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Increase spacing between title and subtitle in root_document test case.
  resources/pagx_to_html/root_document.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign selector_advanced with auto-layout and increased bottom padding.
  resources/pagx_to_html/selector_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign showcase_dashboard_card with auto-layout fixing text overlap and badge centering.
  resources/pagx_to_html/showcase_dashboard_card.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix badge text vertical centering in showcase_dashboard_card test case.
  resources/pagx_to_html/showcase_dashboard_card.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix badge text vertical centering and add spacing between metric and comparison text.
  resources/pagx_to_html/showcase_dashboard_card.pagx
Owners: @domchen, @Hparty, @shlzxjp
