Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Add NativeWindow ownership tracking to prevent double-free on HarmonyOS. (#3309)
  src/platform/android/JPAGSurface.cpp
  src/platform/ohos/GPUDrawable.cpp
  src/platform/ohos/GPUDrawable.h
  src/platform/ohos/JPAGSurface.cpp
  src/platform/ohos/JPAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add NativeWindow ownership tracking to prevent double-free on HarmonyOS. (#3309)
  src/platform/android/JPAGSurface.cpp
  src/platform/ohos/GPUDrawable.cpp
  src/platform/ohos/GPUDrawable.h
  src/platform/ohos/JPAGSurface.cpp
  src/platform/ohos/JPAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify PAG_TEST_FILES append into a single statement.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add completion signal, checklist exclusion hint, and evolution phase to bot-review.
  .codebuddy/skills/cr/references/bot-review.md
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant LIBXML_STATIC from PAG_DEFINES.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove inaccurate semantic equivalence claim between --id and --xpath in bounds CLI doc.
  .codebuddy/skills/pagx/references/cli.md
Owners: @domchen, @Hparty, @shlzxjp

Move LIBXML_STATIC to PAG_DEFINES and remove redundant definition from pagx-cli.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Replace vcpkg with vendor-built libxml2 for CLI (#3305)
  .github/workflows/release-cli.yml
  CMakeLists.txt
  DEPS
  vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update pagx npm package repository URL and add homepage. (#3308)
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Add --id and --xpath layer targeting to CLI bounds and render commands. (#3310)
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/skill-creator/LICENSE.txt
  .codebuddy/skills/skill-creator/SKILL.md
  .codebuddy/skills/skill-creator/agents/analyzer.md
  .codebuddy/skills/skill-creator/agents/comparator.md
  .codebuddy/skills/skill-creator/agents/grader.md
  .codebuddy/skills/skill-creator/assets/eval_review.html
  .codebuddy/skills/skill-creator/eval-viewer/generate_review.py
  .codebuddy/skills/skill-creator/eval-viewer/viewer.html
  .codebuddy/skills/skill-creator/references/schemas.md
  .codebuddy/skills/skill-creator/scripts/__init__.py
  .codebuddy/skills/skill-creator/scripts/aggregate_benchmark.py
  .codebuddy/skills/skill-creator/scripts/generate_report.py
  .codebuddy/skills/skill-creator/scripts/improve_description.py
  .codebuddy/skills/skill-creator/scripts/package_skill.py
  .codebuddy/skills/skill-creator/scripts/quick_validate.py
  .codebuddy/skills/skill-creator/scripts/run_eval.py
  .codebuddy/skills/skill-creator/scripts/run_loop.py
  .codebuddy/skills/skill-creator/scripts/utils.py
  resources/cli/render_layer_target.pagx
  src/cli/CommandBounds.cpp
  src/cli/CommandRender.cpp
  src/cli/XPathQuery.cpp
  src/cli/XPathQuery.h
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add three-step PAGX loading with external image support for WeChat MiniProgram.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/binding.cpp
  pagx/wechat/ts/pagx-view.ts
  pagx/wechat/ts/types.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix wechat build by updating include paths and adding HarfBuzz and SheenBidi support.
  pagx/wechat/CMakeLists.txt
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/binding.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove auto GitHub Release from CLI workflow and sync CLI version to skills.
  .github/workflows/release-cli.yml
  playground/script/publish.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix code review issues in CLI workflow and publish script.
  .github/workflows/release-cli.yml
  playground/script/publish.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix zip source to use skillDestDir instead of skillSrcDir.
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Remove auto GitHub Release from CLI workflow and sync CLI version to skills. (#3313)
  .github/workflows/release-cli.yml
  playground/script/publish.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add align and distribute commands with layout refactoring and skill docs.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  resources/cli/align_distribute.pagx
  src/cli/CommandAlign.cpp
  src/cli/CommandAlign.h
  src/cli/CommandBounds.cpp
  src/cli/CommandDistribute.cpp
  src/cli/CommandDistribute.h
  src/cli/LayoutUtils.cpp
  src/cli/LayoutUtils.h
  src/cli/main.cpp
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Improve cr skill with teams review flow and diagnosis scan enhancements.
  .codebuddy/skills/cr/SKILL.md
  .codebuddy/skills/cr/references/diagnosis.md
  .codebuddy/skills/cr/references/teams-review.md
Owners: @domchen, @Hparty, @shlzxjp

Refine PAGX generate-guide with bounds-first verification and alignment tooling.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  src/cli/LayoutUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add non-const EvaluateXPath overload and remove const_cast from SelectLayers.
  src/cli/LayoutUtils.cpp
  src/cli/LayoutUtils.h
  src/cli/XPathQuery.cpp
  src/cli/XPathQuery.h
Owners: @domchen, @Hparty, @shlzxjp

Add common alignment and spacing scenarios as non-exhaustive examples to guide AI scanning.
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Restore alignment check in verification loop to catch regressions introduced by spacing fixes.
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Add alignment check formula to verification loop and fix Step 5 description to cover both fix methods.
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Add align and distribute CLI commands with layout utilities (#3314)
  .codebuddy/skills/cr/SKILL.md
  .codebuddy/skills/cr/references/diagnosis.md
  .codebuddy/skills/cr/references/teams-review.md
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/generate-guide.md
  resources/cli/align_distribute.pagx
  src/cli/CommandAlign.cpp
  src/cli/CommandAlign.h
  src/cli/CommandBounds.cpp
  src/cli/CommandDistribute.cpp
  src/cli/CommandDistribute.h
  src/cli/LayoutUtils.cpp
  src/cli/LayoutUtils.h
  src/cli/XPathQuery.cpp
  src/cli/XPathQuery.h
  src/cli/main.cpp
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix publish script to update PAGX_MIN in source cli.md before comparing directories.
  .codebuddy/skills/pagx/references/cli.md
  cli/npm/package.json
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Fix publish script to update PAGX_MIN in source cli.md before comparing directories (#3315)
  .codebuddy/skills/pagx/references/cli.md
  cli/npm/package.json
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Fix CLI render command accessing private tgfx APIs.
  src/cli/CommandRender.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update vendor_tools to latest version.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Reorganize Git rules to separate auto-commit and manual-commit sections for clarity.
  .codebuddy/rules/Git.md
Owners: @domchen, @Hparty, @shlzxjp

Merge operation restrictions into the commit section for a cleaner rule structure.
  .codebuddy/rules/Git.md
Owners: @domchen, @Hparty, @shlzxjp

Fix CLI render command accessing private tgfx APIs (#3316)
  .codebuddy/rules/Git.md
  DEPS
  src/cli/CommandRender.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add canvas background color support from PAGX document attributes.
  include/pagx/PAGXDocument.h
  pagx/wechat/src/GridBackground.cpp
  pagx/wechat/src/GridBackground.h
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Read canvas background from backGround layer customData instead of PAGXDocument fields.
  include/pagx/PAGXDocument.h
  pagx/wechat/src/PAGXView.cpp
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add SVGExporter with full PAGX-to-SVG conversion and CLI export-svg command
  include/pagx/SVGExporter.h
  src/cli/CommandExportSVG.cpp
  src/cli/CommandExportSVG.h
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify writeLayer by removing unnecessary group wrapping logic
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix feColorMatrix value layout in inner shadow filter export
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Export layer customData as SVG data-* attributes
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Introduce FillStrokeInfo and apply fill/stroke to mask layer content
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify writeMaskLayerContent by reusing writeLayerContents
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Unify element dispatch into shared writeElements function
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp
