Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Add HTMLFormat option with Compact, Pretty and Minify styles, defaulting to Pretty.
  include/pagx/HTMLExporter.h
  src/pagx/html/HTMLBuilder.h
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLStyleExtractor.cpp
  src/pagx/html/HTMLStyleExtractor.h
  test/src/HTMLStyleExtractorTest.cpp
  test/src/PAGXHtmlTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add stroke_cap_join sample covering all lineCap and lineJoin enum combinations.
  resources/pagx_to_html/stroke_cap_join.pagx
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Deduplicate SVG filter definitions using parameter signature cache.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterFilter.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove deprecated CSS extraction design doc superseded by spec/pagx_to_html.md.
  docs/pagx_html_css_extraction_design.md
Owners: @domchen, @Hparty, @shlzxjp

Normalize CSS declaration order in generated stylesheets by semantic grouping.
  src/pagx/html/HTMLStyleExtractor.cpp
  test/src/HTMLStyleExtractorTest.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Harden HTML exporter against malformed PAGX and CSS context injection for font-family and image URL scheme.
  src/pagx/html/FontHoist.cpp
  src/pagx/html/FontHoist.h
  src/pagx/html/HTMLBuilder.h
  src/pagx/html/HTMLWriterColor.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/html/HTMLWriterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add multi-angle code review report for the PAGX-to-HTML module covering architecture, API, maintainability, robustness, security, performance and style.
  docs/code_review/00_summary.md
  docs/code_review/01_architecture.md
  docs/code_review/02_api.md
  docs/code_review/03_maintainability.md
  docs/code_review/04_robustness.md
  docs/code_review/05_security.md
  docs/code_review/06_performance.md
  docs/code_review/07_style.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify code review skill routing to default to multi-agent review with low_medium auto-fix.
  .codebuddy/skills/cr/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Document HTML exporter API contracts and guard against runaway recursion.
  include/pagx/HTMLExporter.h
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reject unknown image MIME types instead of falling back to application/octet-stream.
  src/pagx/html/HTMLWriterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Append profile evidence that HTMLExporter is not the BatchConvertAll bottleneck.
  docs/code_review/06_performance.md
Owners: @domchen, @Hparty, @shlzxjp

Replace lambdas with named functions and functors to match the project's no-lambda convention.
  src/pagx/html/HTMLStyleExtractor.cpp
  src/pagx/html/HTMLWriterFilter.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterShape.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract ComputeGeosBoundingBox helper to deduplicate four SVG bounding-box computations.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Name the sentinel bbox and gradient-mapping epsilon constants used across the HTML exporter.
  src/pagx/html/HTMLWriterColor.cpp
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Clarify that absolute color-source coordinates live in the parent container's space.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/guide.md
  .codebuddy/skills/pagx/references/patterns.md
  DEPS
  include/pagx/nodes/ConicGradient.h
  include/pagx/nodes/DiamondGradient.h
  include/pagx/nodes/Gradient.h
  include/pagx/nodes/ImagePattern.h
  include/pagx/nodes/LinearGradient.h
  include/pagx/nodes/RadialGradient.h
  include/pagx/types/ScaleMode.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/color_source_coordinates.pagx
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rephrase container coordinate-space descriptions to put Layer before Group and update tgfx DEPS.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/guide.md
  DEPS
  include/pagx/nodes/Gradient.h
  include/pagx/nodes/ImagePattern.h
  include/pagx/types/ScaleMode.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/color_source_coordinates.pagx
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix STRETCH near-singular matrix to fall back to natural scale instead of identity.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Align npm README embed command description and flag text with CLI help output.
  cli/npm/README.md
Owners: @domchen, @Hparty, @shlzxjp

Fall back to node matrix on malformed image-scale-mode instead of identity.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Assert font node is embedded in Embed_FontFlags_AcceptedLikeOldSubcommand.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Simplify redundant tgfx::Matrix default initializer in resolveImagePatternMatrix.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Assert font node is embedded in Embed_BothDefault_EmbedsFontsAndImages.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Document local ImageScaleMode enum as mirror of PAGX custom data values.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Assert FontList text output contains at least two non-empty family lines.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Loosen FontList_JsonOutput to check for family and styles tokens instead of exact prefix.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use word-boundary check for retired info subcommand in Font_HelpShowsCurrentFlags.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename resolveImagePatternMatrix to ResolveImagePatternMatrix for naming consistency.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Document macOS AllFontFamilies API choice over CTFontManagerCopyAvailableMembersOfFontFamily.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove pre-C++11 template space in SystemFonts.cpp nested vector type.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update SystemFonts class doc to cover AllFontFamilies in addition to fallback typefaces.
  src/pagx/SystemFonts.h
Owners: @domchen, @Hparty, @shlzxjp

Track --size presence via bool flag so explicit default value still triggers warning.
  src/cli/CommandFont.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert template space fix that conflicts with project clang-format configuration.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

codeformat
  src/cli/CommandEmbed.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refine showcase samples for relative-fill defaults and drop redundant samples.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/fill.pagx
  spec/samples/glyph_run.pagx
  spec/samples/image_pattern.pagx
  spec/samples/linear_gradient.pagx
  spec/samples/merge_path.pagx
  spec/samples/mixed_overlay.pagx
  spec/samples/multiple_painters.pagx
  spec/samples/nebula_cadet.pagx
  spec/samples/radial_gradient.pagx
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline updates for rendering tests.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Default LinearGradient endPoint to 1,0 and drop absolute coordinates that match geometry bounds.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/guide.md
  include/pagx/nodes/LinearGradient.h
  spec/pagx.xsd
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/complete_example.pagx
  spec/samples/composition.pagx
  spec/samples/glyph_run.pagx
  spec/samples/multiple_strokes.pagx
  spec/samples/nebula_cadet.pagx
  spec/samples/pagx_features.pagx
  spec/samples/rich_text.pagx
  spec/samples/stroke.pagx
  spec/samples/text.pagx
  spec/samples/text_box.pagx
  spec/samples/text_path.pagx
Owners: @domchen, @Hparty, @shlzxjp

Distinguish Geometry from Shape across vector-element docs and pull in matching tgfx update.
  DEPS
  include/pagx/nodes/Element.h
  include/pagx/nodes/Fill.h
  include/pagx/nodes/Group.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Node.h
  include/pagx/nodes/Stroke.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use diagonal gradients in samples where the shape warrants it.
  spec/samples/layer_filters.pagx
  spec/samples/layer_styles.pagx
  spec/samples/linear_gradient.pagx
  spec/samples/masking.pagx
  spec/samples/merge_path.pagx
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline updates for spec rendering changes.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Accept baseline updates for feature and spec rendering changes.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp
