Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Unify attribute table format in spec with consistent required field notation.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Rename Placement enum to LayerPlacement for clarity.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx to f96be663690a908ec7a59481dd65b5cedd99854d.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Extend findLayer to search within Composition resources for forward reference support.
  pagx/src/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract PathData to Resources and deduplicate ColorSource references in XML writer.
  pagx/include/pagx/PAGXNode.h
  pagx/src/PAGXXMLParser.cpp
  pagx/src/PAGXXMLParser.h
  pagx/src/PAGXXMLWriter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor PAGX spec with appendixes for quick reference and fix cross-section references.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant Resources-required constraint from attribute tables.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Define id as a universal attribute applicable to any element.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Add data-* custom attributes to PAGX spec as universal attributes.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Merge PathData sections and clarify inline vs shared usage in PAGX spec.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Add external resource path resolution rules in PAGX spec.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Add unified external resource reference section for images videos audio and fonts.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Remove objectBoundingBox reference and clean up unnecessary id attributes from XML examples.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Allow absolute paths in external resource references in PAGX spec.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

feat(pagx): preserve SVG id and data-* attributes, move Resources to end
  pagx/include/pagx/PAGXNode.h
  pagx/src/PAGXXMLParser.cpp
  pagx/src/PAGXXMLWriter.cpp
  pagx/src/svg/PAGXSVGParser.cpp
  pagx/src/svg/SVGParserInternal.h
  resources/apitest/SVG/customData.svg
  resources/apitest/SVG/duplicatePaths.svg
Owners: @domchen, @Hparty, @shlzxjp

Allow parent directory references in relative paths for external resources.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Clarify that only base64 encoding is supported for data URIs.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Move Resources section after layers in all XML examples.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Fix invalid XML syntax in specification examples by replacing ellipsis with complete code.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Add plusDarker blend mode to PAGX specification and implementation.
  pagx/docs/pagx_spec.md
  pagx/include/pagx/PAGXTypes.h
  pagx/src/PAGXTypes.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add layer contour concept description to PAGX specification.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify XML examples by removing default attribute values in PAGX specification.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Update XML examples in node definition sections to show all attributes with default values.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Make LinearGradient startPoint a required attribute and add it back to all XML examples.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Add missing required font attribute to TextSpan examples and fix text attribute usage to CDATA.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Make Path data attribute required and restore complete XML examples with all attributes.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Remove invalid name attribute from Group and replace color names with hex values in XML examples.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Remove backward compatibility aliases and use new type names directly.
  pagx/include/pagx/PAGXDocument.h
  pagx/include/pagx/PAGXNode.h
  pagx/include/pagx/PAGXTypes.h
  pagx/src/PAGXDocument.cpp
  pagx/src/PAGXXMLParser.cpp
  pagx/src/PAGXXMLParser.h
  pagx/src/PAGXXMLWriter.cpp
  pagx/src/svg/PAGXSVGParser.cpp
  pagx/src/svg/SVGParserInternal.h
  pagx/src/tgfx/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove redundant blend mode section from 4.4 in PAGX spec.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Remove textAnchor attribute from TextSpan in PAGX spec.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Update PAGX spec to describe bidirectional conversion with PAG format.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Move PAG format conversion description to file structure section.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Clarify contents as Layer.contents in PAGX spec appendix.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Refactor PAGX spec appendices with XML examples and better organization.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Rename Appendix C to Node and Attribute Reference in PAGX spec.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Update quick reference XML examples to use default values and code block format.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Remove clone() method from all node structs to simplify the API.
  pagx/include/pagx/nodes/BackgroundBlurStyle.h
  pagx/include/pagx/nodes/BlendFilter.h
  pagx/include/pagx/nodes/BlurFilter.h
  pagx/include/pagx/nodes/ColorMatrixFilter.h
  pagx/include/pagx/nodes/ColorStop.h
  pagx/include/pagx/nodes/Composition.h
  pagx/include/pagx/nodes/ConicGradient.h
  pagx/include/pagx/nodes/DiamondGradient.h
  pagx/include/pagx/nodes/DropShadowFilter.h
  pagx/include/pagx/nodes/DropShadowStyle.h
  pagx/include/pagx/nodes/Ellipse.h
  pagx/include/pagx/nodes/Fill.h
  pagx/include/pagx/nodes/Group.h
  pagx/include/pagx/nodes/Image.h
  pagx/include/pagx/nodes/ImagePattern.h
  pagx/include/pagx/nodes/InnerShadowFilter.h
  pagx/include/pagx/nodes/InnerShadowStyle.h
  pagx/include/pagx/nodes/Layer.h
  pagx/include/pagx/nodes/LinearGradient.h
  pagx/include/pagx/nodes/MergePath.h
  pagx/include/pagx/nodes/Node.h
  pagx/include/pagx/nodes/Path.h
  pagx/include/pagx/nodes/PathDataResource.h
  pagx/include/pagx/nodes/Polystar.h
  pagx/include/pagx/nodes/RadialGradient.h
  pagx/include/pagx/nodes/RangeSelector.h
  pagx/include/pagx/nodes/Rectangle.h
  pagx/include/pagx/nodes/Repeater.h
  pagx/include/pagx/nodes/RoundCorner.h
  pagx/include/pagx/nodes/SolidColor.h
  pagx/include/pagx/nodes/Stroke.h
  pagx/include/pagx/nodes/TextLayout.h
  pagx/include/pagx/nodes/TextModifier.h
  pagx/include/pagx/nodes/TextPath.h
  pagx/include/pagx/nodes/TextSpan.h
  pagx/include/pagx/nodes/TrimPath.h
Owners: @domchen, @Hparty, @shlzxjp

Refactor PAGX spec: restructure chapters and reduce cross-references
  pagx/docs/pagx_spec.md
  pagx/include/pagx/types/Color.h
  pagx/include/pagx/types/Matrix.h
  pagx/include/pagx/types/Point.h
  pagx/include/pagx/types/Rect.h
  pagx/include/pagx/types/Size.h
  pagx/src/PAGXTypes.cpp
  pagx/src/svg/PAGXSVGParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant MaskType reference in masking section
  pagx/docs/pagx_spec.md
  pagx/include/pagx/nodes/BackgroundBlurStyle.h
  pagx/include/pagx/nodes/BlendFilter.h
  pagx/include/pagx/nodes/BlurFilter.h
  pagx/include/pagx/nodes/ColorMatrixFilter.h
  pagx/include/pagx/nodes/ColorSource.h
  pagx/include/pagx/nodes/ConicGradient.h
  pagx/include/pagx/nodes/DiamondGradient.h
  pagx/include/pagx/nodes/DropShadowFilter.h
  pagx/include/pagx/nodes/DropShadowStyle.h
  pagx/include/pagx/nodes/Ellipse.h
  pagx/include/pagx/nodes/Fill.h
  pagx/include/pagx/nodes/Filter.h
  pagx/include/pagx/nodes/Geometry.h
  pagx/include/pagx/nodes/ImagePattern.h
  pagx/include/pagx/nodes/InnerShadowFilter.h
  pagx/include/pagx/nodes/InnerShadowStyle.h
  pagx/include/pagx/nodes/Layer.h
  pagx/include/pagx/nodes/LayerStyle.h
  pagx/include/pagx/nodes/LinearGradient.h
  pagx/include/pagx/nodes/MergePath.h
  pagx/include/pagx/nodes/Painter.h
  pagx/include/pagx/nodes/Path.h
  pagx/include/pagx/nodes/PathModifier.h
  pagx/include/pagx/nodes/Polystar.h
  pagx/include/pagx/nodes/Rectangle.h
  pagx/include/pagx/nodes/RoundCorner.h
  pagx/include/pagx/nodes/SolidColor.h
  pagx/include/pagx/nodes/Stroke.h
  pagx/include/pagx/nodes/TextSpan.h
  pagx/include/pagx/nodes/TrimPath.h
Owners: @domchen, @Hparty, @shlzxjp

Restore Node inheritance for resources and remove Resource wrapper class.
  pagx/include/pagx/PAGXDocument.h
  pagx/include/pagx/PAGXModel.h
  pagx/include/pagx/nodes/Composition.h
  pagx/include/pagx/nodes/Fill.h
  pagx/include/pagx/nodes/Group.h
  pagx/include/pagx/nodes/Image.h
  pagx/include/pagx/nodes/Layer.h
  pagx/include/pagx/nodes/PathDataResource.h
  pagx/include/pagx/nodes/Resource.h
  pagx/include/pagx/nodes/Stroke.h
  pagx/src/PAGXResource.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
