Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Upgrade tgfx to propagate SSAA no-edge-AA flag into background snapshot capture.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Animate a CSS filter drop-shadow glow or blur keyframe onto the runtime animatable DropShadowFilter and BlurFilter channels.
  src/pagx/html/importer/HTMLAnimationBuilder.cpp
  test/src/PAGXHTMLImporterTest.cpp
  tools/html-snapshot/lib/animation-capture.ts
  tools/html-snapshot/test/animation-capture.test.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Accept render baseline for nebula_cadet after BackgroundBlurStyle tileMode and tgfx precision changes.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Infer justify-content center for symmetric main-axis insets in HTML flex inference instead of baking in equal left/right padding.
  spec/html_subset.md
  spec/html_subset.zh_CN.md
  src/pagx/html/importer/HTMLFlexInferencePass.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix Android display distortion and interval timer leak in lite WeChat.
  web/lite/demo/wechat-miniprogram/pages/index/index.wxml
  web/lite/demo/wechat-miniprogram/pages/index/index.wxss
  web/lite/package.json
  web/lite/src/wechat/pag-view.ts
  web/lite/tsconfig.type.json
  web/lite/wechat/tsconfig.type.json
Owners: @domchen, @Hparty, @shlzxjp

Use narrowed frame param instead of nullable member for Android scale in lite WeChat.
  web/lite/src/wechat/pag-view.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix wild pointer on async animation update in iOS PAGAnimator.
  src/platform/cocoa/private/PAGAnimator.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView unable to load PAG files from remote URLs.
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant empty onAnimationWillUpdate override in iOS PAGAnimator.
  src/platform/cocoa/private/PAGAnimator.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView URL loading by decoding through the URL-capable loader.
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Add a wait timeout on the pending flush task to prevent main thread ANR when the hardware video decoder hangs.
  DEPS
  src/rendering/PAGAnimator.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add a wait timeout on the pending flush task to prevent main thread ANR when the hardware video decoder hangs. (#3554)
  DEPS
  src/rendering/PAGAnimator.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add a wait timeout on the pending flush task to prevent main thread ANR when the hardware video decoder hangs. (#3554)
  DEPS
  src/rendering/PAGAnimator.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Simplify PAGSurface to single Drawable constructor
  include/pagx/PAGSurface.h
  include/pagx/nodes/Image.h
  include/pagx/tgfx.h
  src/pagx/PAGSurface.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert PAG_USE_WOFF2 guard as it is always true in PAGX builds
  CMakeLists.txt
  src/pagx/utils/Woff2FontGenerator.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx dependency to pick up zlib CVE-2026-22184 fix.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add glyph run text fallback and fix scaleMode none background size in HTML export.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterShape.cpp
  src/pagx/html/HTMLWriterText.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update tgfx dependency for release branch.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx dependency for release branch.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx dependency.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx dependency. (#3560)
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix Android PAGView release race.
  android/libpag/src/main/java/org/libpag/PAGView.java
  src/platform/android/JPAGAnimator.cpp
  src/platform/android/JPAGPlayer.cpp
  src/platform/android/JPAGSurface.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView unable to play PAG files from remote URLs on iOS (#3556)
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix Android code format.
  src/platform/android/JPAGPlayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix wild pointer crash on async animation update in iOS PAGAnimator (#3553)
  src/platform/cocoa/private/PAGAnimator.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix Android display distortion and interval timer leak in lite WeChat (#3552)
  web/lite/demo/wechat-miniprogram/pages/index/index.wxml
  web/lite/demo/wechat-miniprogram/pages/index/index.wxss
  web/lite/package.json
  web/lite/src/wechat/pag-view.ts
  web/lite/tsconfig.type.json
  web/lite/wechat/tsconfig.type.json
Owners: @domchen, @Hparty, @shlzxjp

Address review feedback on Drawable PAGImage and loadFileData doc
  include/pagx/PAGImage.h
  include/pagx/PAGXDocument.h
  src/pagx/runtime/Drawable.h
Owners: @domchen, @Hparty, @shlzxjp

Provide loadFileData(PAGImage) for host-decoded images and add pagx/tgfx.h interop helpers (#3539)
  include/pagx/ImageResourceProvider.h
  include/pagx/PAGImage.h
  include/pagx/PAGScene.h
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Image.h
  include/pagx/tgfx.h
  pagx/wechat/src/PAGXImageResourceProvider.h
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  src/pagx/PAGImage.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGSurface.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/runtime/Drawable.cpp
  src/pagx/runtime/Drawable.h
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix PAGImageView unable to play PAG files from remote URLs on iOS (#3556)
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView unable to play PAG files from remote URLs on iOS (#3556)
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix Android display distortion and interval timer leak in lite WeChat (#3552)
  web/lite/demo/wechat-miniprogram/pages/index/index.wxml
  web/lite/demo/wechat-miniprogram/pages/index/index.wxss
  web/lite/package.json
  web/lite/src/wechat/pag-view.ts
  web/lite/tsconfig.type.json
  web/lite/wechat/tsconfig.type.json
Owners: @domchen, @Hparty, @shlzxjp

Fix wild pointer crash on async animation update in iOS PAGAnimator (#3553)
  src/platform/cocoa/private/PAGAnimator.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix Android display distortion and interval timer leak in lite WeChat (#3552)
  web/lite/demo/wechat-miniprogram/pages/index/index.wxml
  web/lite/demo/wechat-miniprogram/pages/index/index.wxss
  web/lite/package.json
  web/lite/src/wechat/pag-view.ts
  web/lite/tsconfig.type.json
  web/lite/wechat/tsconfig.type.json
Owners: @domchen, @Hparty, @shlzxjp

Fix wild pointer crash on async animation update in iOS PAGAnimator (#3553)
  src/platform/cocoa/private/PAGAnimator.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix fdsan crash on PAGView surface detach by serializing flush with render lock (#3546)
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Trim notifyChange API comment to focus on caller behavior.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Instantiate nested ViewModel from viewModelRef without Composition.
  include/pagx/PAGScene.h
  src/pagx/PAGScene.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix fdsan crash on PAGView surface detach by serializing flush with render lock.
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Fix fdsan crash on PAGView surface detach by serializing flush with render lock.
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Verify nested VM path via DataContext resolve instead of readPixels.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
