Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Compact PPTWriter initializer list to a single line.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use path element instead of rect for TrimPath rectangles to match native stroke start point.
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert "Use path element instead of rect for TrimPath rectangles to match native stroke start point."
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert "Fix Rectangle path start point to match tgfx native renderer for consistent TrimPath stroke positions."
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Enlarge painter_multiple card and canvas to prevent bottom text from exceeding card bounds.
  resources/pagx_to_html/painter_multiple.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign painter_stroke layout to fix text overflow, overlaps, tight spacing and reduce outside stroke width.
  resources/pagx_to_html/painter_stroke.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix outside stroke clip and improve painter_stroke layout.
  resources/pagx_to_html/painter_stroke.pagx
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Redesign repeater layout to fix overflow, text overlap, and tight spacing issues.
  resources/pagx_to_html/repeater.pagx
Owners: @domchen, @Hparty, @shlzxjp

Move labels below badge graphics in resource_composition to prevent overlap.
  resources/pagx_to_html/resource_composition.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix label overlap and horizontal alignment with badge centers in resource_composition.
  resources/pagx_to_html/resource_composition.pagx
Owners: @domchen, @Hparty, @shlzxjp

Remove decorative arrow from resource_forward_ref test case.
  resources/pagx_to_html/resource_forward_ref.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix showcase_mandala Repeater anchor and position for proper centered rotation.
  resources/pagx_to_html/showcase_mandala.pagx
Owners: @domchen, @Hparty, @shlzxjp

Move GlyphRun ABC into circle area and reduce font size in showcase_text_art.
  resources/pagx_to_html/showcase_text_art.pagx
Owners: @domchen, @Hparty, @shlzxjp

Remove GlyphRun demo and unused demoFont resource from showcase_text_art.
  resources/pagx_to_html/showcase_text_art.pagx
Owners: @domchen, @Hparty, @shlzxjp

Increase spacing between labels and shapes in stroke_advanced for less crowded layout.
  resources/pagx_to_html/stroke_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Move labels down in stroke_dash_adaptive to add top margin within card.
  resources/pagx_to_html/stroke_dash_adaptive.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix label overlap and alignment in style_filter_advanced by centering and repositioning all labels.
  resources/pagx_to_html/style_filter_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign text_path and text_path_advanced to eliminate text overlap by separating paths.
  resources/pagx_to_html/text_path.pagx
  resources/pagx_to_html/text_path_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Inset all paths within card bounds with margins in text_path and text_path_advanced.
  resources/pagx_to_html/text_path.pagx
  resources/pagx_to_html/text_path_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Skip empty node diagnostic for layers and groups that participate in layout or have size constraints.
  resources/cli/lint_empty_nodes.pagx
  src/cli/CommandVerify.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix visibilitychange listener leak by storing handle and cleaning up on destroy.
  web/src/core/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

Changed video decoding errors to soft failures to prevent playback interruption.
  web/src/core/video-reader.ts
  web/src/pag-player.ts
  web/src/pag-view.ts
  web/src/wechat/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

Add clearTimer call in wechat flushLoop catch block for consistency with core version.
  web/src/wechat/pag-view.ts
Owners: @domchen, @Hparty, @shlzxjp

Strengthen Common Pitfalls constraints in pagx skill for better AI adherence.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Merge duplicate flex pitfall entries and simplify gate check wording.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline updates after merging main.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix compilation errors after merging main branch API changes.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterShape.cpp
  src/pagx/html/HTMLWriterText.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix verify false positives and pagx structural warnings.
  resources/pagx_to_html/edge_defaults.pagx
  resources/pagx_to_html/showcase_infographic.pagx
  resources/pagx_to_html/style_filter_advanced.pagx
  resources/pagx_to_html/text_path_advanced.pagx
  resources/pagx_to_html/text_rich.pagx
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Unify padding semantics across Layer, Group, and TextBox.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/guide.md
  .codebuddy/skills/pagx/references/patterns.md
  include/pagx/nodes/Group.h
  include/pagx/nodes/LayoutNode.h
  resources/cli/layout_check_background.pagx
  resources/layout/constraint_absolute.pagx
  resources/layout/constraint_padding.pagx
  resources/layout/container_compound.pagx
  resources/layout/container_edge_cases.pagx
  resources/layout/container_hug.pagx
  resources/layout/flex.pagx
  resources/layout/padding_unified.pagx
  spec/pagx.xsd
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/cli/CommandVerify.cpp
  src/cli/FormatUtils.cpp
  src/pagx/LayoutNode.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/nodes/Group.cpp
  src/pagx/nodes/Layer.cpp
  src/pagx/nodes/TextBox.cpp
  test/baseline/version.json
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Extract GetPaddingAttribute helper to deduplicate padding parsing in PAGXImporter.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix diagnostic message to show dynamic expected origin instead of hardcoded (0,0).
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Expand canvas and card sizes in 16 pagx test cases to fix overflow and tight spacing.
  resources/pagx_to_html/layer_alpha.pagx
  resources/pagx_to_html/layer_blend_modes.pagx
  resources/pagx_to_html/layer_group_opacity.pagx
  resources/pagx_to_html/layer_pass_through.pagx
  resources/pagx_to_html/layer_transform_matrix.pagx
  resources/pagx_to_html/layer_transform_matrix3d.pagx
  resources/pagx_to_html/modifier_merge_path.pagx
  resources/pagx_to_html/painter_accumulated_geometry.pagx
  resources/pagx_to_html/painter_stroke.pagx
  resources/pagx_to_html/polystar_advanced.pagx
  resources/pagx_to_html/repeater.pagx
  resources/pagx_to_html/selector_advanced.pagx
  resources/pagx_to_html/style_filter_advanced.pagx
  resources/pagx_to_html/text_features.pagx
  resources/pagx_to_html/text_modifier.pagx
  resources/pagx_to_html/text_modifier_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix text_rich and text_writing_mode auto-layout positioning issues.
  resources/pagx_to_html/text_rich.pagx
  resources/pagx_to_html/text_writing_mode.pagx
Owners: @domchen, @Hparty, @shlzxjp

Call applyLayout before HTML export to resolve constraint-based layout attributes.
  src/cli/CommandExport.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Improve skeleton phase to include backgrounds and dividers with nested container structure.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/guide.md
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Fix text horizontal centering in clip_and_mask by using alignment stretch.
  resources/pagx_to_html/clip_and_mask.pagx
Owners: @domchen, @Hparty, @shlzxjp

Unify error reporting through setError and fix resource cleanup issues in VideoReader.
  web/src/core/video-reader.ts
  web/src/wechat/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix play() to throw when page is hidden so callers can handle the deferred state.
  web/src/core/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

Restore flushLoop behavior to keep timer running when page is hidden during playback.
  web/src/pag-view.ts
  web/src/wechat/pag-view.ts
Owners: @domchen, @Hparty, @shlzxjp

Skip zero-size detection for containers whose subtree has no leaf content.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp
