Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Add line numbers to the PAGX text content viewer.
  chrome-extension/viewer/viewer.css
  chrome-extension/viewer/viewer.html
  chrome-extension/viewer/viewer.js
  chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp

Rename chrome-extension to pagx-chrome-extension and exclude build artifacts from git.
  chrome-extension/build.sh
  chrome-extension/fonts/NotoColorEmoji.ttf
  chrome-extension/fonts/NotoSansSC-Regular.otf
  chrome-extension/viewer/viewer.js
  chrome-extension/wasm/pagx-playground.js
  chrome-extension/wasm/pagx-playground.wasm
  pagx-chrome-extension/.gitignore
  pagx-chrome-extension/background.js
  pagx-chrome-extension/build.sh
  pagx-chrome-extension/icons/pagx_icon_128x128.png
  pagx-chrome-extension/icons/pagx_icon_16x16.png
  pagx-chrome-extension/icons/pagx_icon_48x48.png
  pagx-chrome-extension/manifest.json
  pagx-chrome-extension/package-lock.json
  pagx-chrome-extension/package.json
  pagx-chrome-extension/rollup.config.js
  pagx-chrome-extension/tsconfig.json
  pagx-chrome-extension/viewer/cache-manager.ts
  pagx-chrome-extension/viewer/viewer.css
  pagx-chrome-extension/viewer/viewer.html
  pagx-chrome-extension/viewer/viewer.ts
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add auto layout engine with constraint layout support to PAGX format.
  .codebuddy/skills/pagx/references/spec-essentials.md
  include/pagx/nodes/Ellipse.h
  include/pagx/nodes/Group.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Polystar.h
  include/pagx/nodes/Rectangle.h
  include/pagx/nodes/Text.h
  include/pagx/nodes/TextBox.h
  include/pagx/types/Alignment.h
  include/pagx/types/Arrangement.h
  include/pagx/types/Constraints.h
  include/pagx/types/LayoutDirection.h
  include/pagx/types/Padding.h
  resources/cli/align_distribute.pagx
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/pagx/AutoLayout.cpp
  src/pagx/AutoLayout.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/utils/StringParser.cpp
  src/pagx/utils/StringParser.h
  src/renderer/LayerBuilder.cpp
  test/src/AutoLayoutTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Merge branch 'main' into feature/dom_auto_layout.
  .codebuddy/skills/pagx/references/spec-essentials.md
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Node.h
  resources/cli/align_distribute.pagx
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserContext.h
  src/renderer/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Merge branch 'main' into feature/dom_auto_layout.
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Node.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserContext.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add output truncation handling and clarify conflict impossibility in squash skill.
  .codebuddy/skills/squash/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Refine PAGX skill documentation structure and layout guidance.
  .claude/rules
  .claude/skills
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/spec-essentials.md
  .gitignore
  include/pagx/types/Padding.h
  spec/pagx.xsd
  src/cli/CommandOptimize.cpp
  src/cli/CommandValidator.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/utils/StringParser.cpp
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove 3-value Padding shorthand and skip default LinearGradient startPoint in export.
  include/pagx/types/Padding.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/utils/StringParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename Per-Child Cross-Axis Override to Per-Child Alignment via Nested Containers for clarity.
  .codebuddy/skills/pagx/references/design-patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Merge branch 'main' into feature/dom_auto_layout
  .codebuddy/skills/pagx/references/cli.md
  .github/workflows/release-cli.yml
  android/libpag/src/main/java/org/libpag/PAGImageView.java
  cli/npm/package.json
  playground/script/publish.js
  src/pagx/PAGXImporter.cpp
  src/rendering/PAGAnimator.cpp
  src/rendering/PAGAnimator.h
  src/rendering/PAGDecoder.cpp
  src/rendering/PAGPlayer.cpp
  src/rendering/layers/PAGLayer.cpp
  src/rendering/utils/LockGuard.h
  src/rendering/utils/ScopedLock.cpp
  src/rendering/utils/ScopedLock.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reduce redundancy in PAGX skill documentation references.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  .codebuddy/skills/pagx/references/spec-essentials.md
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline update for skills_card_with_internal_layout_container_layout test.
  .codebuddy/skills/pagx/references/examples.md
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove accidentally tracked worktree file and add .claude/worktrees/ to gitignore.
  .gitignore
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Set version to 1.0.0 and replace Tencent with libpag and add privacy policy and packaging script.
  pagx-chrome-extension/PRIVACY_POLICY.md
  pagx-chrome-extension/background.js
  pagx-chrome-extension/manifest.json
  pagx-chrome-extension/package.json
  pagx-chrome-extension/package.sh
  pagx-chrome-extension/viewer/cache-manager.ts
  pagx-chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Restore Tencent copyright headers in source files.
  pagx-chrome-extension/background.js
  pagx-chrome-extension/viewer/cache-manager.ts
  pagx-chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp

Support both CRX and ZIP packaging formats in package.sh.
  pagx-chrome-extension/package.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add CRX/ZIP packaging outputs and PEM key to .gitignore.
  .gitignore
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add --key option to package.sh for specifying PEM private key path.
  pagx-chrome-extension/package.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Require PEM key for CRX packaging with clear error message and add README.
  pagx-chrome-extension/README.md
  pagx-chrome-extension/package.sh
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix argument parsing to support --key without format prefix and add help examples.
  pagx-chrome-extension/package.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix thread safety issue in PAGXRenderThread::shutDown() by moving drawable and thread back to main thread before exiting.
  viewer/src/rendering/PAGXRenderThread.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor: Merge RenderThread and consolidate rendering architecture for code reuse.
  viewer/src/rendering/ContentView.cpp
  viewer/src/rendering/ContentView.h
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGView.h
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/PAGWindow.h
  viewer/src/rendering/PAGXView.cpp
  viewer/src/rendering/PAGXView.h
  viewer/src/rendering/RenderThread.cpp
  viewer/src/rendering/RenderThread.h
Owners: @domchen, @Hparty, @shlzxjp

Clean up SVGBlendMode header by removing unused include and applying naming conventions
  src/pagx/svg/SVGBlendMode.h
Owners: @domchen, @Hparty, @shlzxjp

Remove obsolete PAGRenderThread and PAGXRenderThread files replaced by RenderThread.
  viewer/src/rendering/PAGRenderThread.cpp
  viewer/src/rendering/PAGRenderThread.h
  viewer/src/rendering/PAGXRenderThread.cpp
  viewer/src/rendering/PAGXRenderThread.h
Owners: @domchen, @Hparty, @shlzxjp

Fix missing closing brace and add override to geometryChange in ContentView.
  viewer/src/rendering/ContentView.h
Owners: @domchen, @Hparty, @shlzxjp

Fix missing PAGXView include and stale connectContentViewSignals call in PAGWindow.
  viewer/src/rendering/PAGWindow.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add mix-blend-mode support to SVG importer. (#3334)
  src/pagx/svg/SVGBlendMode.h
  src/pagx/svg/SVGImporter.cpp
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Guard against null renderThread in sizeChangedDelayHandle and move drawable to protected in ContentView.
  viewer/src/rendering/ContentView.cpp
  viewer/src/rendering/ContentView.h
Owners: @domchen, @Hparty, @shlzxjp

Remove stale PAGXRenderThread forward declaration from PAGXView.h.
  viewer/src/rendering/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Introduce IContentRenderer interface and decouple RenderThread from PAGView and PAGXView.
  viewer/src/rendering/ContentView.h
  viewer/src/rendering/IContentRenderer.h
  viewer/src/rendering/PAGRenderer.cpp
  viewer/src/rendering/PAGRenderer.h
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGView.h
  viewer/src/rendering/PAGXRenderer.cpp
  viewer/src/rendering/PAGXRenderer.h
  viewer/src/rendering/PAGXView.cpp
  viewer/src/rendering/PAGXView.h
  viewer/src/rendering/RenderThread.cpp
Owners: @domchen, @Hparty, @shlzxjp

Introduce ContentViewModel MVVM layer and unify RenderThread signal in PAGWindow.
  viewer/assets/qml/Main.qml
  viewer/src/profiling/PAGRunTimeDataModel.cpp
  viewer/src/profiling/PAGRunTimeDataModel.h
  viewer/src/rendering/ContentView.h
  viewer/src/rendering/ContentViewModel.h
  viewer/src/rendering/PAGRenderer.cpp
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGView.h
  viewer/src/rendering/PAGViewModel.cpp
  viewer/src/rendering/PAGViewModel.h
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/PAGWindow.h
  viewer/src/rendering/PAGXRenderer.cpp
  viewer/src/rendering/PAGXView.cpp
  viewer/src/rendering/PAGXView.h
  viewer/src/rendering/PAGXViewModel.cpp
  viewer/src/rendering/PAGXViewModel.h
Owners: @domchen, @Hparty, @shlzxjp

Support opening PAGX files by dragging to Chrome Dock/Taskbar icon.
  pagx-chrome-extension/README.md
  pagx-chrome-extension/background.js
  pagx-chrome-extension/manifest.json
Owners: @domchen, @Hparty, @shlzxjp

Revert "Support opening PAGX files by dragging to Chrome Dock/Taskbar icon."
  pagx-chrome-extension/README.md
  pagx-chrome-extension/background.js
  pagx-chrome-extension/manifest.json
Owners: @domchen, @Hparty, @shlzxjp

Fix remaining QML calls to use contentView.viewModel instead of removed direct APIs.
  viewer/assets/qml/ControlForm.qml
  viewer/assets/qml/MainForm.qml
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant pagxMode check in updatePAGXRenderTime.
  .idea/misc.xml
  viewer/src/profiling/PAGRunTimeDataModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX performance metrics not updating in profiling panel.
  viewer/src/rendering/IContentRenderer.h
  viewer/src/rendering/PAGRenderer.cpp
  viewer/src/rendering/PAGXRenderer.cpp
  viewer/src/rendering/PAGXView.cpp
  viewer/src/rendering/RenderThread.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix audio playback crash and stutter for PAG files with audio.
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGViewModel.cpp
  viewer/src/rendering/PAGViewModel.h
Owners: @domchen, @Hparty, @shlzxjp

Fix video not progressing when playing PAG file with audio.
  viewer/src/rendering/PAGViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Restore correct audio-video sync logic for PAG playback.
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix thread safety issues and null pointer risks found in code review.
  viewer/src/rendering/ContentView.cpp
  viewer/src/rendering/PAGRenderer.cpp
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGXRenderer.cpp
  viewer/src/rendering/PAGXView.cpp
  viewer/src/rendering/RenderThread.cpp
Owners: @domchen, @Hparty, @shlzxjp
