Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Trim CommandEmbed header doc to a summary and defer flag list to PrintEmbedUsage.
  src/cli/CommandEmbed.h
Owners: @domchen, @Hparty, @shlzxjp

Log per-stage draw timings when a frame exceeds the slow frame threshold.
  pagx/wechat/src/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Honor rasterDPI in PPT exporter so masked, backdrop, and tiled pattern bakes render at the requested pixel density.
  include/pagx/PPTExporter.h
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Shrink the preserve3D plane row in layer_3d_multi_axis so the card body no longer overflows vertically.
  resources/pagx_to_html/layer_3d_multi_axis.pagx
Owners: @domchen, @Hparty, @shlzxjp

Clamp PPT slide size up to the OOXML 1 inch minimum so small canvases no longer produce corrupt pptx files.
  src/pagx/ppt/PPTBoilerplate.cpp
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline changes for CSS hanging whitespace fix.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix text line break to honor CSS hanging whitespace rule (#3403)
  src/pagx/TextLayout.cpp
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Hoist uniform Text font attributes to the parent Layer to enable CSS inheritance.
  src/pagx/html/FontHoist.cpp
  src/pagx/html/FontHoist.h
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
  test/baseline/version.json
  test/src/FontHoistTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Adapt LayerBuilder to tgfx gradient and pattern relative-fill default changes.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Bump tgfx to pick up relative-fill defaults and refresh baselines.
  .codebuddy/rules/Git.md
  DEPS
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Extract inline style attributes into an internal stylesheet to reduce HTML size.
  include/pagx/HTMLExporter.h
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLStyleExtractor.cpp
  src/pagx/html/HTMLStyleExtractor.h
  test/src/HTMLStyleExtractorTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Propagate shape alpha to PPT gradient stops so translucent gradients render correctly.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update CSS extraction design doc to match actual implementation.
  docs/pagx_html_css_extraction_design.md
Owners: @domchen, @Hparty, @shlzxjp

Remove React JSX and Vue SFC generation code from HTML exporter.
  docs/pagx_html_css_extraction_design.md
  include/pagx/HTMLExporter.h
  spec/pagx_to_html.md
  src/cli/CommandExport.cpp
  src/pagx/html/HTMLExporter.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Consolidate PPT unsupported blend rasterization into a single flag defaulting to off to preserve editability.
  .codebuddy/skills/pagx/references/cli.md
  include/pagx/PPTExporter.h
  src/cli/CommandExport.cpp
  src/pagx/ppt/PPTExporter.cpp
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Restructure playground into pagx-playground and pagx-viewer subprojects.
  playground/favicon.png
  playground/index.css
  playground/index.html
  playground/logo.png
  playground/pagx-playground.hash
  playground/pagx-playground/.gitignore
  playground/pagx-playground/package-lock.json
  playground/pagx-playground/package.json
  playground/pagx-playground/pages/skills/index.html
  playground/pagx-playground/pages/skills/zh/index.html
  playground/pagx-playground/pages/spec/template.html
  playground/pagx-playground/script/prebuild.js
  playground/pagx-playground/script/publish.js
  playground/pagx-playground/script/rollup.js
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/src/tsconfig.json
  playground/pagx-viewer/.gitignore
  playground/pagx-viewer/CMakeLists.txt
  playground/pagx-viewer/README.md
  playground/pagx-viewer/package-lock.json
  playground/pagx-viewer/package.json
  playground/pagx-viewer/pagx-viewer.hash
  playground/pagx-viewer/script/cmake.js
  playground/pagx-viewer/script/restore.replace.js
  playground/pagx-viewer/script/rollup.config.js
  playground/pagx-viewer/src/cpp/GridBackground.cpp
  playground/pagx-viewer/src/cpp/GridBackground.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  playground/pagx-viewer/src/cpp/binding.cpp
  playground/pagx-viewer/src/ts/binding.ts
  playground/pagx-viewer/src/ts/decorators.ts
  playground/pagx-viewer/src/ts/pagx-module.ts
  playground/pagx-viewer/src/ts/pagx-view.ts
  playground/pagx-viewer/src/ts/pagx.ts
  playground/pagx-viewer/src/ts/types.ts
  playground/pagx-viewer/tsconfig.json
  playground/pagx-viewer/tsconfig.type.json
  playground/server.js
  playground/types.ts
Owners: @domchen, @Hparty, @shlzxjp

Preserve absolute-coordinate semantics for shared gradients in complex samples.
  spec/samples/clip_to_bounds.pagx
  spec/samples/complete_example.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix FontHoist to penetrate Layer-direct Group children and add CollectUniformSignature unit tests.
  src/pagx/html/FontHoist.cpp
  src/pagx/html/FontHoist.h
  test/src/FontHoistTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Accept baseline updates for root_document and showcase_infographic after FontHoist Group fix.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update CSS extraction design doc to reflect FontHoist Group penetration.
  docs/pagx_html_css_extraction_design.md
Owners: @domchen, @Hparty, @shlzxjp

Inline gradient fills in showcase samples and tweak duplicates for independent designs.
  spec/samples/complete_example.pagx
  spec/samples/nebula_cadet.pagx
  spec/samples/pagx_features.pagx
Owners: @domchen, @Hparty, @shlzxjp

Emit 0 instead of 0px and remove redundant SVG xmlns in HTML output.
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLWriterFilter.cpp
  src/pagx/html/HTMLWriterShape.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Restore xmlns in mask-image data URL SVG and add ClipAndMask structural test.
  src/pagx/html/HTMLWriterFilter.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Deduplicate gradient color stops in CSS linear-gradient and conic-gradient output
  src/pagx/html/HTMLWriterColor.cpp
Owners: @domchen, @Hparty, @shlzxjp

Deduplicate SVG paths using global defs and cross-SVG use references
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify CSS matrix() transforms to rotate(), scale(), and translate() shorthands
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/html/HTMLWriterUtils.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Recolor showcase title and swap gradients between hexagon card and trailing square.
  spec/samples/complete_example.pagx
Owners: @domchen, @Hparty, @shlzxjp

Center conic gradient in the ellipse by using default center.
  spec/samples/conic_gradient.pagx
Owners: @domchen, @Hparty, @shlzxjp

Recenter gradients that were offset by stale absolute pixel coordinates.
  spec/samples/diamond_gradient.pagx
  spec/samples/pagx_features.pagx
  spec/samples/scroll_rect.pagx
Owners: @domchen, @Hparty, @shlzxjp

Simplify demo gradients to rely on default normalized coordinates.
  spec/samples/ellipse.pagx
  spec/samples/glyph_run.pagx
  spec/samples/radial_gradient.pagx
Owners: @domchen, @Hparty, @shlzxjp

Offset radial highlight toward the top-left in the fill sample for a 3D look.
  spec/samples/fill.pagx
Owners: @domchen, @Hparty, @shlzxjp

Shift the middle color stop in the glyph run gradient to match the visual center.
  spec/samples/glyph_run.pagx
Owners: @domchen, @Hparty, @shlzxjp

Replace textAnchor transform with text-align to preserve subpixel antialiasing
  src/pagx/html/HTMLWriterText.cpp
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Use layout-resolved renderPosition in SVG text and layer writers so padding and flex offsets match PPT output.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Align SVG exporter with PPT by fixing multi-fill, layer styles, path modifiers, composition layers, renderPosition, stroke alignment, writing mode and bitmap glyphs.
  CMakeLists.txt
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
  src/pagx/utils/ModifierResolver.cpp
  src/pagx/utils/ModifierResolver.h
  test/src/PAGXSVGTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix crash when exporting pagx files with clip or mask containing path modifiers to SVG.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rasterize SVG-unsupported layer features to embedded PNG so TextPath, TextModifier, diamond/conic gradient and BackgroundBlurStyle are preserved.
  CMakeLists.txt
  include/pagx/SVGExporter.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/svg/SVGFeatureProbe.cpp
  src/pagx/svg/SVGFeatureProbe.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add FontFamilyEntry struct and AllFontFamilies declaration to SystemFonts.h.
  src/pagx/SystemFonts.h
Owners: @domchen, @Hparty, @shlzxjp

Render SVG rasterized layer PNGs in parent coordinate space so image placement matches the enclosing group transform.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Implement SystemFonts::AllFontFamilies for macOS, Windows, Linux, and generic fallback.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
