Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Phase 14: land PerformanceTest with size and load ratio baseline gate plus sub-millisecond noise floor for retrograde detection.
  .gitignore
  docs/development_plan.md
  test/src/pag/unit/PerformanceTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Phase 15: land tools coverage sh driver plus PAG_COVERAGE CMake switch with fuzz ASAN exclusion for clang source-based coverage.
  .gitignore
  CMakeLists.txt
  tools/coverage.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Phase 15: exclude PAGPerformance plus PAGRenderCrossCheck from coverage run since instrumentation breaks sub-ms timing and CrossCheck fails are independent bugs tracked as separate Phases.
  tools/coverage.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refactor FontFaceRule to carry a vector of sources so @font-face rules can emit multiple URIs and fall back in order.
  include/pagx/HTMLExporter.h
  src/cli/CommandExport.cpp
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Delete PAGXTest.GenerateComparisonPage now that the comparison page is built by the gen_html_comparison script.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Make WrapHtmlDocument emit multi-source @font-face rules that prefer bundled fonts and fall back to the Google Fonts CDN.
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add gen_html_comparison script producing a self-contained three-column HTML comparison for every pagx_to_html sample.
  test/gen_html_comparison.py
  test/gen_html_comparison.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Phase 15: also exclude PAGX HTML export tests from coverage run since the HTML business line is unrelated to PAGX to PAG binary conversion and has its own baseline Phase.
  tools/coverage.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Reformat the ResolveTextStrokeCss call sites from cd4693c1 to match the project's line-break style.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Phase 15 aux: add PAGX native reference render helper plus python script that builds side-by-side comparison html for baseline audit.
  test/src/pag/unit/GeneratePAGXNativeReferencesTest.cpp
  tools/render_compare.py
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Disable tile throttling during zoom-in so texture-invalidation no longer leaves blank tiles after WeChat mini-program pinch-zoom stops.
  DEPS
  pagx/wechat/src/PAGXView.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Composite cached and fit snapshots during WeChat PAGX pan/zoom to avoid per-frame displayList.render, and raise GPU cache limits to prevent LRU churn.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/binding.cpp
  pagx/wechat/ts/pagx-view.ts
  pagx/wechat/ts/types.ts
Owners: @domchen, @Hparty, @shlzxjp

Add a compile-time switch to silence draw-path telemetry logs in shipped WeChat mini-program builds.
  DEPS
  pagx/wechat/src/PAGXView.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Phase 15 aux: number comparison rows plus add DISABLED TextInflateDiag probe that exposed macOS tgfx MakeFromName returning null as the text bug root cause.
  test/src/pag/unit/Phase12ProbeTest.cpp
  tools/render_compare.py
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add CI-friendly Chromium flags and an inter-task cooldown to screenshot.js so screenshots reproduce across machines.
  test/screenshot.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Phase 16.0: draft design doc for text runtime-shape rollback after Phase 15 discovered macOS tgfx MakeFromName leaves all text blank through pagx to pag.
  docs/pagx_to_pag_v2_phase16_text_redesign.md
Owners: @domchen, @Hparty, @shlzxjp

Phase 16.0: integrate text runtime-shape redesign into main design doc plus development plan plus changelog for v2.20 revision.
  docs/development_plan.md
  docs/pagx_to_pag_v2_changelog.md
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Apply v2.20 Review P0+P1 doc revisions across 9 design concerns.
  docs/pagx_to_pag_v2_changelog.md
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Trim redundant tombstones and duplicated specs from v2 design doc.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Phase 16.1-16.4: runtime-shape text pipeline with FontProvider injection.
  include/pagx/Diagnostic.h
  include/pagx/PAGLoader.h
  include/pagx/pag/FontProvider.h
  src/pagx/Diagnostic.cpp
  src/pagx/pag/BakeContext.h
  src/pagx/pag/Codec.cpp
  src/pagx/pag/CodecTags.h
  src/pagx/pag/CodecTagsResource.cpp
  src/pagx/pag/DiagBuild.h
  src/pagx/pag/ElementTags.cpp
  src/pagx/pag/FontProvider.cpp
  src/pagx/pag/GlyphRunCodec.cpp
  src/pagx/pag/GlyphRunCodec.h
  src/pagx/pag/InflaterContext.h
  src/pagx/pag/LayerInflater.cpp
  src/pagx/pag/LayerInflater.h
  src/pagx/pag/PAGDocument.h
  src/pagx/pag/PAGLoader.cpp
  src/pagx/pag/ResourceBaker.cpp
  src/pagx/pag/ResourceBaker.h
  src/pagx/pag/TextBaker.cpp
  src/pagx/pag/TextBaker.h
  test/src/pag/support/PAGDocumentEquals.cpp
  test/src/pag/unit/FontProviderTest.cpp
  test/src/pag/unit/GlyphRunBlobCodecTest.cpp
  test/src/pag/unit/LayerInflaterTest.cpp
  test/src/pag/unit/Phase12ProbeTest.cpp
  test/src/pag/unit/ResourceBakerTest.cpp
  test/src/pag/unit/RoundTripTest.cpp
  test/src/pag/unit/TextBakerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Extend gen_html_comparison to five sample dirs and surface section switching through a sticky pill-tab bar.
  test/gen_html_comparison.py
  test/gen_html_comparison.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Bake baseline y so runtime-shape text lands at the same row as LayerBuilder.
  include/pagx/nodes/Text.h
  src/pagx/nodes/Text.cpp
  src/pagx/pag/TextBaker.cpp
Owners: @domchen, @Hparty, @shlzxjp

Skip the CSS flex shorthand on PAGX flex children that already declare their main-axis size so the layout matches PAGX's rule of honoring declared width over flex grow.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Share one FontConfig between PAGX layout and PAG v2 inflate so both paths resolve identical typefaces.
  include/pagx/FontConfig.h
  include/pagx/pag/FontProvider.h
  src/pagx/FontConfig.cpp
  src/pagx/LayoutContext.cpp
  src/pagx/pag/FontProvider.cpp
  test/src/base/PAGTest.cpp
  test/src/base/PAGTest.h
  test/src/pag/unit/FontProviderTest.cpp
  test/src/pag/unit/RenderCrossCheckTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Route PAG v2 inflate through the same HarfBuzz shaper PAGX layout uses when a FontConfig is available.
  include/pagx/pag/FontProvider.h
  src/pagx/pag/FontProvider.cpp
  src/pagx/pag/LayerInflater.cpp
  test/src/pag/unit/FontProviderTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Bake TextBox child Text at its layout-engine origin so multi-Text boxes reconstruct correctly.
  include/pagx/nodes/Text.h
  src/pagx/nodes/Text.cpp
  src/pagx/pag/TextBaker.cpp
Owners: @domchen, @Hparty, @shlzxjp

Sync design doc section 10 with five Phase 16 implementation patches and known limits.
  docs/pagx_to_pag_v2_changelog.md
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Fix H264EncoderTools directory created with root ownership on macOS.
  viewer/src/platform/PluginInstaller.cpp
  viewer/src/platform/PluginInstaller.h
  viewer/src/platform/mac/PluginInstaller.mm
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX files not loading when opened via file association.
  viewer/assets/qml/Main.qml
  viewer/assets/qml/MainForm.qml
  viewer/src/PAGViewer.cpp
  viewer/src/rendering/ContentView.cpp
  viewer/src/rendering/ContentView.h
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/PAGWindow.h
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX first load showing blank content on Windows.
  viewer/src/rendering/pagx/PAGXView.cpp
  viewer/src/rendering/pagx/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Fix crash caused by nested event loop in PAGNetworkFetcher.
  viewer/src/PAGViewer.cpp
  viewer/src/maintenance/PAGCheckUpdateModel.cpp
  viewer/src/maintenance/PAGNetworkFetcher.cpp
  viewer/src/maintenance/PAGNetworkFetcher.h
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX initial render size and limit update check to first window.
  viewer/assets/qml/Main.qml
  viewer/src/rendering/ContentView.cpp
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/pagx/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update Chinese translation line references.
  viewer/assets/translation/Chinese.ts
Owners: @domchen, @Hparty, @shlzxjp

Ship PAGX TextLayout glyph snapshots through PAG so multi-line and vertical text render identically after round-trip.
  include/pagx/Diagnostic.h
  src/pagx/Diagnostic.cpp
  src/pagx/pag/ElementTags.cpp
  src/pagx/pag/LayerInflater.cpp
  src/pagx/pag/PAGDocument.h
  src/pagx/pag/TextBaker.cpp
  src/pagx/pag/TypefaceKey.h
Owners: @domchen, @Hparty, @shlzxjp

Sync design doc section 10 with shapedRuns hint patch and close the text_box gap.
  docs/pagx_to_pag_v2_changelog.md
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Revert TextBox white-space to word-wrap:break-word and nowrap in writeElements TextBox and rich-text span paths, matching the writeText fix.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Mark pre-shaped GlyphRun embedded font as unsupported in Phase 16 design doc.
  docs/pagx_to_pag_v2_changelog.md
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline for showcase_infographic after fixing TextPath scope leak into Group children.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix mask resolution and ImagePattern file loading in Baker pipeline.
  src/pagx/pag/LayerBaker.cpp
  src/pagx/pag/TextBaker.cpp
  src/pagx/pag/VectorBaker.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add mask-position/mask-size/mask-repeat to align CSS mask with masked layer's document offset.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterFilter.cpp
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp
