Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Revert "Add engine-level performance optimization patterns to skills documentation."
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/performance.md
Owners: @domchen, @Hparty, @shlzxjp

Add mask optimization and animation-friendly layer structure to performance guide.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/performance.md
Owners: @domchen, @Hparty, @shlzxjp

Fix inaccuracies found in skills documentation audit.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/pagx-quick-reference.md
Owners: @domchen, @Hparty, @shlzxjp

Remove unnecessary performance sections and promote scrollRect rule to SKILL.md.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/performance.md
  .codebuddy/skills/pagx/references/structure-optimization.md
Owners: @domchen, @Hparty, @shlzxjp

Remove Simple Leaf section from performance guide as it has no practical optimization value.
  .codebuddy/skills/pagx/references/performance.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify scrollRect rule in SKILL.md to inline description without code example.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Remove remaining Simple Leaf references from Layer vs Group decision rules.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/structure-optimization.md
Owners: @domchen, @Hparty, @shlzxjp

Rewrite LineBreaker with UAX#14 pair table and simplify PunctuationSquash to reuse it.
  src/renderer/LineBreaker.cpp
  src/renderer/LineBreaker.h
  src/renderer/PunctuationSquash.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reorganize text pagx test files and move SVG resources to resources/svg.
  resources/apitest/SVG/emoji.svg
  resources/apitest/SVG/text.svg
  resources/apitest/SVG/textFont.svg
  resources/pagx/text_bidi_basic.pagx
  resources/pagx/text_box_edge_cases.pagx
  resources/pagx/text_box_horizontal.pagx
  resources/pagx/text_box_layout.pagx
  resources/pagx/text_box_line_height.pagx
  resources/pagx/text_emoji.pagx
  resources/pagx/text_line_break.pagx
  resources/pagx/text_line_break_edge.pagx
  resources/pagx/text_multiline_no_box.pagx
  resources/pagx/text_special_chars.pagx
  resources/svg/Baseline.svg
  resources/svg/ColorPicker.svg
  resources/svg/Guidelines.svg
  resources/svg/Overview.svg
  resources/svg/Switch.svg
  resources/svg/UIkit.svg
  resources/svg/blur.svg
  resources/svg/complex1.svg
  resources/svg/complex2.svg
  resources/svg/complex3.svg
  resources/svg/complex4.svg
  resources/svg/complex5.svg
  resources/svg/complex6.svg
  resources/svg/complex7.svg
  resources/svg/customData.svg
  resources/svg/displayp3.svg
  resources/svg/drawImageRect.svg
  resources/svg/duplicatePaths.svg
  resources/svg/jpg.svg
  resources/svg/mask.svg
  resources/svg/path.svg
  resources/svg/png.svg
  resources/svg/radialGradient.svg
  resources/svg/refStyle.svg
  resources/svg/widegamut.svg
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove TextShaperRoundTrip and TextShaperEmoji tests whose SVG source files no longer exist.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix text_line_break box widths with precise character measurements and fix text_special_chars box heights.
  resources/pagx/text_line_break.pagx
  resources/pagx/text_special_chars.pagx
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Merge pagx CLI into root CMake build and consolidate build switches with PAG_BUILD_PAGX PAG_BUILD_CLI PAG_BUILD_SVG replacing PAG_USE_PAGX_LAYOUT and deduplicate MathUtil and UTF8 utilities.
  CMakeLists.txt
  cli/CMakeLists.txt
  cli/README.md
  cmake/generate_xsd_header.cmake
  src/base/utils/MathUtil.h
  src/cli/CommandBounds.cpp
  src/cli/CommandBounds.h
  src/cli/CommandFont.cpp
  src/cli/CommandFont.h
  src/cli/CommandFormat.cpp
  src/cli/CommandFormat.h
  src/cli/CommandOptimize.cpp
  src/cli/CommandOptimize.h
  src/cli/CommandRender.cpp
  src/cli/CommandRender.h
  src/cli/CommandValidator.cpp
  src/cli/CommandValidator.h
  src/cli/main.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGPathParser.cpp
  src/pagx/utils/MathUtil.h
  src/pagx/utils/UTF8.h
  src/pagx/xml/XMLParser.cpp
  src/renderer/BidiResolver.cpp
  src/renderer/BidiResolver.h
  src/renderer/FontEmbedder.cpp
  src/renderer/TextLayout.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Change PAG_BUILD option descriptions to start with Enable.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update PAG_BUILD option descriptions to use Enable building prefix.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Always enable TGFX_BUILD_LAYERS since unused symbols are stripped at link time.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove pagx-cli-lib static library and compile CLI sources directly into executable and test targets.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Accept baseline changes for bidi text reordering and CLI test screenshots.
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix PAGXCliTest temp directory to use global test output root for baseline compatibility.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Replace file-scope static EMPTY_STRING with function-local static to avoid global construction order issues.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix CMake code style in playground CMakeLists.txt to use consistent if (...) / endif () spacing.
  playground/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

Add missing initializer for ValidationError::message member variable.
  src/cli/CommandValidator.h
Owners: @domchen, @Hparty, @shlzxjp

Clarify pagx renderer module comment to distinguish it from the main rendering directory.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add missing initializer for local filePath variable in RunValidate.
  src/cli/CommandValidator.cpp
Owners: @domchen, @Hparty, @shlzxjp

Eliminate redundant strtof validation in getPointAttribute getSizeAttribute getRectAttribute by adding outValid param to parse functions.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix zero-width stroke check to use <= 0 instead of exact float comparison.
  src/cli/CommandOptimize.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename LineBreaker static methods to PascalCase for naming convention compliance.
  src/renderer/LineBreaker.cpp
  src/renderer/LineBreaker.h
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace lambdas with function pointers and explicit loops in remove operations.
  src/cli/CommandOptimize.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix getColorAttribute false error on legitimate all-zero colors by using explicit parse success flag.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Cache parsed CSS style properties per DOMNode to avoid redundant parsing in SVG getAttribute calls.
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserContext.h
Owners: @domchen, @Hparty, @shlzxjp

Replace std::function lambdas with static recursive functions in optimize pass.
  src/cli/CommandOptimize.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename VerticalTextUtils static methods to PascalCase for naming convention compliance.
  src/renderer/TextLayout.cpp
  src/renderer/VerticalTextUtils.cpp
  src/renderer/VerticalTextUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Replace std::string comparisons with xmlStrEqual to avoid heap allocations.
  src/cli/CommandBounds.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reorder LineBreaker method implementations to match header declaration order.
  src/renderer/LineBreaker.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace temporary string construction with strcmp in parseLength to avoid unnecessary heap allocation.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace lambda callbacks with named static functions in HarfBuzzShaper.
  src/renderer/HarfBuzzShaper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace temporary string construction with strcmp in parseLengthEm to avoid unnecessary heap allocation.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Parse XML document once and reuse for all XPath queries in bounds command.
  src/cli/CommandBounds.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add value initialization to ShapedGlyph variable declaration.
  src/renderer/HarfBuzzShaper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add value initialization to vector declarations in HarfBuzzShaper.
  src/renderer/HarfBuzzShaper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract CollectColorStops helper to deduplicate gradient color stop collection.
  src/cli/CommandOptimize.cpp
Owners: @domchen, @Hparty, @shlzxjp
