Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Merge FontEmbedder multi-pass scanning into single pass and extract shared text layout logic in Typesetter.
  src/renderer/FontEmbedder.cpp
  src/renderer/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add style, title, desc, and metadata tags to the skip list in convertToLayer.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update FontEmbedder comment to accurately describe font merging strategy.
  src/renderer/FontEmbedder.h
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant static_cast<float> for Composition width and height which are already float type.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add mask check in isSimpleShapeLayer to prevent merging masked layers.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Change CollectSpacingGlyph bitmapBuilders parameter to non-const reference and remove const_cast.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove obsolete commented-out code for group name assignment in PAGXImporter.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add circular reference protection for use elements in getShapeBounds.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix comment in Element.h to use Text instead of TextSpan.
  include/pagx/nodes/Element.h
Owners: @domchen, @Hparty, @shlzxjp

Remove extra blank line in Typesetter.cpp.
  src/renderer/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Handle mask and clip-path coexistence by wrapping into a parent layer.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unnecessary includes of string and unordered_map from public headers.
  include/pagx/nodes/Composition.h
  include/pagx/nodes/Fill.h
  include/pagx/nodes/GlyphRun.h
  include/pagx/nodes/ImagePattern.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Stroke.h
  include/pagx/nodes/TextModifier.h
  include/pagx/nodes/TextPath.h
Owners: @domchen, @Hparty, @shlzxjp

Remove unused colorToHex declaration and implementation.
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserInternal.h
Owners: @domchen, @Hparty, @shlzxjp

Move parseStyleElement declaration to method section in SVGParserInternal.h.
  src/pagx/svg/SVGParserInternal.h
Owners: @domchen, @Hparty, @shlzxjp

Support comma-separated multi-selectors in CSS parsing of parseStyleElement.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Unify float member initial values to use explicit float literal style like 0.0f across all public headers.
  include/pagx/nodes/BackgroundBlurStyle.h
  include/pagx/nodes/BlurFilter.h
  include/pagx/nodes/ColorMatrixFilter.h
  include/pagx/nodes/ColorStop.h
  include/pagx/nodes/Composition.h
  include/pagx/nodes/ConicGradient.h
  include/pagx/nodes/DiamondGradient.h
  include/pagx/nodes/DropShadowFilter.h
  include/pagx/nodes/DropShadowStyle.h
  include/pagx/nodes/Ellipse.h
  include/pagx/nodes/Fill.h
  include/pagx/nodes/Group.h
  include/pagx/nodes/InnerShadowFilter.h
  include/pagx/nodes/InnerShadowStyle.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Polystar.h
  include/pagx/nodes/RadialGradient.h
  include/pagx/nodes/RangeSelector.h
  include/pagx/nodes/Rectangle.h
  include/pagx/nodes/Repeater.h
  include/pagx/nodes/RoundCorner.h
  include/pagx/nodes/Stroke.h
  include/pagx/nodes/TextLayout.h
  include/pagx/nodes/TextModifier.h
  include/pagx/nodes/TextPath.h
  include/pagx/nodes/TrimPath.h
Owners: @domchen, @Hparty, @shlzxjp

Reorder function implementations in SVGImporter.cpp to match SVGParserInternal.h declaration order.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reorganize pagx directory structure and extract ToTGFX converter utilities.
  CMakeLists.txt
  playground/CMakeLists.txt
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGParserContext.h
  src/pagx/svg/SVGPathParser.cpp
  src/pagx/svg/SVGPathParser.h
  src/pagx/utils/Base64.cpp
  src/pagx/utils/Base64.h
  src/pagx/utils/MathUtil.h
  src/pagx/utils/StringParser.cpp
  src/pagx/utils/StringParser.h
  src/pagx/utils/UTF8.h
  src/pagx/xml/DOM.cpp
  src/pagx/xml/DOM.h
  src/renderer/FontEmbedder.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/TGFXConverter.h
  src/renderer/ToTGFX.cpp
  src/renderer/ToTGFX.h
  src/renderer/Typesetter.cpp
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename DOM class to XMLDOM to match the file name for better clarity.
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserContext.h
  src/pagx/xml/XMLDOM.cpp
  src/pagx/xml/XMLDOM.h
Owners: @domchen, @Hparty, @shlzxjp

Rename TextLayout to TextBox and add wordWrap and overflow properties.
  include/pagx/nodes/Element.h
  include/pagx/nodes/Node.h
  include/pagx/nodes/Text.h
  include/pagx/nodes/TextBox.h
  include/pagx/nodes/TextLayout.h
  include/pagx/types/TextBoxTypes.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserContext.h
  src/pagx/utils/StringParser.cpp
  src/pagx/utils/StringParser.h
  src/renderer/LayerBuilder.cpp
  src/renderer/Typesetter.cpp
  src/renderer/Typesetter.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Improve clarity of five key descriptions in PAGX spec for both EN and CN versions.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Add multi-line horizontal text layout with word wrapping and alignment support in Typesetter.
  src/renderer/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add vertical text layout and line breaking utilities for TextBox.
  src/renderer/LineBreaker.cpp
  src/renderer/LineBreaker.h
  src/renderer/Typesetter.cpp
  src/renderer/VerticalTextUtils.cpp
  src/renderer/VerticalTextUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Add overflow clipping support for TextBox with hidden overflow in LayerBuilder.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename TextLayout to TextBox in spec docs and samples with wordWrap and overflow attributes.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/3.3.4_composition.pagx
  spec/samples/5.2.5_glyph_run.pagx
  spec/samples/5.2.5_text.pagx
  spec/samples/5.4.1_trim_path.pagx
  spec/samples/5.5.3_text_modifier.pagx
  spec/samples/5.5.6_text_layout.pagx
  spec/samples/5.5.7_rich_text.pagx
  spec/samples/C.1_complete_example.pagx
  spec/samples/C.2_rpg_character_panel.pagx
  spec/samples/C.3_nebula_cadet.pagx
  spec/samples/C.4_game_hud.pagx
  spec/samples/C.5_pagx_features.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add TextBox horizontal, vertical and overflow hidden test cases.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix spec descriptions to match code for contour structure and excludeChildEffects and TextModifier factor.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Fix table description column wrapping on mobile devices.
  .gitignore
  spec/script/template.html
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove inaccurate opaque coverage claim from alpha=0 contour description.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Replace uncommon term clamp translation with clearer wording in CN spec.
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Remove width>0 requirement for wordWrap and unify TextBox behavior description.
  include/pagx/nodes/TextBox.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/renderer/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add precise SelectorMode formulas and simplify DropShadow and LayerContent descriptions.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Fix Text position description and clarify TextBox inverse-transform mechanism in spec.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Add pre-layout-only semantics and embedded GlyphRun skip behavior to TextBox spec.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Recommend retaining TextBox node for design tool interoperability even with embedded GlyphRun data.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Clarify TextBox initial layout semantics and its relationship with other modifiers in spec.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Implement overflow hidden by discarding entire lines or columns during typesetting instead of scrollRect clipping.
  include/pagx/nodes/TextBox.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/renderer/LayerBuilder.cpp
  src/renderer/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename Typesetter to TextLayout and update Chinese spec naming for TextBox and TextPath.
  include/pagx/PAGXDocument.h
  playground/src/PAGXView.cpp
  playground/src/PAGXView.h
  spec/pagx_spec.zh_CN.md
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  src/renderer/ShapedText.h
  src/renderer/TextLayout.cpp
  src/renderer/TextLayout.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Move TextBoxTypes enums into TextBox.h and remove the redundant TextBoxTypes.h file.
  include/pagx/nodes/TextBox.h
  include/pagx/types/TextBoxTypes.h
Owners: @domchen, @Hparty, @shlzxjp

Add vertical mode layout description for TextBox and rename modifier to layout node in descriptions.
  include/pagx/nodes/TextBox.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
