Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add warning for time overlaps in video composition references
  exporter/assets/translation/Chinese.ts
  exporter/src/export/ExportVerify.cpp
  exporter/src/export/PAGExport.cpp
  exporter/src/export/sequence/VideoSequence.cpp
  exporter/src/utils/AEDataTypeConverter.cpp
  exporter/src/utils/AlertInfo.cpp
  exporter/src/utils/AlertInfo.h
Owners: @domchen, @Hparty, @shlzxjp

Use the C++ interface in PAGImageView to avoid crashes caused by reference counting issues.
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Update
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

PAGImageView no longer holds the Objective-C object pagComposition.
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Consolidate CodeBuddy rules and add project documentation.
  .codebuddy/CODEBUDDY.md
  .codebuddy/rules/Coding.mdc
  .codebuddy/rules/Commit.mdc
  .codebuddy/rules/Review.mdc
  .codebuddy/rules/Rules.md
  .codebuddy/rules/Testing.mdc
  .codebuddy/settings.json
Owners: @domchen, @Hparty, @shlzxjp

Use the C++ interface in PAGImageView to avoid crashes caused by reference counting issues. (#3169)
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Consolidate CodeBuddy rules and add project documentation. (#3170)
  .codebuddy/CODEBUDDY.md
  .codebuddy/rules/Coding.mdc
  .codebuddy/rules/Commit.mdc
  .codebuddy/rules/Review.mdc
  .codebuddy/rules/Rules.md
  .codebuddy/rules/Testing.mdc
  .codebuddy/settings.json
Owners: @domchen, @Hparty, @shlzxjp

Fixed an issue where the incorrect calculation of the scaling value of the 3D layer caused the depth test to fail and was not displayed.
  src/rendering/renderers/FilterRenderer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fixed an issue where the incorrect calculation of the scaling value of the 3D layer caused the depth test to fail and was not displayed. (#3171)
  src/rendering/renderers/FilterRenderer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use the C++ interface in PAGImageView to avoid crashes caused by reference counting issues. (#3169)
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  exporter/assets/qml/ExportPanel.qml
  exporter/assets/translation/Chinese.ts
  exporter/src/export/ExportVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update CODEBUDDY.md.
  .codebuddy/CODEBUDDY.md
  .codebuddy/rules/Rules.md
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  exporter/src/export/ExportVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  exporter/src/export/ExportVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add warning for time overlaps in video composition references for exporter (#3166)
  exporter/assets/qml/ExportPanel.qml
  exporter/assets/translation/Chinese.ts
  exporter/src/export/ExportVerify.cpp
  exporter/src/export/PAGExport.cpp
  exporter/src/export/sequence/VideoSequence.cpp
  exporter/src/utils/AEDataTypeConverter.cpp
  exporter/src/utils/AlertInfo.cpp
  exporter/src/utils/AlertInfo.h
Owners: @domchen, @Hparty, @shlzxjp

Retain only pag-related symbols in the .so file on the HarmonyOS platform. (#3132)
  CMakeLists.txt
  ohos/libpag/export.def
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Upgrade the HarmonyOS compilation version to 6.0.0.
  .github/workflows/build.yml
  ohos/build-profile.json5
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Optimize NativeDisplayLink to execute VSync callback on UI thread for OHOS platform.
  CMakeLists.txt
  src/platform/ohos/JPAG.cpp
  src/platform/ohos/NativeDisplayLink.cpp
  src/platform/ohos/NativeDisplayLink.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Optimize NativeDisplayLink to execute VSync callback on UI thread for OHOS platform. (#3178)
  CMakeLists.txt
  src/platform/ohos/JPAG.cpp
  src/platform/ohos/NativeDisplayLink.cpp
  src/platform/ohos/NativeDisplayLink.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update Rules.md
  .codebuddy/rules/Rules.md
Owners: @domchen, @Hparty, @shlzxjp

Improve the detection logic for timeline overlaps among multiple layers referencing the same video
  src/platform/web/VideoInfoManager.cpp
  src/platform/web/VideoInfoManager.h
Owners: @domchen, @Hparty, @shlzxjp

Improve the detection logic for timeline overlaps among multiple layers referencing the same video (#3183)
  src/platform/web/VideoInfoManager.cpp
  src/platform/web/VideoInfoManager.h
Owners: @domchen, @Hparty, @shlzxjp

Update PR creation workflow instructions.
  .codebuddy/rules/Workflow.md
Owners: @domchen, @Hparty, @shlzxjp

Update copyright year in file templates from 2025 to 2026.
  .codebuddy/rules/Coding.md
  .codebuddy/rules/Workflow.md
  .idea/fileTemplates/includes/PAG File Header.h
  android/.idea/fileTemplates/includes/PAG File Header.h
  exporter/templates/version.h.in
  ios/.idea/fileTemplates/includes/PAG File Header.h
  ios/PAGViewer/Assets.xcassets/AppIcon.appiconset/Contents.json
  mac/.idea/fileTemplates/includes/PAG File Header.h
  viewer/.idea/fileTemplates/includes/PAG File Header.h
  viewer/package/templates/version.h.in
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update copyright year in file templates from 2025 to 2026. (#3186)
  .codebuddy/rules/Coding.md
  .codebuddy/rules/Workflow.md
  .idea/fileTemplates/includes/PAG File Header.h
  android/.idea/fileTemplates/includes/PAG File Header.h
  exporter/templates/version.h.in
  ios/.idea/fileTemplates/includes/PAG File Header.h
  ios/PAGViewer/Assets.xcassets/AppIcon.appiconset/Contents.json
  mac/.idea/fileTemplates/includes/PAG File Header.h
  viewer/.idea/fileTemplates/includes/PAG File Header.h
  viewer/package/templates/version.h.in
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update Rules.
  .codebuddy/CODEBUDDY.md
  .codebuddy/rules/Build.md
  .codebuddy/rules/Coding.md
Owners: @domchen, @Hparty, @shlzxjp

Fix qt job ccache save failure by using unique cache key per commit.
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Pass ccache launcher as cmake args instead of env vars for qt job.
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix ohos CLI tools cache path to user directory to avoid permission issue.
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add SetCacheDir API to customize disk cache directory.
  android/libpag/src/main/java/org/libpag/PAGDiskCache.java
  include/pag/c/pag_disk_cache.h
  include/pag/pag.h
  src/c/pag_disk_cache.cpp
  src/platform/android/JPAGDiskCache.cpp
  src/platform/cocoa/PAGDiskCache.h
  src/platform/cocoa/PAGDiskCache.m
  src/platform/cocoa/private/PAGDiskCacheImpl.h
  src/platform/cocoa/private/PAGDiskCacheImpl.mm
  src/rendering/caches/DiskCache.cpp
  src/rendering/caches/DiskCache.h
Owners: @domchen, @Hparty, @shlzxjp

Pass ccache compiler launcher args to internal pag build in viewer.
  viewer/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

Use instance member instead of static variable for customCacheDir.
  src/rendering/caches/DiskCache.cpp
  src/rendering/caches/DiskCache.h
Owners: @domchen, @Hparty, @shlzxjp

Revert ccache cmake propagation and use fixed key with push-only save for qt job.
  .github/workflows/build.yml
  viewer/CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Enable incremental build for QT job to improve ccache hit rate
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix ccache not hitting cache due to absolute path hashing
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix ccache config order: configure after cache restore
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Temporarily allow ccache save on workflow_dispatch for testing
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix cache save warning: skip save when cache already exists
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Revert test changes: restore push-only cache save policy
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

delete workdispatch
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
