Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Split colorToCSS into focused gradient helpers for maintainability.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterColor.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add internal API documentation for flattenGroup, buildTextBoxSpanStyle, writeLayerInner, and ReversePathDataToSVGString.
  src/pagx/html/HTMLWriter.h
Owners: @domchen, @Hparty, @shlzxjp

Refactor writeLayer and flattenGroup: extract RAII state guard, emitDropShadowFilterDef, and emitInnerShadowFilterDef.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Expand line spans to line-height and vertically center padded text leaves in html-snapshot so CJK strokes and button labels stop clipping.
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Fix integer overflow in HTML entity numeric reference parsing.
  src/pagx/html/HTMLStyleExtractor.cpp
Owners: @domchen, @Hparty, @shlzxjp

Guard SFNT table offset overflow, fix extractStyleSheet doc to reflect semantic class names, and remove duplicate section header.
  include/pagx/HTMLExporter.h
  src/pagx/html/HTMLWriter.h
  src/pagx/html/Woff2FontGenerator.cpp
Owners: @domchen, @Hparty, @shlzxjp

Document padding-bottom workaround as browser-dependent behavior for gradient text clipping.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix DropShadow blur inconsistency: remove erroneous /2 in blended shadow SVG filter path.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace wrapFullDocument option with HTMLOutputMode enum parameter on ToHTML.
  include/pagx/HTMLExporter.h
  src/pagx/html/HTMLExporter.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove unused PathDataToSVGString Matrix overload (dead code, no callers).
  src/pagx/svg/SVGPathParser.cpp
  src/pagx/svg/SVGPathParser.h
Owners: @domchen, @Hparty, @shlzxjp

Keep flex items with zero cross axis size in html-snapshot so spacer divs survive capture and siblings stay aligned.
  src/pagx/html/HTMLSubsetPropertyTable.cpp
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Auto-rebuild pagx and PAGFullTest in gen_html_comparison.sh to prevent stale binary mismatch.
  test/gen_html_comparison.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Replay z-index in html-snapshot positioned children and centre the body in <html> so notches paint over headers and outer shadows survive in browser preview.
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Vertically center form control text in html-snapshot so input placeholders no longer cling to the search bar top.
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Parse multi-value border-radius shorthand in html importer so per-corner radii like notches and rounded-t corners keep their roundness instead of collapsing to zero.
  src/pagx/html/HTMLStyleResolver.cpp
Owners: @domchen, @Hparty, @shlzxjp

Default html2pagx render scale to 2x so small SVG icons stop aliasing into the wrong shape in the snapshot PNG.
  tools/html-snapshot/html2pagx
Owners: @domchen, @Hparty, @shlzxjp

Resolve percentage border-radius in html importer against fixed px size so 50% on square boxes renders as a circle.
  spec/html_subset.md
  spec/html_subset.zh_CN.md
  src/pagx/html/HTMLStyleResolver.cpp
  test/src/PAGXHTMLTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Centre inline svg inside the html snapshot wrapper so status-bar icons stop sliding off the baseline and getting clipped at the bottom.
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Split html-snapshot into lib modules with a schema-driven style emitter to make the snapshot logic easier to read.
  tools/html-snapshot/lib/browser-snapshot.js
  tools/html-snapshot/lib/cli.js
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Refactor html importer module into a single pagx::html namespace, drop lambdas, and merge duplicate px formatting so the two pipelines share one set of helpers.
  CMakeLists.txt
  src/pagx/html/HTMLBoxAttributes.h
  src/pagx/html/HTMLCssCascade.cpp
  src/pagx/html/HTMLCssCascade.h
  src/pagx/html/HTMLDetail.cpp
  src/pagx/html/HTMLDetail.h
  src/pagx/html/HTMLImporter.cpp
  src/pagx/html/HTMLLayerBuilder.cpp
  src/pagx/html/HTMLParserContext.cpp
  src/pagx/html/HTMLParserContext.h
  src/pagx/html/HTMLStyleResolver.cpp
  src/pagx/html/HTMLSubsetPropertyTable.cpp
  src/pagx/html/HTMLSubsetPropertyTable.h
  src/pagx/html/HTMLSubsetTransformer.cpp
  src/pagx/html/HTMLTransformPasses.cpp
  src/pagx/html/HTMLTransformPasses.h
  src/pagx/html/HTMLValueParser.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Untrack local-only copy-to-cocraft helper script and ignore it going forward.
  .gitignore
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove tracked copy-to-cocraft helper that was never meant to be in the repo.
  pagx/wechat/script/copy-to-cocraft.js
Owners: @domchen, @Hparty, @shlzxjp

Render eval subset in Chromium for flex counting so live and subset numbers are comparable and flag invented or inflated flex cases in the report.
  tools/html-snapshot/eval/README.md
  tools/html-snapshot/eval/compare.js
  tools/html-snapshot/eval/run.js
Owners: @domchen, @Hparty, @shlzxjp

Map CSS object-fit onto ImagePattern scaleMode and default to Stretch so html img with declared size fills its box edge to edge.
  src/pagx/html/HTMLBoxAttributes.h
  src/pagx/html/HTMLLayerBuilder.cpp
  src/pagx/html/HTMLStyleResolver.cpp
  src/pagx/html/HTMLSubsetPropertyTable.cpp
  test/src/PAGXHTMLTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove unused MapFontStyleToCSS from CliUtils (dead code, superseded by ParseFontStyleToCSS).
  src/cli/CliUtils.cpp
  src/cli/CliUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Position html-snapshot absolute children from parent padding box so half-pixel insets on bordered boxes no longer drift.
  tools/html-snapshot/lib/browser-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Inset html importer abs children and layout padding by parent border so bordered boxes no longer cross the stroke.
  src/pagx/html/HTMLParserContext.cpp
  test/src/PAGXHTMLTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Route gradient onto descendant text fills when html background-clip is text so gradient-text effects render correctly.
  spec/html_subset.md
  spec/html_subset.zh_CN.md
  src/pagx/html/HTMLBoxAttributes.h
  src/pagx/html/HTMLLayerBuilder.cpp
  src/pagx/html/HTMLParserContext.cpp
  src/pagx/html/HTMLParserContext.h
  src/pagx/html/HTMLStyleResolver.cpp
  src/pagx/html/HTMLSubsetPropertyTable.cpp
  src/pagx/html/HTMLTransformPasses.cpp
  test/src/PAGXHTMLSubsetTransformerTest.cpp
  test/src/PAGXHTMLTest.cpp
  tools/html-snapshot/lib/browser-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rewrite html gradient stop interpolation as an explicit prev/next walk so the offsets that fall in a run of unset stops are easier to reason about.
  src/pagx/html/HTMLValueParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Speed up html-snapshot text splitting and style reuse and harden CLI numeric validation and eval corpus handling.
  tools/html-snapshot/eval/baseline.js
  tools/html-snapshot/eval/compare.js
  tools/html-snapshot/eval/run.js
  tools/html-snapshot/html2pagx
  tools/html-snapshot/lib/browser-snapshot.js
  tools/html-snapshot/lib/cli.js
  tools/html-snapshot/lib/page-loader.js
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Cache resolved text styles, share gradient and decoration helpers, and bound recursion in html importer so importing styled or deep documents stays cheap and predictable.
  src/pagx/html/HTMLBoxAttributes.h
  src/pagx/html/HTMLDetail.cpp
  src/pagx/html/HTMLDetail.h
  src/pagx/html/HTMLLayerBuilder.cpp
  src/pagx/html/HTMLParserContext.cpp
  src/pagx/html/HTMLParserContext.h
  src/pagx/html/HTMLStyleResolver.cpp
  src/pagx/html/HTMLValueParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Auto-install puppeteer on first run if node_modules is missing.
  test/screenshot.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Auto-install puppeteer on first run if node_modules is missing.
  test/screenshot.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

diag: bump tgfx to diag/intel-screenshare-logs
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add URL input support to html-snapshot with cookie and header forwarding for remote pages.
  tools/html-snapshot/README.md
  tools/html-snapshot/eval/baseline.js
  tools/html-snapshot/html2pagx
  tools/html-snapshot/lib/cli.js
  tools/html-snapshot/lib/page-loader.js
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Cover html importer transform fallbacks length resolver gradient stops cascade comments cli error paths and box shadow edge cases to lift html module coverage from 84 percent to 90 percent.
  test/src/PAGXHTMLSubsetTransformerTest.cpp
  test/src/PAGXHTMLTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Auto-install puppeteer on first run if node_modules is missing (#3443)
  test/screenshot.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename PAGXHTMLTest to PAGXHTMLImporterTest to match the html importer module under test.
  test/src/PAGXHTMLImporterTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Move html importer sources into a dedicated importer subdirectory to clearly separate them from html exporter sources.
  CMakeLists.txt
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLCssCascade.cpp
  src/pagx/html/importer/HTMLCssCascade.h
  src/pagx/html/importer/HTMLDetail.cpp
  src/pagx/html/importer/HTMLDetail.h
  src/pagx/html/importer/HTMLImporter.cpp
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/html/importer/HTMLStyleResolver.cpp
  src/pagx/html/importer/HTMLSubsetPropertyTable.cpp
  src/pagx/html/importer/HTMLSubsetPropertyTable.h
  src/pagx/html/importer/HTMLSubsetTransformer.cpp
  src/pagx/html/importer/HTMLTransformContext.h
  src/pagx/html/importer/HTMLTransformPasses.cpp
  src/pagx/html/importer/HTMLTransformPasses.h
  src/pagx/html/importer/HTMLValueParser.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.3.22.
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
