Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Convert a CSS circle radial-gradient on a non-square box into a pixel-space gradient on HTML import so it renders as a true circle instead of a stretched ellipse.
  src/pagx/html/importer/HTMLValueParser.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Document the DataBind-over-animation channel precedence and the observer no-strong-capture rule.
  include/pagx/PAGViewModelValue.h
  include/pagx/nodes/DataBind.h
Owners: @domchen, @Hparty, @shlzxjp

Tighten the DataBind and observer notes to user-facing guidance without implementation detail.
  include/pagx/PAGViewModelValue.h
  include/pagx/nodes/DataBind.h
Owners: @domchen, @Hparty, @shlzxjp

Reword the observer and image setter docs to user-facing guidance without internal mechanics.
  include/pagx/PAGViewModelValue.h
  include/pagx/PAGViewModelValueImage.h
Owners: @domchen, @Hparty, @shlzxjp

Resolve an SVG textPath into a TextPath modifier on HTML import so path-following text renders instead of collapsing into an empty fill.
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserContext.h
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Carry an SVG clipPath child's even-odd winding rule into the PAGX mask fill on import so an outside-aligned stroke keeps its interior cutout instead of filling solid.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Upgrade tgfx to reuse SSAA tile backing texture across tiles.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename colliding auto-generated node ids when resolving multiple inline SVGs so two distinct images no longer collapse onto one shared id and render the same picture.
  resources/cli/import_resolve_dup_image_id.pagx
  src/cli/CommandResolve.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Decode an SVG filter url reference into PAGX layer filters on HTML import so blur inner-shadow blend and color-matrix effects render instead of being dropped.
  CMakeLists.txt
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLLayerBuilder.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLSvgFilterDecoder.cpp
  src/pagx/html/importer/HTMLSvgFilterDecoder.h
  src/pagx/html/importer/HTMLValueParser.cpp
  src/pagx/html/importer/HTMLValueParser.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Project a CSS matrix3d transform onto its 2D affine subset on HTML import so a 3D-rotated element renders with the browser's flattened shape instead of dropping the transform and appearing unskewed.
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLSubsetPropertyTable.cpp
Owners: @domchen, @Hparty, @shlzxjp

Emit a PAGX Ellipse for a CSS border-radius 50% box on HTML import so a non-square element renders as a true ellipse instead of a pill-shaped rounded rectangle.
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLStyleCascade.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Recognize an opaque-alpha feColorMatrix as a drop-shadow alpha pre-pass on HTML import so the shadow stays one filter instead of splitting into a stray color-matrix that recolors the shape.
  src/pagx/html/importer/HTMLSvgFilterDecoder.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Cover the font edit refresh through the real notifyChange runtime path instead of a direct rebuild.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Further condense the notifyChange documentation to the essential contract.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Clear cached Text TextBlob on re-layout so font and text edits re-shape correctly.
  src/pagx/nodes/Text.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Condense the notifyChange documentation while keeping the caller obligations and parameter semantics.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Document that layout-affecting notifyChange must include sibling Layers the re-layout repositions.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Stop an inline SVG element's own opacity from compositing twice on HTML import so a translucent shape keeps its intended color instead of rendering washed out.
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLInlineSvgEmitter.cpp
  src/pagx/html/importer/HTMLInlineSvgEmitter.h
  test/src/PAGXHTMLImporterTest.cpp
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix PAGX text not re-shaping when font or text edits trigger a re-layout (#3538)
  include/pagx/PAGXDocument.h
  src/pagx/nodes/Text.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Default the vertical axis of a single-value CSS mask-position to center on HTML import so a one-token position matches the browser instead of pinning the mask to the top edge.
  src/pagx/html/importer/HTMLElementEmitter.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Import CSS webkit-text-stroke as a PAGX text Stroke so stroked HTML text keeps its outline instead of rendering as plain fill.
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLStyleCascade.h
  src/pagx/html/importer/HTMLSubsetPropertyTable.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.h
  src/pagx/html/importer/HTMLTransformPasses.cpp
  test/src/PAGXHTMLImporterTest.cpp
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Suppress pagx import conversion warnings by default and add a --verbose/-v flag to opt back in so a noisy HTML import prints only errors unless warnings are explicitly requested.
  src/cli/CommandImport.cpp
Owners: @domchen, @Hparty, @shlzxjp

Collapse a wrapped EscapeXml test assertion onto a single line for consistent formatting.
  test/src/PAGXHTMLImporterTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename PAGXDocument font config member and remove the unused FontConfig merge API and helpers.
  include/pagx/FontConfig.h
  include/pagx/PAGXDocument.h
  src/pagx/FontConfig.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/TypefaceHolder.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix incomplete type error for DataBindRuntime unique_ptr member.
  include/pagx/PAGComposition.h
Owners: @domchen, @Hparty, @shlzxjp

Fix incomplete type error for DataBindRuntime unique_ptr member. (#3541)
  include/pagx/PAGComposition.h
Owners: @domchen, @Hparty, @shlzxjp

Ship the ensure-built helper inside the pagx npm package so html-snapshot no longer crashes with a module-not-found error on import.
  cli/npm/html-snapshot/.gitignore
  cli/npm/html-snapshot/.npmignore
  cli/npm/scripts/build-html-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Upgrade tgfx to fix hollow fills on OpenGL ES via highp fragment shader precision.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove the real-time animation capture pass and its --runtime-anim-window / --runtime-anim-samples flags from the html-snapshot tooling.
  tools/html-snapshot/eval-animation/run.js
  tools/html-snapshot/html2pagx
  tools/html-snapshot/lib/animation-capture.ts
  tools/html-snapshot/lib/batch.ts
  tools/html-snapshot/lib/cli.ts
  tools/html-snapshot/lib/pipeline.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Upgrade tgfx to fix hollow fills on OpenGL ES via highp fragment shader precision. (#3542)
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix stale provider reference in invalidateImagesByFilePath comment.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix stale provider comment in getOrCreateImage resolution chain.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace the image resource provider with a push-based PAGScene setImage for host-decoded images.
  include/pagx/ImageResourceProvider.h
  include/pagx/PAGScene.h
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Image.h
  src/pagx/PAGScene.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix stale PAGScene::setImage reference in getExternalFilePaths doc.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Move host-supplied images onto the Image node via loadFileData(PAGImage) and drop PAGScene::setImage.
  include/pagx/PAGImage.h
  include/pagx/PAGScene.h
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Image.h
  src/pagx/PAGImage.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix stale provider reference in rebuildForFilePath comment.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refresh only the affected layers on setImage instead of rebuilding the whole runtime tree.
  src/pagx/PAGScene.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix comment indentation in LayerBuilderSession doc.
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Remove duplicated param document line in BuildLayerInto doc.
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Fix misleading nullptr doc in loadFileData(PAGImage) overload.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp
