Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Update tgfx to f6c8107e with drawLine optimization.
  DEPS
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fold stroke painter into the PPT text run so glyph outline and fill render together instead of as a stacked second shape.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract shared helpers for XML prelude, BE16 reads, and surface-to-PNG encoding across the PPT exporter.
  src/pagx/ppt/PPTBoilerplate.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTGeomEmitter.cpp
  src/pagx/ppt/PPTGeomEmitter.h
  src/pagx/utils/ExporterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx to be147cbc with Line vector element support.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Accept baseline for blend_modes_showcase and layer_blend_modes after routing PlusDarker through SVG feImage filter, and for drop_shadow_show_behind after shortening its subtitle text.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix weak inner shadow in HTML export by using invert+blur+offset filter.
  src/pagx/html/HTMLWriterFilter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace solid fill with vertical gradient in Blur mirror sample for visible tileMode effect.
  resources/pagx_to_html/style_filter_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Enlarge Blur mirror sample with tri-color stripes so mirror edge-preservation is visible.
  resources/pagx_to_html/style_filter_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix blur effect invisible in PPTX by setting grow=1 on a:blur.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PPTX shadow direction by removing the extra 90-degree offset in the dir attribute.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simulate BlurFilter tileMode=mirror via 3x3 mirrored tile DOM in HTML export.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterFilter.cpp
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Expand mirror-tile blur halo to match tgfx filterBounds outset of 2 times sigma.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Accept style_filter_advanced baseline after mirror tile HTML support.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add halo padding wrapper to blurMirror cell for clearer spacing.
  resources/pagx_to_html/style_filter_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix PPTX nested contour detection by adding midpoint fallback when inner start lies on outer boundary.
  src/pagx/ppt/PPTContourUtils.cpp
  src/pagx/ppt/PPTContourUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Compose chained filters as a linear SVG pipeline matching tgfx semantics.
  src/pagx/html/HTMLWriterFilter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Ignore GSD planning directory from version control.
  .gitignore
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Emit DropShadowStyle as sibling shadow div to prevent child filter leakage.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Distinguish BlendFilter modes from paint blend modes in PPTX feature probe so supported overlay blends no longer force rasterization.
  src/pagx/ppt/PPTFeatureProbe.cpp
Owners: @domchen, @Hparty, @shlzxjp

Decouple PAGXOptimizer from SVG import, report convergence, extend mask canonicalization, and expand option coverage tests.
  include/pagx/PAGXOptimizer.h
  src/cli/CommandImport.cpp
  src/cli/CommandResolve.cpp
  src/pagx/PAGXOptimizer.cpp
  src/pagx/svg/SVGImporter.cpp
  test/src/PAGXOptimizerTest.cpp
  test/src/PAGXSVGTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Place rotateX/Y/Z labels above shapes and grow Row1 height to avoid overlap.
  resources/pagx_to_html/layer_3d_multi_axis.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add opt-in option to composite unsupported blend layers against the real backdrop when rasterizing in PPTX export.
  .codebuddy/skills/pagx/references/cli.md
  include/pagx/PPTExporter.h
  src/cli/CommandExport.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Align Rectangle/Ellipse labels with their shapes and enlarge font to match stroke weight.
  resources/pagx_to_html/painter_accumulated_geometry.pagx
Owners: @domchen, @Hparty, @shlzxjp

Extract per-Text line metadata recording into a helper method for clarity.
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Port tgfx bezier-based Triangle selector curve so easeIn and easeOut match PAGX exactly.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline updates after PAGX sample layout fixes and filter pipeline refactor.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Replace lambdas with explicit helpers in PPT text emission and tighten glyph walker allocations.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Factor WalkGlyphs into positioning and matrix helpers and unify off-screen PNG rendering behind a single skeleton.
  src/pagx/utils/ExporterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Decompose writeEffects collection pass and extract native-text and rich-textbox shape helpers in the PPT writer.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use ceil(copies) as Repeater alpha denominator to match tgfx.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Emit rectangle path clockwise in screen space to match tgfx dash phase.
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Mirror tgfx TextBox line breaks in HTML output using wrappedGlyphCounts and fix InnerShadowStyle SVG filter.
  include/pagx/nodes/Text.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/nodes/Text.cpp
Owners: @domchen, @Hparty, @shlzxjp

Center +12% badge text and raise text_box_align font to 12 for glyph weight parity.
  resources/pagx_to_html/showcase_dashboard_card.pagx
  resources/pagx_to_html/text_box_align.pagx
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline updates after seven PAGX/HTML visual consistency fixes.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix PAGXCliTest references to renamed validate_ resource files.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Shift Repeater layer div into negative quadrants so every copy fits inside the blend stacking context.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Wrap PAGX Native label in a flex row so it matches the HTML column's chip row height.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Tint the three feature rows with faint brand-matched pastels so they read as distinct cards against the page background.
  resources/pagx_to_html/showcase_infographic.pagx
Owners: @domchen, @Hparty, @shlzxjp

Accept htmlshowcase_infographic baseline after row tint update.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Mirror tgfx painter ordering so Repeater copyAlpha decay only applies when fill or stroke precedes the Repeater.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp
