Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Move DiskCache initialization from checkInitialized to constructor.
  src/rendering/caches/DiskCache.cpp
  src/rendering/caches/DiskCache.h
Owners: @domchen, @Hparty, @shlzxjp

Upgrade tgfx to b8251c0 and adapt new vertex buffer API.
  DEPS
  src/rendering/filters/RuntimeFilter.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix implicit conversion warning in RuntimeFilter draw call
  src/rendering/filters/RuntimeFilter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Upgrade tgfx to b8251c0 and adapt new vertex buffer API. (#3223)
  DEPS
  src/rendering/filters/RuntimeFilter.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix copyright header format to match libpag style.
  pagx/include/pagx/layers/LayerBuilder.h
  pagx/include/pagx/layers/TextLayouter.h
  pagx/include/pagx/svg/SVGImporter.h
  pagx/src/layers/LayerBuilder.cpp
  pagx/src/layers/PAGXAttributes.cpp
  pagx/src/layers/PAGXAttributes.h
  pagx/src/layers/PAGXParser.cpp
  pagx/src/layers/PAGXParser.h
  pagx/src/layers/PAGXUtils.cpp
  pagx/src/layers/PAGXUtils.h
  pagx/src/layers/TextLayouter.cpp
  pagx/src/svg/SVGImporter.cpp
  pagx/src/svg/SVGToPAGXConverter.cpp
  pagx/src/svg/SVGToPAGXConverter.h
  pagx/viewer/index.ts
  pagx/viewer/script/rollup.js
  pagx/viewer/server.js
  pagx/viewer/src/GridBackground.cpp
  pagx/viewer/src/GridBackground.h
  pagx/viewer/types.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix pagx viewer cmake.js to use libpag vendor_tools for web build.
  pagx/viewer/script/cmake.js
Owners: @domchen, @Hparty, @shlzxjp

Add pagx viewer related directories to gitignore.
  .gitignore
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove version number from pagx spec filename for continuous updates.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Refactor pagx module to be completely independent of tgfx with custom data structures and parsers.
  pagx/CMakeLists.txt
  pagx/include/pagx/LayerBuilder.h
  pagx/include/pagx/PAGXDocument.h
  pagx/include/pagx/PAGXNode.h
  pagx/include/pagx/PAGXSVGParser.h
  pagx/include/pagx/PAGXTypes.h
  pagx/include/pagx/PathData.h
  pagx/include/pagx/layers/LayerBuilder.h
  pagx/include/pagx/svg/SVGImporter.h
  pagx/src/PAGXDocument.cpp
  pagx/src/PAGXNode.cpp
  pagx/src/PAGXXMLParser.cpp
  pagx/src/PAGXXMLParser.h
  pagx/src/PAGXXMLWriter.cpp
  pagx/src/PAGXXMLWriter.h
  pagx/src/PathData.cpp
  pagx/src/layers/LayerBuilder.cpp
  pagx/src/layers/PAGXAttributes.cpp
  pagx/src/layers/PAGXAttributes.h
  pagx/src/layers/PAGXParser.cpp
  pagx/src/layers/PAGXParser.h
  pagx/src/layers/PAGXUtils.cpp
  pagx/src/layers/TextLayouter.cpp
  pagx/src/svg/PAGXSVGParser.cpp
  pagx/src/svg/SVGImporter.cpp
  pagx/src/svg/SVGParserInternal.h
  pagx/src/svg/SVGToPAGXConverter.cpp
  pagx/src/svg/SVGToPAGXConverter.h
  pagx/src/tgfx/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refactor PAGX module to use strongly-typed node structures with inheritance and virtual functions.
  pagx/CMakeLists.txt
  pagx/include/pagx/LayerBuilder.h
  pagx/include/pagx/PAGXDocument.h
  pagx/include/pagx/PAGXNode.h
  pagx/include/pagx/PAGXTypes.h
  pagx/src/PAGXDocument.cpp
  pagx/src/PAGXNode.cpp
  pagx/src/PAGXTypes.cpp
  pagx/src/PAGXXMLParser.cpp
  pagx/src/PAGXXMLParser.h
  pagx/src/PAGXXMLWriter.cpp
  pagx/src/PAGXXMLWriter.h
  pagx/src/PathData.cpp
  pagx/src/svg/PAGXSVGParser.cpp
  pagx/src/svg/SVGParserInternal.h
  pagx/src/tgfx/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add SetCacheDir API to customize disk cache directory. (#3225)
  android/libpag/src/main/java/org/libpag/PAGDiskCache.java
  include/pag/c/pag_disk_cache.h
  include/pag/pag.h
  src/c/pag_disk_cache.cpp
  src/platform/android/JPAGDiskCache.cpp
  src/platform/cocoa/PAGDiskCache.h
  src/platform/cocoa/PAGDiskCache.m
  src/platform/cocoa/private/PAGDiskCacheImpl.h
  src/platform/cocoa/private/PAGDiskCacheImpl.mm
  src/rendering/caches/DiskCache.cpp
  src/rendering/caches/DiskCache.h
Owners: @domchen, @Hparty, @shlzxjp

Restore screenshot baseline tests for PAGX SVG rendering.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Align PAGX spec property names with tgfx code implementation
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Replace handwritten XML tokenizer with expat-based DOM parser for PAGX SVG parsing.
  DEPS
  pagx/CMakeLists.txt
  pagx/src/svg/PAGXSVGParser.cpp
  pagx/src/svg/SVGParserInternal.h
  pagx/src/xml/XMLDOM.cpp
  pagx/src/xml/XMLDOM.h
  pagx/src/xml/XMLParser.cpp
  pagx/src/xml/XMLParser.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Make pagx use its own expat dependency instead of relying on tgfx and remove unnecessary tgfx SVG module dependency.
  CMakeLists.txt
  pagx/CMakeLists.txt
  pagx/src/xml/XMLParser.cpp
  vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove tgfx SVGDOM dependency from PAGXTest to avoid crash in tgfx SVG renderer.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Enable tgfx SVG and Layers modules for PAG tests.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Simplify tgfx SVG and Layers options by using TGFX_ prefix directly in test block.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Align PAGX data structures and XML attributes with the updated spec.
  pagx/include/pagx/PAGXNode.h
  pagx/include/pagx/PAGXTypes.h
  pagx/src/PAGXTypes.cpp
  pagx/src/PAGXXMLParser.cpp
  pagx/src/PAGXXMLParser.h
  pagx/src/PAGXXMLWriter.cpp
  pagx/src/svg/PAGXSVGParser.cpp
  pagx/src/tgfx/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update tgfx commit to fix crash issue.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Restore tgfx SVGDOM rendering test for SVG to PAGX comparison.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add complete SVG named color keywords support in SVG parser.
  pagx/src/svg/PAGXSVGParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add rebeccapurple color keyword from CSS Color 4 specification.
  pagx/src/svg/PAGXSVGParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG parser fill inheritance and add pattern support.
  pagx/src/svg/PAGXSVGParser.cpp
  pagx/src/svg/SVGParserInternal.h
Owners: @domchen, @Hparty, @shlzxjp

Simplify SVG pattern handling by computing matrix from shape bounds directly.
  pagx/src/svg/PAGXSVGParser.cpp
  pagx/src/svg/SVGParserInternal.h
  pagx/src/tgfx/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix stroke dashes rendering and ImagePattern matrix for PAGX.
  pagx/src/svg/PAGXSVGParser.cpp
  pagx/src/tgfx/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX viewer build by updating include paths and LayerBuilder API usage.
  pagx/viewer/CMakeLists.txt
  pagx/viewer/src/PAGXView.cpp
  pagx/viewer/src/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG viewBox to viewport transform in PAGX conversion
  pagx/src/svg/PAGXSVGParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add SVG text element and mask and filter and gradientTransform support to PAGX SVG parser.
  pagx/src/svg/PAGXSVGParser.cpp
  pagx/src/svg/SVGParserInternal.h
Owners: @domchen, @Hparty, @shlzxjp

Improve PAGX SVG parser output format
  pagx/src/svg/PAGXSVGParser.cpp
  pagx/src/svg/SVGParserInternal.h
Owners: @domchen, @Hparty, @shlzxjp

Fix ImagePattern not rendering when using resource reference format.
  pagx/src/tgfx/LayerBuilder.cpp
  pagx/viewer/server.js
Owners: @domchen, @Hparty, @shlzxjp

Align PAGX spec default values with tgfx implementation.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Fix TextModifier anchorPoint description from normalized to offset.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Add default color value for Fill and Stroke.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Change Stroke default width from 2 to 1 to align with SVG specification.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Align PAGXNode default values with spec document for Rectangle and Ellipse size and RoundCorner radius and TextModifier anchorPoint.
  pagx/include/pagx/PAGXNode.h
  pagx/src/PAGXXMLWriter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add textAnchor attribute to TextSpan for text horizontal alignment.
  pagx/docs/pagx_spec.md
  pagx/include/pagx/PAGXNode.h
  pagx/include/pagx/PAGXTypes.h
  pagx/src/PAGXTypes.cpp
  pagx/src/PAGXXMLParser.cpp
  pagx/src/PAGXXMLWriter.cpp
  pagx/src/svg/PAGXSVGParser.cpp
  pagx/src/tgfx/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Only write id attribute for nodes that are referenced by other nodes.
  pagx/src/PAGXXMLWriter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Always write required attributes even when their values equal zero.
  pagx/src/PAGXXMLWriter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add PathData resource type for path data sharing and reference.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
