Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Resolve animator memory leak caused by orphaned AnimationTicker references (#3117)
  ohos/.gitignore
  ohos/entry/oh-package-lock.json5
  ohos/entry/src/main/ets/pages/Index.ets
  ohos/hvigorfile.ts
  ohos/libpag/BuildProfile.ets
  ohos/libpag/oh-package-lock.json5
  ohos/local.signingconfig.sample.json
  ohos/oh-package-lock.json5
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGView.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add support for ArkUI V2 state management
  ohos/libpag/Index.ets
  ohos/libpag/src/main/ets/PAGImageViewController.ets
  ohos/libpag/src/main/ets/PAGImageViewV2.ets
  ohos/libpag/src/main/ets/PAGView.ets
  ohos/libpag/src/main/ets/PAGViewController.ets
  ohos/libpag/src/main/ets/PAGViewV2.ets
  ohos/libpag/src/main/ets/private/PAGViewCallbackHandler.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

fix issue
  viewer/qttools/replace_qt_path.sh
  viewer/src/platform/PluginInstaller.cpp
  viewer/src/platform/PluginInstaller.h
  viewer/src/platform/mac/PluginInstaller.mm
  viewer/src/platform/win/PluginInstaller.cpp
  viewer/src/utils/FileUtils.cpp
  viewer/src/utils/FileUtils.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

codeformat
  viewer/src/platform/mac/PluginInstaller.mm
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

fix windows error
  viewer/src/platform/win/PluginInstaller.cpp
  viewer/src/utils/FileUtils.cpp
  viewer/src/utils/FileUtils.h
Owners: @domchen, @Hparty, @shlzxjp

fix error
  viewer/src/platform/PluginInstaller.h
  viewer/src/platform/win/PluginInstaller.cpp
  viewer/src/utils/FileUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

fix error
  viewer/src/platform/PluginInstaller.h
  viewer/src/platform/win/PluginInstaller.cpp
  viewer/src/utils/FileUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add support for ArkUI V2 state management
  ohos/entry/src/main/ets/pages/Index.ets
  ohos/libpag/Index.ets
  ohos/libpag/src/main/ets/PAGImageView.ets
  ohos/libpag/src/main/ets/PAGImageViewController.ets
  ohos/libpag/src/main/ets/PAGImageViewV2.ets
  ohos/libpag/src/main/ets/PAGViewController.ets
  ohos/libpag/src/main/ets/PAGViewV2.ets
  ohos/libpag/src/main/ets/private/PAGViewCallbackHandler.ets
  src/platform/ohos/JPAGView.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Move creation and usage of the web video decoder from C++ to JavaScript
  include/pag/pag.h
  src/platform/web/HardwareDecoder.cpp
  src/platform/web/HardwareDecoder.h
  src/platform/web/PAGWasmBindings.cpp
  src/platform/web/VideoInfoManage.cpp
  src/platform/web/VideoInfoManage.h
  src/rendering/caches/LayerCache.cpp
  src/rendering/layers/PAGComposition.cpp
  src/rendering/layers/PAGFile.cpp
  src/rendering/layers/PAGLayer.cpp
  web/src/core/video-reader.ts
  web/src/interfaces.ts
  web/src/pag-composition.ts
  web/src/pag-player.ts
  web/src/pag-view.ts
  web/src/types.ts
  web/src/video-reader-manage.ts
  web/src/wechat/pag-view.ts
  web/src/wechat/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

Move creation and usage of the web video decoder from C++ to JavaScript
  include/pag/pag.h
  src/platform/web/HardwareDecoder.cpp
  src/platform/web/HardwareDecoder.h
  src/platform/web/PAGWasmBindings.cpp
  src/platform/web/VideoInfoManage.cpp
  src/platform/web/VideoInfoManage.h
  src/rendering/caches/LayerCache.cpp
  src/rendering/layers/PAGComposition.cpp
  src/rendering/layers/PAGFile.cpp
  src/rendering/layers/PAGLayer.cpp
  web/src/core/video-reader.ts
  web/src/interfaces.ts
  web/src/pag-composition.ts
  web/src/pag-player.ts
  web/src/pag-view.ts
  web/src/types.ts
  web/src/video-reader-manage.ts
  web/src/wechat/pag-view.ts
  web/src/wechat/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

Move creation and usage of the web video decoder from C++ to JavaScript
  include/pag/pag.h
  src/platform/web/HardwareDecoder.cpp
  src/platform/web/HardwareDecoder.h
  src/platform/web/PAGWasmBindings.cpp
  src/platform/web/VideoInfoManage.cpp
  src/platform/web/VideoInfoManage.h
  src/rendering/caches/LayerCache.cpp
  src/rendering/layers/PAGComposition.cpp
  src/rendering/layers/PAGFile.cpp
  src/rendering/layers/PAGLayer.cpp
  web/src/core/video-reader.ts
  web/src/interfaces.ts
  web/src/pag-composition.ts
  web/src/pag-player.ts
  web/src/pag-view.ts
  web/src/types.ts
  web/src/video-reader-manage.ts
  web/src/wechat/pag-view.ts
  web/src/wechat/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

fix issue 128
  viewer/qttools/replace_qt_path.sh
  viewer/src/platform/PluginInstaller.cpp
  viewer/src/platform/PluginInstaller.h
  viewer/src/platform/mac/PluginInstaller.mm
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

add fileOperations class in windows
  viewer/src/platform/win/FileOperations.cpp
  viewer/src/platform/win/FileOperations.h
Owners: @domchen, @Hparty, @shlzxjp

Retain only pag-related symbols in the .so file on the HarmonyOS platform.
  CMakeLists.txt
  ohos/libpag/export.def
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Retain only pag-related symbols in the .so file on the HarmonyOS platform. (#3132)
  CMakeLists.txt
  ohos/libpag/export.def
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Upgrade the HarmonyOS compilation version to 6.0.0.
  .github/workflows/build.yml
  ohos/build-profile.json5
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Upgrade the HarmonyOS compilation version to 6.0.0. (#3133)
  .github/workflows/build.yml
  ohos/build-profile.json5
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

revert accidental compatibleSdkVersion update introduced during SDK refresh
  ohos/build-profile.json5
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

update file header year per review on ArkUI V2 state management PR
  ohos/libpag/src/main/ets/PAGImageViewController.ets
  ohos/libpag/src/main/ets/PAGImageViewV2.ets
  ohos/libpag/src/main/ets/PAGViewController.ets
  ohos/libpag/src/main/ets/PAGViewV2.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

merge main
  .idea/misc.xml
  exporter/assets/qml/CompositionListView.qml
  exporter/assets/qml/ExportPanel.qml
  exporter/assets/qml/TimeStretchItem.qml
  exporter/src/export/Marker.cpp
  exporter/src/ui/PAGViewerInstallModel.cpp
  exporter/src/ui/WindowManager.cpp
  exporter/src/utils/StringHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

add fileOperations class in windows
  viewer/src/platform/win/FileOperations.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor CMakeWorkspace component in misc.xml
  .idea/misc.xml
Owners: @domchen, @Hparty, @shlzxjp

code format
  viewer/src/platform/PluginInstaller.cpp
  viewer/src/platform/mac/PluginInstaller.mm
  viewer/src/platform/win/FileOperations.h
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

rollback fix
  viewer/src/utils/FileUtils.cpp
  viewer/src/utils/FileUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Fix issues found in the PR
  include/pag/pag.h
  src/platform/web/HardwareDecoder.cpp
  src/platform/web/PAGWasmBindings.cpp
  src/platform/web/VideoInfoManager.cpp
  src/platform/web/VideoInfoManager.h
  src/rendering/layers/PAGComposition.cpp
  web/src/interfaces.ts
  web/src/pag-player.ts
  web/src/types.ts
  web/src/video-reader-manager.ts
Owners: @domchen, @Hparty, @shlzxjp

rollback fix
  viewer/src/utils/FileUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Add data reporter for viewer and exporter
  exporter/.gitignore
  exporter/CMakeLists.txt
  exporter/assets/translation/Chinese.ts
  exporter/src/aecommand/AECommand.cpp
  exporter/src/export/PAGExport.cpp
  exporter/src/main.cpp
  exporter/src/report/PAGReporter.cpp
  exporter/src/report/PAGReporter.h
  exporter/src/ui/export/ExportWindow.cpp
  exporter/src/ui/exportPanel/CompositionsModel.cpp
  exporter/templates/version.h.in
  viewer/CMakeLists.txt
  viewer/src/main.cpp
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGView.h
  viewer/src/report/PAGReporter.cpp
  viewer/src/report/PAGReporter.h
Owners: @domchen, @Hparty, @shlzxjp

Add support for ArkUI V2 state management (#3131)
  ohos/build-profile.json5
  ohos/entry/src/main/ets/pages/Index.ets
  ohos/libpag/Index.ets
  ohos/libpag/src/main/ets/PAGImageView.ets
  ohos/libpag/src/main/ets/PAGImageViewController.ets
  ohos/libpag/src/main/ets/PAGImageViewV2.ets
  ohos/libpag/src/main/ets/PAGViewController.ets
  ohos/libpag/src/main/ets/PAGViewV2.ets
  ohos/libpag/src/main/ets/private/PAGViewCallbackHandler.ets
  src/platform/ohos/JPAGView.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  exporter/src/report/PAGReporter.cpp
  exporter/src/ui/exportPanel/CompositionsModel.cpp
  viewer/src/report/PAGReporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  exporter/CMakeLists.txt
  exporter/src/export/PAGExport.cpp
  exporter/src/main.cpp
  exporter/src/report/PAGReporter.cpp
  exporter/src/report/PAGReporter.h
  exporter/src/ui/export/ExportWindow.cpp
  exporter/src/ui/exportPanel/CompositionsModel.cpp
  exporter/templates/version.h.in
  reporter/PAGReporter.cpp
  reporter/PAGReporter.h
  viewer/CMakeLists.txt
  viewer/package/templates/version.h.in
  viewer/src/main.cpp
  viewer/src/rendering/PAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update the workflow
  .github/workflows/autotest.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update the workflow
  .github/workflows/autotest.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  reporter/PAGReporter.cpp
  reporter/PAGReporter.h
Owners: @domchen, @Hparty, @shlzxjp

Fix updateButton for viewer
  viewer/assets/qml/ControlForm.qml
  viewer/assets/qml/Main.qml
Owners: @domchen, @Hparty, @shlzxjp

Fix a issue
  exporter/src/export/encode/OfflineVideoEncoder.cpp
  exporter/src/export/encode/OfflineVideoEncoder.h
  exporter/src/export/encode/PAGEncodeThread.cpp
  exporter/src/export/encode/PAGEncodeThread.h
  exporter/src/export/encode/VideoEncoder.cpp
  exporter/src/export/encode/VideoEncoder.h
  exporter/src/export/sequence/VideoSequence.cpp
Owners: @domchen, @Hparty, @shlzxjp

bug fix
  exporter/src/export/ExportVerify.cpp
  exporter/src/export/PAGExport.cpp
  exporter/src/export/sequence/BitmapSequence.cpp
  exporter/src/export/sequence/VideoSequence.cpp
  exporter/src/utils/AEHelper.cpp
  viewer/package/build_mac.sh
  viewer/qttools/copy_qt_resource.sh
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add exit checker for encoder thread
  exporter/src/export/encode/OfflineVideoEncoder.cpp
  exporter/src/export/encode/OfflineVideoEncoder.h
  exporter/src/export/encode/PAGEncodeThread.cpp
  exporter/src/export/encode/PAGEncodeThread.h
  exporter/src/export/encode/VideoEncoder.cpp
  exporter/src/export/encode/VideoEncoder.h
  exporter/src/export/sequence/VideoSequence.cpp
Owners: @domchen, @Hparty, @shlzxjp

fix bug
  exporter/assets/translation/Chinese.ts
  viewer/assets/translation/Chinese.ts
  viewer/qttools/copy_qt_resource.sh
  viewer/qttools/delete_qt_resource.sh
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix the issues raised during code review
  exporter/CMakeLists.txt
  exporter/src/export/PAGExport.cpp
  exporter/src/main.cpp
  exporter/src/ui/export/ExportWindow.cpp
  exporter/src/ui/exportPanel/CompositionsModel.cpp
  exporter/src/utils/AEHelper.h
  exporter/templates/version.h.in
  test.sh
  viewer/CMakeLists.txt
  viewer/package/templates/version.h.in
  viewer/package/test.sh
  viewer/src/main.cpp
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGView.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix the issues raised during code review
  exporter/CMakeLists.txt
  reporter/PAGReporter.cpp
  reporter/PAGReporter.h
  test.sh
  viewer/CMakeLists.txt
  viewer/package/test.sh
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123
