Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

feat: runtime DataConverter execution with secondsToFrames and priceFormat
  include/pagx/PAGViewModelValue.h
  src/pagx/DataBindRuntime.cpp
  src/pagx/DataConverterRegistry.cpp
  src/pagx/DataConverterRegistry.h
  src/pagx/PAGScene.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

fix: DataConverterSecondsToFrames test uses registry verification
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Accept PAGX HTML screenshot baselines
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

feat: inverse converter for syncBack direction + architecture overview
  android/libpag/src/main/java/org/extra/tools/LibraryLoadUtils.java
  src/pagx/DataBindRuntime.cpp
  src/pagx/DataConverterRegistry.cpp
  src/pagx/DataConverterRegistry.h
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

fix: export DataBind children in Composition, resolve build errors, add notifyValueChanged.
  include/pagx/PAGViewModelValue.h
  include/pagx/SuppressDelegation.h
  src/pagx/PAGScene.cpp
  src/pagx/PAGViewModelValue.cpp
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to 65598b039022b3bbd78eb674f0f7a012db0f6d06.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update screenshot baseline for spec pagx features test.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

fix: add null checks and lifecycle guards in DataBindRuntime and DataContext.
  src/pagx/DataBindRuntime.cpp
  src/pagx/DataBindRuntime.h
  src/pagx/DataContext.cpp
Owners: @domchen, @Hparty, @shlzxjp

test: add tests for DataBindRuntime null safety and DataContext parent fallback.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

fix: remove lambdas from DataConverterRegistry and PAGViewModelValue, add viewModel doc.
  include/pagx/PAGScene.h
  include/pagx/PAGViewModelValue.h
  src/pagx/DataConverterRegistry.cpp
  src/pagx/DataConverterRegistry.h
  src/pagx/PAGViewModelValue.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

test: add PropertyData reflection test.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Move PAGX HTML unit samples into resources.
  resources/pagx_to_html/composition_filter_size.pagx
  resources/pagx_to_html/custom_cff_charset_strings.pagx
  resources/pagx_to_html/drop_shadow_styles.pagx
  resources/pagx_to_html/fixed_flex_item_scroll.pagx
  resources/pagx_to_html/flex_child_layer_width.pagx
  resources/pagx_to_html/glyph_run_embedded_font.pagx
  resources/pagx_to_html/low_units_per_em_font.pagx
  resources/pagx_to_html/mixed_glyph_run_fonts.pagx
  resources/pagx_to_html/parent_child_drop_shadow.pagx
  resources/pagx_to_html/rectangle_stroke_roundness.pagx
  resources/pagx_to_html/rich_text_newline_group.pagx
  resources/pagx_to_html/scroll_rect_flex_flow.pagx
  resources/pagx_to_html/single_auto_size_glyph_run.pagx
  resources/pagx_to_html/single_group_text_box.pagx
  resources/pagx_to_html/uniform_gradient_text.pagx
  resources/pagx_to_html/vertical_scroll_rect_height.pagx
  resources/pagx_to_html/vertical_text_box_height.pagx
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

test: add fillrule html export coverage
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix iOS PAGView dealloc race condition with animation thread.
  src/platform/ios/PAGView.mm
Owners: @domchen, @Hparty, @shlzxjp

fix: use child composition document for external DataBind target lookup.
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Support fill and stroke color channel apply for PAGX animations.
  src/pagx/PAGXNodeChannel.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

test: add PropertyData reflection test and vmContext connection test, fix external composition DataBind target lookup.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Ensure color channel writer only registered when color source is SolidColor.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

fix: call buildNestedViewModels even when root ViewModel is null, add nested composition DataBind test.
  src/pagx/PAGScene.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

test: verify nested composition DataBind drives layer alpha end-to-end.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix fillrule emission for merge path html export.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add type guard in AccessFillStrokeColor to avoid unsafe cast when color source is not SolidColor.
  src/pagx/PAGXNodeChannel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix review comments on Image.h thumbnail annotation, API return docs, reference lifetime, and RGBA short format.
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Image.h
  pagx/wechat/src/utils/StringParser.h
Owners: @domchen, @Hparty, @shlzxjp

fix: mark dirty for all ToTarget bindings to apply defaults on first draw.
  src/pagx/DataBindRuntime.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

fix: keep registerConverter public in internal header, remove duplicate declarations.
  src/pagx/DataConverterRegistry.h
Owners: @domchen, @Hparty, @shlzxjp

feat: add Enum and Trigger property types, rangeMapper and degsToRads converters, PAGComposition.viewModel().
  include/pagx/PAGComposition.h
  include/pagx/PAGViewModelValue.h
  include/pagx/nodes/ViewModelProperty.h
  src/pagx/DataBindRuntime.cpp
  src/pagx/DataConverterRegistry.cpp
  src/pagx/DataConverterRegistry.h
  src/pagx/PAGScene.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

feat: use PropertyData subclasses with type-based static_cast, add subclass reflection test.
  include/pagx/PropertyData.h
  src/pagx/PAGScene.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix OHOS deadlock when release() and OnSurfaceDestroyedCB race for the same mutex. (#3522)
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove docs directory from tracking and add it to gitignore.
  pagx/wechat/.gitignore
  pagx/wechat/docs/comment-bindding-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX HTML autotest fixture scope.
  resources/pagx_to_html/unit/composition_filter_size.pagx
  resources/pagx_to_html/unit/custom_cff_charset_strings.pagx
  resources/pagx_to_html/unit/drop_shadow_styles.pagx
  resources/pagx_to_html/unit/fixed_flex_item_scroll.pagx
  resources/pagx_to_html/unit/flex_child_layer_width.pagx
  resources/pagx_to_html/unit/glyph_run_embedded_font.pagx
  resources/pagx_to_html/unit/low_units_per_em_font.pagx
  resources/pagx_to_html/unit/mixed_glyph_run_fonts.pagx
  resources/pagx_to_html/unit/parent_child_drop_shadow.pagx
  resources/pagx_to_html/unit/rectangle_stroke_roundness.pagx
  resources/pagx_to_html/unit/rich_text_newline_group.pagx
  resources/pagx_to_html/unit/scroll_rect_flex_flow.pagx
  resources/pagx_to_html/unit/single_auto_size_glyph_run.pagx
  resources/pagx_to_html/unit/single_group_text_box.pagx
  resources/pagx_to_html/unit/uniform_gradient_text.pagx
  resources/pagx_to_html/unit/vertical_scroll_rect_height.pagx
  resources/pagx_to_html/unit/vertical_text_box_height.pagx
  src/pagx/html/HTMLWriterShape.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix PAGAnimator.start() missing onAnimationStart callback when animator duration scale is turned off. (#3523)
  android/libpag/src/main/java/org/libpag/PAGAnimator.java
Owners: @domchen, @Hparty, @shlzxjp

Fix iOS PAGView dealloc crash caused by race condition with animation thread (#3526)
  src/platform/ios/PAGView.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix OHOS deadlock when release() and OnSurfaceDestroyedCB race for the same mutex. (#3522)
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGAnimator.start() missing onAnimationStart callback when animator duration scale is turned off. (#3523)
  android/libpag/src/main/java/org/libpag/PAGAnimator.java
Owners: @domchen, @Hparty, @shlzxjp

Fix iOS PAGView dealloc crash caused by race condition with animation thread (#3526)
  src/platform/ios/PAGView.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix OHOS deadlock when release() and OnSurfaceDestroyedCB race for the same mutex. (#3522)
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix iOS PAGView dealloc crash caused by race condition with animation thread (#3526)
  src/platform/ios/PAGView.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGAnimator.start() missing onAnimationStart callback when animator duration scale is turned off. (#3523)
  android/libpag/src/main/java/org/libpag/PAGAnimator.java
Owners: @domchen, @Hparty, @shlzxjp

Fix iOS PAGView dealloc crash caused by race condition with animation thread (#3526)
  src/platform/ios/PAGView.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix OHOS deadlock when release() and OnSurfaceDestroyedCB race for the same mutex. (#3522)
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
