Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

remove redundant function.
  exporter/src/ui/ConfigModel.cpp
  exporter/src/ui/ConfigModel.h
Owners: @domchen, @Hparty, @shlzxjp

Fix compile error.
  vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Change "THL A29 Limited" in the template files to "Tencent".
  .idea/fileTemplates/includes/PAG File Header.h
  android/.idea/fileTemplates/includes/PAG File Header.h
  ios/.idea/fileTemplates/includes/PAG File Header.h
  mac/.idea/fileTemplates/includes/PAG File Header.h
  viewer/.idea/fileTemplates/includes/PAG File Header.h
  win/Win32Demo/Resource.h
  win/Win32Demo/WinPAGDemo.cpp
  win/Win32Demo/WinPAGDemo.h
  win/Win32Demo/framework.h
  win/Win32Demo/pag_engine/PAGEngine.cpp
  win/Win32Demo/pag_engine/PAGEngine.h
  win/Win32Demo/pag_engine/PAGEngineImp.cpp
  win/Win32Demo/pag_engine/PAGEngineImp.h
  win/Win32Demo/targetver.h
  win/Win32Demo/win32_example_window.cc
  win/Win32Demo/win32_example_window.h
  win/Win32Demo/win32_window.cc
  win/Win32Demo/win32_window.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Change "THL A29 Limited" in the template files to "Tencent". (#2919)
  .idea/fileTemplates/includes/PAG File Header.h
  android/.idea/fileTemplates/includes/PAG File Header.h
  ios/.idea/fileTemplates/includes/PAG File Header.h
  mac/.idea/fileTemplates/includes/PAG File Header.h
  viewer/.idea/fileTemplates/includes/PAG File Header.h
  win/Win32Demo/Resource.h
  win/Win32Demo/WinPAGDemo.cpp
  win/Win32Demo/WinPAGDemo.h
  win/Win32Demo/framework.h
  win/Win32Demo/pag_engine/PAGEngine.cpp
  win/Win32Demo/pag_engine/PAGEngine.h
  win/Win32Demo/pag_engine/PAGEngineImp.cpp
  win/Win32Demo/pag_engine/PAGEngineImp.h
  win/Win32Demo/targetver.h
  win/Win32Demo/win32_example_window.cc
  win/Win32Demo/win32_example_window.h
  win/Win32Demo/win32_window.cc
  win/Win32Demo/win32_window.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update vendor_tools dependency to latest commit.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update vendor_tools dependency to latest commit. (#2922)
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add warning and error page
  exporter/assets/images/export_wrong.png
  exporter/assets/images/exprot_warning.png
  exporter/assets/images/right_arrow.png
  exporter/assets/qml/AlertError.qml
  exporter/assets/qml/AlertWarning.qml
  exporter/assets/qml/ErrorTextArea.qml
  exporter/assets/qml/PAGListView.qml
  exporter/assets/qml/TextHelper.qml
  exporter/assets/res.qrc
  exporter/src/aecommand/AECommand.cpp
  exporter/src/ui/AlertInfoModel.cpp
  exporter/src/ui/AlertInfoModel.h
  exporter/src/ui/WindowManager.cpp
  exporter/src/ui/WindowManager.h
  exporter/src/utils/AEHelper.cpp
  exporter/src/utils/AEHelper.h
  exporter/src/utils/AlertInfo.cpp
  exporter/src/utils/AlertInfo.h
  exporter/src/utils/StringHelper.cpp
  exporter/src/utils/StringHelper.h
Owners: @domchen, @Hparty, @shlzxjp

Remove PAGImpl and PAGDiskCacheImpl wrapper layers
  src/platform/cocoa/PAG.m
  src/platform/cocoa/PAG.mm
  src/platform/cocoa/PAGDiskCache.h
  src/platform/cocoa/PAGDiskCache.mm
  src/platform/cocoa/private/PAGDiskCacheImpl.mm
  src/platform/cocoa/private/PAGFileImpl.mm
  src/platform/cocoa/private/PAGImpl.h
  src/platform/cocoa/private/PAGImpl.mm
Owners: @domchen, @Hparty, @shlzxjp

Remove PAGVideoDecoderImpl wrapper layer
  src/platform/cocoa/PAGVideoDecoder.m
  src/platform/cocoa/PAGVideoDecoder.mm
  src/platform/cocoa/private/PAGVideoDecoderImpl.h
Owners: @domchen, @Hparty, @shlzxjp

Remove PAGImageImpl wrapper layer.
  src/platform/cocoa/PAGFile.m
  src/platform/cocoa/PAGImage.h
  src/platform/cocoa/PAGImage.m
  src/platform/cocoa/PAGImage.mm
  src/platform/cocoa/private/PAGFileImpl.h
  src/platform/cocoa/private/PAGFileImpl.mm
  src/platform/cocoa/private/PAGImageImpl.h
  src/platform/cocoa/private/PAGImageLayerImpl.mm
Owners: @domchen, @Hparty, @shlzxjp

Remove PAGFontImpl wrapper layer.
  src/platform/cocoa/PAGFont.mm
  src/platform/cocoa/private/PAGFontImpl.h
  src/platform/cocoa/private/PAGFontImpl.mm
Owners: @domchen, @Hparty, @shlzxjp

Use Nearest as the texture filtering mode to avoid rendering blur when the image is not scaled.
  src/rendering/graphics/Canvas.h
Owners: @domchen, @Hparty, @shlzxjp

Remove PAGLayer and other sub-layers and classes associated with it.
  src/platform/cocoa/PAGComposition.m
  src/platform/cocoa/PAGComposition.mm
  src/platform/cocoa/PAGFile.m
  src/platform/cocoa/PAGFile.mm
  src/platform/cocoa/PAGImageLayer.m
  src/platform/cocoa/PAGImageLayer.mm
  src/platform/cocoa/PAGLayer.m
  src/platform/cocoa/PAGLayer.mm
  src/platform/cocoa/PAGShapeLayer.mm
  src/platform/cocoa/PAGSolidLayer.m
  src/platform/cocoa/PAGSolidLayer.mm
  src/platform/cocoa/PAGTextLayer.m
  src/platform/cocoa/PAGTextLayer.mm
  src/platform/cocoa/private/PAGCompositionImpl.h
  src/platform/cocoa/private/PAGCompositionImpl.mm
  src/platform/cocoa/private/PAGFileImpl.h
  src/platform/cocoa/private/PAGImageLayerImpl.h
  src/platform/cocoa/private/PAGLayer+Internal.h
  src/platform/cocoa/private/PAGLayerImpl.h
  src/platform/cocoa/private/PAGPlayerImpl.h
  src/platform/cocoa/private/PAGPlayerImpl.mm
  src/platform/cocoa/private/PAGShapeLayerImpl.h
  src/platform/cocoa/private/PAGShapeLayerImpl.mm
  src/platform/cocoa/private/PAGSolidLayerImpl.h
  src/platform/cocoa/private/PAGSolidLayerImpl.mm
  src/platform/cocoa/private/PAGTextLayerImpl.h
  src/platform/ios/private/PAGContentVersion.mm
  src/platform/ios/private/PAGDecoderImpl.h
  src/platform/ios/private/PAGDecoderImpl.mm
  src/platform/ios/private/PAGSurfaceImpl.h
  src/platform/ios/private/PAGSurfaceImpl.mm
  src/platform/mac/private/PAGSurfaceImpl.h
  src/platform/mac/private/PAGSurfaceImpl.mm
Owners: @domchen, @Hparty, @shlzxjp

Update implementation.
  src/rendering/graphics/Canvas.h
  src/rendering/graphics/Picture.cpp
  src/rendering/renderers/FilterRenderer.cpp
  src/rendering/utils/SamplingOptions.cpp
  src/rendering/utils/SamplingOptions.h
Owners: @domchen, @Hparty, @shlzxjp

update
  src/rendering/graphics/Canvas.h
  src/rendering/graphics/Picture.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update test cases.
  src/rendering/graphics/Canvas.h
  src/rendering/graphics/Picture.cpp
  src/rendering/renderers/FilterRenderer.cpp
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix format issues.
  src/rendering/graphics/Canvas.h
Owners: @domchen, @Hparty, @shlzxjp

Update test cases.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update implementation.
  src/rendering/graphics/Canvas.cpp
  src/rendering/graphics/Canvas.h
  src/rendering/graphics/Picture.cpp
  src/rendering/renderers/FilterRenderer.cpp
  src/rendering/utils/SamplingOptions.cpp
  src/rendering/utils/SamplingOptions.h
Owners: @domchen, @Hparty, @shlzxjp

update
  src/rendering/graphics/Canvas.h
Owners: @domchen, @Hparty, @shlzxjp

update
  src/rendering/renderers/FilterRenderer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use Nearest as the texture filtering mode to avoid rendering blur when the image is not scaled. (#2930)
  src/rendering/graphics/Canvas.cpp
  src/rendering/graphics/Canvas.h
  src/rendering/graphics/Picture.cpp
  src/rendering/renderers/FilterRenderer.cpp
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Use Nearest as the texture filtering mode to avoid rendering blur when the image is not scaled.
  src/rendering/graphics/Canvas.cpp
  src/rendering/graphics/Canvas.h
  src/rendering/graphics/Picture.cpp
  src/rendering/renderers/FilterRenderer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename package to public scope (libpag)
  web/package.json
  web/wechat/package.json
Owners: @domchen, @Hparty, @shlzxjp

Rename package to public scope (libpag) (#2932)
  web/package.json
  web/wechat/package.json
Owners: @domchen, @Hparty, @shlzxjp

Use JReleaser to publish libpag's AAR package in Maven Central Repository.
  android/build.gradle
  android/libpag/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

Fix some error.
  android/libpag/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

Add some text to explain why Forcing commons-compress version.
  android/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

Use JReleaser to publish libpag's AAR package in Maven Central Repository. (#2933)
  android/build.gradle
  android/libpag/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

Rename package to public scope (libpag) (#2932)
  web/package.json
  web/wechat/package.json
Owners: @domchen, @Hparty, @shlzxjp

Use JReleaser to publish libpag's AAR package in Maven Central Repository. (#2933)
  android/build.gradle
  android/libpag/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

Support PAGViewer auto installation, download, preview, add enhanced error detection
  exporter/CMakeLists.txt
  exporter/assets/qml/AlertWarning.qml
  exporter/assets/qml/ErrorTextArea.qml
  exporter/assets/qml/PAGListView.qml
  exporter/assets/qml/PAGViewerInstall.qml
  exporter/assets/res.qrc
  exporter/src/aecommand/AECommand.cpp
  exporter/src/platform/PAGViewerCheck.h
  exporter/src/platform/PAGViewerInstaller.cpp
  exporter/src/platform/PAGViewerInstaller.h
  exporter/src/platform/PlatformHelper.h
  exporter/src/platform/mac/PAGViewerCheck.mm
  exporter/src/platform/mac/PAGViewerInstallerMac.mm
  exporter/src/platform/mac/PlatformHelper.mm
  exporter/src/platform/win/PAGViewerCheck.cpp
  exporter/src/platform/win/PAGViewerInstallerWin.cpp
  exporter/src/platform/win/PlatformHelper.cpp
  exporter/src/ui/AlertInfoModel.cpp
  exporter/src/ui/AlertInfoModel.h
  exporter/src/ui/PAGViewerInstallModel.cpp
  exporter/src/ui/PAGViewerInstallModel.h
  exporter/src/ui/WindowManager.cpp
  exporter/src/ui/WindowManager.h
Owners: @domchen, @Hparty, @shlzxjp

Use new url to download PAGViewer in win platform, fix windows api error;
  exporter/src/platform/PAGViewerInstaller.cpp
  exporter/src/platform/PAGViewerInstaller.h
  exporter/src/platform/win/PAGViewerCheck.cpp
  exporter/src/platform/win/PAGViewerInstallerWin.cpp
  exporter/src/platform/win/PlatformHelper.cpp
  exporter/src/ui/PAGViewerInstallModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use new url to download PAGViewer in win platform, fix windows api error;
  exporter/src/utils/AEHelper.cpp
  exporter/src/utils/AEHelper.h
Owners: @domchen, @Hparty, @shlzxjp

Add automatic download and installation for PAGViewer
  exporter/CMakeLists.txt
  exporter/assets/qml/PAGViewerInstall.qml
  exporter/src/platform/PAGViewerCheck.h
  exporter/src/platform/PAGViewerInstaller.cpp
  exporter/src/platform/PAGViewerInstaller.h
  exporter/src/platform/PlatformHelper.h
  exporter/src/platform/mac/PAGViewerCheck.mm
  exporter/src/platform/mac/PAGViewerInstallerMac.mm
  exporter/src/platform/mac/PlatformHelper.mm
  exporter/src/platform/win/PAGViewerCheck.cpp
  exporter/src/platform/win/PAGViewerInstallerWin.cpp
  exporter/src/platform/win/PlatformHelper.cpp
  exporter/src/ui/PAGViewerInstallModel.cpp
  exporter/src/ui/PAGViewerInstallModel.h
Owners: @domchen, @Hparty, @shlzxjp

codeformat
  exporter/src/platform/PAGViewerInstaller.cpp
  exporter/src/platform/win/PAGViewerCheck.cpp
  exporter/src/platform/win/PlatformHelper.cpp
  exporter/src/ui/PAGViewerInstallModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Support more emsdk versions
  CMakeLists.txt
  web/script/plugin/replace-config.js
  web/script/rollup.config.dev.js
  web/script/rollup.config.js
  web/script/rollup.config.wx.dev.js
  web/script/rollup.config.wx.js
  web/script/setup.emsdk.js
  web/src/worker/client.ts
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add support for more emsdk versions. (#2946)
  CMakeLists.txt
  web/script/plugin/replace-config.js
  web/script/rollup.config.dev.js
  web/script/rollup.config.js
  web/script/rollup.config.wx.dev.js
  web/script/rollup.config.wx.js
  web/script/setup.emsdk.js
  web/src/worker/client.ts
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

fix some problems
  exporter/src/platform/PAGViewerCheck.h
  exporter/src/platform/PAGViewerInstaller.cpp
  exporter/src/platform/PAGViewerInstaller.h
  exporter/src/platform/PlatformHelper.h
  exporter/src/platform/mac/PAGViewerCheck.mm
  exporter/src/platform/mac/PAGViewerInstaller.mm
  exporter/src/platform/mac/PlatformHelper.mm
  exporter/src/platform/win/PAGViewerCheck.cpp
  exporter/src/platform/win/PAGViewerInstaller.cpp
  exporter/src/platform/win/PlatformHelper.cpp
  exporter/src/ui/PAGViewerInstallModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

fix some problems
  exporter/src/aecommand/AECommand.cpp
Owners: @domchen, @Hparty, @shlzxjp
