Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix null assertion in prepare() and resolve pending getFrameData promise on destroy.
  web/src/core/video-reader.ts
  web/src/wechat/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

Add tests for zero-size detection with leaf content check.
  resources/cli/layout_check_zero_size_deep_leaf.pagx
  resources/cli/layout_check_zero_size_no_leaf.pagx
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Replace Screenshot Checklist with Verify Checklist that prioritizes layout.xml bounds checking over visual inspection.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Extract CheckContentOriginOffset helper and align Group/TextBox attribute order with Exporter.
  src/cli/CommandVerify.cpp
  src/cli/FormatUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Split multi-contour glyphs and paths into separate shapes for WeChat and Keynote renderer compatibility.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Change bridgeContours default to true and flip CLI flag to --ppt-no-bridge-contours.
  .codebuddy/skills/pagx/references/cli.md
  include/pagx/PPTExporter.h
  src/cli/CommandExport.cpp
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add resources/cli pagx files to HTML comparison page with directory separators.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Unify padding semantics across Layer, Group, and TextBox (#3366)
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/guide.md
  .codebuddy/skills/pagx/references/patterns.md
  include/pagx/nodes/Group.h
  include/pagx/nodes/LayoutNode.h
  resources/cli/layout_check_background.pagx
  resources/cli/layout_check_zero_size_deep_leaf.pagx
  resources/cli/layout_check_zero_size_no_leaf.pagx
  resources/cli/lint_empty_nodes.pagx
  resources/layout/constraint_absolute.pagx
  resources/layout/constraint_padding.pagx
  resources/layout/container_compound.pagx
  resources/layout/container_edge_cases.pagx
  resources/layout/container_hug.pagx
  resources/layout/flex.pagx
  resources/layout/padding_unified.pagx
  spec/pagx.xsd
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/cli/CommandVerify.cpp
  src/cli/FormatUtils.cpp
  src/pagx/LayoutNode.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/nodes/Group.cpp
  src/pagx/nodes/Layer.cpp
  src/pagx/nodes/TextBox.cpp
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Wrap HTML output with DOCTYPE and body in GenerateComparisonPage.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add resolve conflict-skip tests, fix stale NodeType::Import reference, and supplement docs.
  .codebuddy/skills/pagx/references/guide.md
  .codebuddy/skills/pagx/references/patterns.md
  resources/cli/resolve_conflict_children.pagx
  resources/cli/resolve_conflict_contents.pagx
  src/cli/CommandVerify.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Extract import API from CommandImport for CommandResolve to reuse, eliminating duplicated format option parsing and dispatch logic.
  src/cli/CommandImport.cpp
  src/cli/CommandImport.h
  src/cli/CommandResolve.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename Build Directives to Import Directives across spec, XSD, and skill docs.
  .codebuddy/skills/pagx/references/guide.md
  spec/pagx.xsd
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Generalize import descriptions to not be SVG-specific across spec and skill docs.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/guide.md
  spec/pagx.xsd
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Replace Import node with inline SVG and Layer import attribute, add standalone pagx resolve command.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/guide.md
  .codebuddy/skills/pagx/references/patterns.md
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Import.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Node.h
  resources/cli/import_node_basic.pagx
  resources/cli/import_resolve_multi_layer.pagx
  spec/pagx.xsd
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/cli/CommandBounds.cpp
  src/cli/CommandExport.cpp
  src/cli/CommandFont.cpp
  src/cli/CommandImport.cpp
  src/cli/CommandLayout.cpp
  src/cli/CommandRender.cpp
  src/cli/CommandResolve.cpp
  src/cli/CommandResolve.h
  src/cli/CommandVerify.cpp
  src/cli/main.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  test/src/PAGXCliTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Note current SVG support in Build Directives description.
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Implement full viewBox transform in SVGImporter with external target size override for uniform scaling.
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/guide.md
  include/pagx/SVGImporter.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/cli/CommandImport.cpp
  src/cli/CommandImport.h
  src/cli/CommandResolve.cpp
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Recommend generating SVG at target dimensions to avoid scaling wrapper.
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Strengthen SVG dimension guidance to always match target size.
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Add padding-background pitfall to verify checklist and enforce layout.xml review in gate workflow.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Remove duplicate padding pitfall from patterns.md already covered in guide.md.
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Move pitfall scan from every gate to Step 4 only to reduce check fatigue and improve thoroughness.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Remove ineffective emphasis wording from pitfall scan step.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Remove red flags from verify checklist and simplify gate references.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Restore original verify checklist preamble wording.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Remove ineffective emphasis from gate headers.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify gate steps to action-only format with unified checklist reference.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Add re-run verify instruction after checklist fixes in gate steps.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Replace duplicated SVG options in resolve docs with reference to pagx import.
  .codebuddy/skills/pagx/references/cli.md
Owners: @domchen, @Hparty, @shlzxjp

Encapsulate Layer import fields into ImportDirective struct.
  include/pagx/nodes/Layer.h
  src/cli/CommandResolve.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove External SVG Import example from patterns.
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Add test for resolve with explicit Layer size triggering uniform scaling.
  resources/cli/resolve_scaled_layer.pagx
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Accept baseline updates for svg_complex test cases.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add verify diagnostic for stretch-fill elements affected by padding.
  resources/cli/layout_check_padding_stretch.pagx
  resources/cli/layout_check_padding_stretch_divider.pagx
  resources/cli/layout_check_padding_stretch_nested.pagx
  src/cli/CommandVerify.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix layout test files triggering new stretch-fill padding diagnostic.
  resources/layout/padding_unified.pagx
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix spec A.3 to reflect that inline svg is only supported in Layer, not Group.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Move InlinePathData from CommandResolve to CommandImport so path data is inlined at import time.
  src/cli/CommandImport.cpp
  src/cli/CommandResolve.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix extra column in Import Directives table row in guide.md.
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Remove unused Path.h include from CommandResolve.cpp.
  src/cli/CommandResolve.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace magic PI constant with pag::RadiansToDegrees() in CommandResolve.cpp.
  src/cli/CommandResolve.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix overly restrictive assertions in Resolve_LayerWithExplicitSizeScalesContent to match comment intent.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
