Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Prune hasExt propHeader bit, Tag versioning layer, revision history, and small redundancies.
  docs/pagx_to_pag_v2_changelog.md
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Update Appendix A line numbers to match current LayerBuilder.cpp.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Add single source of truth tables, purpose declaration, and navigation hints.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Fix PackedLayerPath uint64 overflow, tighten Encode contract, and strengthen boundary tests.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Add review reports from 5-expert panel and execution records for v2.20 revision.
  docs/review/FINAL_REPORT.md
  docs/review/MASTER_SUMMARY.md
  docs/review/STRUCTURE_MAP.md
  docs/review/architect_review.md
  docs/review/extensibility_review.md
  docs/review/maintainability_review.md
  docs/review/simplicity_review.md
  docs/review/testability_review.md
Owners: @domchen, @Hparty, @shlzxjp

Expand terminology index, add EncodeSession example and Property cheatsheet, trim redundant uniqueness annotations.
  docs/pagx_to_pag_v2_design.md
  docs/review/round2_comprehension.md
  docs/review/round2_executability.md
  docs/review/round2_security.md
  docs/review/round2_simplicity.md
Owners: @domchen, @Hparty, @shlzxjp

Archive round 1 review reports under round1_archive subdirectory.
  docs/review/round1_archive/FINAL_REPORT.md
  docs/review/round1_archive/MASTER_SUMMARY.md
  docs/review/round1_archive/STRUCTURE_MAP.md
  docs/review/round1_archive/architect_review.md
  docs/review/round1_archive/extensibility_review.md
  docs/review/round1_archive/maintainability_review.md
  docs/review/round1_archive/simplicity_review.md
  docs/review/round1_archive/testability_review.md
Owners: @domchen, @Hparty, @shlzxjp

Add development plan with milestones, AI prompt templates, risk matrix, and progress tracker.
  docs/development_plan.md
Owners: @domchen, @Hparty, @shlzxjp

Wire src/pagx/pag/ into PAG_BUILD_PAGX glob list and sync design doc to glob-based CMake convention.
  CMakeLists.txt
  docs/development_plan.md
  docs/pagx_to_pag_v2_design.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Phase 0: land Diagnostic header, FormatDiagnostic, DiagnosticCollector base, full limits table, and 12 unit assertions.
  docs/development_plan.md
  include/pagx/Diagnostic.h
  src/pagx/Diagnostic.cpp
  src/pagx/pag/DiagBuild.h
  src/pagx/pag/DiagnosticCollector.h
  src/pagx/pag/ErrorCode.h
  src/pagx/pag/limits.h
  test/src/pag/unit/DiagnosticTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 1: land TagCode enum, TagHeader codec, ValueCodec primitives plus safe length-prefixed wrappers, Property encoding, and CorruptBuilder.
  docs/development_plan.md
  src/pagx/pag/PropertyEncoding.h
  src/pagx/pag/TagCode.h
  src/pagx/pag/TagHeader.cpp
  src/pagx/pag/TagHeader.h
  src/pagx/pag/ValueCodec.h
  test/src/pag/support/CorruptBuilder.cpp
  test/src/pag/support/CorruptBuilder.h
  test/src/pag/unit/CorruptBuilderTest.cpp
  test/src/pag/unit/PropertyEncodingTest.cpp
  test/src/pag/unit/TagHeaderTest.cpp
  test/src/pag/unit/ValueCodecTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 2: land PAGDocument data model, BakeContext budgets, ResourceBaker intern, PAGDocumentEquals, and 4 StructBuilder fixtures.
  docs/development_plan.md
  src/pagx/pag/BakeContext.h
  src/pagx/pag/PAGDocument.h
  src/pagx/pag/ResourceBaker.cpp
  src/pagx/pag/ResourceBaker.h
  src/pagx/pag/ValueCodec.h
  test/src/pag/support/PAGDocumentEquals.cpp
  test/src/pag/support/PAGDocumentEquals.h
  test/src/pag/support/StructBuilders.cpp
  test/src/pag/support/StructBuilders.h
  test/src/pag/unit/BakeContextTest.cpp
  test/src/pag/unit/ResourceBakerTest.cpp
  test/src/pag/unit/StructBuildersTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 3: land Baker entry, LayerBaker generic fields with CompositionBaker, fluent PAGXBuilder, and 25 baker assertions.
  docs/development_plan.md
  src/pagx/pag/Baker.cpp
  src/pagx/pag/Baker.h
  src/pagx/pag/LayerBaker.cpp
  test/src/pag/support/PAGXBuilder.cpp
  test/src/pag/support/PAGXBuilder.h
  test/src/pag/unit/BakerEdgeCasesTest.cpp
  test/src/pag/unit/LayerBakerTest.cpp
  test/src/pag/unit/PAGXBuilderTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 4a: land Codec entry, DecodeContext, EncodeSession, plus FileHeader CompositionList Composition framework tags with 14 codec assertions.
  docs/development_plan.md
  src/pagx/pag/Codec.cpp
  src/pagx/pag/Codec.h
  src/pagx/pag/CodecTags.cpp
  src/pagx/pag/CodecTags.h
  src/pagx/pag/DecodeContext.h
  src/pagx/pag/EncodeSession.h
  src/pagx/pag/ValueCodec.h
  test/src/pag/unit/RoundTripTest.cpp
  test/src/pag/unit/TruncatedDecodeTest.cpp
  test/src/pag/unit/VersionRejectTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 4b: land ImageAssetTable FontAssetTable LayerBlock LayerTransform CompositionRefPayload with 9 codec assertions.
  docs/development_plan.md
  src/pagx/pag/Codec.cpp
  src/pagx/pag/CodecTags.cpp
  src/pagx/pag/CodecTags.h
  src/pagx/pag/CodecTagsLayer.cpp
  src/pagx/pag/CodecTagsResource.cpp
  src/pagx/pag/PropertyEncoding.h
  test/src/pag/unit/RoundTripTest.cpp
  test/src/pag/unit/TruncatedDecodeTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Upgrade tgfx to preserve live GPU cache entries across brief reference drops during zoom and pan.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Upgrade tgfx to extend per-frame diagnostic counters and GPU cache probes for WeChat scaling regression.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Phase 5a: land 11 VectorElement Tag codecs plus VectorPayload wrapper with 12 element assertions.
  docs/development_plan.md
  src/pagx/pag/CodecTagsLayer.cpp
  src/pagx/pag/ElementTags.cpp
  src/pagx/pag/ElementTags.h
  test/src/pag/unit/ElementTagsTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 5b: land tgfx Path codec (format=0 raw float) plus Property<Path> wiring with 8 path assertions.
  docs/development_plan.md
  src/pagx/pag/ElementTags.cpp
  src/pagx/pag/PathCodec.cpp
  src/pagx/pag/PathCodec.h
  src/pagx/pag/PropertyEncoding.h
  test/src/pag/unit/PathCodecTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 5c: land VectorBaker for 9 geometry elements plus mask two-pass pre-pass with 11 baker assertions.
  docs/development_plan.md
  src/pagx/pag/LayerBaker.cpp
  src/pagx/pag/VectorBaker.cpp
  src/pagx/pag/VectorBaker.h
  test/src/pag/unit/LayerBakerTest.cpp
  test/src/pag/unit/VectorBakerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 6: land PaintBaker with six ColorSource branches plus Fill Stroke element bakers and ShapeStyleData codec widening with 10 paint assertions.
  docs/development_plan.md
  src/pagx/pag/ElementTags.cpp
  src/pagx/pag/LayerBaker.cpp
  src/pagx/pag/PropertyEncoding.h
  src/pagx/pag/VectorBaker.cpp
  src/pagx/pag/VectorBaker.h
  test/src/pag/unit/PaintBakerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 7: land StyleFilterBaker with five filter and three style codecs plus LayerFilters LayerStyles containers and layerFlags sub-Tag presence bits with 11 assertions.
  docs/development_plan.md
  docs/pagx_to_pag_v2_design.md
  src/pagx/pag/CodecTagsLayer.cpp
  src/pagx/pag/ElementTags.cpp
  src/pagx/pag/LayerBaker.cpp
  src/pagx/pag/PropertyEncoding.h
  src/pagx/pag/StyleFilterBaker.cpp
  src/pagx/pag/StyleFilterBaker.h
  src/pagx/pag/StyleFilterTags.cpp
  src/pagx/pag/StyleFilterTags.h
  src/pagx/pag/TagCode.h
  test/src/pag/unit/StyleFilterBakerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 8: land TextBaker with GlyphRunBlob quantised codec plus pre-shaped and runtime-shaped Text TextPath TextModifier element codecs with 13 text assertions.
  docs/development_plan.md
  src/pagx/pag/ElementTags.cpp
  src/pagx/pag/GlyphRunCodec.cpp
  src/pagx/pag/GlyphRunCodec.h
  src/pagx/pag/PropertyEncoding.h
  src/pagx/pag/TextBaker.cpp
  src/pagx/pag/TextBaker.h
  src/pagx/pag/VectorBaker.cpp
  src/renderer/GlyphRunRenderer.cpp
  src/renderer/GlyphRunRenderer.h
  test/src/pag/unit/GlyphRunBlobCodecTest.cpp
  test/src/pag/unit/TextBakerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update tgfx to cap dirty tiles per frame for smoother zoom and pan.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Phase 10 plus 10.5: land PAGExporter atomic ToBytes and ToFile plus PAGLoader LoadFromBytes LoadFromFile and Peek plus LayerInflater image bytes release after decode with 15 assertions.
  docs/development_plan.md
  include/pagx/PAGExporter.h
  include/pagx/PAGLoader.h
  src/pagx/pag/LayerInflater.cpp
  src/pagx/pag/PAGExporter.cpp
  src/pagx/pag/PAGLoader.cpp
  test/src/pag/unit/PAGExporterTest.cpp
  test/src/pag/unit/PAGLoaderTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 11: extend pagx export CLI with pag format plus pag-strict flag plus PAGX_CLI_BINARY_PATH test injection with 3 smoke assertions.
  CMakeLists.txt
  docs/development_plan.md
  src/cli/CommandExport.cpp
  test/src/pag/unit/CommandExportPAGTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx dependency.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Simplify gradient definitions in pagx samples.
  spec/samples/color_source_coordinates.pagx
  spec/samples/game_hud.pagx
  spec/samples/nebula_cadet.pagx
  spec/samples/space_explorer.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add Dashed Divider pattern showing Path as the correct dashed line geometry.
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Trim the Dashed Divider note to a single paragraph.
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Accept screenshot baseline changes.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add Arrow Line pattern clarifying line-to-triangle base midpoint alignment.
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Trim the Arrow Line note to focus on the alignment rule and triangle formula.
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Fix Arrow Line sample to isolate the triangle Fill and tighten the canvas.
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Accept screenshot baseline for Arrow Line sample.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Accept screenshot baseline for spec_multiple_strokes and spec_stroke.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Phase 9.5: land support RenderUtil helper plus RenderUtil and InflaterRenderConsistency byte-exact smoke tests with 4 assertions.
  docs/development_plan.md
  test/src/pag/support/RenderUtil.cpp
  test/src/pag/support/RenderUtil.h
  test/src/pag/unit/InflaterRenderConsistencyTest.cpp
  test/src/pag/unit/RenderUtilTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 11.5: fix InvalidCompositionIndex 306 by accepting forward CompositionRef within the declared total composition count.
  src/pagx/pag/CodecTags.cpp
  src/pagx/pag/CodecTags.h
  src/pagx/pag/CodecTagsLayer.cpp
  test/src/pag/unit/Phase12ProbeTest.cpp
  test/src/pag/unit/RoundTripTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 11.6: fix Baker raw-vs-render field drift plus land LayerMaskRef codec so layout-aware samples survive round-trip.
  src/pagx/pag/CodecTagsLayer.cpp
  src/pagx/pag/LayerBaker.cpp
  src/pagx/pag/TextBaker.cpp
  src/pagx/pag/VectorBaker.cpp
  test/src/pag/support/PixelDiff.cpp
  test/src/pag/support/PixelDiff.h
  test/src/pag/support/SampleEnumerator.cpp
  test/src/pag/support/SampleEnumerator.h
  test/src/pag/unit/Phase12ProbeTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Phase 12: land RenderEquivalence baseline gate plus RenderCrossCheck PSNR probe plus libFuzzer Decode and Inflater harnesses with pagx-fuzz workflow.
  .github/workflows/pagx-fuzz.yml
  CMakeLists.txt
  docs/development_plan.md
  test/fuzz_corpus/decode_seeds/ellipse.pag
  test/fuzz_corpus/decode_seeds/fill.pag
  test/fuzz_corpus/decode_seeds/polystar.pag
  test/fuzz_corpus/decode_seeds/rectangle.pag
  test/fuzz_corpus/decode_seeds/stroke.pag
  test/src/pag/fuzz/decode_fuzz.cpp
  test/src/pag/fuzz/inflater_fuzz.cpp
  test/src/pag/fuzz/standalone_main.cpp
  test/src/pag/unit/RenderCrossCheckTest.cpp
  test/src/pag/unit/RenderEquivalenceTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp
