Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Load source lazily on tab activation and pin editor width to fix edit stalls
  viewer/assets/qml/MainForm.qml
  viewer/assets/qml/XMLSourceEditor.qml
  viewer/assets/translation/Chinese.ts
Owners: @domchen, @Hparty, @shlzxjp

Replace inaccurate moc rationale with a correct attribute regex description.
  viewer/src/rendering/pagx/XmlDocumentHighlighter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix editor loader race so a new load cancels an in-progress chunked load before starting.
  viewer/src/rendering/pagx/PAGXViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unused getText function and modified property from the source editor.
  viewer/assets/qml/XMLSourceEditor.qml
Owners: @domchen, @Hparty, @shlzxjp

Add missing Chinese translations for source editor loading and folded-line toast.
  viewer/assets/translation/Chinese.ts
Owners: @domchen, @Hparty, @shlzxjp

Use a function-form Keys handler instead of an arrow function in the editor.
  viewer/assets/qml/XMLSourceEditor.qml
Owners: @domchen, @Hparty, @shlzxjp

Advance the editor discard baseline on a successful Apply by clearing the undo history.
  viewer/src/rendering/pagx/PAGXViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Correct the loadEditorText comment to match the 16ms chunk timer interval.
  viewer/src/rendering/pagx/PAGXViewModel.h
Owners: @domchen, @Hparty, @shlzxjp

Block mouse events on the loading overlay so clicks do not reach the editor.
  viewer/assets/qml/XMLSourceEditor.qml
Owners: @domchen, @Hparty, @shlzxjp

Update the render-completed connect comment to reflect the deferred documentXml update.
  viewer/src/rendering/pagx/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix HTML export font contours and responsive sizing
  src/pagx/html/HTMLExporter.cpp
  src/pagx/utils/Woff2FontGenerator.cpp
  src/pagx/utils/Woff2FontGenerator.h
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove diagnostic logging and timing instrumentation from the XML highlighter.
  viewer/src/rendering/pagx/XmlDocumentHighlighter.cpp
  viewer/src/rendering/pagx/XmlDocumentHighlighter.h
Owners: @domchen, @Hparty, @shlzxjp

Remove diagnostic logging and the log helper from the source editor.
  viewer/assets/qml/XMLSourceEditor.qml
Owners: @domchen, @Hparty, @shlzxjp

Guard editor load against a non-PAGX view model on view-type switch.
  viewer/assets/qml/XMLSourceEditor.qml
Owners: @domchen, @Hparty, @shlzxjp

Reflow structural-pivot eligibility in HTMLAnimationBuilder to satisfy clang-format.
  src/pagx/html/importer/HTMLAnimationBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Prune redundant editor diagnostics, keeping only the load-completion summary logs.
  viewer/src/rendering/pagx/PAGXViewModel.cpp
  viewer/src/rendering/pagx/PAGXViewModel.h
Owners: @domchen, @Hparty, @shlzxjp

Disable the L tab shortcut whenever any text input holds focus.
  viewer/assets/qml/MainForm.qml
Owners: @domchen, @Hparty, @shlzxjp

Handle quoted angle brackets and attribute coloring for tags that wrap across lines.
  viewer/src/rendering/pagx/XmlDocumentHighlighter.cpp
  viewer/src/rendering/pagx/XmlDocumentHighlighter.h
Owners: @domchen, @Hparty, @shlzxjp

Remove the now-unused editorFocused property from the source editor.
  viewer/assets/qml/XMLSourceEditor.qml
Owners: @domchen, @Hparty, @shlzxjp

Refresh Chinese translation source locations with lupdate.
  viewer/assets/translation/Chinese.ts
Owners: @domchen, @Hparty, @shlzxjp

Support syncbase begin end negative begin repeatDur and to by animations.
  src/pagx/svg/SMILAnimationParser.cpp
  src/pagx/svg/SMILAnimationParser.h
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Apply clang-format to render frames command and parser context header.
  src/cli/CommandRenderFrames.cpp
  src/pagx/svg/SVGParserContext.h
Owners: @domchen, @Hparty, @shlzxjp

Reset the adaptive loader chunk size on each editor text load so a new large load starts from the default.
  viewer/src/rendering/pagx/PAGXViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Keep PAGX HTML exports at original size.
  src/pagx/html/HTMLExporter.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Bump tgfx to fix WeChat mini program crash during text rendering.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

add animation list
  include/pagx/PAGComposition.h
  include/pagx/PAGScene.h
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Node.h
  playground/pagx-player/package.json
  playground/pagx-player/src/editor/index.ts
  playground/pagx-player/src/incremental-apply.ts
  playground/pagx-player/src/player.ts
  playground/pagx-player/src/sm-blueprint.ts
  playground/pagx-player/src/styles.ts
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/server.js
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  src/pagx/PAGScene.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXNodeChannel.cpp
  src/pagx/nodes/Layer.cpp
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Document unbounded disposer queue tradeoff and keep onFreeSurface contract in GPUDrawable.
  src/platform/android/EGLResourceDisposer.h
  src/platform/android/GPUDrawable.cpp
Owners: @domchen, @Hparty, @shlzxjp

Restore mask reference layer visibility for consumers and skip orphan mask layers on export.
  src/pagx/PAGXOptimizer.cpp
  src/pagx/svg/SVGExporter.cpp
  src/pagx/svg/SVGImporter.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Enable LTO in WeChat wasm build to reduce load and render CPU time.
  pagx/wechat/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

Fix recursive masks and oversized CFF movements
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterFilter.cpp
  src/pagx/utils/Woff2FontGenerator.cpp
  src/pagx/utils/Woff2FontGenerator.h
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove generated HTML comment
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix use after free crash when video decoding races with decoder teardown on iOS
  src/platform/ios/PAGImageView.mm
  src/rendering/CompositionReader.cpp
  src/rendering/PAGDecoder.cpp
  src/rendering/sequences/BitmapSequenceReader.cpp
  src/rendering/sequences/DiskSequenceReader.cpp
  src/rendering/sequences/VideoReader.cpp
  test/src/PAGDiskCacheTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update screenshot baselines for HTML export rendering changes.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

fix bug
  playground/pagx-preview/static/index.css
  playground/pagx-preview/static/index.js
  playground/pagx-preview/static/mcp-widget.js
  playground/pagx-viewer/src/cpp/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

change 8001 back 8000
  playground/pagx-playground/static/server.js
Owners: @domchen, @Hparty, @shlzxjp

Fix exported HTML background blur when a contour mask differs from the layer box.
  src/pagx/html/HTMLStyleExtractor.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Give each decoder teardown reader thread its own PAGFile and correct the test docstring.
  test/src/PAGDiskCacheTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Declare DiskSequenceReader locker as the first data member so it outlives the members it protects.
  src/rendering/sequences/DiskSequenceReader.h
Owners: @domchen, @Hparty, @shlzxjp

Reword decoder teardown comments to accurately describe the strong reference and lock roles.
  src/platform/ios/PAGImageView.mm
  src/rendering/PAGDecoder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Preserve original text and font semantics when round-tripping PAGX text through HTML.
  src/pagx/html/HTMLBuilder.h
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLStyleCascade.h
  src/pagx/html/importer/HTMLTextFragmentBuilder.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.h
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
