Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Adapt OHOS JPAGImageView to new tgfx Window API with surface caching.
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGImageView.h
Owners: @domchen, @Hparty, @shlzxjp

Guard deprecated-literal-operator warning flag with compiler feature check.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix HTMLExporter DisplayP3 SVG color and image MIME detection and BlendFilter blend mode and clip-path Polystar and SolidColor cast safety.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Suppress deprecated-literal-operator warnings from nlohmann json header with pragma.
  CMakeLists.txt
  test/src/PAGCompareFrameTest.cpp
  test/src/PAGCompositionTest.cpp
  test/src/PAGFileTest.cpp
  test/src/PAGFilterTest.cpp
  test/src/PAGFontTest.cpp
  test/src/PAGFuzzTest.cpp
  test/src/PAGImageLayerTest.cpp
  test/src/PAGImageTest.cpp
  test/src/PAGLayerTest.cpp
  test/src/PAGPlayerTest.cpp
  test/src/PAGSimplePathTest.cpp
  test/src/PAGTextLayerTest.cpp
  test/src/PAGTimeStretchTest.cpp
  test/src/PAGTimeUtilsTest.cpp
  test/src/base/TestEnvironment.h
  test/src/utils/Baseline.cpp
  test/src/utils/Baseline.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add Windows ID3D11Texture2D HardwareBufferRef type to match tgfx definition.
  include/pag/gpu.h
Owners: @domchen, @Hparty, @shlzxjp

Update baseline version for C.5_pagx_features.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix SVG rect roundness clamp and CSS font-family quote escaping.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Adapt all platform GPUDrawable to tgfx Window interface migration (#3344)
  .codebuddy/rules/Test.md
  .codebuddy/skills/accept-baseline/SKILL.md
  .codebuddy/skills/cr/SKILL.md
  .codebuddy/skills/squash/SKILL.md
  .codebuddy/skills/squash/scripts/build_history.py
  .codebuddy/skills/squash/scripts/collect_commits.py
  .codebuddy/skills/squash/scripts/format_report.py
  .codebuddy/skills/squash/scripts/replace_branch.py
  .codebuddy/skills/squash/scripts/resolve_scope.py
  DEPS
  include/pag/gpu.h
  src/platform/android/GPUDrawable.cpp
  src/platform/ios/private/GPUDrawable.mm
  src/platform/mac/private/GPUDrawable.mm
  src/platform/ohos/GPUDrawable.cpp
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGImageView.h
  src/platform/qt/GPUDrawable.cpp
  src/platform/web/GPUDrawable.cpp
  src/platform/win/GPUDrawable.cpp
  test/baseline/version.json
  test/src/PAGCompareFrameTest.cpp
  test/src/PAGCompositionTest.cpp
  test/src/PAGFileTest.cpp
  test/src/PAGFilterTest.cpp
  test/src/PAGFontTest.cpp
  test/src/PAGFuzzTest.cpp
  test/src/PAGImageLayerTest.cpp
  test/src/PAGImageTest.cpp
  test/src/PAGLayerTest.cpp
  test/src/PAGPlayerTest.cpp
  test/src/PAGSimplePathTest.cpp
  test/src/PAGTextLayerTest.cpp
  test/src/PAGTimeStretchTest.cpp
  test/src/PAGTimeUtilsTest.cpp
  test/src/base/TestEnvironment.h
  test/src/utils/Baseline.cpp
  test/src/utils/Baseline.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove PAGX document serialization code that depends on RTTR.
  viewer/src/editing/serialize/PAGTree.cpp
  viewer/src/editing/serialize/PAGXDocumentSerializer.cpp
  viewer/src/editing/serialize/PAGXDocumentSerializer.h
Owners: @domchen, @Hparty, @shlzxjp

Remove PAGX RTTR header generation from CMake.
  viewer/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant writeLayerContents wrapper and inline its calls.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add unknown attribute validation to PAGX importer.
  spec/pagx.xsd
  src/pagx/AutoLayout.cpp
  src/pagx/PAGXImporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add script location to accept-baseline skill description.
  .codebuddy/skills/accept-baseline/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Fix issues after merging main branch.
  LAYER_CONSTRAINT_TEST_SCREENSHOTS.md
  PAGFullTest.json
  src/pagx/svg/SVGTextLayout.cpp
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Extract emitPaintOp to eliminate duplicated fill and stroke logic in PDF exporter.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Unify shape writing methods into a single writeShape with shared emitShapePath helper.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add comprehensive test cases for PAGX PDF export functionality.
  test/src/PAGXPDFTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add comprehensive test cases for PAGX PDF export functionality.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix code formatting in PAGX test files.
  test/src/PAGXCliTest.cpp
  test/src/PAGXPDFTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add unit tests for ExporterUtils and ComputeGlyphPaths.
  test/src/PAGXSVGTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix include order and code formatting in PAGXSVGTest.
  test/src/PAGXSVGTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update pagx_to_html.md to reflect actual HTMLExporter implementation.
  spec/pagx_to_html.md
Owners: @domchen, @Hparty, @shlzxjp

Fix code review issues including SVG DisplayP3 stop-color and LinearGradient CSS matrix degradation and Fill Stroke rendering model and safety hardening.
  include/pagx/HTMLExporter.h
  src/pagx/html/HTMLExporter.cpp
  src/pagx/utils/StringParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add HTML screenshot comparison test using Puppeteer headless Chrome.
  test/package-lock.json
  test/package.json
  test/screenshot.js
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix HTML screenshot test to compare against PAGX native rendering baseline.
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Split the pagx convert command into separate import and export commands.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  src/cli/CommandConvert.cpp
  src/cli/CommandExport.cpp
  src/cli/CommandExport.h
  src/cli/CommandImport.cpp
  src/cli/CommandImport.h
  src/cli/main.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Apply code formatting to CLI source and test files.
  src/cli/main.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add comprehensive CLI import and export test cases for help options and edge cases.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Apply code formatting to PAGXCliTest.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Deduplicate ReplaceExtension into CliUtils and extract ExportToSVG helper in CLI tests.
  src/cli/CliUtils.h
  src/cli/CommandExport.cpp
  src/cli/CommandImport.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Extract GetFileExtension utility and simplify format inference in CLI commands.
  src/cli/CliUtils.h
  src/cli/CommandExport.cpp
  src/cli/CommandImport.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant InferFormat function and simplify format inference in ParseOptions.
  src/cli/CommandImport.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add SVG marker support to SVG importer for arrow triangles in converted PAGX files.
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserContext.h
Owners: @domchen, @Hparty, @shlzxjp

Shorten path endpoints at markers to prevent stroke cap from overlapping marker triangles.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use marker refX as path shorten distance to fully prevent stroke overlap on marker triangles.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add half stroke-width to marker shorten distance to prevent dashed stroke from overlapping marker triangles.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use full stroke-width as marker shorten margin to eliminate antialiasing artifacts at dashed stroke and marker triangle edges.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Clear inherited stroke styles for marker children to prevent dashed stroke artifacts on marker triangles.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reduce marker path shorten distance to half stroke-width to eliminate gap between solid lines and marker triangles.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove path shortening for markers since marker layer renders on top of stroke layer.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp
