Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Enhance project save functionality with retry mechanism for file accessibility
  exporter/src/utils/AEHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues about exporter found in test
  exporter/src/export/ExportLayer.cpp
  exporter/src/ui/ProgressModel.cpp
  exporter/src/ui/exportPanel/CompositionsModel.cpp
  exporter/src/utils/AEHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Relax size check for encoded data in exporter
  exporter/src/export/PAGExport.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix multiple issues in AE export plugin: frame rate mismatch, incorrect gradient effects, and mask layer problems (#3096)
  exporter/src/export/ExportLayer.cpp
  exporter/src/export/PAGExport.cpp
  exporter/src/export/data/Shape.cpp
  exporter/src/export/data/TextProperty.cpp
  exporter/src/export/stream/StreamProperty.h
  exporter/src/export/stream/StreamValue.cpp
  exporter/src/export/stream/StreamValue.h
  exporter/src/utils/AEHelper.cpp
  exporter/src/utils/PAGExportSession.cpp
  exporter/src/utils/PAGExportSession.h
  exporter/src/utils/PAGExportSessionManager.cpp
  exporter/src/utils/PAGExportSessionManager.h
Owners: @domchen, @Hparty, @shlzxjp

Fix the display issue in viewer's layer editing tab
  exporter/assets/translation/Chinese.ts
  viewer/assets/qml/MainForm.qml
  viewer/assets/translation/Chinese.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix Chinese path display issue on Windows for viewer
  viewer/src/main.cpp
  viewer/src/rendering/PAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues found during test
  exporter/assets/translation/Chinese.ts
  exporter/src/export/ExportLayer.cpp
  exporter/src/export/Marker.cpp
  exporter/src/export/PAGExport.cpp
  exporter/src/ui/ProgressModel.cpp
  exporter/src/ui/exportPanel/CompositionsModel.cpp
  exporter/src/utils/AEHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Set minimum macOS version to 10.15 for exporter and viewer
  exporter/CMakeLists.txt
  viewer/CMakeLists.txt
  viewer/package/templates/Info.plist
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  exporter/src/export/ExportVerify.cpp
  exporter/src/ui/exportPanel/CompositionsModel.cpp
  exporter/src/ui/exportPanel/ExportPanelWindow.cpp
  exporter/src/ui/exportPanel/ExportPanelWindow.h
  exporter/src/ui/exportPanel/settings/ExportCompositionInfoModel.cpp
  exporter/src/ui/exportPanel/settings/ExportCompositionInfoModel.h
  exporter/src/ui/exportPanel/settings/ExportFrameImageProvider.cpp
  exporter/src/ui/exportPanel/settings/ExportImageLayerModel.cpp
  exporter/src/ui/exportPanel/settings/ExportImageLayerModel.h
  exporter/src/ui/exportPanel/settings/ExportTextLayerModel.cpp
  exporter/src/ui/exportPanel/settings/ExportTextLayerModel.h
Owners: @domchen, @Hparty, @shlzxjp

Fix a issue
  exporter/assets/translation/Chinese.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix the display issue in viewer's layer editing tab (#3112)
  viewer/assets/qml/MainForm.qml
  viewer/assets/translation/Chinese.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix Chinese path display issue on Windows for viewer (#3113)
  viewer/src/main.cpp
  viewer/src/rendering/PAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues about exporter
  exporter/src/platform/PlatformHelper.h
  exporter/src/platform/mac/PlatformHelper.mm
  exporter/src/platform/win/PlatformHelper.cpp
  exporter/src/ui/BaseWindow.cpp
  exporter/src/utils/AEHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised duirng code review
  exporter/src/ui/exportPanel/settings/ExportCompositionInfoModel.cpp
  exporter/src/ui/exportPanel/settings/ExportFrameImageProvider.cpp
  exporter/src/ui/exportPanel/settings/ExportFrameImageProvider.h
  exporter/src/ui/exportPanel/settings/ExportImageLayerModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update the macos package script of viewer
  viewer/package/build_mac.sh
  viewer/package/templates/PAGExporter.rsrc
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add scripts for managing Qt resources in Adobe plugins
  viewer/qttools/copy_qt_resource.sh
  viewer/qttools/delete_old_qt_resource.sh
  viewer/qttools/replace_qt_path.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  exporter/assets/translation/Chinese.ts
  exporter/src/export/ExportComposition.cpp
  exporter/src/export/ExportLayer.cpp
  exporter/src/export/PAGExport.cpp
  exporter/src/export/data/Effect.cpp
  exporter/src/export/data/ImageBytes.cpp
  exporter/src/export/data/LayerStyle.cpp
  exporter/src/export/data/Shape.cpp
  exporter/src/export/data/TextProperty.cpp
  exporter/src/export/sequence/BitmapSequence.cpp
  exporter/src/export/sequence/VideoSequence.cpp
  exporter/src/ui/ProgressModel.cpp
  exporter/src/utils/AEHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Enhance Qt resource management in installer scripts and improve logging
  viewer/qttools/copy_qt_resource.sh
  viewer/qttools/delete_old_qt_resource.sh
  viewer/qttools/replace_qt_path.sh
  viewer/src/platform/mac/PluginInstaller.mm
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add null checks for AE data retrieval interfaces in exporter (#3114)
  exporter/assets/translation/Chinese.ts
  exporter/src/export/ExportComposition.cpp
  exporter/src/export/ExportLayer.cpp
  exporter/src/export/Marker.cpp
  exporter/src/export/PAGExport.cpp
  exporter/src/export/data/Effect.cpp
  exporter/src/export/data/ImageBytes.cpp
  exporter/src/export/data/LayerStyle.cpp
  exporter/src/export/data/Shape.cpp
  exporter/src/export/data/TextProperty.cpp
  exporter/src/export/sequence/BitmapSequence.cpp
  exporter/src/export/sequence/VideoSequence.cpp
  exporter/src/ui/exportPanel/CompositionsModel.cpp
  exporter/src/utils/AEHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix exporter runtime issues after packaging (#3115)
  exporter/CMakeLists.txt
  exporter/src/platform/PlatformHelper.h
  exporter/src/platform/mac/PlatformHelper.mm
  exporter/src/platform/win/PlatformHelper.cpp
  exporter/src/ui/BaseWindow.cpp
  viewer/CMakeLists.txt
  viewer/package/build_mac.sh
  viewer/package/templates/Info.plist
  viewer/package/templates/PAGExporter.rsrc
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Implement H264EncoderTools installation with retry logic and enhance Qt resource management for PAGExporter
  viewer/src/platform/PluginInstaller.cpp
  viewer/src/platform/PluginInstaller.h
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

merge main
  exporter/CMakeLists.txt
  exporter/assets/translation/Chinese.ts
  exporter/src/export/ExportComposition.cpp
  exporter/src/export/ExportLayer.cpp
  exporter/src/export/Marker.cpp
  exporter/src/export/PAGExport.cpp
  exporter/src/export/data/Effect.cpp
  exporter/src/export/data/ImageBytes.cpp
  exporter/src/export/data/LayerStyle.cpp
  exporter/src/export/data/Shape.cpp
  exporter/src/export/data/TextProperty.cpp
  exporter/src/export/sequence/BitmapSequence.cpp
  exporter/src/export/sequence/VideoSequence.cpp
  exporter/src/platform/PlatformHelper.h
  exporter/src/platform/mac/PlatformHelper.mm
  exporter/src/platform/win/PlatformHelper.cpp
  exporter/src/ui/BaseWindow.cpp
  exporter/src/ui/exportPanel/CompositionsModel.cpp
  exporter/src/utils/AEHelper.cpp
  viewer/CMakeLists.txt
  viewer/assets/translation/Chinese.ts
  viewer/package/build_mac.sh
  viewer/package/templates/Info.plist
  viewer/package/templates/PAGExporter.rsrc
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

codeformat
  viewer/src/platform/PluginInstaller.h
Owners: @domchen, @Hparty, @shlzxjp

fix error
  viewer/src/audio/PAGAudioReader.cpp
  viewer/src/platform/PluginInstaller.h
Owners: @domchen, @Hparty, @shlzxjp

Fixed a compilation error when the PAG_USE_C option was enabled on Windows.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fixed a compilation error when the PAG_USE_C option was enabled on Windows (#3116)
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix the issue raised during code review
  exporter/src/ui/exportPanel/settings/ExportImageLayerModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add setting page of export panel window for exporter (#3110)
  exporter/assets/qml/CompositionListView.qml
  exporter/assets/qml/CompositionSettingPage.qml
  exporter/assets/qml/PlaceholderImageItem.qml
  exporter/assets/qml/PreCompositionItem.qml
  exporter/assets/qml/TextLayerItem.qml
  exporter/assets/qml/TimeStretchItem.qml
  exporter/assets/res.qrc
  exporter/assets/translation/Chinese.ts
  exporter/src/export/ExportVerify.cpp
  exporter/src/ui/exportPanel/CompositionsModel.cpp
  exporter/src/ui/exportPanel/ExportPanelWindow.cpp
  exporter/src/ui/exportPanel/ExportPanelWindow.h
  exporter/src/ui/exportPanel/ProgressListModel.cpp
  exporter/src/ui/exportPanel/settings/ExportCompositionInfoModel.cpp
  exporter/src/ui/exportPanel/settings/ExportCompositionInfoModel.h
  exporter/src/ui/exportPanel/settings/ExportFrameImageProvider.cpp
  exporter/src/ui/exportPanel/settings/ExportFrameImageProvider.h
  exporter/src/ui/exportPanel/settings/ExportImageLayerModel.cpp
  exporter/src/ui/exportPanel/settings/ExportImageLayerModel.h
  exporter/src/ui/exportPanel/settings/ExportTextLayerModel.cpp
  exporter/src/ui/exportPanel/settings/ExportTextLayerModel.h
  exporter/src/ui/exportPanel/settings/ExportTimeStretchModel.cpp
  exporter/src/ui/exportPanel/settings/ExportTimeStretchModel.h
Owners: @domchen, @Hparty, @shlzxjp

code format
  viewer/src/audio/PAGAudioReader.cpp
Owners: @domchen, @Hparty, @shlzxjp

merge main
  viewer/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

Ignore the .codebuddy folder in the root directory.
  .gitignore
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

fix windows error
  viewer/CMakeLists.txt
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

Enhance PluginInstaller with improved path handling and resource management
  viewer/qttools/copy_qt_resource.sh
  viewer/qttools/delete_old_qt_resource.sh
  viewer/qttools/replace_qt_path.sh
  viewer/src/platform/PluginInstaller.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refactor PluginInstaller to improve resource handling and exclude specific files and directories
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor PluginInstaller to streamline file and directory exclusion logic
  exporter/src/ui/exportPanel/ProgressListModel.cpp
  viewer/src/platform/PluginInstaller.h
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

merge main
  viewer/assets/translation/Chinese.ts
Owners: @domchen, @Hparty, @shlzxjp

merge main
  viewer/assets/translation/Chinese.ts
Owners: @domchen, @Hparty, @shlzxjp

Add null checks for compositionsModel in various components
  exporter/assets/qml/CompositionListView.qml
  exporter/assets/qml/ExportPanel.qml
  exporter/assets/qml/TimeStretchItem.qml
  exporter/src/export/Marker.cpp
  exporter/src/ui/PAGViewerInstallModel.cpp
  exporter/src/ui/WindowManager.cpp
  exporter/src/utils/StringHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

code format
  exporter/src/export/Marker.cpp
  exporter/src/ui/WindowManager.cpp
Owners: @domchen, @Hparty, @shlzxjp

resolve animator memory leak caused by orphaned AnimationTicker references
  ohos/.gitignore
  ohos/entry/oh-package-lock.json5
  ohos/entry/src/main/ets/pages/Index.ets
  ohos/hvigorfile.ts
  ohos/libpag/BuildProfile.ets
  ohos/libpag/oh-package-lock.json5
  ohos/local.signingconfig.sample.json
  ohos/oh-package-lock.json5
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGView.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
