Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Accept baseline test results.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add text decoration and image placeholder patterns to PAGX skill examples.
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Refine button example and rewrite pattern descriptions for clarity.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Improve Text::getAnchors() documentation with anchor semantics and emptiness condition.
  include/pagx/nodes/Text.h
Owners: @domchen, @Hparty, @shlzxjp

Refine image placeholder and button examples with proper sizing and padding.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Add error report for malformed GlyphRun bounds attribute in PAGX importer.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify Donut Chart example and explore gradient stroke variations.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant double-guard on TextBox wordWrap export.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline test results.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Revert Donut Chart gradient stroke back to solid color.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Fix Layer transform to combine x/y with matrix and correct ellipse trim path offset direction.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix RoundCorner, BlendFilter, mask defs, composition alpha, and continuous trim path bugs in HTMLExporter.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix RoundCorner, BlendFilter bounds, mask CSS inline SVG, composition alpha, and continuous trim ellipse offset.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix rich text rendering with shared TextBox, text modifier stroke effect, and rich text span detection.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix ApplyRoundCorner missing closing corner for closed contours like triangles.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix rich text inline layout, SVG arc near-full-circle parsing, and circular text path rendering.
  src/pagx/html/HTMLExporter.cpp
  src/pagx/svg/SVGPathParser.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix text path baseline offset to use path normal direction for correct reversed path rendering.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix reversed closed path text layout to place characters from the far end of the path.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix text letter-spacing being systematically too wide in HTML export.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix per-glyph rotation/scale/skew transform matrix order and anchor calculation in SVGTextLayout.
  src/pagx/svg/SVGTextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rewrite BuildPolystarPath to match native renderer algorithm with correct angle stepping and roundness curves.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify reversed text path to always use ReversePathData with forward layout matching native renderer.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix reversed text path baseline offset direction to place text on the outside of closed shapes.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix TrimPath separate fmod boundary and continuous wrap-around to match native renderer.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add bakeMask option to PPT exporter for exporting masked layers as editable vector shapes.
  .codebuddy/skills/pagx/references/cli.md
  include/pagx/PPTExporter.h
  src/cli/CommandExport.cpp
  src/pagx/ppt/PPTExporter.cpp
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Replace custom ZipWriter with minizip for compressed PPTX output.
  CMakeLists.txt
  src/pagx/ppt/PPTExporter.cpp
  vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Extract unified XMLBuilder into shared header to deduplicate XML generation across exporters.
  src/pagx/PAGXExporter.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/svg/SVGExporter.cpp
  src/pagx/xml/XMLBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Refactor PPT exporter to replace lambdas with named functions and improve resource management.
  src/pagx/PAGXExporter.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add PPTX export CLI tests and PAGX utils tests.
  test/src/PAGXCliTest.cpp
  test/src/PAGXUtilsTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add 42 PPTX export unit tests covering stroke dashes, text, paths, image patterns, and group alpha.
  test/src/PAGXPPTTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Reformat test source files for consistent code style.
  test/src/PAGXCliTest.cpp
  test/src/PAGXPPTTest.cpp
  test/src/PAGXUtilsTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix native text alignment and textBox wrapping in PPT export.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Split HTMLExporter.cpp into modular files for better maintainability.
  src/pagx/html/HTMLBuilder.h
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterColor.cpp
  src/pagx/html/HTMLWriterFilter.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterShape.cpp
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/html/HTMLWriterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Improve PPTX compatibility by adding missing parts and fixing XML output.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Clamp oversized slide dimensions to standard 16:9 for OOXML compliance.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reformat PPTExporter code style for consistency.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Wrap HTML output with DOCTYPE and body margin reset in BatchConvertAll test.
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove overflow:hidden from Composition container to prevent clipping scaled or rotated instances.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix Composition transform-origin and overflow clipping for scaled and rotated instances.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add transform-origin:0 0 to Group and Repeater transforms matching Layer behavior.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp
