Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Replace hex grid with three sets of parallel lines in B.4 for simpler full-canvas coverage.
  spec/samples/B.4_game_hud.pagx
Owners: @domchen, @Hparty, @shlzxjp

Use Group rotation instead of Layer for diagonal lines in B.4 hex grid.
  spec/samples/B.4_game_hud.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG radial gradient double-transform by keeping original center and radius and delegating gradientTransform entirely to the matrix field.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline changes after fixing SVG radial gradient double-transform.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove redundant disabled test cases from PAGXTest and clean up unused includes.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add English comments and destroyVerify decorator for pagx wechat module.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/binding.cpp
  pagx/wechat/ts/babel.ts
  pagx/wechat/ts/binding.ts
  pagx/wechat/ts/decorators.ts
  pagx/wechat/ts/interfaces.ts
  pagx/wechat/ts/pagx-view.ts
  pagx/wechat/ts/types.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix horizontal line center to cover full canvas width in B.4 hex grid.
  spec/samples/B.4_game_hud.pagx
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline changes for PAGXTest after removing disabled test cases.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add Section 15.9 decompose polygon grid into parallel line sets to SKILL.md.
  .codebuddy/skills/pagx-optimize/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Replace XML code examples in PAGX spec with updated sample files.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Fix incorrect sample link filenames in Chinese PAGX spec document.
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Rewrite Section 15.9 as a general rule to replace PathData with simple geometry combinations.
  .codebuddy/skills/pagx-optimize/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Update Appendix B with new sample content and add B.2-B.5 example sections.
  spec/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Replace XML code examples in Chinese PAGX spec with updated sample file content.
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Update B.1 code block and add B.2-B.5 example sections to Chinese PAGX spec.
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Add missing sample links for B.1 and update TextModifier link format in Chinese spec.
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Restructure pagx-optimize skill into three-layer progressive disclosure architecture.
  .codebuddy/skills/pagx-optimize/SKILL.md
  .codebuddy/skills/pagx-optimize/references/painter-merging.md
  .codebuddy/skills/pagx-optimize/references/performance.md
  .codebuddy/skills/pagx-optimize/references/resource-reuse.md
  .codebuddy/skills/pagx-optimize/references/structure-cleanup.md
Owners: @domchen, @Hparty, @shlzxjp

Replace std::stof and std::stoi with strtof and strtol to eliminate C++ exception usage.
  src/pagx/PAGXImporter.cpp
  src/pagx/SVGPathParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Eliminate Path-to-SVG-to-PathData roundtrip in FontEmbedder by converting tgfx::Path directly to PathData.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Cache glyph type classification to avoid redundant path and image lookups across three passes in FontEmbedder.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add Data::MakeAdopt to eliminate double allocation in Base64Decode.
  include/pagx/types/Data.h
  src/pagx/Base64.cpp
  src/pagx/Data.cpp
Owners: @domchen, @Hparty, @shlzxjp

Merge dual-pass loops into single pass for RSXform and Matrix positioning in FontEmbedder.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Optimize writeIndent and escapeXML in XMLBuilder to reduce memory reallocations.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove source file links from pagx spec keeping only preview links.
  spec/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify the text modifier processing example in section 5.5.1 to a non-previewable Group snippet and add TextLayout.
  spec/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Optimize string building in XML parser and add vector reserve in shapeText.
  src/pagx/PAGXImporter.cpp
  src/renderer/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove remaining source file links from pagx spec keeping only preview links.
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Embed sample code blocks for Text runtime layout and TextModifier into both EN and CN spec docs.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Fix three performance issues in SVGImporter.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Optimize ParseFloatList to parse floats directly from the source string instead of splitting into tokens first.
  src/pagx/StringParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Optimize Text example to demonstrate both point text and paragraph text with auto-wrap.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/5.2.5_text.pagx
Owners: @domchen, @Hparty, @shlzxjp

Replace lambda expressions with static functions and fix naming conventions.
  src/pagx/SVGPathParser.cpp
  src/pagx/StringParser.cpp
  src/pagx/svg/SVGImporter.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract ParseSemicolonSeparatedPoints helper to eliminate duplicated point-parsing code in parseGlyphRun.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Eliminate three code duplication issues in SVGImporter by extracting reusable helpers.
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserInternal.h
Owners: @domchen, @Hparty, @shlzxjp

Extract ExtractGradientStops to eliminate duplicated colorStops conversion in four gradient functions.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace hardcoded Pi values with pagx::Pi constant and change static constexpr to inline constexpr in MathUtil.h.
  src/pagx/MathUtil.h
  src/pagx/SVGPathParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix low-priority issues including overflow check and reserve and switch default and implicit conversion.
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PathData.cpp
  src/pagx/xml/XMLDOM.cpp
  src/pagx/xml/XMLParser.cpp
  src/renderer/FontEmbedder.cpp
  src/renderer/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove unnecessary XML comments from PAGX sample files while keeping useful math and coordinate explanations.
  spec/samples/3.2_document_structure.pagx
  spec/samples/3.3.3_color_source_coordinates.pagx
  spec/samples/3.3.3_conic_gradient.pagx
  spec/samples/3.3.3_diamond_gradient.pagx
  spec/samples/3.3.3_image_pattern.pagx
  spec/samples/3.3.3_linear_gradient.pagx
  spec/samples/3.3.3_radial_gradient.pagx
  spec/samples/3.3.4_composition.pagx
  spec/samples/3.3_resources.pagx
Owners: @domchen, @Hparty, @shlzxjp

Remove unnecessary XML comments from PAGX layer and feature sample files.
  spec/samples/4.2_layer.pagx
  spec/samples/4.3_layer_styles.pagx
  spec/samples/4.4_layer_filters.pagx
  spec/samples/4.5.1_scroll_rect.pagx
  spec/samples/4.5.2_masking.pagx
Owners: @domchen, @Hparty, @shlzxjp

Remove unnecessary XML comments from PAGX shape sample files.
  spec/samples/5.2.1_rectangle.pagx
  spec/samples/5.2.2_ellipse.pagx
  spec/samples/5.2.3_polystar.pagx
  spec/samples/5.2.4_path.pagx
  spec/samples/5.2.5_text.pagx
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
