Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Drop per-path full LRU evict log to avoid console flooding under tighter fullBudget.
  pagx/wechat/src/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove all text-rendering compensation hacks from HTMLWriter so CSS emission maps PAGX attributes directly to standard CSS without visual corrections.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/html/HTMLWriterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove FontFaceRule types and the --html-font CLI flag since pagx now reads system fonts automatically.
  .codebuddy/skills/pagx/references/cli.md
  include/pagx/HTMLExporter.h
  src/cli/CommandExport.cpp
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLWriterUtils.cpp
  test/gen_html_comparison.sh
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove the residual HTML output section from the pagx skill CLI reference.
  .codebuddy/skills/pagx/references/cli.md
Owners: @domchen, @Hparty, @shlzxjp

Remove font-face injection from HTML test wrapper and font download logic from screenshot.js.
  test/screenshot.js
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add HTML importer unit tests covering full html_subset spec.
  test/src/PAGXHTMLTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove all font-synthesis CSS overrides since the body-level font-synthesis:none and per-element font-synthesis-weight/style:auto pattern is redundant without custom font-face registration.
  src/cli/CommandExport.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Tighten HTML importer to match html_subset spec by warning on disallowed properties and reporting structural errors.
  spec/html_subset.md
  src/pagx/html/HTMLImporter.cpp
  src/pagx/html/HTMLParserContext.h
  src/pagx/html/HTMLStyleResolver.cpp
  test/src/PAGXHTMLTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add HTMLSubsetTransformer pre-pass to auto-normalize non-subset HTML before importing.
  CMakeLists.txt
  include/pagx/HTMLImporter.h
  include/pagx/HTMLSubsetTransformer.h
  spec/html_subset.md
  spec/html_subset.zh_CN.md
  src/cli/CommandImport.cpp
  src/cli/CommandImport.h
  src/pagx/html/HTMLCssCascade.cpp
  src/pagx/html/HTMLCssCascade.h
  src/pagx/html/HTMLImporter.cpp
  src/pagx/html/HTMLSubsetPropertyTable.cpp
  src/pagx/html/HTMLSubsetPropertyTable.h
  src/pagx/html/HTMLSubsetTransformer.cpp
  src/pagx/html/HTMLTransformContext.h
  src/pagx/html/HTMLTransformPasses.cpp
  src/pagx/html/HTMLTransformPasses.h
  test/src/PAGXHTMLSubsetTransformerTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Replace iframe columns with Puppeteer screenshot PNGs in the HTML comparison page and register Arial system fonts for pagx render.
  test/gen_html_comparison.py
  test/gen_html_comparison.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix TextBox word-wrap by detecting constraint and percent width sources in layoutW and layoutH.
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix HTML importer to keep block children inside text-leaf elements and accept rgb/rgba background colors.
  src/pagx/html/HTMLImporter.cpp
  src/pagx/html/HTMLStyleResolver.cpp
  test/src/PAGXHTMLTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rewrite TextPath plain-text export from per-character spans to SVG textPath elements.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Preserve case-sensitive SVG attributes when lowercasing HTML tags so inline SVG renders correctly.
  src/pagx/html/HTMLImporter.cpp
  test/src/PAGXHTMLTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Adjust SVG textLength for closed paths so the junction gap matches inter-character gaps.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use SVG text element for alphabetic baseline Text so position.y maps to the native SVG baseline.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add html-snapshot tool that renders JS-driven HTML in headless Chromium and emits subset snapshots for pagx import.
  tools/html-snapshot/.gitignore
  tools/html-snapshot/README.md
  tools/html-snapshot/html2pagx
  tools/html-snapshot/package.json
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Improve html-snapshot fidelity by handling asymmetric borders display contents form elements and SVG color cascade.
  tools/html-snapshot/README.md
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Add an HTML import pass that infers flex layout from absolutely positioned children.
  include/pagx/HTMLImporter.h
  include/pagx/HTMLSubsetTransformer.h
  spec/html_subset.md
  spec/html_subset.zh_CN.md
  src/cli/CommandImport.cpp
  src/cli/CommandImport.h
  src/pagx/html/HTMLImporter.cpp
  src/pagx/html/HTMLSubsetTransformer.cpp
  src/pagx/html/HTMLTransformPasses.cpp
  src/pagx/html/HTMLTransformPasses.h
  test/src/PAGXHTMLSubsetTransformerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add --no-infer-flex flag to html2pagx for toggling AbsoluteToFlexInference.
  tools/html-snapshot/html2pagx
Owners: @domchen, @Hparty, @shlzxjp

Use body size instead of documentElement to avoid inflating fixed-size HTML mocks to viewport.
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Reorder DOM children when inferring flex from absolute layout to preserve original visual order.
  src/pagx/html/HTMLTransformPasses.cpp
  test/src/PAGXHTMLSubsetTransformerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Walk children before parent when inferring flex so nested containers recover padding before stretch erases their width.
  src/pagx/html/HTMLTransformPasses.cpp
  test/src/PAGXHTMLSubsetTransformerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update tgfx to db519bd2e916aaf92560e7acc5d494f1866cdfd9.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Pin inline SVG width and height from measured rect so PAGX import preserves the on-screen size.
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Inline external image sources into data URIs so the captured snapshot renders without network access.
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Fold rounded image wrappers into a single layer so circular avatars no longer leak past their corners on import.
  spec/html_subset.md
  spec/html_subset.zh_CN.md
  src/pagx/html/HTMLImporter.cpp
  src/pagx/html/HTMLLayerBuilder.cpp
  src/pagx/html/HTMLParserContext.h
  test/src/PAGXHTMLTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix copy-initialization errors for explicit BackendRenderTarget and BackendSemaphore constructors.
  DEPS
  src/base/utils/TGFXCast.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refactor HTML importer to share helpers and trim narrative comments for clearer reuse.
  src/pagx/html/HTMLImporter.cpp
  src/pagx/html/HTMLLayerBuilder.cpp
  src/pagx/html/HTMLParserContext.h
  src/pagx/html/HTMLSubsetPropertyTable.cpp
  src/pagx/html/HTMLSubsetTransformer.cpp
  src/pagx/html/HTMLTransformPasses.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add single-threaded debug and release build scripts for pagx-viewer.
  playground/pagx-viewer/README.md
  playground/pagx-viewer/README.zh_CN.md
  playground/pagx-viewer/package.json
  playground/pagx-viewer/script/rollup.config.js
Owners: @domchen, @Hparty, @shlzxjp

Use SVG text elements for TextModifier gradient fills and remove bundled fallback fonts from comparison script.
  src/pagx/html/HTMLWriterText.cpp
  test/gen_html_comparison.sh
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update screenshot baselines after merging main and adding HTML export entries.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

test
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix null deref in SampleLinearGradient, NaN guard in BuildPolystarPath, ODR issue in BEZIER_KAPPA, remove dead passthrough functions, add rasterScale clamp and resourceDir validation.
  include/pagx/HTMLExporter.h
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterShape.cpp
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/html/HTMLWriterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Auto-apply layout in HTMLExporter, add errorMsg output parameter, and support wrapFullDocument option for complete HTML output.
  include/pagx/HTMLExporter.h
  src/cli/CommandExport.cpp
  src/pagx/html/HTMLExporter.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Extract ElementDispatchState struct to encapsulate writeElements and flattenGroup mutable state.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract buildTextBoxSpanStyle and EmitBetweenSpanBreaks helpers, move writeGroup and writeRepeater and writeComposition to HTMLWriterGroup.cpp.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterGroup.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract emitFlexContainerStyle and emitBlendAndIsolation from writeLayer to reduce function size.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix R2 review items: complete errorMsg coverage, add wrapFullDocument named constants, CLI unresolved imports check, and remove dead SampleLinearGradient.
  include/pagx/HTMLExporter.h
  src/cli/CommandExport.cpp
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix R3 review items: float precision in WrapAsHTMLDocument, relative path in ToFile, glyphData null check, Inf guard for copies and pointCount, and save-restore hasMerge in flattenGroup.
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLWriterGroup.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterShape.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
