Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Move line segments outside ellipse boundary in trim test case.
  resources/pagx_to_html/modifier_trim_continuous.pagx
Owners: @domchen, @Hparty, @shlzxjp

Remove single-contour path exception from high-complexity path warning in verify.
  src/cli/CommandVerify.cpp
  src/pagx/PAGXAnalyzer.cpp
  src/pagx/PAGXAnalyzer.h
Owners: @domchen, @Hparty, @shlzxjp

Fine-tune line segment X position to align with ellipse right edge.
  resources/pagx_to_html/modifier_trim_continuous.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix invisible shapes in continuous trim using stroke-dasharray 0 1 instead of 0.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Skip invisible shapes in continuous trim instead of using dasharray hiding.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterShape.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Improve modifier_trim_path test case layout with FlexBox alignment and spacing.
  resources/pagx_to_html/modifier_trim_path.pagx
Owners: @domchen, @Hparty, @shlzxjp

Adjust Offset 90deg ellipse vertical position for visual alignment.
  resources/pagx_to_html/modifier_trim_path.pagx
Owners: @domchen, @Hparty, @shlzxjp

Adjust Offset 90deg ellipse vertical position for visual alignment.
  resources/pagx_to_html/modifier_trim_path.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix TextBox text color loss by aligning Fill collection with painter model.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix ExtractMarkdownPatterns to skip XML declaration before detecting PAGX documents.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Accept new baselines for skill pattern samples with XML declarations.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix ExtractMarkdownPatterns to handle XML declarations in PAGX code blocks. (#3388)
  test/baseline/version.json
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Strengthen pagx skill verify workflow to require zero diagnostics before proceeding.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Move IsValidCustomDataKey from public API to internal utility.
  include/pagx/nodes/Node.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/utils/StringParser.cpp
  src/pagx/utils/StringParser.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add constraint attribute references to Rectangle, Ellipse, Group, and TextBox in Chinese spec.
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Improve coverage_gaps test case layout with FlexBox centering and spacing.
  resources/pagx_to_html/coverage_gaps.pagx
Owners: @domchen, @Hparty, @shlzxjp

Replace duplicate constraint attribute rows with section references in attributes.md and English spec.
  .codebuddy/skills/pagx/references/attributes.md
  spec/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Remove inline attribute lists from constraint attribute references in attributes.md.
  .codebuddy/skills/pagx/references/attributes.md
Owners: @domchen, @Hparty, @shlzxjp

Fix compilation errors.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix compilation errors.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Improve layer_transform_xy test case layout with FlexBox centering and spacing.
  resources/pagx_to_html/layer_transform_xy.pagx
Owners: @domchen, @Hparty, @shlzxjp

Adjust layer_transform_xy title and footer spacing for better readability.
  resources/pagx_to_html/layer_transform_xy.pagx
Owners: @domchen, @Hparty, @shlzxjp

Strengthen PAGX skill workflow, move IsValidCustomDataKey to internal, and simplify constraint attribute references. (#3389)
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/attributes.md
  include/pagx/nodes/Node.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/utils/StringParser.cpp
  src/pagx/utils/StringParser.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Move layer_transform_xy footer text up for better bottom margin.
  resources/pagx_to_html/layer_transform_xy.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix race condition in PAGDiskCacheTest by waiting for async file deletions.
  test/src/PAGDiskCacheTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix HTML text baseline offset by setting explicit line-height on standalone Text spans.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix race condition in PAGDiskCacheTest by waiting for async file deletions. (#3390)
  test/src/PAGDiskCacheTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix race condition in PAGDiskCacheTest by waiting for async file deletions. (#3390)
  test/src/PAGDiskCacheTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix race condition in PAGDiskCacheTest by waiting for async file deletions. (#3390)
  test/src/PAGDiskCacheTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix compilation errors.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix flex item Layers missing position:relative for child Layer positioning.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update test assertions to use render*() methods for reading layout results.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Make layout idempotent by separating input attributes from layout output.
  include/pagx/nodes/Ellipse.h
  include/pagx/nodes/Group.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/LayoutNode.h
  include/pagx/nodes/Path.h
  include/pagx/nodes/Polystar.h
  include/pagx/nodes/Rectangle.h
  include/pagx/nodes/Text.h
  src/pagx/LayoutNode.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/TextLayout.cpp
  src/pagx/TextLayoutParams.h
  src/pagx/nodes/Ellipse.cpp
  src/pagx/nodes/Group.cpp
  src/pagx/nodes/Layer.cpp
  src/pagx/nodes/Path.cpp
  src/pagx/nodes/Polystar.cpp
  src/pagx/nodes/Rectangle.cpp
  src/pagx/nodes/Text.cpp
  src/pagx/nodes/TextBox.cpp
  src/pagx/nodes/TextPath.cpp
  src/renderer/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Use fontLineHeight instead of fontSize for HTML text line-height.
  include/pagx/nodes/Text.h
  src/pagx/TextLayout.cpp
  src/pagx/TextLayout.h
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/nodes/Text.cpp
  src/pagx/nodes/TextBox.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix TextPath layout idempotency by using render methods instead of modifying path and baselineOrigin.
  include/pagx/nodes/TextPath.h
  src/pagx/nodes/TextPath.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Center alpha label text horizontally under corresponding rectangles.
  resources/pagx_to_html/layer_alpha.pagx
Owners: @domchen, @Hparty, @shlzxjp

Remove premature ceil rounding from measurement phase to fix oversized layout for non-integer bounds.
  src/pagx/LayoutNode.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update diamond gradient subtitle to reflect WebGL2 canvas rendering.
  resources/pagx_to_html/color_diamond_gradient.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add PAGXOptimizer to auto-simplify imported structures and improve verify accuracy.
  include/pagx/PAGXOptimizer.h
  src/cli/CommandResolve.cpp
  src/cli/CommandVerify.cpp
  src/pagx/PAGXOptimizer.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/utils/StringParser.cpp
  test/src/PAGXOptimizerTest.cpp
  test/src/PAGXSVGTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix TextBox text alignment by not baking textBounds offset into measuredX/Y.
  src/pagx/nodes/Text.cpp
  src/pagx/nodes/TextBox.cpp
Owners: @domchen, @Hparty, @shlzxjp
