Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Cancel pagxAnim animations before snapshot so reverse direction stops corrupting top and transform geometry.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp

Add scroll-reveal flag to walk pages before snapshot so reveal animations fire and lazy media loads.
  tools/html-snapshot/html2pagx
  tools/html-snapshot/lib/batch.ts
  tools/html-snapshot/lib/cli.ts
  tools/html-snapshot/lib/pipeline.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Align PAGX HTML rich text boundary.
  src/pagx/html/HTMLWriterLayer.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Flatten transparent pagx renders over white before diffing so unpainted regions stop registering as huge false diffs.
  tools/html-snapshot/eval/compare.js
Owners: @domchen, @Hparty, @shlzxjp

Fix build errors after merging main into feature branch.
  pagx/wechat/CMakeLists.txt
  src/pagx/PAGXDocument.cpp
  src/renderer/GlyphRunRenderer.cpp
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Update copy-files.js
  pagx/wechat/script/copy-files.js
Owners: @domchen, @Hparty, @shlzxjp

Pause CSS and WAAPI animations during baseline capture so finite ones no longer vanish before the seek loop runs.
  tools/html-snapshot/eval-animation/baseline-frames.js
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx to fix the OHNativeWindowBuffer leak in EGLHardwareTexture on OHOS.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to fix the OHNativeWindowBuffer leak in EGLHardwareTexture on OHOS.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Make PAGTimeline default to playing state and pause only when explicitly stopped.
  include/pagx/PAGTimeline.h
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Forward CSS flex-grow to subset HTML so flex items with flex: N grow on import.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp

Refactor PAGXView to use PAGScene with framebuffer 0 direct rendering.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Update timeline test cases to match default playing state.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Anchor live snapshot measurements to the body so right and bottom positioned elements no longer drift off the captured canvas.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix Android native memory leak when reusing one PAGView to load different VideoComposition PAG files.
  src/platform/android/HardwareDecoder.cpp
  src/platform/android/HardwareDecoder.h
  src/platform/android/JVideoSurface.cpp
  src/platform/android/JVideoSurface.h
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to latest commit.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Clarify Release doc comment to identify the OnFrameAvailableListener cycle.
  src/platform/android/JVideoSurface.h
Owners: @domchen, @Hparty, @shlzxjp

Replace AllowZoomBlur with TileUpdateMode and bump tgfx to latest commit.
  DEPS
  include/pagx/PAGDisplayOptions.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  src/pagx/PAGDisplayOptions.cpp
  src/renderer/ToTGFX.cpp
  src/renderer/ToTGFX.h
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Cover all PAGTileUpdateMode values in DisplayOptionsSetGet test.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Accept baseline updates for tgfx render output changes.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to b3f43154 and replace allowZoomBlur with TileUpdateMode enum.
  DEPS
  include/pagx/PAGDisplayOptions.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  src/pagx/PAGDisplayOptions.cpp
  src/renderer/ToTGFX.cpp
  src/renderer/ToTGFX.h
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Always deliver PAGView and PAGImageView listener callbacks on the UI thread to fix Swift 6 strict concurrency crash.
  src/platform/ios/PAGImageView.h
  src/platform/ios/PAGImageView.mm
  src/platform/ios/PAGView.h
  src/platform/ios/PAGView.mm
  src/platform/mac/PAGView.h
  src/platform/mac/PAGView.m
Owners: @domchen, @Hparty, @shlzxjp

Bump tgfx and replace AllowZoomBlur with TileUpdateMode (#3500)
  DEPS
  include/pagx/PAGDisplayOptions.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  src/pagx/PAGDisplayOptions.cpp
  src/renderer/ToTGFX.cpp
  src/renderer/ToTGFX.h
  test/baseline/version.json
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Clean up WeChat demo and update documentation.
  pagx/wechat/README.md
  pagx/wechat/README.zh_CN.md
  pagx/wechat/wx_demo/.gitignore
  pagx/wechat/wx_demo/BUILD.md
  pagx/wechat/wx_demo/QUICKSTART.md
  pagx/wechat/wx_demo/README.md
  pagx/wechat/wx_demo/pages/image-decode-poc/poc.js
  pagx/wechat/wx_demo/pages/image-decode-poc/poc.json
  pagx/wechat/wx_demo/pages/image-decode-poc/poc.wxml
  pagx/wechat/wx_demo/pages/image-decode-poc/poc.wxss
Owners: @domchen, @Hparty, @shlzxjp

Make PAGTimeline default to playing state and pause only when explicitly stopped.
  include/pagx/PAGTimeline.h
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update timeline test cases to match default playing state.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refactor PAGXView to use PAGScene with framebuffer 0 direct rendering.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

update tgfx
  playground/pagx-viewer/src/cpp/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Suppress animations and transforms during baseline canvas measurement so the body rect matches the snapshot path on pages whose 0 percent keyframe shifts content out of the body.
  tools/html-snapshot/eval-animation/baseline-frames.js
Owners: @domchen, @Hparty, @shlzxjp

Lift shared cross axis insets into flex container padding so symmetric child offsets surface as padding.
  src/pagx/html/importer/HTMLTransformPasses.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix HTML flex text height collapse.
  src/pagx/html/HTMLWriterLayer.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Render PAGX GlyphRun text with embedded fonts.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor pagx-viewer to use PAGScene runtime with default playing timelines. (#3498)
  include/pagx/PAGTimeline.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  src/pagx/runtime/PAGComposition.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Preserve fixed PAGX flex items in HTML.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Densely sample animation timelines and decimate per channel via RDP so eased curves render smoothly without file bloat.
  tools/html-snapshot/lib/animation-capture.ts
  tools/html-snapshot/test/animation-capture.test.js
Owners: @domchen, @Hparty, @shlzxjp

Stop writing animation delay twice for sampled libraries so anime.js and GSAP scenes no longer hide motion behind a doubled delay.
  tools/html-snapshot/lib/animation-capture.ts
Owners: @domchen, @Hparty, @shlzxjp

Address PR review comments on foreground placement, WOFF2 embedding, mask wrappers, font-family escaping, and tighten related tests.
  src/pagx/html/FontSignature.cpp
  src/pagx/html/FontSignature.h
  src/pagx/html/HTMLWriterGroup.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
  src/pagx/utils/Woff2FontGenerator.cpp
  test/src/PAGXSVGTest.cpp
  test/src/PAGXUtilsTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix invisible mask layers being merged with visible shape layers causing painters to disappear in SVG import.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Apply stroke-opacity to gradient strokes to match SVG rendering.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Honor SVG mask-type attribute to preserve mask alpha rendering on import.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
