Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Replace PAGImage include with forward declaration in Image.h.
  include/pagx/nodes/Image.h
Owners: @domchen, @Hparty, @shlzxjp

Defer tgfx::Image creation in MakeFromTexture to avoid nested context lock.
  include/pagx/PAGImage.h
  src/pagx/DataBindRuntime.cpp
  src/pagx/PAGImage.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Document GL-only constraint in MakeFromTexture.
  include/pagx/PAGImage.h
Owners: @domchen, @Hparty, @shlzxjp

Migrate ImagePatternMatrixCalculator from ImageResourceProvider to runtimeImage.
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.h
Owners: @domchen, @Hparty, @shlzxjp

Exclude Woff2FontGenerator from glob and add it alongside woff2 sources.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix mipmapping skip for CPU-decoded host images.
  src/renderer/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Use PAGImage::MakeFromTexture instead of tgfx::Image::MakeFrom in flushPendingUploads.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Migrate PAGXView from ImageResourceProvider to loadFileData API.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
Owners: @domchen, @Hparty, @shlzxjp

Delete PAGXImageResourceProvider.h after provider removal.
  pagx/wechat/src/PAGXImageResourceProvider.h
Owners: @domchen, @Hparty, @shlzxjp

Move context parameter to first position in Record function.
  include/pagx/PAGScene.h
  include/pagx/tgfx.h
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add Record function for deferred GPU submission in tgfx interop scenarios.
  include/pagx/PAGScene.h
  include/pagx/tgfx.h
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Unify MakeFrom naming and add Surface wrapping in pagx/tgfx.h.
  include/pagx/PAGSurface.h
  include/pagx/tgfx.h
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  src/pagx/DataBindRuntime.cpp
  src/pagx/PAGImage.cpp
  src/pagx/PAGSurface.cpp
  src/pagx/runtime/TGFSurfaceDrawable.cpp
  src/pagx/runtime/TGFSurfaceDrawable.h
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove unnecessary EXISTS check for woff2 dependency.
  CMakeLists.txt
  src/pagx/utils/Woff2FontGenerator.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add pagx/tgfx.h for pagx-tgfx interop and simplify PAGImage.
  include/pagx/tgfx.h
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  src/pagx/DataBindRuntime.cpp
  src/pagx/PAGImage.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Use Drawable base class directly instead of TGFSurfaceDrawable subclass.
  src/pagx/PAGSurface.cpp
  src/pagx/runtime/Drawable.h
  src/pagx/runtime/TGFSurfaceDrawable.cpp
  src/pagx/runtime/TGFSurfaceDrawable.h
Owners: @domchen, @Hparty, @shlzxjp

Move Drawable surface constructor to protected and add MakeFrom factory.
  src/pagx/PAGSurface.cpp
  src/pagx/runtime/Drawable.h
Owners: @domchen, @Hparty, @shlzxjp

Add null check for surface in Drawable::MakeFrom.
  src/pagx/runtime/Drawable.h
Owners: @domchen, @Hparty, @shlzxjp

Move Drawable::MakeFrom implementation to Drawable.cpp.
  src/pagx/runtime/Drawable.cpp
  src/pagx/runtime/Drawable.h
Owners: @domchen, @Hparty, @shlzxjp

Treat rttr headers as system include to unblock QT build with new clang.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Upgrade CI Qt version from 6.8.3 to 6.9.3 to drop obsolete AGL framework link.
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove dead LayerBuilder::MakeFromTGFXImage.
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Fix stale ownership comment in Drawable::MakeFrom.
  src/pagx/runtime/Drawable.h
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant GLTextureInfo assignments.
  pagx/wechat/src/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unused pagx/tgfx.h include from PAGXViewModelTest.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Move clearAllViewModelsDirty into renderTo to unify draw and Record paths.
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Treat rttr headers as system include to unblock QT build with new clang. (#3544)
  .github/workflows/build.yml
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use pagx::Record in demo and remove redundant present call.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace BackendRenderTarget with WebGLWindow Surface in demo.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Cache PAGSurface in demo and rebuild on resize.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Fix stale provider comment in convertFill.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix stale provider comment in convertStroke.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove deleted API reference from PAGXView comment.
  pagx/wechat/src/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Restore public API comments in PAGImage.h.
  include/pagx/PAGImage.h
Owners: @domchen, @Hparty, @shlzxjp

Refactor ImagePatternMatrixCalculator to eliminate duplicated legacy resolve path.
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.h
Owners: @domchen, @Hparty, @shlzxjp

Add tgfx interop guidance to MakeFromTexture and loadFileData docs.
  include/pagx/PAGImage.h
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Revert tgfx reference from loadFileData doc to keep public header clean.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

codeformat
  src/pagx/PAGScene.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix fdsan crash on PAGView surface detach by serializing flush with render lock.
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Fix HTML snapshot merging two adjacent text lines into one when glyph ink slightly overlaps the next line so wrapped text keeps its correct line breaks across browser engines.
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/test/merge-rects.test.js
Owners: @domchen, @Hparty, @shlzxjp

Auto refresh repositioned layers on notifyChange layout
  include/pagx/PAGXDocument.h
  src/pagx/PAGXDocument.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
