Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Apply PAGX review feedback: filter foreign nodes in notifyChange expose ownsNode add ChannelExists ListChannels and fix matrix rotation shortest arc.
  include/pagx/PAGComposition.h
  include/pagx/PAGTimeline.h
  include/pagx/PAGXDocument.h
  include/pagx/PAGXNodeChannel.h
  include/pagx/nodes/LayoutNode.h
  src/pagx/PAGScene.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXNodeChannel.cpp
  src/pagx/runtime/MatrixDecompose.h
  src/pagx/runtime/PAGComposition.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add runtime add and remove composition tests covering the syncChildren MakeChild path.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Move Qt and runtime dependency deployment into CMake POST_BUILD steps (#3506)
  exporter/CMakeLists.txt
  exporter/scripts/mac/debugbuild.sh
  exporter/src/platform/mac/PlatformHelper.mm
  viewer/CMakeLists.txt
  viewer/assets/translation/Chinese.ts
  viewer/package/build_mac.sh
  viewer/qttools/copy_qt_resource.sh
  viewer/qttools/replace_qt_path.sh
  viewer/src/platform/PluginInstaller.h
  viewer/src/platform/mac/PluginInstaller.mm
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix refreshLayerInPlace to unbind elements removed from Layer contents.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix old style/filter binding entries not cleaned up in refreshLayerInPlace.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Keep value-less form controls with box visuals so floating label inputs retain their underline.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp

Add tests for shared ColorSource/Image/Gradient unbind via notifyChange layer removal.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix potential crash by creating the macOS PAGView render surface on the main thread (#3504)
  src/platform/ios/PAGView.mm
  src/platform/ios/private/GPUDrawable.h
  src/platform/ios/private/GPUDrawable.mm
  src/platform/mac/PAGView.mm
  src/platform/mac/private/GPUDrawable.h
  src/platform/mac/private/GPUDrawable.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix duplicate reverse index entries and nested element unbind in content refresh.
  src/renderer/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Drop redundant thin-forwarders and consolidate gradient and shorthand parsing in the HTML importer.
  src/pagx/html/importer/HTMLDetail.cpp
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLTransformPasses.cpp
  src/pagx/html/importer/HTMLValueParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Accept updated PAGX test baselines for mipmapped image rendering.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix ImagePattern imageUsers repeat duplicate accumulation on refresh.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Speed up font and image saving and surface dropped network errors and harden the snapshot HTTP service.
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/dom-tags.ts
  tools/html-snapshot/lib/font-download.ts
  tools/html-snapshot/lib/icon-font.ts
  tools/html-snapshot/lib/image-download.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/package.json
  tools/html-snapshot/server.js
Owners: @domchen, @Hparty, @shlzxjp

Register readNum in the snapshot helper list so border and box reads stop throwing ReferenceError in the browser payload.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView.setPathAsync returning null composition for path loads.
  android/libpag/src/main/java/org/libpag/PAGImageView.java
Owners: @domchen, @Hparty, @shlzxjp

Lift shared leading inset onto the inferred flex container so absolute children with a uniform top offset render at the same vertical position they had in the source HTML.
  src/pagx/html/importer/HTMLTransformPasses.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add PAGX node channel reflection API, matrix animation, and in-place notifyChange refresh. (#3505)
  include/pagx/PAGComposition.h
  include/pagx/PAGLayer.h
  include/pagx/PAGScene.h
  include/pagx/PAGTimeline.h
  include/pagx/PAGXDocument.h
  include/pagx/PAGXNodeChannel.h
  include/pagx/nodes/Channel.h
  include/pagx/nodes/LayoutNode.h
  src/pagx/LayoutNode.cpp
  src/pagx/PAGLayer.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/PAGXChannelTable.h
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/PAGXNodeChannel.cpp
  src/pagx/animation/Channel.cpp
  src/pagx/runtime/KeyframeEvaluator.h
  src/pagx/runtime/MatrixDecompose.h
  src/pagx/runtime/MixUtils.h
  src/pagx/runtime/PAGComposition.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Inline readNum inside the pseudo-element materialiser and surface its failure so missing helpers no longer silently drop decorative boxes.
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/snapshot-runner.ts
Owners: @domchen, @Hparty, @shlzxjp

Eliminate composition promotion for layers with children.
  include/pagx/PAGComposition.h
  include/pagx/PAGLayer.h
  include/pagx/PAGScene.h
  src/pagx/PAGLayer.cpp
  src/pagx/PAGScene.cpp
  src/pagx/runtime/PAGComposition.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add ResourceCache route handler and response listener so the in-process cache can short-circuit repeat sub-resource fetches.
  tools/html-snapshot/lib/snapshot-runner.ts
Owners: @domchen, @Hparty, @shlzxjp

Add raw-cascade HTML importer tests for transform handlers CSS edges and Builder API lifting coverage to 91 percent.
  test/src/PAGXHTMLImporterTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Expand html-snapshot test suite with batch live-run browser-engine pipeline and download edge cases.
  tools/html-snapshot/test/batch.test.js
  tools/html-snapshot/test/browser-engine.test.js
  tools/html-snapshot/test/font-download.test.js
  tools/html-snapshot/test/http-utils.test.js
  tools/html-snapshot/test/icon-font.test.js
  tools/html-snapshot/test/image-download.test.js
  tools/html-snapshot/test/pipeline.test.js
Owners: @domchen, @Hparty, @shlzxjp

Fix plain container children not removed from tgfx tree on refresh.
  include/pagx/PAGComposition.h
  src/pagx/runtime/PAGComposition.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Use emscripten val for file path params in JS-facing PAGXView APIs.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Fix outdated comments in PAGLayer and PAGComposition headers.
  include/pagx/PAGComposition.h
  include/pagx/PAGLayer.h
Owners: @domchen, @Hparty, @shlzxjp

Fix resetTimelines not recursing through PAGLayer containers and remove dead code.
  include/pagx/PAGComposition.h
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix flex item matrix transform loss and union boolean multi-contour winding.
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add test for resetTimelines recursion through PAGLayer containers.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

fix(web): clear listener registry in removeListener to fix memory leak
  web/src/utils/video-listener.ts
Owners: @domchen, @Hparty, @shlzxjp

Introduce forEachComposition traversal to replace resetTimelinesInDescendants.
  include/pagx/PAGComposition.h
  include/pagx/PAGLayer.h
  src/pagx/PAGLayer.cpp
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Preserve scroll clipped flex item height.
  src/pagx/html/HTMLWriterLayer.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove CompositionVisitor typedef, use raw function pointer in forEachComposition.
  include/pagx/PAGComposition.h
  include/pagx/PAGLayer.h
  src/pagx/PAGLayer.cpp
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

update baseline
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Strip source maps from html-snapshot dist and node_modules during npm build to slim the published package.
  cli/npm/scripts/build-html-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Replace the explicit HTML importer source list with a recursive glob so new files are picked up automatically.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Move HTMLSubsetTransformer header into the importer internals so it is no longer part of the public include API.
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLSubsetTransformer.cpp
  src/pagx/html/importer/HTMLSubsetTransformer.h
  src/pagx/html/importer/HTMLTransformContext.h
  test/src/PAGXHTMLImporterTest.cpp
  test/src/PAGXHTMLSubsetTransformerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Merge the html-to-pagx skill into the pagx skill so users have a single entry point for both authoring and HTML conversion.
  .codebuddy/skills/html-to-pagx/SKILL.md
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/authoring-html.md
  .codebuddy/skills/pagx/references/pipeline.md
  .codebuddy/skills/pagx/scripts/setup.sh
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Preserve measured sizes in HTML export.
  src/pagx/html/HTMLWriterLayer.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

fix(web): revoke object URL on VideoReader destroy to free mp4 blob
  web/src/core/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

Merge HTMLSubsetTransformer tests into HTMLImporterTest so all importer tests live in a single file.
  test/src/PAGXHTMLImporterTest.cpp
  test/src/PAGXHTMLSubsetTransformerTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
