Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix shared PathData broken by coordinate localization and accept baseline changes.
  src/cli/CommandOptimize.cpp
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Optimize C.6 space explorer and restore lost astronaut elements.
  spec/samples/C.6_space_explorer.pagx
Owners: @domchen, @Hparty, @shlzxjp

Re-merge astronaut leg groups and accept baseline change for C.6 space explorer.
  spec/samples/C.6_space_explorer.pagx
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reorganize PAGX skill references with positive rules and unified icon design guidelines.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Deduplicate PAGX skill references by removing content already covered in spec-essentials and attributes.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Rename Essential Rules section to Practical Pitfall Patterns to match file description.
  .codebuddy/skills/pagx/references/design-patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Replace ffaudio with ffmovie for PAGExporter audio encoding and update packaging scripts to share library with PAGViewer.
  exporter/CMakeLists.txt
  exporter/assets/qml/ExportCompositionsProgress.qml
  exporter/src/export/sequence/AudioSequence.cpp
  exporter/vendor/ffaudio/include/ffaudio.h
  exporter/vendor/ffaudio/mac/arm64/libffaudio.dylib
  exporter/vendor/ffaudio/mac/x64/libffaudio.dylib
  exporter/vendor/ffaudio/win/x64/ffaudio.dll
  exporter/vendor/ffaudio/win/x64/ffaudio.lib
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
  viewer/qttools/copy_qt_resource.sh
  viewer/src/platform/win/PluginInstaller.cpp
  viewer/vendor/ffmovie/include/ffavc.h
  viewer/vendor/ffmovie/include/ffmovie/movie.h
  viewer/vendor/ffmovie/mac/arm64/libffmovie.dylib
  viewer/vendor/ffmovie/mac/x64/libffmovie.dylib
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix comment numbering in build_mac.sh and format issue in movie.h.
  viewer/package/build_mac.sh
  viewer/vendor/ffmovie/include/ffmovie/movie.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix spec preview buttons using wrong URL parameter for playground.
  spec/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Optimize C.7 app icons sample with Composition reuse and merged adjacent Path nodes.
  spec/samples/C.7_app_icons.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix pagx optimize incorrectly removing text layers as off-canvas by registering system fonts for text shaping and computing bounds in root coordinate space.
  resources/cli/optimize_localize_skip_matrix.pagx
  src/cli/CommandBounds.cpp
  src/cli/CommandOptimize.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add pagx render output convention to cli.md allowing same-directory output for crop variants.
  .codebuddy/skills/pagx/references/cli.md
Owners: @domchen, @Hparty, @shlzxjp

Add component-tree layer grouping rules to PAGX skill docs and reorganize Appendix C samples accordingly.
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/C.1_complete_example.pagx
  spec/samples/C.2_app_icons.pagx
  spec/samples/C.2_rpg_character_panel.pagx
  spec/samples/C.3_nebula_cadet.pagx
  spec/samples/C.4_game_hud.pagx
  spec/samples/C.5_pagx_features.pagx
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Clarify auto-commit rule to cover all changes caused by the session including deletions and formatting.
  .codebuddy/rules/Git.md
Owners: @domchen, @Hparty, @shlzxjp

Fix incorrect Group merge in CoinChip and update C.3_nebula_cadet baseline.
  spec/samples/C.3_nebula_cadet.pagx
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refine PAGX skill reference docs with generic terms and explicit links.
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Replace unconditional detail removal rule with size-aware evaluation guidance.
  .codebuddy/skills/pagx/references/design-patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Add comprehensive lint hints with automated tests for PAGX CLI optimize command.
  DEPS
  resources/cli/lint_c10_complex_path.pagx
  resources/cli/lint_c11_low_opacity.pagx
  resources/cli/lint_c13_simple_rect_mask.pagx
  resources/cli/lint_c6_high_repeater.pagx
  resources/cli/lint_c6_nested_repeater.pagx
  resources/cli/lint_c7_high_blur.pagx
  resources/cli/lint_c8_stroke_align.pagx
  resources/cli/lint_c9_dashed_stroke.pagx
  src/cli/CommandOptimize.cpp
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix extracted composition bounds by offsetting gradient coordinates and including stroke width.
  src/cli/CommandOptimize.cpp
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix justify gap count mismatch between logical and visual order in BiDi mixed lines.
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix comment numbering in build_mac.sh and format issue in movie.h.
  viewer/package/build_mac.sh
  viewer/vendor/ffmovie/include/ffmovie/movie.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Replace ffaudio with ffmovie for PAGExporter audio encoding and update packaging scripts to share library with PAGViewer.
  exporter/CMakeLists.txt
  exporter/assets/qml/ExportCompositionsProgress.qml
  exporter/src/export/sequence/AudioSequence.cpp
  exporter/vendor/ffaudio/include/ffaudio.h
  exporter/vendor/ffaudio/mac/arm64/libffaudio.dylib
  exporter/vendor/ffaudio/mac/x64/libffaudio.dylib
  exporter/vendor/ffaudio/win/x64/ffaudio.dll
  exporter/vendor/ffaudio/win/x64/ffaudio.lib
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
  viewer/qttools/copy_qt_resource.sh
  viewer/src/platform/win/PluginInstaller.cpp
  viewer/vendor/ffmovie/include/ffavc.h
  viewer/vendor/ffmovie/include/ffmovie/movie.h
  viewer/vendor/ffmovie/mac/arm64/libffmovie.dylib
  viewer/vendor/ffmovie/mac/x64/libffmovie.dylib
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Assign empty line height to the newline that created it instead of the one that ends it.
  resources/text/text_box_layout.pagx
  src/renderer/TextLayout.cpp
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Enable JPEG and PNG decoding support in playground build.
  playground/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

Add bot-review mode for CI/CD non-interactive PR code review.
  .codebuddy/skills/cr/SKILL.md
  .codebuddy/skills/cr/references/bot-review.md
Owners: @domchen, @Hparty, @shlzxjp

Update ffmovie binaries for Windows x64.
  viewer/vendor/ffmovie/win/x64/ffmovie.dll
  viewer/vendor/ffmovie/win/x64/ffmovie.lib
Owners: @domchen, @Hparty, @shlzxjp

Update ffmovie binaries for Windows x64.
  viewer/vendor/ffmovie/win/x64/ffmovie.dll
  viewer/vendor/ffmovie/win/x64/ffmovie.lib
Owners: @domchen, @Hparty, @shlzxjp

Fix reviewer output format and add verifier completion signal instruction.
  .codebuddy/skills/cr/references/bot-review.md
Owners: @domchen, @Hparty, @shlzxjp

Fix codeformat script for PEP 668 and apply code formatting.
  codeformat.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add npm package config and GitHub Actions workflow for pagx CLI release.
  .github/workflows/release-cli.yml
  cli/npm/package.json
  cli/npm/pagx.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix codeformat script for PEP 668 and apply code formatting. (#3299)
  codeformat.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use platform subdirectories for npm package binaries and fix cmake target name.
  .github/workflows/release-cli.yml
  cli/npm/pagx.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Read CLI version from source code instead of requiring manual input.
  .github/workflows/release-cli.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Manage CLI version in package.json and inject via CMake at build time.
  .github/workflows/release-cli.yml
  CMakeLists.txt
  cli/npm/README.md
  cli/npm/package.json
  src/cli/main.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Expand CLI npm README with PAGX introduction and full command reference.
  cli/npm/README.md
Owners: @domchen, @Hparty, @shlzxjp

Switch skill CLI reference from local build to npm global install with version check.
  .codebuddy/skills/pagx/references/cli.md
  .gitignore
  cli/npm/README.md
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Extract minimum version to a single variable in CLI setup script.
  .codebuddy/skills/pagx/references/cli.md
Owners: @domchen, @Hparty, @shlzxjp

Optimize exporter window raise logic and drag behavior.
  exporter/assets/qml/ExportCompositionsProgress.qml
  exporter/assets/qml/ExportPanel.qml
  exporter/assets/qml/PAGWindow.qml
Owners: @domchen, @Hparty, @shlzxjp

Optimize exporter window raise logic and drag behavior.
  exporter/assets/qml/ExportCompositionsProgress.qml
  exporter/assets/qml/ExportPanel.qml
  exporter/assets/qml/PAGWindow.qml
Owners: @domchen, @Hparty, @shlzxjp

Update pag.art and pag.qq.com domains to pag.io.
  exporter/assets/qml/PlaceholderImageItem.qml
  exporter/assets/qml/TextLayerItem.qml
  exporter/src/platform/PAGViewerInstaller.h
  exporter/src/ui/AlertInfoModel.h
  viewer/assets/qml/Main.qml
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
  viewer/package/templates/PagAppcast.xml
  viewer/package/templates/windows-setup.iss
  viewer/src/maintenance/PAGCheckUpdateModel.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
