Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Upgrade pagx cli version to 0.3.22 (#3447)
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Render CSS border-triangle hack elements as inline SVG polygons in the HTML snapshot so triangles survive PAGX import instead of becoming colored rectangles.
  tools/html-snapshot/lib/browser-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Fix tsc TS2307 in single-threaded build by routing wasm glue via pagx-glue alias.
  playground/pagx-viewer/package.json
  playground/pagx-viewer/script/rollup.config.js
  playground/pagx-viewer/src/ts/pagx.ts
  playground/pagx-viewer/tsconfig.json
  playground/pagx-viewer/tsconfig.type.json
  playground/pagx-viewer/tsconfig.type.st.json
Owners: @domchen, @Hparty, @shlzxjp

Copy wasm symbol map to lib/ alongside the bundle for stack-trace symbolization.
  playground/pagx-viewer/script/rollup.config.js
Owners: @domchen, @Hparty, @shlzxjp

Rename html2pagx pagx and png outputs without the subset prefix and add an option to skip writing the subset html file.
  tools/html-snapshot/README.md
  tools/html-snapshot/html2pagx
Owners: @domchen, @Hparty, @shlzxjp

Align inline text spans with sibling icons inside flex containers when exporting HTML subset.
  tools/html-snapshot/lib/browser-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Fix renderThread leak, add reentrancy guard and network timeouts.
  viewer/src/maintenance/PAGCheckUpdateModel.cpp
  viewer/src/maintenance/PAGCheckUpdateModel.h
  viewer/src/maintenance/PAGNetworkFetcher.cpp
  viewer/src/rendering/ContentView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add --html-snapshot option to pagx import for pre-processing JS-driven HTML pages through the headless snapshot tool.
  src/cli/CommandImport.cpp
  src/cli/CommandImport.h
  tools/html-snapshot/lib/cli.js
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Generalize User-permission plugin install and rename isFirstWindow to shouldRunStartupTasks.
  viewer/assets/qml/Main.qml
  viewer/src/platform/PluginInstaller.h
  viewer/src/platform/win/PluginInstaller.cpp
  viewer/src/rendering/PAGWindow.cpp
Owners: @domchen, @Hparty, @shlzxjp

update
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

update
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add browser bundle build for html-snapshot so the snapshot helpers can run in a page without Node or puppeteer.
  tools/html-snapshot/.gitignore
  tools/html-snapshot/README.md
  tools/html-snapshot/build-browser-bundle.js
  tools/html-snapshot/lib/browser-snapshot.js
  tools/html-snapshot/package.json
Owners: @domchen, @Hparty, @shlzxjp

Render CSS pseudo-element content like icon-font glyphs in the HTML snapshot so they survive PAGX import instead of disappearing.
  tools/html-snapshot/lib/browser-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to latest commit. (#3450)
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Change default html2pagx render scale to 1 so generated PNG matches the page's native pixel size by default.
  tools/html-snapshot/README.md
  tools/html-snapshot/html2pagx
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix single-threaded build types step and ship wasm symbol map (#3448)
  playground/pagx-viewer/package.json
  playground/pagx-viewer/script/rollup.config.js
  playground/pagx-viewer/src/ts/pagx.ts
  playground/pagx-viewer/tsconfig.json
  playground/pagx-viewer/tsconfig.type.json
  playground/pagx-viewer/tsconfig.type.st.json
Owners: @domchen, @Hparty, @shlzxjp

Replace lossy qgetenv with qEnvironmentVariable and skip redundant resize flush.
  viewer/src/platform/win/PluginInstaller.cpp
  viewer/src/rendering/ContentView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Render html vertical-rl text correctly by mapping CSS writing-mode through the pagx import pipeline to TextBox vertical layout.
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLStyleResolver.cpp
  src/pagx/html/importer/HTMLSubsetPropertyTable.cpp
  tools/html-snapshot/lib/browser-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Replace lambda with explicit method and document versionFound invariant.
  viewer/src/maintenance/PAGCheckUpdateModel.cpp
  viewer/src/maintenance/PAGCheckUpdateModel.h
Owners: @domchen, @Hparty, @shlzxjp

Render html text with CSS font-family stacks so secondary entries fill missing glyphs at layout time.
  include/pagx/FontConfig.h
  include/pagx/PAGXDocument.h
  src/pagx/FontConfig.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLDetail.cpp
  src/pagx/html/importer/HTMLDetail.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/html/importer/HTMLStyleResolver.cpp
  test/src/PAGXHTMLImporterTest.cpp
  tools/html-snapshot/lib/browser-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix plugin permission, PAGX file association, and viewer stability issues. (#3418)
  viewer/assets/qml/Main.qml
  viewer/assets/qml/MainForm.qml
  viewer/assets/translation/Chinese.ts
  viewer/src/PAGViewer.cpp
  viewer/src/maintenance/PAGCheckUpdateModel.cpp
  viewer/src/maintenance/PAGCheckUpdateModel.h
  viewer/src/maintenance/PAGNetworkFetcher.cpp
  viewer/src/maintenance/PAGNetworkFetcher.h
  viewer/src/platform/PluginInstaller.cpp
  viewer/src/platform/PluginInstaller.h
  viewer/src/platform/mac/PluginInstaller.mm
  viewer/src/platform/win/PluginInstaller.cpp
  viewer/src/rendering/ContentView.cpp
  viewer/src/rendering/ContentView.h
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/PAGWindow.h
  viewer/src/rendering/pag/PAGViewModel.cpp
  viewer/src/rendering/pagx/PAGXView.cpp
  viewer/src/rendering/pagx/PAGXView.h
  viewer/src/rendering/pagx/PAGXViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add fontConfig option to HTMLImporter so callers can seed the imported document with custom typefaces and pre-configured fallback fonts.
  include/pagx/HTMLImporter.h
  src/pagx/html/importer/HTMLParserContext.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor html-snapshot cli with shared fail and parseNumber helpers and surface a friendlier puppeteer launch hint.
  tools/html-snapshot/lib/cli.js
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Inline the html-snapshot root readiness predicate as a string constant since it never varies between calls.
  tools/html-snapshot/lib/page-loader.js
Owners: @domchen, @Hparty, @shlzxjp

Read each html-snapshot border side through one helper so uniformity, overlay painting, and triangle detection share the same getPropertyValue calls.
  tools/html-snapshot/lib/browser-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Cap recursion in html importer transform passes and skip dead id-lookup checks so deep html documents import safely and quickly.
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLTransformPasses.cpp
Owners: @domchen, @Hparty, @shlzxjp

Drop the unused html-snapshot isDefault and normalizeValue helpers since appendStyleProp now handles every schema lookup inline.
  tools/html-snapshot/lib/browser-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Share fail and parseNumber helpers between html-snapshot cli and the eval runners so each tool keeps its own log prefix while reusing one validation path.
  tools/html-snapshot/eval/baseline.js
  tools/html-snapshot/eval/run.js
  tools/html-snapshot/lib/cli.js
Owners: @domchen, @Hparty, @shlzxjp

Reformat html importer and command import sources to match the project clang-format wrapping rules.
  src/cli/CommandImport.cpp
  src/pagx/html/importer/HTMLStyleResolver.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix critical bugs and robustness issues in PAGX Chrome extension.
  chrome-extension/background.js
  chrome-extension/build.sh
  chrome-extension/fonts/NotoColorEmoji.ttf
  chrome-extension/fonts/NotoSansSC-Regular.otf
  chrome-extension/icons/pagx_icon_128x128.png
  chrome-extension/icons/pagx_icon_16x16.png
  chrome-extension/icons/pagx_icon_48x48.png
  chrome-extension/icons/pagx_icon_origin.png
  chrome-extension/manifest.json
  chrome-extension/package-lock.json
  chrome-extension/package.json
  chrome-extension/rollup.config.js
  chrome-extension/tsconfig.json
  chrome-extension/viewer/viewer.css
  chrome-extension/viewer/viewer.html
  chrome-extension/viewer/viewer.js
  chrome-extension/viewer/viewer.ts
  chrome-extension/wasm/pagx-playground.js
  chrome-extension/wasm/pagx-playground.wasm
  playground/pagx-viewer/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Show drop zone instead of error when page is refreshed without cached data.
  chrome-extension/viewer/viewer.js
  chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp

Optimize extension with caching and accessibility and font subsetting.
  chrome-extension/.gitignore
  chrome-extension/fonts/NotoSansSC-Regular.otf
  chrome-extension/icons/pagx_icon_origin.png
  chrome-extension/viewer/cache-manager.ts
  chrome-extension/viewer/viewer.css
  chrome-extension/viewer/viewer.html
  chrome-extension/viewer/viewer.js
  chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix canvas zero size error in split-view mode by showing canvas before updateSize.
  chrome-extension/viewer/viewer.js
  chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp

Add background mode switching and PAGX source code viewer to Chrome extension.
  chrome-extension/viewer/viewer.css
  chrome-extension/viewer/viewer.html
  chrome-extension/viewer/viewer.js
  chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp

Add setBackgroundMode API to PAGXView for switching grid and white and black backgrounds.
  chrome-extension/manifest.json
  chrome-extension/viewer/viewer.js
  chrome-extension/viewer/viewer.ts
  chrome-extension/wasm/pagx-playground.wasm
  playground/pagx-viewer/src/cpp/GridBackground.cpp
  playground/pagx-viewer/src/cpp/GridBackground.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  playground/pagx-viewer/src/cpp/binding.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add line numbers to the PAGX text content viewer.
  chrome-extension/viewer/viewer.css
  chrome-extension/viewer/viewer.html
  chrome-extension/viewer/viewer.js
  chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp

Rename chrome-extension to pagx-chrome-extension and exclude build artifacts from git.
  chrome-extension/build.sh
  chrome-extension/fonts/NotoColorEmoji.ttf
  chrome-extension/fonts/NotoSansSC-Regular.otf
  chrome-extension/viewer/viewer.js
  chrome-extension/wasm/pagx-playground.js
  chrome-extension/wasm/pagx-playground.wasm
  pagx-chrome-extension/.gitignore
  pagx-chrome-extension/background.js
  pagx-chrome-extension/build.sh
  pagx-chrome-extension/icons/pagx_icon_128x128.png
  pagx-chrome-extension/icons/pagx_icon_16x16.png
  pagx-chrome-extension/icons/pagx_icon_48x48.png
  pagx-chrome-extension/manifest.json
  pagx-chrome-extension/package-lock.json
  pagx-chrome-extension/package.json
  pagx-chrome-extension/rollup.config.js
  pagx-chrome-extension/tsconfig.json
  pagx-chrome-extension/viewer/cache-manager.ts
  pagx-chrome-extension/viewer/viewer.css
  pagx-chrome-extension/viewer/viewer.html
  pagx-chrome-extension/viewer/viewer.ts
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update code toggle off icon color to #cccccc.
  chrome-extension/viewer/viewer.html
  chrome-extension/viewer/viewer.js
  chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp

Reset split divider position to center when clicking the reset button.
  chrome-extension/viewer/viewer.js
  chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp
