Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Retain PAGX resources through loader assets.
  include/pagx/nodes/CompositionResource.h
  include/pagx/nodes/Font.h
  include/pagx/nodes/FontProvider.h
  include/pagx/nodes/FontResource.h
  include/pagx/nodes/ImageResource.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Node.h
  include/pagx/nodes/Resource.h
  include/pagx/nodes/ResourceLoader.h
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/nodes/Resource.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Document HTML import support and snapshot workflow in pagx CLI reference.
  .codebuddy/skills/pagx/references/cli.md
Owners: @domchen, @Hparty, @shlzxjp

Address review feedback: hide Font render cache via PIMPL and document concurrency contract.
  include/pagx/nodes/Font.h
  src/pagx/PAGXDocument.cpp
  src/pagx/nodes/FontRenderCache.h
  src/renderer/GlyphRunRenderer.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTypefaceCacheTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Make removeNodes, setNodeId and resetLayoutState private with FontEmbedder friend.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Error when --skip-fonts and --fallback are both set in embed command.
  src/cli/CommandEmbed.cpp
Owners: @domchen, @Hparty, @shlzxjp

Address SVG exporter review fixups for warnings cleanup and stdDeviation tolerance.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Centralize resource-to-node binding in PAGXDocument with listener-based update dispatch.
  include/pagx/PAGXDocument.h
  include/pagx/nodes/CompositionResource.h
  include/pagx/nodes/Font.h
  include/pagx/nodes/FontResource.h
  include/pagx/nodes/Image.h
  include/pagx/nodes/ImageResource.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Resource.h
  include/pagx/nodes/ResourceLoader.h
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/nodes/Resource.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refine PAGX progressive image upgrade with original-size aware matrices and accurate scaleMode reporting.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/binding.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.h
  pagx/wechat/ts/pagx-view.ts
  pagx/wechat/ts/types.ts
  src/pagx/PAGXDocument.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix IsUrlPath to also match data: URI scheme.
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Sync HTML subset spec with importer: margin, transform, object-fit, writing-mode support and new normalization passes.
  spec/html_subset.md
  spec/html_subset.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Preserve Font file original path across import/export round-trip.
  include/pagx/nodes/Font.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Simplify PAGX public API comments by removing implementation details.
  include/pagx/PAGComposition.h
  include/pagx/PAGDisplayOptions.h
  include/pagx/PAGTimeline.h
  include/pagx/PAGXDocument.h
  include/pagx/nodes/AnimationTimeline.h
  include/pagx/nodes/Timeline.h
Owners: @domchen, @Hparty, @shlzxjp

Remove SceneStorage struct, use unique_ptr tgfx DisplayList directly.
  include/pagx/PAGScene.h
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove static_cast from PAGDisplayOptions getDisplayList calls.
  include/pagx/PAGDisplayOptions.h
  src/pagx/PAGDisplayOptions.cpp
Owners: @domchen, @Hparty, @shlzxjp

Attach root layer to display list at creation time, remove rootAttached flag.
  include/pagx/PAGScene.h
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add public rootComposition getter to PAGScene.
  include/pagx/PAGScene.h
  src/pagx/PAGScene.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename PAGFile to PAGScene and update all references.
  include/pagx/PAGFile.h
  include/pagx/PAGLayer.h
  include/pagx/PAGSurface.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGLayer.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Unify atomic write in WriteStringToFile, fix font ID collision, remove FC_SCALABLE filter.
  spec/samples/app_icons.pagx
  src/cli/CliUtils.cpp
  src/cli/CommandEmbed.cpp
  src/cli/CommandFont.cpp
  src/pagx/SystemFonts.cpp
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Apply code review fixes for naming conventions, dead code, and correctness issues.
  include/pagx/PAGComposition.h
  include/pagx/PAGScene.h
  include/pagx/nodes/Composition.h
  src/pagx/PAGDisplayOptions.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/runtime/BezierEasing.cpp
  src/pagx/runtime/KeyframeEvaluator.h
  src/pagx/runtime/OffscreenDrawable.cpp
  src/pagx/runtime/OffscreenDrawable.h
  src/platform/web/pagx/GPUDrawable.cpp
  src/platform/web/pagx/GPUDrawable.h
  src/renderer/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update tgfx dependency to latest commit.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename SVG and PPT exporter rasterDPI option to rasterScale aligning with HTMLExportOptions for a single shared concept.
  include/pagx/PPTExporter.h
  include/pagx/SVGExporter.h
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTStyleEmitter.cpp
  src/pagx/ppt/PPTWriter.h
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Improve PAGX SVG export coverage and add shared modifier resolver utilities. (#3427)
  CMakeLists.txt
  include/pagx/PPTExporter.h
  include/pagx/SVGExporter.h
  src/pagx/PAGXOptimizer.cpp
  src/pagx/TextLayout.cpp
  src/pagx/TextLayout.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/nodes/Text.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTStyleEmitter.cpp
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
  src/pagx/ppt/PPTWriterContext.h
  src/pagx/svg/SVGBlendMode.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/svg/SVGFeatureProbe.cpp
  src/pagx/svg/SVGFeatureProbe.h
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ImageFormatUtils.cpp
  src/pagx/utils/ImageFormatUtils.h
  src/pagx/utils/ModifierResolver.cpp
  src/pagx/utils/ModifierResolver.h
  src/pagx/utils/RasterUtils.cpp
  src/pagx/utils/RasterUtils.h
  src/pagx/utils/StrokeGeometryUtils.cpp
  src/pagx/utils/StrokeGeometryUtils.h
  src/pagx/utils/TextUtils.cpp
  src/pagx/utils/TextUtils.h
  test/src/PAGXPPTTest.cpp
  test/src/PAGXSVGTest.cpp
  test/src/PAGXUtilsTest.cpp
  vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix M0-3 layoutApplied flag and M0-5 PAGScene* dangling pointer in review.
  include/pagx/PAGComposition.h
  include/pagx/PAGLayer.h
  src/pagx/PAGLayer.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Document findNode cross-document scope limitation for M1-8.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Fix M1-9 M1-11 M2-17 M2-21 review items.
  CMakeLists.txt
  src/pagx/PAGDisplayOptions.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/runtime/PAGComposition.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add PAGTimeline tests for PingPong, negative delta, and zero duration.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update screenshot baseline for layout_flex_weights test.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Apply code formatting to PAGComposition and SVGExporter.
  src/pagx/runtime/PAGComposition.cpp
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx to fix fallback tile crack issue in display list rendering.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Replace weak_ptr with raw pointer in PAGDisplayOptions and remove rootRuntimeLayer.
  include/pagx/PAGDisplayOptions.h
  include/pagx/PAGScene.h
  src/pagx/PAGDisplayOptions.cpp
  src/pagx/PAGLayer.cpp
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

。
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Validate float int and bool keyframe values and parse Frame-typed fields as 64-bit in PAGX importer.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Correct PAGX scene and timeline doc comments and drop dead layer-to-node reverse-map test.
  include/pagx/PAGScene.h
  include/pagx/PAGTimeline.h
  include/pagx/PAGXDocument.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove dead layerToNode reverse map and register inner-shadow and background-blur filter and style animation bindings.
  CMakeLists.txt
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

feat: refine CheckPagx risk scoring
  pagx/wechat/ts/pagx-check.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix cross-color-space animation blending and remove spurious empty Resources element on PAGX export.
  src/pagx/PAGXExporter.cpp
  src/pagx/animation/Property.cpp
  src/pagx/html/HTMLWriterUtils.cpp
  src/pagx/runtime/KeyframeEvaluator.h
  src/pagx/utils/ColorSpaceUtils.cpp
  src/pagx/utils/ColorSpaceUtils.h
Owners: @domchen, @Hparty, @shlzxjp

fix: avoid over-penalizing image metadata risk
  pagx/wechat/ts/pagx-check.ts
Owners: @domchen, @Hparty, @shlzxjp

Detect and break cyclic external composition references and recursively lay out nested external documents.
  src/pagx/PAGXDocument.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Align PAGX group skew sign across SVG PPT and HTML exporters with native renderer.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterGroup.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterUtils.cpp
  src/pagx/utils/ExporterUtils.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Cache built typeface on Font node to avoid redundant rebuilds during rendering. (#3467)
  include/pagx/nodes/Font.h
  src/pagx/PAGXDocument.cpp
  src/pagx/nodes/Font.cpp
  src/pagx/nodes/FontRenderCache.h
  src/renderer/GlyphRunRenderer.cpp
  src/renderer/GlyphRunRenderer.h
  src/renderer/LayerBuilder.h
  test/baseline/version.json
  test/src/PAGXTypefaceCacheTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
