Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

HTML snapshots now keep the page background and masked icon or fade pseudo-elements.
  tools/html-snapshot/build-browser-bundle.js
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/test/mask-image-inline.test.js
  tools/html-snapshot/test/pseudo-materialise.test.js
Owners: @domchen, @Hparty, @shlzxjp

Add Metal compatibility key and improve the fallback log in the mac hardware decoder while aligning comment references and removing a redundant assignment.
  src/platform/mac/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix the Xcode 27 build failures by raising the Apple deployment targets to macOS 12.0 and iOS 15.0 (#3739)
  CMakeLists.txt
  DEPS
  README.md
  README.zh_CN.md
  exporter/CMakeLists.txt
  exporter/README.md
  exporter/README.zh_CN.md
  exporter/src/platform/mac/PlatformHelper.mm
  ios/PAGViewer.xcodeproj/project.pbxproj
  mac/PAGViewer.xcodeproj/project.pbxproj
  ohos/libpag/README.md
  src/platform/ios/private/HardwareDecoder.mm
  src/platform/mac/private/HardwareDecoder.mm
  viewer/CMakeLists.txt
  viewer/README.md
  viewer/README.zh_CN.md
  viewer/src/platform/mac/PAGWindowHelper.mm
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Reassign new bug reports to CodeJhF and leiyue123.
  .github/ISSUE_TEMPLATE/bug_report_cn.md
  .github/ISSUE_TEMPLATE/bug_report_en.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Reassign new bug reports to CodeJhF and leiyue123. (#3746)
  .github/ISSUE_TEMPLATE/bug_report_cn.md
  .github/ISSUE_TEMPLATE/bug_report_en.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix hardware video decoding on newer macOS by passing a CFBoolean for the OpenGL compatibility key (#3745)
  src/platform/mac/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix hardware video decoding on newer macOS by passing a CFBoolean for the OpenGL compatibility key (#3745)
  src/platform/mac/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix hardware video decoding on newer macOS by passing a CFBoolean for the OpenGL compatibility key (#3745)
  src/platform/mac/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Catch corrupted pag files with cyclic pre compose references or endless layer parent chains.
  src/base/VectorComposition.cpp
  src/codec/Codec.cpp
  test/src/PAGFuzzTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix the pre compose nesting depth check being bypassed by the composition order.
  src/codec/Codec.cpp
  test/src/PAGFuzzTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add HTML deck export for multiple PAGX documents with paging zoom and centered fit.
  include/pagx/HTMLExporter.h
  src/cli/CommandExport.cpp
  src/pagx/html/HTMLDeckWriter.cpp
  src/pagx/html/HTMLDeckWriter.h
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLPlusDarkerRenderer.cpp
  src/pagx/html/HTMLStyleExtractor.cpp
  src/pagx/html/HTMLStyleExtractor.h
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Cover the boundary of the pre compose nesting depth limit in the fuzz test.
  test/src/PAGFuzzTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Document the reference cycle and nesting depth limits of VerifyAndMake.
  include/pag/file.h
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to 062b864b in DEPS.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Cover valid layer parent chains and two layer parent cycles in the fuzz test.
  test/src/PAGFuzzTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Cover the static time range update on a cyclic composition reference.
  test/src/PAGFuzzTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx dependency to 062b864b in DEPS. (#3748)
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix stack overflow and infinite loops caused by reference cycles in pag files (#3747)
  include/pag/file.h
  src/base/VectorComposition.cpp
  src/codec/Codec.cpp
  test/src/PAGFuzzTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix stack overflow and infinite loops caused by reference cycles in pag files (#3747)
  include/pag/file.h
  src/base/VectorComposition.cpp
  src/codec/Codec.cpp
  test/src/PAGFuzzTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix stack overflow and infinite loops caused by reference cycles in pag files (#3747)
  include/pag/file.h
  src/base/VectorComposition.cpp
  src/codec/Codec.cpp
  test/src/PAGFuzzTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Keep the TGFX task thread methods out of the public PAG interface by asserting locally at the binding call sites.
  web/src/binding.ts
  web/src/types.ts
  web/src/wechat/binding.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGView and PAGImageView rendering nothing on OHOS after the native module is initialized again.
  src/platform/ohos/JPAG.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix stale symbol references and wrong API basis in comments and align the backend docs with the actual implementation.
  .codebuddy/rules/Test.md
  .codebuddy/skills/accept-baseline/SKILL.md
  CMakeLists.txt
  docs/gpu-backend-decoupling.md
  src/rendering/PAGSurfaceFactory.cpp
  src/rendering/gpu/Devices.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Share the Metal layer setup between the platform PAGViews rename the surface state guard drop the GL-only include and remove the duplicate texture identity capture.
  include/pag/pag.h
  src/cli/CommandRender.cpp
  src/platform/cocoa/private/PAGMetalLayerHelper.h
  src/platform/ios/PAGView.mm
  src/platform/mac/PAGView.mm
  src/rendering/PAGSurface.cpp
  src/rendering/editing/StillImage.cpp
Owners: @domchen, @Hparty, @shlzxjp

Deduplicate the decoder compatibility flag move test includes to the top reject Metal off Apple guard the baseline stash with a trap and include cmath explicitly.
  CMakeLists.txt
  src/platform/cocoa/private/MetalGPUDrawable.mm
  src/platform/ios/private/HardwareDecoder.mm
  test/src/PAGBlendTest.cpp
  update_baseline.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix PAGX animation capture dropping lists that pages rebuild with timers.
  tools/html-snapshot/lib/animation-capture.ts
  tools/html-snapshot/test/animation-capture-collect.test.js
Owners: @domchen, @Hparty, @shlzxjp

Raise the default macOS deployment target to 11.0 for the Xcode 27 libc++ requirement.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Move the per backend test infrastructure out of this PR so CI keeps using the main branch scripts and targets while Metal coverage is verified manually.
  .codebuddy/rules/Test.md
  .codebuddy/skills/accept-baseline/SKILL.md
  .github/workflows/autotest.yml
  CMakeLists.txt
  accept_baseline.sh
  autotest.sh
  test/gen_html_comparison.sh
  test/src/utils/Baseline.cpp
  update_baseline.sh
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Drop the internal investigation and design docs from the PR.
  docs/gpu-backend-decoupling.md
  docs/metal-rendering-bugs-investigation.md
  docs/pagimageview-mainthread-anr-investigation.md
Owners: @domchen, @Hparty, @shlzxjp

Remove references to the local backend decoupling doc from source comments.
  src/rendering/gpu/Devices.h
  src/rendering/gpu/Devices_Backend.cpp
  src/rendering/gpu/Devices_GL.cpp
  test/src/PAGXRuntimeTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix Arabic and mixed-direction text stalling rendering and mapping glyphs to wrong characters in the HarfBuzz build.
  src/rendering/graphics/Glyph.cpp
  src/rendering/utils/shaper/TextShaperHarfbuzz.cpp
  test/src/TextShaperTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Resolve the tgfx dependency conflict in favor of the main branch revision.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove unreachable cluster end guard in the HarfBuzz shaper.
  src/rendering/utils/shaper/TextShaperHarfbuzz.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify dead glyph length ternary in BuildFromText.
  src/rendering/graphics/Glyph.cpp
Owners: @domchen, @Hparty, @shlzxjp

Adopt the tgfx device deduplication so Metal surfaces on the same MTLDevice share GPU caches and document the sharing contract.
  DEPS
  src/platform/ios/PAGSurface.h
  src/platform/ios/private/PAGSurfaceImpl.mm
  src/platform/mac/PAGSurface.h
  src/rendering/gpu/Devices_Metal.mm
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Accept the baseline changes caused by the tgfx background blur fix.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Skip host-font dependent corpora in the HTML eval baseline gate.
  resources/html/README.md
  test/run_html_eval.sh
  tools/html-snapshot/eval/summary.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix the code according to the review comments.
  include/pagx/PAGLayer.h
  include/pagx/PAGScene.h
  include/pagx/PAGStateMachine.h
  include/pagx/PAGXDocument.h
  include/pagx/nodes/LayoutNode.h
  include/pagx/nodes/Node.h
  playground/pagx-player/src/sm-blueprint.ts
  playground/pagx-viewer/CMakeLists.txt
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  src/cli/CommandResolve.cpp
  src/pagx/DataBindRuntime.cpp
  src/pagx/DataBindRuntime.h
  src/pagx/LayoutContext.h
  src/pagx/LayoutNode.cpp
  src/pagx/PAGLayer.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGStateMachine.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/nodes/Layer.cpp
  src/pagx/runtime/PAGComposition.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Keep native HTML details accordions in the imported page instead of dropping them.
  tools/html-snapshot/README.md
  tools/html-snapshot/build-browser-bundle.js
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/dom-tags.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/test/collapsed-details.test.js
  tools/html-snapshot/test/dom-tags.test.js
Owners: @domchen, @Hparty, @shlzxjp

Make the default device lock reentrant so code that fetches the default device while it is already held no longer deadlocks on the deduplicated shared device.
  src/pagx/html/HTMLPlusDarkerRenderer.cpp
  src/pagx/html/HTMLStaticImageRenderer.cpp
  src/pagx/utils/RasterUtils.cpp
  src/pagx/utils/RasterUtils.h
  src/rendering/gpu/Devices.h
  src/rendering/gpu/Devices_Lock.cpp
  test/src/PAGXGlassRenderTest.cpp
  test/src/PAGXRuntimeTest.cpp
  test/src/PAGXTest.cpp
  test/src/base/PAGTest.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
