Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Improve constraint measurement logic and unwrap optimization.
  .codebuddy/skills/pagx/references/optimize-guide.md
  resources/cli/optimize_unwrap_keep_child_constrained.pagx
  spec/pagx_spec.zh_CN.md
  spec/samples/5.7_group_propagation.pagx
  spec/samples/C.3_nebula_cadet.pagx
  spec/samples/C.4_game_hud.pagx
  spec/samples/C.6_space_explorer.pagx
  src/cli/CommandOptimize.cpp
  src/pagx/ConstraintLayout.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add accept-baseline skill with slash command enforcement for baseline updates.
  .codebuddy/skills/pagx/references/optimize-guide.md
  resources/cli/optimize_unwrap_basic.pagx
  resources/cli/optimize_unwrap_keep_alpha.pagx
  resources/cli/optimize_unwrap_keep_constrained.pagx
  resources/cli/optimize_unwrap_keep_repeater.pagx
  resources/cli/optimize_unwrap_keep_sized.pagx
  resources/cli/optimize_unwrap_keep_textbox.pagx
  resources/cli/optimize_unwrap_keep_transform.pagx
  resources/cli/optimize_unwrap_nested.pagx
  resources/cli/optimize_unwrap_offset.pagx
  resources/cli/optimize_unwrap_render.pagx
  resources/layout/constraint_group.pagx
  spec/pagx_spec.zh_CN.md
  spec/samples/5.7_group_propagation.pagx
  spec/samples/C.3_nebula_cadet.pagx
  spec/samples/C.4_game_hud.pagx
  spec/samples/C.6_space_explorer.pagx
  src/cli/CommandOptimize.cpp
  src/pagx/ConstraintLayout.cpp
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add clipToBounds property to Layer for automatic bounds clipping.
  .codebuddy/skills/pagx/references/attributes.md
  include/pagx/nodes/Layer.h
  spec/pagx_spec.zh_CN.md
  src/pagx/PAGXImporter.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor squash skill with script-based execution and zero-conflict history rewriting.
  .codebuddy/skills/squash/SKILL.md
  .codebuddy/skills/squash/scripts/build_history.py
  .codebuddy/skills/squash/scripts/collect_commits.py
  .codebuddy/skills/squash/scripts/format_report.py
  .codebuddy/skills/squash/scripts/replace_branch.py
  .codebuddy/skills/squash/scripts/resolve_scope.py
  .gitignore
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refine bot-review spec with diff limit, missing report detection and cleanup clarification.
  .codebuddy/skills/cr/references/bot-review.md
Owners: @domchen, @Hparty, @shlzxjp

Add bot-review mode for CI/CD non-interactive PR code review. (#3300)
  .codebuddy/skills/cr/SKILL.md
  .codebuddy/skills/cr/references/bot-review.md
Owners: @domchen, @Hparty, @shlzxjp

Refactor Base64Decode to simplify memory management.
  src/pagx/utils/Base64.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add pdf exporter.
  include/pagx/PDFExporter.h
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add pdf test.
  test/src/PAGXPDFTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add pdf command.
  src/cli/CommandConvert.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix audio export path encoding and bundle VC++ Runtime DLLs.
  exporter/src/export/PAGExport.cpp
  exporter/src/export/sequence/AudioSequence.cpp
  exporter/src/export/sequence/AudioSequence.h
  include/pagx/types/Matrix3D.h
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp

Apply code formatting.
  exporter/src/export/sequence/AudioSequence.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix audio export path encoding and bundle VC++ Runtime DLLs. (#3342)
  exporter/src/export/PAGExport.cpp
  exporter/src/export/sequence/AudioSequence.cpp
  exporter/src/export/sequence/AudioSequence.h
  include/pagx/types/Matrix3D.h
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp

Bake accumulated CTM into pattern matrices so gradient and image patterns render in correct positions.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix clip path transform and fill rule support in PDF exporter.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add PAG_BUILD_PDF cmake option for PDF export support.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add alpha channel support for transparent images in PDF exporter.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add soft mask support for alpha and luminance mask types in PDF exporter.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace scientific notation with decimal format in PDF float output.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix GlyphRun rendering and pagx test files for html directory.
  resources/html/color_image_pattern.pagx
  resources/html/text_glyph_run.pagx
  src/renderer/TextLayout.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Extract shared GlyphPath utility from duplicated SVG and PDF glyph path code.
  src/pagx/pdf/PDFExporter.cpp
  src/pagx/svg/SVGTextLayout.cpp
  src/pagx/svg/SVGTextLayout.h
  src/pagx/utils/GlyphPathUtil.cpp
  src/pagx/utils/GlyphPathUtil.h
Owners: @domchen, @Hparty, @shlzxjp

Rename GlyphPathUtil to ExporterUtils and deduplicate shared SVG and PDF helper functions.
  src/pagx/pdf/PDFExporter.cpp
  src/pagx/svg/SVGExporter.cpp
  src/pagx/svg/SVGTextLayout.h
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Move shared image and mask helper functions from SVG and PDF exporters to ExporterUtils.
  src/pagx/pdf/PDFExporter.cpp
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Refactor PDFExporter gradient and pattern code for clarity and consistency.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix center attribute to position in html pagx test files.
  resources/html/clip_and_mask.pagx
  resources/html/color_conic_gradient.pagx
  resources/html/color_diamond_gradient.pagx
  resources/html/color_formats.pagx
  resources/html/color_image_pattern.pagx
  resources/html/color_linear_gradient.pagx
  resources/html/color_radial_gradient.pagx
  resources/html/edge_defaults.pagx
  resources/html/filter_all.pagx
  resources/html/geometry_ellipse.pagx
  resources/html/geometry_polystar.pagx
  resources/html/geometry_rectangle.pagx
  resources/html/group.pagx
  resources/html/layer_alpha.pagx
  resources/html/layer_antialias.pagx
  resources/html/layer_blend_modes.pagx
  resources/html/layer_group_opacity.pagx
  resources/html/layer_nesting.pagx
  resources/html/layer_pass_through.pagx
  resources/html/layer_transform_matrix.pagx
  resources/html/layer_transform_matrix3d.pagx
  resources/html/layer_transform_priority.pagx
  resources/html/layer_transform_xy.pagx
  resources/html/layer_visibility.pagx
  resources/html/modifier_merge_path.pagx
  resources/html/modifier_round_corner.pagx
  resources/html/modifier_trim_path.pagx
  resources/html/painter_accumulated_geometry.pagx
  resources/html/painter_fill.pagx
  resources/html/painter_multiple.pagx
  resources/html/painter_stroke.pagx
  resources/html/repeater.pagx
  resources/html/resource_composition.pagx
  resources/html/resource_forward_ref.pagx
  resources/html/root_document.pagx
  resources/html/stroke_dash_adaptive.pagx
  resources/html/style_shadows.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add blend mode support to PDF exporter.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add mirror tile mode support to PDF pattern exporter.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add gradient alpha soft mask support to PDF exporter.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline screenshots for 44 html PAGX test files.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refactor PDF exporter with ScopedTransform RAII guard and reduce duplicated code.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add CID font and UTF-16BE encoding support for non-ASCII text in PDF exporter.
  src/pagx/pdf/PDFExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Optimize PDF exporter with reduced string allocations and cleaner control flow.
  src/pagx/pdf/PDFExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Implement HTMLExporter ToHTML with full PAGX-to-HTML conversion support.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix edge cases and add missing features in HTMLExporter.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fixed audio noise issue caused by incorrect sample indexing and data loss in buffer full scenario.
  viewer/src/audio/PAGAudioRender.cpp
  viewer/src/audio/reader/AudioReader.cpp
  viewer/src/utils/AudioUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix multiple bugs in HTMLExporter including transform conflict and rendering order.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Adapt to tgfx Window interface migration from getSurface to MakeFrom pattern.
  CMakeLists.txt
  src/platform/android/GPUDrawable.cpp
  src/platform/ios/private/GPUDrawable.mm
  src/platform/mac/private/GPUDrawable.mm
  src/platform/ohos/GPUDrawable.cpp
  src/platform/qt/GPUDrawable.cpp
  src/platform/web/GPUDrawable.cpp
  src/platform/win/GPUDrawable.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx dependency and codebuddy skill configurations.
  .codebuddy/rules/Test.md
  .codebuddy/skills/accept-baseline/SKILL.md
  .codebuddy/skills/cr/SKILL.md
  .codebuddy/skills/squash/SKILL.md
  .codebuddy/skills/squash/scripts/build_history.py
  .codebuddy/skills/squash/scripts/collect_commits.py
  .codebuddy/skills/squash/scripts/format_report.py
  .codebuddy/skills/squash/scripts/replace_branch.py
  .codebuddy/skills/squash/scripts/resolve_scope.py
  DEPS
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove unused parameter name in iOS GPUDrawable present method.
  src/platform/ios/private/GPUDrawable.mm
Owners: @domchen, @Hparty, @shlzxjp

Revert "Fix audio export path encoding and bundle VC++ Runtime DLLs. (#3342)"
  exporter/src/export/PAGExport.cpp
  exporter/src/export/sequence/AudioSequence.cpp
  exporter/src/export/sequence/AudioSequence.h
  include/pagx/types/Matrix3D.h
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp
