Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Share html-snapshot font cache across pages so identical web fonts are stored once instead of being re-saved per case.
  tools/html-snapshot/README.md
  tools/html-snapshot/eval/README.md
  tools/html-snapshot/eval/run.js
  tools/html-snapshot/lib/cli.js
  tools/html-snapshot/lib/font-download.js
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Drop pagx font embed step from html-snapshot tooling so downloaded web fonts are only registered as render fallbacks.
  tools/html-snapshot/eval/run.js
  tools/html-snapshot/html2pagx
Owners: @domchen, @Hparty, @shlzxjp

Upgrade tgfx to improve PDF export spec compliance and graphics state correctness.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Synthesize faux bold and italic in PAGX text layout when the resolved typeface lacks the requested weight or slant.
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to latest commit. (#3470)
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Carry bitmap glyph image bytes plus per-glyph offset through PAGX-to-PAG so EmbeddedFont can back ImageTypefaceBuilder for emoji-style fonts.
  src/pagx/pag/CodecTagsResource.cpp
  src/pagx/pag/LayerInflater.cpp
  src/pagx/pag/PAGDocument.h
  src/pagx/pag/TextBaker.cpp
  test/src/pag/unit/TextBakerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Ignore GSD planning directory from version control.
  .gitignore
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Register pagx embed command and update top-level usage.
  src/cli/main.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add CommandEmbed header declaring RunEmbed entry point.
  src/cli/CommandEmbed.h
Owners: @domchen, @Hparty, @shlzxjp

Implement ImageEmbedder with ReadFileToData supporting empty-file and partial-read detection.
  src/renderer/ImageEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add pagx embed command orchestrating font and image embedding with skip flags.
  src/cli/CommandEmbed.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add ImageEmbedder header declaring embed and lastErrorPath API.
  src/renderer/ImageEmbedder.h
Owners: @domchen, @Hparty, @shlzxjp

Fix FontEmbedder::ClearEmbeddedGlyphRuns to remove stale Font and GlyphRun nodes from document.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Retire pagx font embed subcommand with redirect error and drop dead helpers.
  src/cli/CommandFont.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix FontEmbedder::ClearEmbeddedGlyphRuns to remove stale Font and GlyphRun nodes from document.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace lambda with explicit loop in FontEmbedder::ClearEmbeddedGlyphRuns to follow coding convention.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add EMBED CLI tests covering default embed skip flags missing image and idempotency.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add embed_sample pagx and png fixtures for pagx embed CLI tests.
  resources/cli/embed_sample.pagx
  resources/cli/embed_sample.png
Owners: @domchen, @Hparty, @shlzxjp

Add std::nothrow to ImageEmbedder buffer allocation to honor no-exceptions policy.
  src/renderer/ImageEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add FONT-01 CLI test asserting pagx font embed redirect error.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Trim CommandEmbed header doc to a summary and defer flag list to PrintEmbedUsage.
  src/cli/CommandEmbed.h
Owners: @domchen, @Hparty, @shlzxjp

Revise CommandFont header doc comment to query-only scope.
  src/cli/CommandFont.h
Owners: @domchen, @Hparty, @shlzxjp

Add FontFamilyEntry struct and AllFontFamilies declaration to SystemFonts.h.
  src/pagx/SystemFonts.h
Owners: @domchen, @Hparty, @shlzxjp

Document full reset contract of FontEmbedder::ClearEmbeddedGlyphRuns including node removal.
  src/renderer/FontEmbedder.h
Owners: @domchen, @Hparty, @shlzxjp

Add --list flag parsing, validation, and system font list formatting to pagx font.
  src/cli/CommandFont.cpp
Owners: @domchen, @Hparty, @shlzxjp

Eliminate redundant map lookup in SystemFonts Linux AllFontFamilies.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move EmbedOptions and helpers inside namespace pagx::cli.
  src/cli/CommandEmbed.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add FontList text, JSON, and mutual exclusion tests for pagx font --list.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update CommandFont.h comment to reflect removed subcommands.
  src/cli/CommandFont.h
Owners: @domchen, @Hparty, @shlzxjp

Rename FontInfo tests to Font, add info redirect and help surface tests.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Implement SystemFonts::AllFontFamilies for macOS, Windows, Linux, and generic fallback.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

Flatten pagx font into a single query command and delete the info subcommand layer.
  src/cli/CommandFont.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename misleading Font_HelpShowsNewSurface test to Font_HelpShowsCurrentFlags.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Clear the html-snapshot font-capture read timeout once the body race settles so a successful font read no longer leaks a pending 10s timer that keeps the Node event loop alive.
  tools/html-snapshot/lib/font-download.js
Owners: @domchen, @Hparty, @shlzxjp

Add font-not-embedded assertion to Embed_SkipFonts_ImagesOnly test.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update npm README to reflect renamed font and embed commands.
  cli/npm/README.md
Owners: @domchen, @Hparty, @shlzxjp

Warn when --size is used with --list in pagx font command.
  src/cli/CommandFont.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add font-embedded assertion to Embed_SkipImages_FontsOnly test.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Reuse existing image_as_mask.png for embed tests instead of a duplicated fixture.
  resources/cli/embed_sample.pagx
  resources/cli/embed_sample.png
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Deduplicate file reads for identical paths in ImageEmbedder.
  src/renderer/ImageEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp
