Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Revert Glyph scale attribute and use ImageCodec readPixels for bitmap scaling.
  pagx/include/pagx/nodes/Font.h
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
  pagx/src/PAGXExporter.cpp
  pagx/src/PAGXImporter.cpp
  pagx/src/tgfx/FontEmbedder.cpp
  pagx/src/tgfx/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extend pag::Matrix to support full 3x3 perspective transformation.
  include/pag/types.h
  src/base/Matrix.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract 30 previewable PAGX sample files from specification document.
  pagx/spec/samples/01_document_structure.pagx
  pagx/spec/samples/02_resources.pagx
  pagx/spec/samples/03_linear_gradient.pagx
  pagx/spec/samples/04_radial_gradient.pagx
  pagx/spec/samples/05_conic_gradient.pagx
  pagx/spec/samples/06_diamond_gradient.pagx
  pagx/spec/samples/07_color_source_coordinates.pagx
  pagx/spec/samples/08_composition.pagx
  pagx/spec/samples/09_layer.pagx
  pagx/spec/samples/10_layer_styles.pagx
  pagx/spec/samples/11_layer_filters.pagx
  pagx/spec/samples/12_scroll_rect.pagx
  pagx/spec/samples/13_masking.pagx
  pagx/spec/samples/14_fill.pagx
  pagx/spec/samples/15_stroke.pagx
  pagx/spec/samples/16_trim_path.pagx
  pagx/spec/samples/17_merge_path.pagx
  pagx/spec/samples/18_text_modifier.pagx
  pagx/spec/samples/19_text_path.pagx
  pagx/spec/samples/20_text_layout.pagx
  pagx/spec/samples/21_rich_text.pagx
  pagx/spec/samples/22_repeater.pagx
  pagx/spec/samples/23_group.pagx
  pagx/spec/samples/24_group_isolation.pagx
  pagx/spec/samples/25_group_propagation.pagx
  pagx/spec/samples/26_multiple_painters.pagx
  pagx/spec/samples/27_multiple_fills.pagx
  pagx/spec/samples/28_multiple_strokes.pagx
  pagx/spec/samples/29_mixed_overlay.pagx
  pagx/spec/samples/30_complete_example.pagx
Owners: @domchen, @Hparty, @shlzxjp

[ohos] Fix font fallback crash by using new text module API on API14+ (#3238)
  ohos/libpag/src/main/ets/PAGInit.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add GLRestorer to save and restore OpenGL state for shared texture scenarios. (#3235)
  include/pag/pag.h
  src/rendering/PAGSurface.cpp
  src/rendering/utils/GLRestorer.cpp
  src/rendering/utils/GLRestorer.h
  test/src/PAGSurfaceTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename PAGX sample files to use section number prefixes.
  pagx/spec/samples/3.2_document_structure.pagx
  pagx/spec/samples/3.3.2_color_source_coordinates.pagx
  pagx/spec/samples/3.3.2_conic_gradient.pagx
  pagx/spec/samples/3.3.2_diamond_gradient.pagx
  pagx/spec/samples/3.3.2_linear_gradient.pagx
  pagx/spec/samples/3.3.2_radial_gradient.pagx
  pagx/spec/samples/3.3.4_composition.pagx
  pagx/spec/samples/3.3_resources.pagx
  pagx/spec/samples/4.2_layer.pagx
  pagx/spec/samples/4.3_layer_styles.pagx
  pagx/spec/samples/4.4_layer_filters.pagx
  pagx/spec/samples/4.5.1_scroll_rect.pagx
  pagx/spec/samples/4.5.2_masking.pagx
  pagx/spec/samples/5.3.1_fill.pagx
  pagx/spec/samples/5.3.2_stroke.pagx
  pagx/spec/samples/5.4.1_trim_path.pagx
  pagx/spec/samples/5.4.3_merge_path.pagx
  pagx/spec/samples/5.5.1_text_modifier.pagx
  pagx/spec/samples/5.5.5_text_path.pagx
  pagx/spec/samples/5.5.6_text_layout.pagx
  pagx/spec/samples/5.5.7_rich_text.pagx
  pagx/spec/samples/5.6_repeater.pagx
  pagx/spec/samples/5.7_group.pagx
  pagx/spec/samples/5.7_group_isolation.pagx
  pagx/spec/samples/5.7_group_propagation.pagx
  pagx/spec/samples/5.7_mixed_overlay.pagx
  pagx/spec/samples/5.7_multiple_fills.pagx
  pagx/spec/samples/5.7_multiple_painters.pagx
  pagx/spec/samples/5.7_multiple_strokes.pagx
  pagx/spec/samples/B.1_complete_example.pagx
Owners: @domchen, @Hparty, @shlzxjp

Improve viewer toolbar layout by removing label and aligning controls.
  pagx/wechat/wx_demo/pages/viewer/viewer.wxml
  pagx/wechat/wx_demo/pages/viewer/viewer.wxss
Owners: @domchen, @Hparty, @shlzxjp

Add rendering support for ConicGradient DiamondGradient Composition scrollRect and complete Repeater properties.
  pagx/src/tgfx/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix rendering blank issue for Layer with direct Shape and Painter contents.
  pagx/src/tgfx/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add TextPath support to LayerBuilder for rendering text along a path.
  pagx/src/tgfx/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update test baselines for perspective matrix transformation.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Simplify convertVectorLayer by removing unnecessary Group wrapping.
  pagx/src/tgfx/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add ImagePattern sample file and update spec documentation with complete example.
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
  pagx/spec/samples/3.3.3_image_pattern.pagx
  pagx/spec/samples/pag_logo.png
Owners: @domchen, @Hparty, @shlzxjp

Restore original ImagePattern snippet and add complete example after attribute table.
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Rename color source sample files from 3.3.2 to 3.3.3 to match spec section numbering.
  pagx/spec/samples/3.3.3_color_source_coordinates.pagx
  pagx/spec/samples/3.3.3_conic_gradient.pagx
  pagx/spec/samples/3.3.3_diamond_gradient.pagx
  pagx/spec/samples/3.3.3_linear_gradient.pagx
  pagx/spec/samples/3.3.3_radial_gradient.pagx
Owners: @domchen, @Hparty, @shlzxjp

Optimize PAGX sample files for better visual appearance and consistent sizing.
  pagx/spec/samples/3.2_document_structure.pagx
  pagx/spec/samples/3.3.3_color_source_coordinates.pagx
  pagx/spec/samples/3.3.3_conic_gradient.pagx
  pagx/spec/samples/3.3.3_diamond_gradient.pagx
  pagx/spec/samples/3.3.3_image_pattern.pagx
  pagx/spec/samples/3.3.3_linear_gradient.pagx
  pagx/spec/samples/3.3.3_radial_gradient.pagx
  pagx/spec/samples/3.3.4_composition.pagx
  pagx/spec/samples/3.3_resources.pagx
  pagx/spec/samples/4.2_layer.pagx
  pagx/spec/samples/4.3_layer_styles.pagx
  pagx/spec/samples/4.4_layer_filters.pagx
  pagx/spec/samples/4.5.1_scroll_rect.pagx
  pagx/spec/samples/4.5.2_masking.pagx
  pagx/spec/samples/5.3.1_fill.pagx
  pagx/spec/samples/5.3.2_stroke.pagx
  pagx/spec/samples/5.4.1_trim_path.pagx
  pagx/spec/samples/5.4.3_merge_path.pagx
  pagx/spec/samples/5.5.5_text_path.pagx
  pagx/spec/samples/5.5.6_text_layout.pagx
  pagx/spec/samples/5.6_repeater.pagx
  pagx/spec/samples/5.7_group.pagx
  pagx/spec/samples/5.7_group_isolation.pagx
  pagx/spec/samples/5.7_group_propagation.pagx
  pagx/spec/samples/5.7_mixed_overlay.pagx
  pagx/spec/samples/5.7_multiple_fills.pagx
  pagx/spec/samples/5.7_multiple_painters.pagx
  pagx/spec/samples/5.7_multiple_strokes.pagx
Owners: @domchen, @Hparty, @shlzxjp

Update test baselines for perspective matrix transformation.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refactor PAGX loading logic to improve error handling and code clarity.
  pagx/wechat/src/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Upgrade tgfx and extend pag::Matrix to support 3x3 perspective transformation. (#3241)
  DEPS
  include/pag/types.h
  src/base/Matrix.cpp
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Implement adaptive tile refinement for smooth zoom gestures in WeChat MiniProgram.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/binding.cpp
  pagx/wechat/ts/gesture-manager.ts
  pagx/wechat/ts/pagx-view.ts
  pagx/wechat/ts/types.ts
  pagx/wechat/wx_demo/pages/viewer/viewer.js
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Improve PAGX sample files visual quality and fix layout issues.
  pagx/spec/samples/3.3.3_color_source_coordinates.pagx
  pagx/spec/samples/5.4.1_trim_path.pagx
  pagx/spec/samples/5.5.1_text_modifier.pagx
  pagx/spec/samples/5.5.5_text_path.pagx
  pagx/spec/samples/5.5.6_text_layout.pagx
  pagx/spec/samples/5.5.7_rich_text.pagx
  pagx/spec/samples/5.7_multiple_strokes.pagx
Owners: @domchen, @Hparty, @shlzxjp

Update sample file list in PAGX Viewer demo.
  pagx/wechat/wx_demo/pages/viewer/viewer.js
Owners: @domchen, @Hparty, @shlzxjp

Add unitsPerEm to Font and fontSize to GlyphRun for proper font scaling.
  pagx/include/pagx/nodes/Font.h
  pagx/include/pagx/nodes/GlyphRun.h
  pagx/spec/pagx_spec.zh_CN.md
  pagx/src/PAGXExporter.cpp
  pagx/src/PAGXImporter.cpp
  pagx/src/tgfx/FontEmbedder.cpp
  pagx/src/tgfx/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update English spec with unitsPerEm and fontSize attributes.
  pagx/spec/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Use English anchor IDs for Chinese spec pages to avoid URL encoding issues.
  pagx/spec/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Align GlyphRun fontSize default value with Text fontSize default of 12.
  pagx/include/pagx/nodes/GlyphRun.h
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
  pagx/src/PAGXExporter.cpp
  pagx/src/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix Font and Glyph spec and change unitsPerEm default to 1000 and enable offset for path glyphs.
  pagx/include/pagx/nodes/Font.h
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
  pagx/src/PAGXExporter.cpp
  pagx/src/PAGXImporter.cpp
  pagx/src/tgfx/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add missing unitsPerEm and fontSize attributes to Appendix C reference tables.
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Fix intermittent H264EncoderTools not found issue on Windows by waiting for devenv to complete.
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp

Fix intermittent H264EncoderTools not found issue on Windows by waiting for devenv to complete. (#3244)
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp

Refactor spec publish script with HTML template and enhance viewer interactions.
  pagx/include/pagx/nodes/Font.h
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
  pagx/spec/script/publish.js
  pagx/spec/script/template.html
  pagx/src/tgfx/FontEmbedder.cpp
  pagx/viewer/index.css
  pagx/viewer/index.html
  pagx/viewer/index.ts
  pagx/viewer/script/publish.cjs
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update PAGX sample files with modern color scheme and improved visual design.
  pagx/spec/samples/3.2_document_structure.pagx
  pagx/spec/samples/3.3.3_color_source_coordinates.pagx
  pagx/spec/samples/3.3.3_conic_gradient.pagx
  pagx/spec/samples/3.3.3_diamond_gradient.pagx
  pagx/spec/samples/3.3.3_image_pattern.pagx
  pagx/spec/samples/3.3.3_linear_gradient.pagx
  pagx/spec/samples/3.3.3_radial_gradient.pagx
  pagx/spec/samples/3.3.4_composition.pagx
  pagx/spec/samples/3.3_resources.pagx
  pagx/spec/samples/4.2_layer.pagx
  pagx/spec/samples/4.3_layer_styles.pagx
  pagx/spec/samples/4.4_layer_filters.pagx
  pagx/spec/samples/4.5.1_scroll_rect.pagx
  pagx/spec/samples/4.5.2_masking.pagx
  pagx/spec/samples/5.2.1_rectangle.pagx
  pagx/spec/samples/5.2.2_ellipse.pagx
  pagx/spec/samples/5.2.3_polystar.pagx
  pagx/spec/samples/5.2.4_path.pagx
  pagx/spec/samples/5.2.5_text.pagx
  pagx/spec/samples/5.3.1_fill.pagx
  pagx/spec/samples/5.3.2_stroke.pagx
  pagx/spec/samples/5.4.1_trim_path.pagx
  pagx/spec/samples/5.4.2_round_corner.pagx
  pagx/spec/samples/5.4.3_merge_path.pagx
  pagx/spec/samples/5.5.1_text_modifier.pagx
  pagx/spec/samples/5.5.2_text_to_shape.pagx
  pagx/spec/samples/5.5.6_text_layout.pagx
  pagx/spec/samples/5.5.7_rich_text.pagx
  pagx/spec/samples/5.6_repeater.pagx
  pagx/spec/samples/5.7_group.pagx
  pagx/spec/samples/5.7_group_isolation.pagx
  pagx/spec/samples/5.7_group_propagation.pagx
  pagx/spec/samples/5.7_mixed_overlay.pagx
  pagx/spec/samples/5.7_multiple_fills.pagx
  pagx/spec/samples/5.7_multiple_painters.pagx
  pagx/spec/samples/5.7_multiple_strokes.pagx
  pagx/spec/samples/B.1_complete_example.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX sample geometry calculations for diamond gradient radius and path shape layouts.
  pagx/spec/samples/3.3.3_diamond_gradient.pagx
  pagx/spec/samples/3.3.3_image_pattern.pagx
  pagx/spec/samples/5.2.4_path.pagx
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add unknown node error reporting and fix sample files to comply with PAGX spec.
  pagx/spec/samples/3.3_resources.pagx
  pagx/spec/samples/5.5.2_text_to_shape.pagx
  pagx/spec/samples/5.5.5_text_path.pagx
  pagx/spec/samples/5.5.7_rich_text.pagx
  pagx/spec/samples/5.7_group.pagx
  pagx/spec/samples/B.1_complete_example.pagx
  pagx/src/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert 5.5.5_text_path and 5.5.7_rich_text to working versions.
  pagx/spec/samples/5.5.5_text_path.pagx
  pagx/spec/samples/5.5.7_rich_text.pagx
Owners: @domchen, @Hparty, @shlzxjp

build: 更新 libpag 的混淆构建配置，自定携带混淆到aar，无需手动配置
  android/libpag/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

feat: 将PAGAnimator类改为public并添加final修饰符
  android/libpag/src/main/java/org/libpag/PAGAnimator.java
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Simplify node category table in Appendix A from 12 to 5 categories.
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
