Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Remove incorrect TextBox override description from Text position comment.
  include/pagx/nodes/Text.h
Owners: @domchen, @Hparty, @shlzxjp

Split TextBox enums into independent header files for VerticalAlign, WritingMode, and Overflow.
  include/pagx/nodes/TextBox.h
  include/pagx/types/Overflow.h
  include/pagx/types/VerticalAlign.h
  include/pagx/types/WritingMode.h
Owners: @domchen, @Hparty, @shlzxjp

Describe anchor point alignment behavior when TextBox size is zero.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Add fauxBold and fauxItalic attributes to PAGX Text node.
  include/pagx/nodes/Text.h
  spec/pagx_spec.md
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add fauxBold and fauxItalic support to Chinese spec and TextLayout rendering.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update fauxBold and fauxItalic descriptions in Chinese spec.
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Remove baselineShift from PAGX Text node as it is redundant with position.y.
  include/pagx/nodes/Text.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Complete all missing PAGX attribute implementations in the renderer.
  src/renderer/LayerBuilder.cpp
  src/renderer/TextLayout.cpp
  src/renderer/ToTGFX.cpp
  src/renderer/ToTGFX.h
Owners: @domchen, @Hparty, @shlzxjp

Remove outdated comment that contradicts the actual GlyphRun transform implementation.
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add VerticalAlign Baseline mode as default for TextBox positioning.
  include/pagx/nodes/TextBox.h
  include/pagx/types/VerticalAlign.h
  spec/pagx_spec.md
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/utils/StringParser.cpp
  src/renderer/TextLayout.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add enable_language for OBJC and OBJCXX to fix CMake 4.0 compatibility.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add VerticalAlign Baseline mode to Chinese spec matching the English version.
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Fix vertical column spacing and Text position double-application bug in TextBox layout.
  DEPS
  include/pagx/types/VerticalAlign.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/renderer/LayerBuilder.cpp
  src/renderer/ShapedText.h
  src/renderer/TextLayout.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Replace hasAbsolutePositions with inverse-compensation in TextBlob building to fix text position double-application.
  spec/samples/C.4_game_hud.pagx
  src/pagx/svg/SVGImporter.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/ShapedText.h
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Change lineHeight from multiplier to absolute pixel value and adopt half-leading line-box model aligned with Figma.
  include/pagx/nodes/TextBox.h
  include/pagx/types/VerticalAlign.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/C.4_game_hud.pagx
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/renderer/TextLayout.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add border rectangles to TextBoxHorizontal, TextBoxVertical, and TextBoxOverflowHidden tests for better visual clarity.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use max font line height for metricsHeight and round auto lineHeight to align with cocraft and Figma.
  src/renderer/TextLayout.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Apply rounding ratio and roundf to baseline Y coordinates to match cocraft layout algorithm.
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Include newline font metrics in next line calculation to match cocraft paragraph model.
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use visible metrics height for baseline half-leading to avoid newline glyph over-shifting.
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Align TextLayout line height and baseline calculations.
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unused visibleMetricsHeight field and related dead code from TextLayout.
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix newline glyph metrics leaking into the next line during text layout.
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Pass newline font metrics to the next line to match cocraft paragraph splitting behavior.
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix RuntimeFilter creating pipeline without setting multisample count to match render target.
  src/rendering/filters/RuntimeFilter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add temporary debug printf for line metrics in buildTextBlobWithLayout.
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add fixed lineHeight equal-spacing model and Bottom alignment bottom-up layout for TextBox.
  src/renderer/TextLayout.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Extend bottom-up baseline pre-computation to Center alignment and add TextBoxAlignmentCases test.
  src/renderer/TextLayout.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename TextBoxVerticalAlignCompare and TextBoxLineHeightCompare to remove Compare suffix.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rebuild TextBoxVertical test with better mixed CJK-Latin cases and multi-column scenarios.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix vertical text rotated group height and centering and use metricsHeight for auto column width.
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename VerticalAlign to ParagraphAlign with direction-neutral Near/Far enum values.
  include/pagx/nodes/TextBox.h
  include/pagx/types/ParagraphAlign.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/utils/StringParser.cpp
  src/pagx/utils/StringParser.h
  src/renderer/TextLayout.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove old VerticalAlign.h after rename to ParagraphAlign.h.
  include/pagx/types/VerticalAlign.h
Owners: @domchen, @Hparty, @shlzxjp

Fix outdated lineHeight multiplier wording in ParagraphAlign.h comment.
  include/pagx/types/ParagraphAlign.h
Owners: @domchen, @Hparty, @shlzxjp

Remove unnecessary lineHeight detail from ParagraphAlign enum comment.
  include/pagx/types/ParagraphAlign.h
Owners: @domchen, @Hparty, @shlzxjp

Fix upright glyph vertical positioning and improve rotated group comments for vertical text layout.
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove SVG reference from TextAnchor class comment.
  include/pagx/types/TextAnchor.h
Owners: @domchen, @Hparty, @shlzxjp

Remove SVG references from TextAnchor comments and move TextBox description to property level.
  include/pagx/nodes/Text.h
  include/pagx/types/TextAnchor.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Remove physical direction descriptions from TextAlign comments and specs.
  include/pagx/types/TextAlign.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Remove ParagraphAlign::Baseline and add TextAnchor to Text node, simplify Justify to per-character spacing, and consolidate TextBox tests from 11 to 4.
  include/pagx/nodes/TextBox.h
  include/pagx/types/ParagraphAlign.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/utils/StringParser.cpp
  src/pagx/utils/StringParser.h
  src/renderer/TextLayout.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123
