Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Downgrade transformable sibling layers to peer Groups with scale-independent skew detection and fix radial-gradient circle extent radii for centers outside the box.
  resources/cli/import_resolve_skew_siblings.pagx
  resources/cli/import_resolve_transformed_siblings.pagx
  src/cli/CommandResolve.cpp
  src/pagx/html/importer/HTMLValueParser.cpp
  test/src/PAGXCliTest.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Upgrade pagx cli version to 0.4.40.
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.4.41.
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Enhance PPTX export with editable text, multi-slide decks, and in-memory output (#3643)
  .codebuddy/skills/pagx/references/cli.md
  include/pagx/PPTExporter.h
  src/cli/CommandExport.cpp
  src/pagx/TextLayout.cpp
  src/pagx/TextLayout.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/ppt/PPTBoilerplate.cpp
  src/pagx/ppt/PPTBoilerplate.h
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
  src/pagx/ppt/PPTWriterContext.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/TextUtils.cpp
  src/pagx/utils/TextUtils.h
  test/src/PAGXCliTest.cpp
  test/src/PAGXHtmlTest.cpp
  test/src/PAGXPPTTest.cpp
  test/src/PAGXSVGTest.cpp
  test/src/PAGXTest.cpp
  test/src/PAGXUtilsTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add pagx preview CLI and MCP service with file watching, integrated into pagx CLI (#3642)
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  .gitignore
  cli/npm/bin/pagx.js
  cli/npm/pack.sh
  cli/npm/package.json
  cli/npm/scripts/check-preview.js
  playground/pagx-preview/.gitignore
  playground/pagx-preview/.npmignore
  playground/pagx-preview/README.md
  playground/pagx-preview/README.zh_CN.md
  playground/pagx-preview/package-lock.json
  playground/pagx-preview/package.json
  playground/pagx-preview/scripts/check-artifacts.js
  playground/pagx-preview/scripts/prebuild.js
  playground/pagx-preview/src/cli.js
  playground/pagx-preview/src/daemon.js
  playground/pagx-preview/src/mcp/server.js
  playground/pagx-preview/src/mcp/tools.js
  playground/pagx-preview/src/server/font-cache.js
  playground/pagx-preview/src/server/fonts.js
  playground/pagx-preview/src/server/index.js
  playground/pagx-preview/src/server/lock.js
  playground/pagx-preview/src/server/session.js
  playground/pagx-preview/static/icons/next.png
  playground/pagx-preview/static/icons/pause.png
  playground/pagx-preview/static/icons/play.png
  playground/pagx-preview/static/icons/previous.png
  playground/pagx-preview/static/index.css
  playground/pagx-preview/static/index.html
  playground/pagx-preview/static/index.js
  playground/pagx-preview/static/mcp-widget.html
  playground/pagx-preview/static/mcp-widget.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Upgrade pagx cli version to 0.4.41 (#3645)
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx to release/1.2 HEAD
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to release/2.1 HEAD
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix font weight fallback for missing faces
  src/pagx/TextLayout.cpp
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.h
  src/pagx/utils/CSSFontStyle.cpp
  src/pagx/utils/CSSFontStyle.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix duplicate viewer windows when opening a PAGX file by double-click.
  viewer/src/PAGViewer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Match icon-font @font-face by computed weight and style so families like Font Awesome Free resolve Solid glyphs instead of only the first Regular face.
  tools/html-snapshot/README.md
  tools/html-snapshot/build-browser-bundle.js
  tools/html-snapshot/lib/icon-font.ts
  tools/html-snapshot/test/icon-font-browser.test.js
  tools/html-snapshot/test/icon-font.test.js
Owners: @domchen, @Hparty, @shlzxjp

Match the viewer window height to the file aspect ratio to remove blank margins.
  viewer/assets/qml/Main.qml
Owners: @domchen, @Hparty, @shlzxjp

Keep the canvas at the file aspect ratio when toggling the side panel.
  viewer/assets/qml/Main.qml
Owners: @domchen, @Hparty, @shlzxjp

Adjust the window height to match the file aspect ratio when opening the side panel.
  viewer/assets/qml/Main.qml
Owners: @domchen, @Hparty, @shlzxjp

Disable PowerPoint auto-wrap when embedded glyph positions prove authored text is a single line so exported native text keeps its one-line layout instead of being re-wrapped by the host font metrics.
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Guard contentView access, limit window height changes, and reserve panel edit area.
  viewer/assets/qml/Main.qml
  viewer/assets/qml/MainForm.qml
Owners: @domchen, @Hparty, @shlzxjp

Reformat faux-bold weight resolution ternary to satisfy the code formatter.
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Restore panel minimum height and fit the canvas aspect ratio when opening the side panel.
  viewer/assets/qml/Main.qml
  viewer/assets/qml/MainForm.qml
  viewer/assets/qml/components/PAGWindow.qml
  viewer/src/PAGViewer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Keep the window height when the side panel closes.
  viewer/assets/qml/Main.qml
Owners: @domchen, @Hparty, @shlzxjp

Prevent invalid window width when opening a file with the edit panel open before the canvas size is known.
  viewer/assets/qml/Main.qml
Owners: @domchen, @Hparty, @shlzxjp

添加不可见兜底能力，确保组件完全不可见时停止播放，且预加载在屏幕外时不会播放。
  ohos/libpag/src/main/ets/PAGImageViewV2.ets
  ohos/libpag/src/main/ets/PAGViewV2.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Stop synthesizing faux bold at layout time when font lookup falls back to a lighter face so imported text relies solely on precise real-face weight selection.
  src/pagx/TextLayout.cpp
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.h
  src/pagx/utils/CSSFontStyle.cpp
  src/pagx/utils/CSSFontStyle.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Bound the reverse-derived window width by the screen size, fix isReady detection for window reuse, and keep the canvas aspect ratio consistent when toggling the side panel.
  viewer/assets/qml/Main.qml
  viewer/assets/qml/components/PAGMessageBox.qml
  viewer/assets/translation/Chinese.ts
  viewer/src/PAGViewer.cpp
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/PAGWindow.h
Owners: @domchen, @Hparty, @shlzxjp

Bound the reverse-derived dimension by the screen in the minimum-size clamps so the viewer window never exceeds the screen.
  viewer/assets/qml/Main.qml
Owners: @domchen, @Hparty, @shlzxjp

Simplify the redundant width fallback and round the fallback geometry to match the main return.
  viewer/assets/qml/Main.qml
Owners: @domchen, @Hparty, @shlzxjp

Drop the unused parameter from applyFullScreenCanvas and correct its comment to describe the actual behavior.
  viewer/assets/qml/Main.qml
Owners: @domchen, @Hparty, @shlzxjp

Prevent off-screen visibility handling from overriding caller paused animations on ohos.
  ohos/libpag/src/main/ets/PAGImageViewController.ets
  ohos/libpag/src/main/ets/PAGImageViewV2.ets
  ohos/libpag/src/main/ets/PAGViewController.ets
  ohos/libpag/src/main/ets/PAGViewV2.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Bind this in visible area change callback on ohos pag views.
  ohos/libpag/src/main/ets/PAGImageViewV2.ets
  ohos/libpag/src/main/ets/PAGViewV2.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Translate the off-screen pause comment in ohos PAGViewV2 and PAGImageViewV2 to English.
  ohos/libpag/src/main/ets/PAGImageViewV2.ets
  ohos/libpag/src/main/ets/PAGViewV2.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Narrow ohos pag visibility control into a single controller setVisible method.
  ohos/libpag/src/main/ets/PAGImageViewController.ets
  ohos/libpag/src/main/ets/PAGImageViewV2.ets
  ohos/libpag/src/main/ets/PAGViewController.ets
  ohos/libpag/src/main/ets/PAGViewV2.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Clear the off-screen pause latch in play so ohos visibility pausing keeps working after replay.
  ohos/libpag/src/main/ets/PAGImageViewController.ets
  ohos/libpag/src/main/ets/PAGViewController.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Improve HTML import and PPT text export fidelity (#3649)
  resources/cli/import_resolve_skew_siblings.pagx
  resources/cli/import_resolve_transformed_siblings.pagx
  src/cli/CommandResolve.cpp
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.h
  src/pagx/html/importer/HTMLValueParser.cpp
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
  src/pagx/utils/CSSFontStyle.cpp
  src/pagx/utils/CSSFontStyle.h
  test/src/PAGXCSSFontStyleTest.cpp
  test/src/PAGXCliTest.cpp
  test/src/PAGXHTMLImporterTest.cpp
  test/src/PAGXPPTTest.cpp
  tools/html-snapshot/README.md
  tools/html-snapshot/build-browser-bundle.js
  tools/html-snapshot/lib/icon-font.ts
  tools/html-snapshot/test/icon-font-browser.test.js
  tools/html-snapshot/test/icon-font.test.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix duplicate windows and canvas sizing issues in the PAGViewer (#3650)
  viewer/assets/qml/Main.qml
  viewer/assets/qml/MainForm.qml
  viewer/assets/qml/components/PAGMessageBox.qml
  viewer/assets/qml/components/PAGWindow.qml
  viewer/assets/translation/Chinese.ts
  viewer/src/PAGViewer.cpp
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/PAGWindow.h
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView NetworkOnMainThreadException by keeping composition in memory and not reloading from path on rebuild.
  android/libpag/src/main/java/org/libpag/PAGFile.java
  android/libpag/src/main/java/org/libpag/PAGImageView.java
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Add design doc for HTMLExporter::ToData in-memory ZIP export.
  docs/superpowers/specs/2026-08-04-html-exporter-todata-design.md
Owners: @domchen, @Hparty, @shlzxjp

Clarify ToData IO boundary: reads local filePath images, never writes output.
  docs/superpowers/specs/2026-08-04-html-exporter-todata-design.md
Owners: @domchen, @Hparty, @shlzxjp

Align ToData contract with PPTExporter: libpag may IO freely, output stays in memory.
  docs/superpowers/specs/2026-08-04-html-exporter-todata-design.md
Owners: @domchen, @Hparty, @shlzxjp

Add implementation plan for HTMLExporter::ToData.
  docs/superpowers/plans/2026-08-04-html-exporter-todata.md
Owners: @domchen, @Hparty, @shlzxjp

Document PAGImageView no-retry and resident composition behavior and log initDecoder failures in checkStatusChange.
  android/libpag/src/main/java/org/libpag/PAGImageView.java
Owners: @domchen, @Hparty, @shlzxjp

Log a warning when initDecoder fails in initDecoderInfo to match checkStatusChange.
  android/libpag/src/main/java/org/libpag/PAGImageView.java
Owners: @domchen, @Hparty, @shlzxjp
