Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

fix: Fix the deadlock issue caused by PAGAnimator calling nativeRelease
  src/platform/android/JPAGAnimator.cpp
Owners: @domchen, @Hparty, @shlzxjp

feat: Add native Compose implementation of PAGImageView
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/libpag/pagviewer/ComposeActivity.kt
  android/app/src/main/java/libpag/pagviewer/MainActivity.java
  android/app/src/main/res/layout/activity_main.xml
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/libpag-compose/.gitignore
  android/libpag-compose/build.gradle.kts
  android/libpag-compose/proguard-rules.pro
  android/libpag-compose/src/main/AndroidManifest.xml
  android/libpag-compose/src/main/java/org/libpag/PAGImageComponent.kt
  android/libpag-compose/src/main/java/org/libpag/PAGImageState.kt
  android/libpag-compose/src/main/java/org/libpag/compose/PAGCompositionSource.kt
  android/libpag-compose/src/main/java/org/libpag/compose/StableMatrix.kt
  android/libpag/proguard-rules.pro
  android/libpag/src/main/java/org/libpag/PAGImageView.java
  android/settings.gradle
Owners: @domchen, @Hparty, @shlzxjp

fix: Fix the deadlock issue caused by PAGAnimator calling nativeRelease
  src/platform/android/JPAGAnimator.cpp
Owners: @domchen, @Hparty, @shlzxjp

feat: Add native Compose implementation of PAGImageView
  android/.idea/misc.xml
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/libpag/pagviewer/ComposeActivity.kt
  android/app/src/main/java/libpag/pagviewer/MainActivity.java
  android/app/src/main/res/layout/activity_main.xml
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/libpag-compose/.gitignore
  android/libpag-compose/build.gradle.kts
  android/libpag-compose/proguard-rules.pro
  android/libpag-compose/src/main/AndroidManifest.xml
  android/libpag-compose/src/main/java/org/libpag/PAGImageComponent.kt
  android/libpag-compose/src/main/java/org/libpag/PAGImageState.kt
  android/libpag-compose/src/main/java/org/libpag/compose/PAGCompositionSource.kt
  android/libpag-compose/src/main/java/org/libpag/compose/StableMatrix.kt
  android/libpag/src/main/java/org/libpag/PAGImageView.java
  android/settings.gradle
Owners: @domchen, @Hparty, @shlzxjp

build(gradle): `minifyEnabled` false for debug
  android/libpag/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

Fix the deadlock issue caused by PAGAnimator calling nativeRelease (#3251)
  src/platform/android/JPAGAnimator.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update the obfuscation build configuration of libpag, now automatically including obfuscation in the AAR without the need for manual setup (#3250)
  android/libpag/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

Fix JNI crash when jBytes is null in SafeConvertToStdString
  src/platform/android/JStringUtil.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView setScaleMode(None) not resetting matrix on HarmonyOS
  src/platform/ohos/JPAGImageView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Optimize zoom gesture handling with accumulation-based direction detection.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/binding.cpp
  pagx/wechat/ts/pagx-view.ts
  pagx/wechat/ts/types.ts
Owners: @domchen, @Hparty, @shlzxjp

Configure TypeScript declaration generation and remove manual zoom event bindings.
  pagx/wechat/.gitignore
  pagx/wechat/package.json
  pagx/wechat/tsconfig.type.json
  pagx/wechat/wx_demo/pages/viewer/viewer.js
Owners: @domchen, @Hparty, @shlzxjp

Add config read and cache cleanup when setting custom cache directory.
  src/rendering/caches/DiskCache.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix JNI crash when jBytes is null in SafeConvertToStdString (#3254)
  src/platform/android/JStringUtil.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView setScaleMode(None) not resetting matrix on HarmonyOS (#3256)
  src/platform/ohos/JPAGImageView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add config read and cache cleanup when setting custom cache directory. (#3260)
  src/rendering/caches/DiskCache.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add advance attribute to embedded font glyphs and support Default positioning mode for GlyphRun.
  pagx/include/pagx/nodes/Font.h
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
  pagx/src/PAGXExporter.cpp
  pagx/src/PAGXImporter.cpp
  pagx/src/tgfx/FontEmbedder.cpp
  pagx/src/tgfx/Typesetter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Optimize zoom performance by disabling subtree cache when zooming in.
  DEPS
  pagx/wechat/CMakeLists.txt
  pagx/wechat/src/PAGXView.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to support advance parameter in custom typeface and add code review guidelines.
  .codebuddy/commands/cr.md
  .codebuddy/rules/Code.md
  DEPS
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Optimize GlyphRun export to use Default mode when positions match advance layout and improve spec docs.
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
  pagx/src/tgfx/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove k prefix from constants and use FloatNearlyEqual for position comparison in FontEmbedder.
  pagx/src/tgfx/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Support Default positioning mode for Typesetter generated TextBlobs when positions match advance layout.
  pagx/src/tgfx/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add x attribute to GlyphRun for Default mode starting position.
  pagx/include/pagx/nodes/GlyphRun.h
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
  pagx/src/PAGXExporter.cpp
  pagx/src/PAGXImporter.cpp
  pagx/src/tgfx/FontEmbedder.cpp
  pagx/src/tgfx/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract FloatNearlyEqual to MathUtil.h for code reuse.
  pagx/src/MathUtil.h
  pagx/src/tgfx/FontEmbedder.cpp
  pagx/src/tgfx/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update PAGX spec type naming: Use UpperCamelCase for defined types (Point, Rect, etc.) while keeping basic types (int, float, etc.) lowercase
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify anchorPoint attribute to anchor in PAGX spec and samples.
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
  pagx/spec/samples/5.7_group.pagx
  pagx/spec/samples/B.1_complete_example.pagx
Owners: @domchen, @Hparty, @shlzxjp

Rename anchorPoint to anchor in C++ code and PAGX Importer/Exporter to match spec.
  pagx/include/pagx/nodes/Group.h
  pagx/include/pagx/nodes/Repeater.h
  pagx/include/pagx/nodes/TextModifier.h
  pagx/src/PAGXExporter.cpp
  pagx/src/PAGXImporter.cpp
  pagx/src/tgfx/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Redesign GlyphRun with split transform attributes and anchor-based transforms in PAGX spec.
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Implement split GlyphRun attributes with anchor-based transforms.
  pagx/include/pagx/nodes/GlyphRun.h
  pagx/src/MathUtil.h
  pagx/src/PAGXExporter.cpp
  pagx/src/PAGXImporter.cpp
  pagx/src/tgfx/FontEmbedder.cpp
  pagx/src/tgfx/Typesetter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove transform processing from Typesetter as it should be handled by tgfx layer.
  pagx/src/tgfx/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add comments clarifying that scale, rotation, and skew transforms are applied around the anchor point.
  pagx/include/pagx/nodes/GlyphRun.h
Owners: @domchen, @Hparty, @shlzxjp

Improve GlyphRun attribute descriptions to clarify anchor-based transforms and attribute stacking.
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Update CodeBuddy commands and rules.
  .codebuddy/commands/cr.md
  .codebuddy/rules/Code.md
  .codebuddy/rules/Test.md
  .codebuddy/settings.json
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx version
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add debug log
  pagx/wechat/src/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Integrate tgfx Text anchors API for per-glyph anchor support.
  DEPS
  pagx/include/pagx/TextGlyphs.h
  pagx/src/TextGlyphs.cpp
  pagx/src/tgfx/FontEmbedder.cpp
  pagx/src/tgfx/LayerBuilder.cpp
  pagx/src/tgfx/Typesetter.cpp
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refactor TextGlyphs to use ShapedText composite struct for cleaner API.
  pagx/include/pagx/TextGlyphs.h
  pagx/src/TextGlyphs.cpp
  pagx/src/tgfx/FontEmbedder.cpp
  pagx/src/tgfx/LayerBuilder.cpp
  pagx/src/tgfx/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify TextGlyphs to a struct and rename Impl classes to Context.
  pagx/include/pagx/FontEmbedder.h
  pagx/include/pagx/PAGXDocument.h
  pagx/include/pagx/TextGlyphs.h
  pagx/include/pagx/Typesetter.h
  pagx/include/pagx/nodes/PathData.h
  pagx/src/TextGlyphs.cpp
  pagx/src/svg/SVGImporter.cpp
  pagx/src/svg/SVGParserInternal.h
  pagx/src/tgfx/FontEmbedder.cpp
  pagx/src/tgfx/LayerBuilder.cpp
  pagx/src/tgfx/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename TextGlyphs to ShapedText and createTextGlyphs to shape.
  pagx/include/pagx/FontEmbedder.h
  pagx/include/pagx/LayerBuilder.h
  pagx/include/pagx/ShapedText.h
  pagx/include/pagx/Typesetter.h
  pagx/src/tgfx/FontEmbedder.cpp
  pagx/src/tgfx/LayerBuilder.cpp
  pagx/src/tgfx/Typesetter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Limit PAGDecoder scale to 1.0 for pure bitmap sequence compositions to avoid unnecessary upscaling.
  include/pag/pag.h
  src/rendering/PAGDecoder.cpp
  src/rendering/layers/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Optimize PAGDecoder scale limiting based on single composition size ratio and remove hasBitmapSequenceOnly method.
  include/pag/pag.h
  src/rendering/PAGDecoder.cpp
  src/rendering/layers/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
