Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Fix the issues raised during code review
  viewer/src/editing/PAGTextLayerModel.cpp
  viewer/src/main.cpp
  viewer/src/maintenance/PAGCheckUpdateModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Optimize viewer UI data update logic (#3069)
  viewer/assets/qml/Main.qml
  viewer/assets/qml/Profiler.qml
  viewer/src/editing/PAGImageLayerModel.cpp
  viewer/src/editing/PAGTextLayerModel.cpp
  viewer/src/editing/PAGTreeViewModel.cpp
  viewer/src/main.cpp
  viewer/src/profiling/PAGFileInfoModel.cpp
  viewer/src/profiling/PAGFrameDisplayInfoModel.cpp
  viewer/src/profiling/PAGFrameDisplayInfoModel.h
  viewer/src/rendering/PAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  viewer/src/video/MovieInfo.cpp
  viewer/src/video/MovieInfo.h
Owners: @domchen, @Hparty, @shlzxjp

Update the package script for viewer
  exporter/src/platform/win/PAGViewerCheck.cpp
  exporter/src/platform/win/PlatformHelper.cpp
  viewer/CMakeLists.txt
  viewer/package/build_windows.ps1
  viewer/package/templates/PAGViewer.rc
  viewer/package/templates/resource.h
Owners: @domchen, @Hparty, @shlzxjp

Update the package script for viewer
  viewer/package/build_mac.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update CMakeLists.txt for build viewer enterprise version
  viewer/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

Fix the potential race condition when accessing _parent in PAGLayer's removeFromParentOrOwner method, which may be caused by releasing rootLocker earlier when reusing PAGComposition.
  src/rendering/layers/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix a data race in PAGLayer::removeFromParentOrOwner() by updating rootLocker after resetting the layer's parent. (#3074)
  src/rendering/layers/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix a data race in PAGLayer::removeFromParentOrOwner() by updating rootLocker after resetting the layer's parent. (#3074)
  src/rendering/layers/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix a data race in PAGLayer::removeFromParentOrOwner() by updating rootLocker after resetting the layer's parent. (#3074)
  src/rendering/layers/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Improve MoveInfo based on code review suggestions
  viewer/src/video/MovieInfo.cpp
  viewer/src/video/MovieInfo.h
Owners: @domchen, @Hparty, @shlzxjp

Update build_mac script
  viewer/package/build_mac.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add viewer support for replacing placeholder layer with video (#3070)
  .github/workflows/build.yml
  viewer/CMakeLists.txt
  viewer/assets/qml/ImageListView.qml
  viewer/src/editing/PAGImageLayerModel.cpp
  viewer/src/maintenance/PAGCheckUpdateModel.cpp
  viewer/src/video/MovieDemuxer.cpp
  viewer/src/video/MovieDemuxer.h
  viewer/src/video/MovieInfo.cpp
  viewer/src/video/MovieInfo.h
  viewer/src/video/PAGMovie.cpp
  viewer/src/video/PAGMovie.h
  viewer/vendor/ffmovie/.gitattributes
  viewer/vendor/ffmovie/include/ffavc.h
  viewer/vendor/ffmovie/include/ffmovie/movie.h
  viewer/vendor/ffmovie/include/pag/decoder.h
  viewer/vendor/ffmovie/mac/arm64/libffmovie.dylib
  viewer/vendor/ffmovie/mac/x64/libffmovie.dylib
  viewer/vendor/ffmovie/win/x64/ffmovie.dll
  viewer/vendor/ffmovie/win/x64/ffmovie.lib
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update package script for viewer on windows
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update package script for viewer on windows
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp

Adjust some code details
  exporter/src/export/data/ImageBytes.cpp
  exporter/src/export/encode/OfflineVideoEncoder.cpp
  exporter/src/export/encode/OfflineVideoEncoder.h
  exporter/src/export/encode/VideoEncoder.cpp
  exporter/src/export/encode/VideoEncoder.h
  exporter/src/export/sequence/VideoSequence.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  exporter/src/export/ExportComposition.cpp
  exporter/src/export/ExportComposition.h
  exporter/src/export/ExportVerify.cpp
  exporter/src/export/PAGExport.cpp
  exporter/src/export/data/ImageBytes.cpp
  exporter/src/export/data/ImageBytes.h
  exporter/src/export/encode/VideoEncoder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update CMakeList.txt for exporter
  exporter/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

Fix video decoding failure issue in WeChat Mini Program on Android platform
  src/platform/web/HardwareDecoder.cpp
  src/platform/web/HardwareDecoder.h
  src/platform/web/NativePlatform.cpp
  src/rendering/layers/PAGFile.cpp
  src/rendering/sequences/SequenceImageQueue.cpp
  src/rendering/sequences/VideoReader.cpp
  src/rendering/sequences/VideoReader.h
  src/rendering/video/VideoDecoderFactory.cpp
  src/rendering/video/VideoDecoderFactory.h
  web/src/core/video-reader.ts
  web/src/interfaces.ts
  web/src/pag-view.ts
  web/src/utils/mixin.ts
  web/src/wechat/binding.ts
  web/src/wechat/interfaces.ts
  web/src/wechat/pag-view.ts
  web/src/wechat/utils/ua.ts
  web/src/wechat/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

Update build script for viewer
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
  viewer/src/maintenance/PAGCheckUpdateModel.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update package script for viewer
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix video decoding failure issue in WeChat Mini Program on Android platform
  src/rendering/sequences/SequenceImageQueue.cpp
  web/src/core/video-reader.ts
  web/src/interfaces.ts
  web/src/pag-view.ts
  web/src/wechat/pag-view.ts
  web/src/wechat/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

Update package script for viewer
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp

Update package script for viewer
  viewer/package/sign_update.bat
Owners: @domchen, @Hparty, @shlzxjp

Delete viewer test code
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
  viewer/src/maintenance/PAGCheckUpdateModel.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update package script for viewer
  viewer/package/build_mac.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add test code for viewer
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
  viewer/src/maintenance/PAGCheckUpdateModel.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update Sparkle for viewer
  viewer/vendor/sparkle/mac/Sparkle.framework/Updater.app
Owners: @domchen, @Hparty, @shlzxjp

Update Sparkle for viewer
  viewer/vendor/sparkle/mac/Sparkle.framework/Updater.app
Owners: @domchen, @Hparty, @shlzxjp

Make viewer's right Item resizable
  viewer/assets/qml/Main.qml
  viewer/assets/qml/MainForm.qml
  viewer/assets/qml/TextListView.qml
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant code for viewer
  viewer/CMakeLists.txt
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix the issues raised during code review
  viewer/CMakeLists.txt
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix the issues raised during code review
  exporter/src/export/PAGExport.cpp
  exporter/src/export/encode/OfflineVideoEncoder.cpp
  exporter/src/export/encode/OfflineVideoEncoder.h
Owners: @domchen, @Hparty, @shlzxjp

Fix window resize lag during PAG playback
  viewer/assets/qml/ImageListView.qml
  viewer/assets/qml/Main.qml
  viewer/assets/qml/MainForm.qml
  viewer/assets/qml/Profiler.qml
  viewer/assets/qml/TextListView.qml
  viewer/src/rendering/PAGRenderThread.cpp
  viewer/src/rendering/PAGRenderThread.h
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGView.h
  viewer/src/rendering/PAGWindow.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update translation file for viewer
  viewer/assets/qml/Main.qml
  viewer/assets/qml/Profiler.qml
  viewer/assets/translation/Chinese.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  viewer/src/rendering/PAGRenderThread.cpp
  viewer/src/rendering/PAGRenderThread.h
  viewer/src/rendering/PAGWindow.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  viewer/src/rendering/PAGRenderThread.cpp
  viewer/src/rendering/PAGRenderThread.h
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  viewer/src/rendering/PAGRenderThread.h
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGView.h
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  viewer/src/rendering/PAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update the translation file for viewer
  viewer/assets/qml/Profiler.qml
  viewer/assets/translation/Chinese.ts
Owners: @domchen, @Hparty, @shlzxjp
