Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Fix PAGAnimator.start() missing onAnimationStart callback when animator duration scale is turned off. (#3523)
  android/libpag/src/main/java/org/libpag/PAGAnimator.java
Owners: @domchen, @Hparty, @shlzxjp

feat: add min/max to ViewModelProperty, populate PropertyData subclasses with defaultValue from schema.
  include/pagx/PropertyData.h
  include/pagx/nodes/ViewModelProperty.h
  src/pagx/DataConverterRegistry.h
  src/pagx/PAGScene.cpp
  src/pagx/PAGViewModel.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/SuppressDelegation.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Use tolerance-based color comparison for uniform gradient detection to prevent gradient fills from disappearing on float-level color noise
  src/pagx/html/HTMLWriterColor.cpp
Owners: @domchen, @Hparty, @shlzxjp

Avoid orphan SolidColor node when pagx Fill or Stroke has both color attribute and child ColorSource
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reject oversized fonts in WOFF2 generator to prevent uint16_t wraparound producing invalid data.
  src/pagx/html/Woff2FontGenerator.cpp
Owners: @domchen, @Hparty, @shlzxjp

Delegate WritePainterColor to WriteSolidColor to remove duplicated color-mixing logic.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Stabilize near zero contour winding.
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert LibraryLoadUtils.java to original outside pagx scope.
  android/libpag/src/main/java/org/extra/tools/LibraryLoadUtils.java
Owners: @domchen, @Hparty, @shlzxjp

Remove shadowing children field in PAGComposition.
  include/pagx/PAGComposition.h
Owners: @domchen, @Hparty, @shlzxjp

Add ViewModel and DataConverter to ParseResources error message.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace dynamic_pointer_cast with valueType check and static_pointer_cast in PAGViewModel accessors.
  src/pagx/PAGViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add DataBind to ParseDocument error message.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Make PAGScene::viewModel() const to match PAGComposition.
  include/pagx/PAGScene.h
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add DataBind to ParseComposition error message.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add notifyDependents to Boolean/Color/Image setters and use Color operator== for comparison.
  src/pagx/PAGViewModelValue.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add doc comments for ViewModel DataBind and vmContext fields in pagx headers.
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Composition.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Node.h
Owners: @domchen, @Hparty, @shlzxjp

Rename DataBindFlags to DataBindDirection with sequential enum values.
  include/pagx/nodes/DataBind.h
  src/pagx/DataBindRuntime.cpp
Owners: @domchen, @Hparty, @shlzxjp

Clear pendingNotifications and reset suppressNotify in buildRuntimeTree.
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Snapshot observers before notification to avoid iterator invalidation when callbacks mutate the vector.
  src/pagx/PAGViewModelValue.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unused isRootDocument parameter from ParseDataBind.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove dead (void)doc statement in ParseDataBind.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Skip syncBack write for unsupported channels to avoid VM pollution.
  src/pagx/DataBindRuntime.cpp
Owners: @domchen, @Hparty, @shlzxjp

Report error for invalid DataBind flags attribute value.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename rootComp to parentComp in buildNestedViewModels.
  include/pagx/PAGScene.h
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Report error for unknown ViewModel Property type attribute.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move setScene to private section, add doc comment, and rename param to scene.
  include/pagx/PAGViewModelValue.h
Owners: @domchen, @Hparty, @shlzxjp

Guard update and syncBack against expired sourceGuard.
  src/pagx/DataBindRuntime.cpp
Owners: @domchen, @Hparty, @shlzxjp

Report error for unresolved dataConverter and viewModelRef references.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Make flushDataBinds non-const and remove its call from getGlobalBounds.
  include/pagx/PAGScene.h
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix dedup comment to match vector usage in SuppressDelegation.
  src/pagx/SuppressDelegation.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move shared_ptr into ObserverHandle constructor source field.
  src/pagx/PAGViewModelValue.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant id empty guard when writing ViewModel resource.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Call advancedAll on rootViewModel after a successful draw.
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove dead binding parameter from DataBindRuntime bind.
  src/pagx/DataBindRuntime.cpp
  src/pagx/DataBindRuntime.h
Owners: @domchen, @Hparty, @shlzxjp

Add PAGViewModel advancedAll to reset dirty flags recursively across nested ViewModels.
  include/pagx/PAGViewModel.h
  src/pagx/PAGViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace O(n^2) dedup with unordered_set in SuppressDelegation.
  src/pagx/SuppressDelegation.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use DataBindDirection enum in ParseDataBind after rename.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update bind call sites to drop the removed binding parameter.
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Document ViewModel container behavior in DataContext resolve.
  src/pagx/DataContext.cpp
Owners: @domchen, @Hparty, @shlzxjp

Verify target layer visible state in BooleanValueTriggersDataBindSync.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp
