Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add TODO for target name channel verification in StringValueTriggersDataBindSync.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add TODO for target color channel verification in ColorValueTriggersDataBindSync.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add TODO for target image channel verification in ImageValueTriggersDataBindSync.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Verify priceFormat converter output via registry in DataConverterPriceFormat.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use DataBindDirection enum in PAGXExporter after rename.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Apply clang-format to ReportError calls in ParseDocument, ParseComposition, ParseViewModel.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use DataBindDirection enum in PAGXViewModelTest after rename.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename referenceInstance field to referenceViewModelInstance to match getter.
  include/pagx/PAGViewModelValueViewModel.h
  src/pagx/PAGScene.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reflow long DataBindDirection comparison line after enum rename.
  src/pagx/DataBindRuntime.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert field rename to fix name collision with getter.
  include/pagx/PAGViewModelValueViewModel.h
  src/pagx/PAGScene.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix stale comment referencing old field name.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove DataBindDirection flags and treat all bindings as TwoWay.
  include/pagx/nodes/DataBind.h
  src/pagx/DataBindRuntime.cpp
  src/pagx/DataBindRuntime.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove DataBindDirection flags and direction-specific tests from PAGXViewModelTest.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename referenceViewModelInstance to referenceViewModel in PAGXViewModelTest.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename referenceViewModelInstance getter to referenceViewModel.
  include/pagx/PAGViewModel.h
  include/pagx/PAGViewModelValueViewModel.h
  src/pagx/DataContext.cpp
  src/pagx/PAGViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Skip dirty bindings in syncBack to avoid overwriting pending VM changes.
  src/pagx/DataBindRuntime.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove initial markDirty so TwoWay syncBack captures animation values.
  src/pagx/DataBindRuntime.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add name writer for Layer and verify target name in StringValueTriggersDataBindSync test.
  src/renderer/LayerBuilder.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Verify target SolidColor color via readPixels in ColorValueTriggersDataBindSync test.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use integer glyph y coordinate in auto-size glyph run test to avoid brittle float assertion.
  resources/pagx_to_html/unit/single_auto_size_glyph_run.pagx
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refine setBackgroundLayer API based on code review feedback.
  include/pagx/PAGDisplayOptions.h
  include/pagx/PAGScene.h
  playground/pagx-viewer/src/cpp/GridBackground.cpp
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  src/pagx/PAGScene.cpp
  test/src/PAGXRuntimeTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Accept baseline screenshots for backgroundLayer test cases.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add follow-up TODO for image writer implementation in ImageValueTriggersDataBindSync test.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Address second-round PR review feedback on SVG WOFF2 export, mask emission, and skew regression coverage.
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXSVGTest.cpp
  test/src/PAGXUtilsTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Key SVG mask def cache by MaskType so shared mask layers no longer cross alpha/luminance/contour roles.
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Revert SVG mask def cache, layer-parent map, and cross-parent suppression after evidence the design was unsound.
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Support color channel for PAGX Fill and Stroke nodes (#3529)
  src/pagx/PAGXImporter.cpp
  src/pagx/PAGXNodeChannel.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reintroduce SVG mask def cache keyed by MaskType with cross-parent warning instead of skip emission.
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refactor image resource management into ImageResourceProvider interface.
  include/pagx/ImageResourceProvider.h
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Image.h
  pagx/wechat/src/PAGXImageResourceProvider.h
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.h
  src/pagx/PAGXDocument.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Replace C++ checkerboard rendering with CSS background in pagx-playground.
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/index.css
Owners: @domchen, @Hparty, @shlzxjp

Add cli/npm/pack.sh to build and stage the host pagx binary then run npm pack or publish.
  cli/npm/pack.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Change imageResourceProvider() to return raw pointer instead of shared_ptr.
  include/pagx/PAGXDocument.h
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace C++ checkerboard rendering with CSS background in pagx-playground (#3530)
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/index.css
Owners: @domchen, @Hparty, @shlzxjp

Fix video sequence encoding failure due to premature InEnd.txt write.
  exporter/src/export/encode/PAGEncodeThread.cpp
  exporter/src/export/encode/PAGEncodeThread.h
  exporter/src/export/sequence/VideoSequence.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reflow the unsupported-transform warning in HTMLAnimationBuilder to satisfy clang-format.
  src/pagx/html/importer/HTMLAnimationBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Embed WOFF2 fonts in SVG export and fix PPT/SVG exporter rendering issues. (#3488)
  CMakeLists.txt
  include/pagx/SVGExporter.h
  src/pagx/html/FontSignature.cpp
  src/pagx/html/FontSignature.h
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterGroup.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterUtils.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTWriter.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
  src/pagx/utils/ModifierResolver.cpp
  src/pagx/utils/ModifierResolver.h
  src/pagx/utils/Woff2FontGenerator.cpp
  src/pagx/utils/Woff2FontGenerator.h
  test/src/PAGXSVGTest.cpp
  test/src/PAGXUtilsTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix double close by emitting signal in destructor instead of direct call.
  exporter/src/export/encode/PAGEncodeThread.cpp
Owners: @domchen, @Hparty, @shlzxjp

Pass document to RefreshLayerInPlace and BuildLayerInto to fix null dereference.
  src/pagx/runtime/PAGComposition.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Accept PAGX HTML screenshot baselines.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix PAGXHtmlTest include order for Woff2FontGenerator rename.
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
