Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

chore: update tgfx for contour merge and spread-skip semantics
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Make animator cancellation blocking test deterministic.
  test/src/PAGAnimatorTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Avoid self-wait during reentrant async animator callbacks.
  src/rendering/PAGAnimator.cpp
  src/rendering/PAGAnimator.h
  test/src/PAGAnimatorTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

chore: update tgfx for the unified AlphaMask glass path
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Allow OHOS view release during blocked frame flush.
  src/platform/ohos/JPAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Prevent OHOS PAGView release from waiting on stalled rendering.
  src/platform/ohos/JPAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Prevent OHOS PAGView release from waiting on stalled rendering.
  src/platform/ohos/JPAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Cover deferred updates during animator completion.
  test/src/PAGAnimatorTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

chore: update tgfx for the main-parity glass behavior
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix expat dependency sha in DEPS to stop the repeated resync.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Declare all PAGSurface factory methods unconditionally in public headers so framework consumers see the full API and backend dispatch happens inside the implementation.
  src/platform/ios/PAGSurface.h
  src/platform/ios/PAGSurface.m
  src/platform/ios/private/PAGSurfaceImpl.h
  src/platform/ios/private/PAGSurfaceImpl.mm
  src/platform/mac/PAGSurface.h
  src/platform/mac/PAGSurface.m
  src/platform/mac/private/PAGSurfaceImpl.h
  src/platform/mac/private/PAGSurfaceImpl.mm
Owners: @domchen, @Hparty, @shlzxjp

Derive BackendSemaphore initialized state from backend and handle so the class layout stays binary compatible and initMetal with a null event resets the semaphore.
  include/pag/gpu.h
  src/rendering/GPUBackend.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove MTLCreateSystemDefaultDevice from PAGView so MetalWindow lazily creates the device with balanced retain counting.
  src/platform/ios/PAGView.mm
  src/platform/mac/PAGView.mm
Owners: @domchen, @Hparty, @shlzxjp

chore: update tgfx for the exact main-parity cleanup
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

chore: update tgfx to the merged main commit.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Capture the owning device from external textures so Metal rejects drawing when the render device differs.
  src/rendering/editing/StillImage.cpp
  src/rendering/gpu/Devices.h
  src/rendering/gpu/Devices_GL.cpp
  src/rendering/gpu/Devices_Metal.mm
  src/rendering/graphics/Picture.cpp
Owners: @domchen, @Hparty, @shlzxjp

Retain the MTLDevice in MetalExternalDeviceRef manually since libpag builds without ARC.
  src/rendering/gpu/Devices_Metal.mm
Owners: @domchen, @Hparty, @shlzxjp

fix: resolve web CI errors and update stale comments.
  pagx/wechat/ts/pagx-check.ts
  test/src/PAGXGlassRenderTest.cpp
  web/src/types.ts
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

docs: align WeChat risk model wording with renamed keys.
  pagx/wechat/GETTING_STARTED.md
  pagx/wechat/ts/pagx-check.ts
Owners: @domchen, @Hparty, @shlzxjp

fix: sync PPT comments and wire WeChat test into CI.
  .github/workflows/build.yml
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTStyleEmitter.cpp
  src/pagx/ppt/PPTWriter.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

chore: update tgfx for the PDF vector mask fix.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix NoiseStyle and NoiseFilter being dropped on PAGX export.
  spec/pagx.xsd
  src/cli/FormatUtils.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXNodeChannel.cpp
  test/src/PAGXTest.cpp
  viewer/src/profiling/PAGNodeStatsModel.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add PAGX GlassStyle layer style with full export/import/runtime support. (#3711)
  .github/workflows/build.yml
  DEPS
  include/pagx/SVGExporter.h
  include/pagx/nodes/GlassStyle.h
  include/pagx/nodes/LayerStyle.h
  include/pagx/nodes/Node.h
  pagx/wechat/GETTING_STARTED.md
  pagx/wechat/package.json
  pagx/wechat/test/pagx-check-glass-risk.test.mjs
  pagx/wechat/ts/pagx-check.ts
  resources/cli/render_layer_backdrop.pagx
  resources/cli/verify_c11_low_opacity_glass.pagx
  spec/pagx.xsd
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/cli/CommandVerify.cpp
  src/cli/FormatUtils.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/PAGXNodeChannel.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTFeatureProbe.cpp
  src/pagx/ppt/PPTFeatureProbe.h
  src/pagx/ppt/PPTStyleEmitter.cpp
  src/pagx/ppt/PPTWriter.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/StringParser.cpp
  src/renderer/LayerBuilder.cpp
  test/src/PAGXCliTest.cpp
  test/src/PAGXGlassRenderTest.cpp
  test/src/PAGXHtmlTest.cpp
  test/src/PAGXPPTTest.cpp
  test/src/PAGXSVGTest.cpp
  test/src/PAGXTest.cpp
  viewer/src/profiling/PAGNodeStatsModel.cpp
  web/src/types.ts
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

fix: cover noise mode writers and complete CLI filter names.
  src/cli/FormatUtils.cpp
  src/pagx/PAGXNodeChannel.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

test: assert default noise tags omit every attribute.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

test: locate default noise tags without relying on order.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix NoiseStyle and NoiseFilter being silently dropped on PAGX export (#3726)
  spec/pagx.xsd
  src/cli/FormatUtils.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXNodeChannel.cpp
  test/src/PAGXTest.cpp
  viewer/src/profiling/PAGNodeStatsModel.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix PR review issues in incremental layout state machine reset polling keyboard shortcuts and bounds semantics.
  include/pagx/PAGComposition.h
  include/pagx/PAGScene.h
  include/pagx/PAGStateMachine.h
  include/pagx/PAGXDocument.h
  pagx/wechat/src/PAGXView.cpp
  playground/pagx-player/package-lock.json
  playground/pagx-player/src/editor/SourceEditor.ts
  playground/pagx-player/src/editor/index.ts.bak
  playground/pagx-player/src/pagx-view-types.ts
  playground/pagx-player/src/player.ts
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/ts/types.ts
  src/pagx/PAGScene.cpp
  src/pagx/PAGStateMachine.cpp
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add test
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

fix test
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Recover the snapshot canvas from visible content when a page positions every child out of flow so fixed-canvas designs no longer import as an empty document.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp

Reject PAG files whose video sequence declares a size the stream does not contain.
  src/base/VideoSequence.cpp
  src/codec/utils/H264SPSParser.cpp
  src/codec/utils/H264SPSParser.h
  src/rendering/video/SoftwareDecoderWrapper.cpp
  test/src/PAGVideoSequenceTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Prevent main thread stalls when video decoding stops making progress.
  android/libpag/src/main/java/org/libpag/PAGAnimator.java
  include/pag/pag.h
  src/platform/cocoa/private/PAGAnimator.h
  src/rendering/CompositionReader.cpp
  src/rendering/PAGAnimator.cpp
  src/rendering/PAGAnimator.h
  src/rendering/PAGSurface.cpp
  src/rendering/caches/RenderCache.cpp
  src/rendering/caches/RenderCache.h
  src/rendering/sequences/SequenceImageProxy.cpp
  src/rendering/sequences/SequenceImageQueue.cpp
  src/rendering/sequences/SequenceImageQueue.h
  src/rendering/sequences/SequenceInfo.cpp
  src/rendering/sequences/SequenceInfo.h
  src/rendering/sequences/SequenceReader.cpp
  src/rendering/sequences/SequenceReader.h
  src/rendering/sequences/VideoReader.cpp
  src/rendering/sequences/VideoReader.h
  test/src/PAGANRRegressionTest.cpp
  viewer/src/video/MovieInfo.cpp
  viewer/src/video/MovieInfo.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Prevent dangling font access after clearing embedded glyph data.
  src/pagx/PAGXDocument.cpp
  test/src/PAGTypefaceCacheTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Apply the code format to the video sequence validation changes.
  src/codec/utils/H264SPSParser.cpp
  test/src/PAGVideoSequenceTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add rendering investigations and update Android project metadata.
  android/.idea/misc.xml
  docs/metal-rendering-bugs-investigation.md
  docs/pagimageview-mainthread-anr-investigation.md
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx to c14073809 to reject YUV data with rows narrower than a plane.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove unrelated files from the Android ANR fix.
  android/.idea/misc.xml
Owners: @domchen, @Hparty, @shlzxjp

Remove unrelated documents from the Android ANR fix.
  docs/metal-rendering-bugs-investigation.md
  docs/pagimageview-mainthread-anr-investigation.md
Owners: @domchen, @Hparty, @shlzxjp

Remove a redundant alpha offset check and harden the video sequence test.
  src/base/VideoSequence.cpp
  src/codec/utils/H264SPSParser.cpp
  src/rendering/video/SoftwareDecoderWrapper.cpp
  test/src/PAGVideoSequenceTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
