Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Add subcommand help hint to main usage output.
  src/cli/main.cpp
Owners: @domchen, @Hparty, @shlzxjp

Clarify command boundaries in help text and cli.md for validate, layout, and bounds.
  .codebuddy/skills/pagx/references/cli.md
  src/cli/CommandBounds.cpp
  src/cli/CommandValidator.cpp
  src/cli/main.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add pagx lint command with XSD validation, structural checks, and optimization hints.
  src/cli/CommandLint.cpp
  src/cli/CommandLint.h
  src/cli/main.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix stale command references in design docs after lint migration.
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant descriptions across skill docs to reduce AI context overhead.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/spec-essentials.md
Owners: @domchen, @Hparty, @shlzxjp

Add anti-pattern examples, visual troubleshooting table, and default value guidance.
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Unify DetectRedundantConstraints to accept LayoutNode for both Layer and VectorElement.
  src/cli/CommandLayoutCheck.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add Group positioning rule to PAGX generation guide to prevent missing constraints.
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify cli.md by removing specific detection item lists to reduce maintenance cost.
  .codebuddy/skills/pagx/references/cli.md
Owners: @domchen, @Hparty, @shlzxjp

Add tests for container overflow, negative constraint size, and element constraint conflict detection.
  resources/cli/layout_check_container_overflow.pagx
  resources/cli/layout_check_element_constraint_conflict.pagx
  resources/cli/layout_check_negative_constraint.pagx
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Improve skill description with natural trigger phrases and fix stale references.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/spec-essentials.md
Owners: @domchen, @Hparty, @shlzxjp

Replace lambda expressions with explicit functions in CommandLint.
  src/cli/CommandLint.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add missing test cases for pagx lint structural checks and layout problem detection.
  resources/cli/layout_check_offcanvas.pagx
  resources/cli/layout_check_redundant_centerx.pagx
  resources/cli/layout_check_redundant_centery.pagx
  resources/cli/layout_check_redundant_left_zero.pagx
  resources/cli/layout_check_redundant_top_zero.pagx
  resources/cli/lint_downgradeable_layer.pagx
  resources/cli/lint_duplicate_gradient.pagx
  resources/cli/lint_duplicate_pathdata.pagx
  resources/cli/lint_empty_nodes.pagx
  resources/cli/lint_extractable_compositions.pagx
  resources/cli/lint_localizable_coords.pagx
  resources/cli/lint_localizable_pathdata.pagx
  resources/cli/lint_mergeable_groups.pagx
  resources/cli/lint_path_to_primitive.pagx
  resources/cli/lint_unref_resources.pagx
  resources/cli/lint_unwrappable_group.pagx
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add lint checks for includeInLayout and flex without parent layout and fix full-canvas clip mask detection.
  resources/cli/lint_flex_no_parent_layout.pagx
  resources/cli/lint_full_canvas_clip.pagx
  resources/cli/lint_include_in_layout_no_parent.pagx
  src/cli/CommandLint.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Merge design-patterns into generate-guide and simplify skill entry point.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/spec-essentials.md
Owners: @domchen, @Hparty, @shlzxjp

Fix spec descriptions and restructure Auto Layout section for clarity.
  .codebuddy/skills/pagx/references/spec-essentials.md
Owners: @domchen, @Hparty, @shlzxjp

Rewrite CommandLint to use xmlNode tree for all detections with line numbers.
  src/cli/CommandLint.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add ineffective centering detection in content-measured containers to pagx layout.
  .codebuddy/skills/pagx/references/generate-guide.md
  src/cli/CommandLayoutCheck.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix Repeater look-ahead for trailing Fill/Stroke and TrimPath ellipse offset.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Improve PAGX skill workflow and remove orphaned CommandConvert files.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/generate-guide.md
  src/cli/CommandConvert.cpp
  src/cli/CommandConvert.h
Owners: @domchen, @Hparty, @shlzxjp

Remove unused forward declaration of SystemFonts from LayoutContext.h.
  src/pagx/LayoutContext.h
Owners: @domchen, @Hparty, @shlzxjp

Refactor lint detection to report per-node diagnostics with line numbers and add ineffective centering tests.
  resources/cli/layout_check_ineffective_center_explicit.pagx
  resources/cli/layout_check_ineffective_center_group.pagx
  resources/cli/layout_check_ineffective_center_layer.pagx
  src/cli/CommandLint.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add class-level documentation to LayoutNode.
  include/pagx/layout/LayoutNode.h
Owners: @domchen, @Hparty, @shlzxjp

Remove dangling Appendix D TOC entry from both EN and CN spec files.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Remove dead else branch in unitsPerEm null check after prior nullptr guard.
  src/renderer/GlyphRunRenderer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Require right and bottom edge coverage in full-canvas clip mask detection.
  src/cli/CommandLint.cpp
Owners: @domchen, @Hparty, @shlzxjp

Correct TextBox dimension names and overflow default in CN spec.
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Remove unreachable clipToBounds fallback already resolved by applyLayout.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add documentation to TypefaceHolder constructors and public methods.
  include/pagx/FontConfig.h
Owners: @domchen, @Hparty, @shlzxjp

Remove duplicate LayoutCheck_CleanXml and LayoutCheck_ElementsXml tests.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Restore FloatNearlyEqual for scale and rotation comparison in FontEmbedder.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unused include of utility header from Layer.cpp.
  src/pagx/nodes/Layer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Check sscanf return value for position attribute in full-canvas clip mask detection.
  src/cli/CommandLint.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add InnerShadowStyle high blur radius warning to CollectBlurHints for consistency with IsHighCostNode.
  src/cli/CommandLint.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unnecessary include of LayoutContext.h from TextBox.cpp.
  src/pagx/nodes/TextBox.cpp
Owners: @domchen, @Hparty, @shlzxjp

Output 2x screenshots for skill examples test.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Improve PAGXImporter enum parsing and extract PaddingFromString utility.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update lint test resource to use correct center position for full-canvas clip mask.
  resources/cli/lint_full_canvas_clip.pagx
Owners: @domchen, @Hparty, @shlzxjp

Skip unpositioned containers in content origin offset detection.
  resources/cli/layout_check_content_offset_excluded_from_layout.pagx
  resources/cli/layout_check_content_offset_group.pagx
  resources/cli/layout_check_content_offset_group_no_constraints.pagx
  resources/cli/layout_check_content_offset_in_parent_layout.pagx
  resources/cli/layout_check_content_offset_layer_unpositioned.pagx
  src/cli/CommandLayoutCheck.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Change groupOpacity default from false to true for intuitive alpha behavior.
  .codebuddy/skills/pagx/references/attributes.md
  include/pagx/nodes/Layer.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/cli/CommandLint.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp
