Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Fix the issues raised during code review
  viewer/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  exporter/CMakeLists.txt
  exporter/src/export/PAGExport.cpp
  exporter/src/utils/AEHelper.cpp
  exporter/src/utils/AEHelper.h
  viewer/CMakeLists.txt
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix the issues raised during code review
  exporter/src/utils/AEHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update Codebuddy rules.
  .codebuddy/rules/Coding.mdc
  .codebuddy/rules/Commit.mdc
  .codebuddy/rules/Review.mdc
  .codebuddy/rules/Testing.mdc
  .gitignore
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

fix issue
  exporter/assets/translation/Chinese.ts
  exporter/src/export/sequence/BitmapSequence.cpp
  exporter/src/export/sequence/VideoSequence.cpp
  exporter/src/ui/WindowManager.cpp
  exporter/src/ui/WindowManager.h
  exporter/src/utils/AlertInfo.cpp
  exporter/src/utils/AlertInfo.h
Owners: @domchen, @Hparty, @shlzxjp

fix issue
  exporter/assets/translation/Chinese.ts
Owners: @domchen, @Hparty, @shlzxjp

codeformat
  exporter/src/export/sequence/BitmapSequence.cpp
  exporter/src/export/sequence/VideoSequence.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  exporter/CMakeLists.txt
  exporter/src/export/PAGExport.cpp
  exporter/src/ui/WindowManager.cpp
  exporter/src/ui/exportPanel/CompositionsModel.cpp
  viewer/CMakeLists.txt
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGView.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix the issues raised during code review
  exporter/CMakeLists.txt
  exporter/templates/version.h.in
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  exporter/CMakeLists.txt
  viewer/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  exporter/src/export/PAGExport.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update github pipeline macos version to 14 and version.json
  .github/workflows/autotest.yml
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update github pipeline macos version to 14 and version.json (#3142)
  .github/workflows/autotest.yml
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix the issues raised during code review
  exporter/CMakeLists.txt
  viewer/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

Add OHOS platform support and update build caching in workflow
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add important info print for viewer and exporter (#3137)
  exporter/.gitignore
  exporter/CMakeLists.txt
  exporter/assets/translation/Chinese.ts
  exporter/src/aecommand/AECommand.cpp
  exporter/src/export/PAGExport.cpp
  exporter/src/ui/WindowManager.cpp
  exporter/src/ui/export/ExportWindow.cpp
  exporter/src/ui/exportPanel/CompositionsModel.cpp
  exporter/src/utils/AEHelper.cpp
  exporter/src/utils/AEHelper.h
  exporter/templates/version.h.in
  viewer/CMakeLists.txt
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
  viewer/src/main.cpp
  viewer/src/rendering/PAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refactor build workflow: update emsdk environment sourcing and remove unused cache paths
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

merge main
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

merge main
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update Codebuddy rules.
  .codebuddy/rules/Review.mdc
Owners: @domchen, @Hparty, @shlzxjp

Update Codebuddy rules.
  .codebuddy/rules/Review.mdc
Owners: @domchen, @Hparty, @shlzxjp

fix issue
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix a issue about open window
  exporter/assets/qml/AlertWarning.qml
  exporter/assets/qml/ExportCompositionsProgress.qml
  exporter/src/export/PAGExport.cpp
  exporter/src/export/PAGExport.h
  exporter/src/ui/WindowManager.cpp
  exporter/src/ui/export/ExportWindow.cpp
  exporter/src/ui/exportPanel/CompositionsModel.cpp
  exporter/src/ui/exportPanel/CompositionsModel.h
Owners: @domchen, @Hparty, @shlzxjp

Fix issues found in the PR
  include/pag/pag.h
  src/platform/web/PAGWasmBindings.cpp
  src/platform/web/VideoInfoManager.cpp
  src/platform/web/VideoInfoManager.h
  src/rendering/layers/PAGComposition.cpp
  src/rendering/layers/PAGFile.cpp
  src/rendering/layers/PAGLayer.cpp
  web/src/core/video-reader.ts
  web/src/pag-composition.ts
  web/src/pag-player.ts
  web/src/pag-view.ts
  web/src/types.ts
  web/src/video-reader-manager.ts
  web/src/wechat/pag-view.ts
Owners: @domchen, @Hparty, @shlzxjp

fix windows error
  viewer/src/platform/win/FileOperations.cpp
  viewer/src/platform/win/FileOperations.h
Owners: @domchen, @Hparty, @shlzxjp

fix issue
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename file operation enum values to avoid Windows API macro conflicts. (#3145)
  viewer/src/platform/win/FileOperations.cpp
  viewer/src/platform/win/FileOperations.h
Owners: @domchen, @Hparty, @shlzxjp

Move creation and usage of the web video decoder from c++ to js (#3129)
  include/pag/pag.h
  src/platform/web/HardwareDecoder.cpp
  src/platform/web/HardwareDecoder.h
  src/platform/web/PAGWasmBindings.cpp
  src/platform/web/VideoInfoManager.cpp
  src/platform/web/VideoInfoManager.h
  src/rendering/caches/LayerCache.cpp
  src/rendering/layers/PAGComposition.cpp
  src/rendering/layers/PAGFile.cpp
  web/src/core/video-reader.ts
  web/src/interfaces.ts
  web/src/pag-composition.ts
  web/src/pag-player.ts
  web/src/pag-view.ts
  web/src/types.ts
  web/src/video-reader-manager.ts
  web/src/wechat/pag-view.ts
  web/src/wechat/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

Used the OpenGL context of the current thread binding as the shared context when creating a PAGDecoder.
  include/pag/pag.h
  src/rendering/CompositionReader.cpp
  src/rendering/CompositionReader.h
  src/rendering/PAGDecoder.cpp
  src/rendering/drawables/BitmapDrawable.cpp
  src/rendering/drawables/BitmapDrawable.h
Owners: @domchen, @Hparty, @shlzxjp

Used the OpenGL context of the current thread binding as the shared context when creating a PAGDecoder. (#3146)
  include/pag/pag.h
  src/rendering/CompositionReader.cpp
  src/rendering/CompositionReader.h
  src/rendering/PAGDecoder.cpp
  src/rendering/drawables/BitmapDrawable.cpp
  src/rendering/drawables/BitmapDrawable.h
Owners: @domchen, @Hparty, @shlzxjp

merge main
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

merge
  exporter/assets/qml/AlertWarning.qml
Owners: @domchen, @Hparty, @shlzxjp

Fix issue
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix issue
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add modulemap copy step for non-Xcode generators when building framework.
  CMakeLists.txt
  ios/libpag.modulemap
  mac/libpag.modulemap
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix issue
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix issue
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix issue
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix issue
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix issue
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp
