Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix even-odd contour winding for CJK glyphs with multiple independent outer contours by using containment depth.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove temp analysis files.
  resources/pagx_to_html/_analysis_results.json
  resources/pagx_to_html/analyze_layouts.py
Owners: @domchen, @Hparty, @shlzxjp

Widen blend_modes_showcase canvas from 420 to 470 and re-space 6 columns to prevent right-edge clipping.
  resources/pagx_to_html/blend_modes_showcase.pagx
Owners: @domchen, @Hparty, @shlzxjp

Adjust clip_and_mask layout to add inner padding between content and card edges.
  resources/pagx_to_html/clip_and_mask.pagx
Owners: @domchen, @Hparty, @shlzxjp

Enlarge clip_and_mask card height and canvas to prevent bottom text and contour star from being clipped.
  resources/pagx_to_html/clip_and_mask.pagx
Owners: @domchen, @Hparty, @shlzxjp

Enlarge contour mask target rectangle to fully cover the star clip-path.
  resources/pagx_to_html/clip_and_mask.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix diamond gradient center to use canvas coordinates for proper centering.
  resources/pagx_to_html/color_diamond_gradient.pagx
Owners: @domchen, @Hparty, @shlzxjp

Move top row rectangles down and enlarge card in color_linear_gradient to prevent overflow.
  resources/pagx_to_html/color_linear_gradient.pagx
Owners: @domchen, @Hparty, @shlzxjp

Make padding work without layout, inset child Layer constraints
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/guide.md
  .codebuddy/skills/pagx/references/patterns.md
  resources/cli/lint_gap_no_layout.pagx
  resources/layout/constraint_absolute.pagx
  resources/layout/constraint_padding.pagx
  resources/layout/container_edge_cases.pagx
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/container_layout_include_in_layout.pagx
  src/cli/CommandImport.cpp
  src/cli/CommandVerify.cpp
  src/pagx/nodes/Layer.cpp
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add spacing between rows and enlarge card in color_linear_gradient to prevent bottom overflow.
  resources/pagx_to_html/color_linear_gradient.pagx
Owners: @domchen, @Hparty, @shlzxjp

Center radial gradient in color_radial_gradient test case for both circle and ellipse.
  resources/pagx_to_html/color_radial_gradient.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix layout issues in 5 pagx test cases: merge_path overflow, round_corner and painter_multiple tight margins, polystar_advanced overflow, and repeater tight bottom spacing.
  resources/pagx_to_html/modifier_merge_path.pagx
  resources/pagx_to_html/modifier_round_corner.pagx
  resources/pagx_to_html/painter_multiple.pagx
  resources/pagx_to_html/polystar_advanced.pagx
  resources/pagx_to_html/repeater.pagx
Owners: @domchen, @Hparty, @shlzxjp

Move scaled badge left in composition_advanced to prevent right-edge overflow.
  resources/pagx_to_html/composition_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Widen TextBox background and canvas in coverage_gaps to prevent right-edge text clipping.
  resources/pagx_to_html/coverage_gaps.pagx
Owners: @domchen, @Hparty, @shlzxjp

Reorganize edge_defaults layout with wider canvas and better element spacing to reduce overlaps.
  resources/pagx_to_html/edge_defaults.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign edge_defaults layout to keep all elements within card bounds with proper spacing.
  resources/pagx_to_html/edge_defaults.pagx
Owners: @domchen, @Hparty, @shlzxjp

Restore Polystar full defaults in edge_defaults and enlarge canvas to fit the star shape.
  resources/pagx_to_html/edge_defaults.pagx
Owners: @domchen, @Hparty, @shlzxjp

Align edge_defaults row 1 vertically, shrink Polystar to fit within card bounds.
  resources/pagx_to_html/edge_defaults.pagx
Owners: @domchen, @Hparty, @shlzxjp

Replace --problems-only with --skip-render and --skip-layout, output verify files to cwd.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  src/cli/CommandVerify.cpp
  test/src/PAGXCliTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reclassify Path as inline SVG usage in pagx skill guide.
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Unpack first SVG element directly during resolve to avoid redundant first-child Group lint.
  src/cli/CommandImport.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Use original PAGX coordinates in Tab Bar SVG icons and remove explicit Layer sizing.
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Add missing spec_ prefix to baseline filenames in publish script.
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Improve import resolve multi-layer handling with Group downgrade and updated test icon.
  .codebuddy/skills/pagx/references/patterns.md
  resources/cli/import_resolve_multi_layer.pagx
  src/cli/CommandImport.cpp
  test/src/PAGXCliTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Clarify that padding insets both layout content area and constraint reference frame including overlays.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/guide.md
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Fix import resolve to isolate painters when unpacking multi-layer SVG.
  resources/cli/import_resolve_multi_layer.pagx
  src/cli/CommandImport.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refine pagx skill workflow with improved artifact handling and gate structure.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Add common pitfall for padding not affecting VectorElements.
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Update Image Placeholder pattern description to mention inline SVG icon technique.
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Use merged single-path SVG for image placeholder icon in patterns.
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline updates for import resolve multi-layer and patterns icon changes.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add protocolTimeout and navigation timeout to screenshot.js to prevent Puppeteer from hanging.
  test/screenshot.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix misleading applyLayout comment to clarify single-call semantics.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Fix unreferenced resource detection to traverse Composition layers.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix unreferenced resource detection to recurse into mask layer contents.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add XML entity escaping to serializeDOMNode to fix malformed round-trip output.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix verify scale log message to show actual fractional scale value.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add validation for verify --scale to reject zero, negative, and non-numeric values.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use FloatNearlyEqual instead of exact float comparison in IsRSXformCompatible.
  src/renderer/GlyphRunRenderer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename static method prepareTextBlob to PrepareTextBlob per naming convention.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
