Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Improve PPT exporter code style and add clarifying comments.
  src/pagx/ppt/PPTContourUtils.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTGeomEmitter.h
Owners: @domchen, @Hparty, @shlzxjp

Fix HTML TextPath text positioning to rotate around baseline center matching native behavior.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix HTML TextPath character positioning to match native baseline-on-path direction and adjust circle test margins.
  resources/pagx_to_html/text_path_circle.pagx
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add adjacent shell layer merging and fix FloatToString scientific notation output.
  src/pagx/PAGXOptimizer.cpp
  src/pagx/utils/StringParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix text_rich and text_writing_mode pagx structure to use TextBox as parent of Text elements.
  resources/pagx_to_html/text_rich.pagx
  resources/pagx_to_html/text_writing_mode.pagx
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use trailing space instead of firstMargin for uniform character spacing on closed paths.
  resources/pagx_to_html/text_path_circle.pagx
Owners: @domchen, @Hparty, @shlzxjp

Clean up PAGXOptimizer by removing redundant code and simplifying collection operations.
  src/pagx/PAGXOptimizer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix partial ConicGradient CSS angle mapping and clamp region fill colors.
  src/pagx/html/HTMLWriterColor.cpp
Owners: @domchen, @Hparty, @shlzxjp

Upgrade HarfBuzz from 5.1.0 to 10.1.0
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

delete debug log
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  pagx/wechat/ts/pagx-view.ts
  src/pagx/PAGXImporter.cpp
  src/pagx/TextLayout.cpp
  src/pagx/xml/XMLDOM.cpp
  src/pagx/xml/XMLParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace DiamondGradient SVG radialGradient approximation with WebGL2 canvas for pixel-accurate rendering.
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move HasLayerOnlyFeatures and IsLayerShell from cli to PAGXAnalyzer and simplify CanDowngradeLayerToGroup.
  src/cli/CliUtils.cpp
  src/cli/CliUtils.h
  src/cli/CommandResolve.cpp
  src/cli/CommandVerify.cpp
  src/pagx/PAGXAnalyzer.cpp
  src/pagx/PAGXAnalyzer.h
Owners: @domchen, @Hparty, @shlzxjp

Upgrade HarfBuzz from 5.1.0 to 10.1.0 (#3383)
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix DiamondGradient WebGL matrix by precomputing combined unit matrix with correct inverse.
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add zero-width stroke removal and full-canvas clip mask removal optimizations.
  src/pagx/PAGXOptimizer.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Redesign glyph_run_advanced test case with PAGX letters and FlexBox layout.
  resources/pagx_to_html/glyph_run_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Move disk cache IO operations to background thread to avoid main thread blocking. (#3377)
  src/rendering/caches/DiskCache.cpp
  src/rendering/caches/DiskCache.h
  src/rendering/caches/DiskIOWorker.cpp
  src/rendering/caches/DiskIOWorker.h
  src/rendering/caches/SequenceFile.cpp
  test/src/PAGDiskCacheTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix crash in NativeTextShaper::Shape when CFStringCreateWithCString returns NULL (#3360)
  src/platform/cocoa/private/NativeTextShaper.mm
Owners: @domchen, @Hparty, @shlzxjp

Redesign glyph_run_advanced test case with PAGX letters and FlexBox layout.
  resources/pagx_to_html/glyph_run_advanced.pagx
  src/pagx/svg/SVGTextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add WebGL2 canvas rendering for ImagePattern mirror and clamp tile modes.
  resources/pagx_to_html/color_image_pattern.pagx
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix Group Fill scope to match native flat accumulation model.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Improve layout_arrangement test case with centered labels and vertical centering.
  resources/pagx_to_html/layout_arrangement.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix overlay positioning by using CSS inset properties for includeInLayout=false layers.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix absolute positioning baseline in flex containers by anchoring to padding box origin.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use angle-adaptive bezier handle length for RoundCorner to match native renderer.
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add EGL robustness support and GPU reset detection for OpenGL contexts.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add EGL robustness support and GPU reset detection for OpenGL contexts.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix RoundCorner angle calculation by reversing incoming edge direction to match Skia.
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix RoundCorner handle length by deriving circle radius from chord length.
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add path-to-primitive conversion optimization for rectangles and ellipses.
  src/pagx/PAGXOptimizer.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add high-complexity path splitting optimization to reduce verb count per path element.
  src/pagx/PAGXOptimizer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update SVG screenshot baselines for path splitting optimization.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Reformat BoundsOverlap to single line.
  src/pagx/PAGXOptimizer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace inline constraint checks with hasConstraints and simplify changed flag patterns.
  src/pagx/PAGXAnalyzer.cpp
  src/pagx/PAGXOptimizer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Align Ellipse and Rectangle path start points and directions with native tgfx renderer.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterShape.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use path elements for trimmed Ellipse and Rectangle to match native start points.
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Skip high-complexity warning for single-contour paths and simplify verify test assertion.
  src/cli/CommandVerify.cpp
  src/pagx/PAGXAnalyzer.cpp
  src/pagx/PAGXAnalyzer.h
  test/src/utils/PAGXTestUtils.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Use bezier arc length for Ellipse and rounded Rectangle in continuous trim calculation.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add tests for high-complexity path splitting and single-contour path preservation.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix line segment Y coordinates to align with ellipse center in trim test case.
  resources/pagx_to_html/modifier_trim_continuous.pagx
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
