Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename B.2_game_ui.pagx to B.2_game_ui_claude.pagx.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Rename B.3_pagx_features.pagx to B.3_pagx_features_claude.pagx.
  spec/samples/B.3_pagx_features_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix text layout positioning by switching from Paragraph to Point Text mode with correct baseline coordinates.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix Toast and EXP bar text alignment by converting to Point Text mode with correct baseline coordinates.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add B.4_gamme_ui_gemini.pagx sample file.
  spec/samples/B.4_gamme_ui_gemini.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add PAGX features infographic sample with dark mode design.
  spec/samples/B.4_pagx_features_gemini.pagx
Owners: @domchen, @Hparty, @shlzxjp

Optimize infographic layout: align titles with icons and center body text.
  spec/samples/B.4_pagx_features_gemini.pagx
Owners: @domchen, @Hparty, @shlzxjp

Center content vertically by shifting Header and Cards downwards.
  spec/samples/B.4_pagx_features_gemini.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add Game UI sample with brighter scene and glowing triangle
  spec/samples/B.1_complete_example.pagx
  spec/samples/B.1_gamme_ui.pagx
  spec/samples/B.4_gamme_ui_gemini.pagx
  spec/samples/B.5_pagx_features_gpt.pagx
  spec/samples/B.6_gamme_ui_gpt.pagx
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove SVG screenshot tests from SVGToPAGXAll and clean up PAGX baseline keys.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Enlarge HP MP EXP bars and center player name vertically in game UI sample.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Refine bar sizes and fix character panel and name vertical alignment.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Slim down HP MP EXP bars and vertically center character panel content.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Center character silhouette in portrait frame and fix bar text vertical alignment.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fine-tune bar text centering and shift character panel content upward.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign deploy icon to rocket shape and increase icon-text spacing in PAGX features sample.
  spec/samples/B.5_pagx_features_gpt.pagx
Owners: @domchen, @Hparty, @shlzxjp

Update Game UI sample: improve grid, align HUD elements, and fix text layout.
  spec/samples/B.4_gamme_ui_gemini.pagx
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refine deploy icon with curved rocket body and visible fins and flame.
  spec/samples/B.5_pagx_features_gpt.pagx
Owners: @domchen, @Hparty, @shlzxjp

Shift card area and connectors downward to better center the layout vertically.
  spec/samples/B.5_pagx_features_gpt.pagx
Owners: @domchen, @Hparty, @shlzxjp

Reduce LV badge height and font size for a more compact top bar layout.
  spec/samples/B.6_gamme_ui_gpt.pagx
Owners: @domchen, @Hparty, @shlzxjp

Center card area on canvas and distribute header and footer evenly in vertical space.
  spec/samples/B.5_pagx_features_gpt.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix star rotation and move POWER label above stars and shift HP MP bars left.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Spread top and bottom cards further apart from the center core ring.
  spec/samples/B.5_pagx_features_gpt.pagx
Owners: @domchen, @Hparty, @shlzxjp

Move POWER label to the left of rating stars on the same row.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Finalize Game UI sample: adjust layout, refine positions, and update thematic text.
  spec/samples/B.4_gamme_ui_gemini.pagx
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Move stars and POWER label inside portrait frame and shift stats section up.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Move stars to bottom-right of portrait frame and align Equipment title with Character title.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Increase card spacing from center core by another 20px each side.
  spec/samples/B.5_pagx_features_gpt.pagx
Owners: @domchen, @Hparty, @shlzxjp

Thicken HP MP bars and align toast bottom with character panel and adjust star and power positions.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Center equipment slots and buttons horizontally and fix HP MP bar fill and label positions.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Rebalance vertical spacing so top bar, main panel, and bottom bar are evenly distributed with equal 20px gaps.
  spec/samples/B.6_gamme_ui_gpt.pagx
Owners: @domchen, @Hparty, @shlzxjp

Shift HP MP bar backgrounds up 2px and slim down fill bars by 1px each side.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Move coin and diamond chips to the right and vertically center them within the top bar.
  spec/samples/B.6_gamme_ui_gpt.pagx
Owners: @domchen, @Hparty, @shlzxjp

Increase card spacing from center core by another 10px each side.
  spec/samples/B.5_pagx_features_gpt.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix MP bar background alignment and shift bar text up and move gold area right.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Center equipment grid and buttons and fix bar fill padding and topbar vertical alignment.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Refine equipment icons and move stars to bottom-right corner of portrait frame.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Redesign shield icon with solid cross emblem for better visual quality.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Move portrait upward and place stars below portrait frame with stats shifted down.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

Refine equipment icons and adjust stats layout with colored numbers aligned to separator.
  spec/samples/B.2_game_ui_claude.pagx
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
