Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Adjust parameter type
  web/src/wechat/pag-view.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix the issue of infinite canvas size growth in WeChat mini programs (#2812)
  web/lite/script/rollup.config.dev.js
  web/lite/script/rollup.config.js
  web/lite/script/rollup.config.wechat.dev.js
  web/lite/script/rollup.config.wechat.js
  web/package.json
  web/script/cmake.demo.wx.js
  web/script/rollup.config.dev.js
  web/script/rollup.config.js
  web/script/rollup.config.wx.dev.js
  web/script/rollup.config.wx.js
  web/script/setup.emsdk.wx.js
  web/src/wechat/interfaces.ts
  web/src/wechat/pag-view.ts
Owners: @domchen, @Hparty, @shlzxjp

When initializing PAGView, use canvasId as a parameter
  web/demo/wechat-miniprogram/pages/benchmark/benchmark.js
  web/demo/wechat-miniprogram/pages/index/index.js
  web/wechat/README.md
Owners: @domchen, @Hparty, @shlzxjp

Modify the minimum cmake version of the harfbuzz repository to 3.5 to resolve the compilation error.
  vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Modify the minimum cmake version of the harfbuzz repository to 3.5 to resolve the compilation error. (#2814)
  vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use canvasId as a parameter to initialize PAGView(#2813)
  web/demo/wechat-miniprogram/pages/benchmark/benchmark.js
  web/demo/wechat-miniprogram/pages/index/index.js
  web/wechat/README.md
Owners: @domchen, @Hparty, @shlzxjp

Codeformat the code
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SPUDownloadData.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SPUStandardUpdaterController.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SPUStandardUserDriver.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SPUStandardUserDriverDelegate.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SPUUpdateCheck.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SPUUpdatePermissionRequest.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SPUUpdater.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SPUUpdaterDelegate.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SPUUpdaterSettings.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SPUUserDriver.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SPUUserUpdateState.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SUAppcast.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SUAppcastItem.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SUErrors.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SUStandardVersionComparator.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SUUpdatePermissionResponse.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SUUpdater.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SUUpdaterDelegate.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SUVersionComparisonProtocol.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/SUVersionDisplayProtocol.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/Headers/Sparkle.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/PrivateHeaders/SPUAppcastItemStateResolver.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/PrivateHeaders/SPUInstallationType.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/PrivateHeaders/SPUStandardUserDriver+Private.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/PrivateHeaders/SPUUserAgent+Private.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/PrivateHeaders/SUAppcastItem+Private.h
  viewer/vendor/sparkle/mac/Sparkle.framework/Versions/B/PrivateHeaders/SUInstallerLauncher+Private.h
  viewer/vendor/winsparkle/include/winsparkle/winsparkle-version.h
  viewer/vendor/winsparkle/include/winsparkle/winsparkle.h
Owners: @domchen, @Hparty, @shlzxjp

Starting from v4.4.29, it is recommended to pass the canvasId defined in the wxml
  web/demo/wechat-miniprogram/pages/benchmark/benchmark.js
  web/demo/wechat-miniprogram/pages/index/index.js
  web/wechat/README.md
Owners: @domchen, @Hparty, @shlzxjp

Update the document for miniprogram.(#2821)
  web/demo/wechat-miniprogram/pages/benchmark/benchmark.js
  web/demo/wechat-miniprogram/pages/index/index.js
  web/wechat/README.md
Owners: @domchen, @Hparty, @shlzxjp

Implement the code related to serialize pag::File
  include/pag/file.h
  include/pag/types.h
  viewer/CMakeLists.txt
  viewer/src/editing/parse/PAGFileSerializer.cpp
  viewer/src/editing/parse/PAGFileSerializer.h
  viewer/src/editing/parse/PAGTree.cpp
  viewer/src/editing/parse/PAGTree.h
  viewer/src/editing/parse/PAGTreeNode.cpp
  viewer/src/editing/parse/PAGTreeNode.h
Owners: @domchen, @Hparty, @shlzxjp

PAGView.init no longer supports passing canvasId
  web/demo/wechat-miniprogram/pages/benchmark/benchmark.js
  web/demo/wechat-miniprogram/pages/index/index.js
  web/src/wechat/interfaces.ts
  web/src/wechat/pag-view.ts
  web/wechat/README.md
Owners: @domchen, @Hparty, @shlzxjp

Remove support for passing a canvas ID to PAGView.init() in miniprograms. (#2824)
  web/demo/wechat-miniprogram/pages/benchmark/benchmark.js
  web/demo/wechat-miniprogram/pages/index/index.js
  web/src/wechat/interfaces.ts
  web/src/wechat/pag-view.ts
  web/wechat/README.md
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during the review
  viewer/src/editing/parse/PAGFileSerializer.cpp
  viewer/src/editing/parse/PAGFileSerializer.h
  viewer/src/editing/parse/PAGTree.cpp
  viewer/src/editing/parse/PAGTree.h
  viewer/src/editing/parse/PAGTreeNode.cpp
  viewer/src/editing/parse/PAGTreeNode.h
Owners: @domchen, @Hparty, @shlzxjp

PAGTreeNode uses std::shared_ptr to store pointers to child nodes
  viewer/src/editing/parse/PAGFileSerializer.cpp
  viewer/src/editing/parse/PAGFileSerializer.h
  viewer/src/editing/parse/PAGTree.cpp
  viewer/src/editing/parse/PAGTreeNode.cpp
  viewer/src/editing/parse/PAGTreeNode.h
Owners: @domchen, @Hparty, @shlzxjp

Codeformat the code of viewer
  viewer/src/editing/parse/PAGFileSerializer.cpp
  viewer/src/editing/parse/PAGFileSerializer.h
Owners: @domchen, @Hparty, @shlzxjp

Expand the text background frame size to 2x.
  src/rendering/renderers/TextRenderer.cpp
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Increase the default margin factor for text backgrounds from 0.2f to 0.4f. (#2826)
  src/rendering/renderers/TextRenderer.cpp
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Increase the default margin factor for text backgrounds from 0.2f to 0.4f.
  src/rendering/renderers/TextRenderer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the issue of infinite canvas size growth in WeChat mini programs (#2812)
  web/lite/script/rollup.config.dev.js
  web/lite/script/rollup.config.js
  web/lite/script/rollup.config.wechat.dev.js
  web/lite/script/rollup.config.wechat.js
  web/package.json
  web/script/cmake.demo.wx.js
  web/script/rollup.config.dev.js
  web/script/rollup.config.js
  web/script/rollup.config.wx.dev.js
  web/script/rollup.config.wx.js
  web/script/setup.emsdk.wx.js
  web/src/wechat/interfaces.ts
  web/src/wechat/pag-view.ts
Owners: @domchen, @Hparty, @shlzxjp

Use canvasId as a parameter to initialize PAGView(#2813)
  web/demo/wechat-miniprogram/pages/benchmark/benchmark.js
  web/demo/wechat-miniprogram/pages/index/index.js
  web/wechat/README.md
Owners: @domchen, @Hparty, @shlzxjp

Update the document for miniprogram.(#2821)
  web/demo/wechat-miniprogram/pages/benchmark/benchmark.js
  web/demo/wechat-miniprogram/pages/index/index.js
  web/wechat/README.md
Owners: @domchen, @Hparty, @shlzxjp

Remove support for passing a canvas ID to PAGView.init() in miniprograms. (#2824)
  web/demo/wechat-miniprogram/pages/benchmark/benchmark.js
  web/demo/wechat-miniprogram/pages/index/index.js
  web/src/wechat/interfaces.ts
  web/src/wechat/pag-view.ts
  web/wechat/README.md
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during the review
  viewer/src/editing/parse/PAGFileSerializer.cpp
  viewer/src/editing/parse/PAGFileSerializer.h
  viewer/src/editing/parse/PAGTree.cpp
  viewer/src/editing/parse/PAGTreeNode.cpp
  viewer/src/editing/parse/PAGTreeNode.h
  viewer/src/profiling/PAGFileInfoModel.cpp
  viewer/src/task/PAGTask.cpp
  viewer/src/task/export/PAGExportAPNGTask.cpp
  viewer/src/task/export/PAGExportPNGTask.cpp
  viewer/src/utils/FileUtils.cpp
  viewer/src/utils/FileUtils.h
  viewer/src/utils/StringUtils.cpp
  viewer/src/utils/StringUtils.h
  viewer/src/utils/Utils.cpp
  viewer/src/utils/Utils.h
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during the review
  viewer/src/editing/parse/PAGTreeNode.h
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during the review
  viewer/src/editing/parse/PAGTreeNode.cpp
  viewer/src/editing/parse/PAGTreeNode.h
Owners: @domchen, @Hparty, @shlzxjp

Change PAGNode parameters in serialization functions to raw pointers
  viewer/src/editing/parse/PAGFileSerializer.cpp
  viewer/src/editing/parse/PAGFileSerializer.h
  viewer/src/editing/parse/PAGTree.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove the redundant PAGNode in PAGTree
  include/pag/file.h
  viewer/src/editing/serialize/PAGFileSerializer.cpp
  viewer/src/editing/serialize/PAGFileSerializer.h
  viewer/src/editing/serialize/PAGTree.cpp
  viewer/src/editing/serialize/PAGTree.h
  viewer/src/editing/serialize/PAGTreeNode.cpp
  viewer/src/editing/serialize/PAGTreeNode.h
Owners: @domchen, @Hparty, @shlzxjp

Add RTTR macros to support PAG file serialization and generate the PAGViewer file structure tree from the serialized data. (#2823)
  include/pag/file.h
  include/pag/types.h
  viewer/CMakeLists.txt
  viewer/src/editing/serialize/PAGFileSerializer.cpp
  viewer/src/editing/serialize/PAGFileSerializer.h
  viewer/src/editing/serialize/PAGTree.cpp
  viewer/src/editing/serialize/PAGTree.h
  viewer/src/editing/serialize/PAGTreeNode.cpp
  viewer/src/editing/serialize/PAGTreeNode.h
  viewer/src/profiling/PAGFileInfoModel.cpp
  viewer/src/task/PAGTask.cpp
  viewer/src/task/export/PAGExportAPNGTask.cpp
  viewer/src/task/export/PAGExportPNGTask.cpp
  viewer/src/utils/FileUtils.cpp
  viewer/src/utils/FileUtils.h
  viewer/src/utils/StringUtils.cpp
  viewer/src/utils/StringUtils.h
  viewer/src/utils/Utils.cpp
  viewer/src/utils/Utils.h
Owners: @domchen, @Hparty, @shlzxjp

Implement file structure display for viewer
  viewer/images/icon-close.png
  viewer/qml/AttributeEditDialog.qml
  viewer/qml/FileTreeViewDelegate.qml
  viewer/qml/Main.qml
  viewer/qml/MainForm.qml
  viewer/qml/Profiler.qml
  viewer/qml/SaveFileDialog.qml
  viewer/qml/components/PAGTabButton.qml
  viewer/qml/utils/Utils.qml
  viewer/res.qrc
  viewer/src/editing/PAGEditAttributeModel.cpp
  viewer/src/editing/PAGEditAttributeModel.h
  viewer/src/editing/PAGTreeViewModel.cpp
  viewer/src/editing/PAGTreeViewModel.h
  viewer/src/editing/serialize/PAGFileSerializer.cpp
  viewer/src/editing/serialize/PAGTree.cpp
  viewer/src/editing/serialize/PAGTree.h
  viewer/src/main.cpp
  viewer/src/profiling/PAGFileInfoModel.cpp
  viewer/src/profiling/PAGRunTimeModelManager.cpp
  viewer/src/profiling/PAGRunTimeModelManager.h
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/PAGWindow.h
  viewer/src/task/PAGTaskFactory.cpp
  viewer/src/task/PAGTaskFactory.h
  viewer/src/utils/FileUtils.cpp
  viewer/src/utils/FileUtils.h
Owners: @domchen, @Hparty, @shlzxjp

upgrade ffavc
  android/libpag/libs/arm64-v8a/libffavc.so
  android/libpag/libs/armeabi-v7a/libffavc.so
  android/libpag/libs/armeabi/libffavc.so
  android/libpag/libs/x86_64/libffavc.so
Owners: @domchen, @Hparty, @shlzxjp

Fix the issues raised during the review
  viewer/qml/Profiler.qml
  viewer/src/editing/PAGTreeViewModel.cpp
  viewer/src/main.cpp
  viewer/src/profiling/PAGRunTimeDataModel.cpp
  viewer/src/profiling/PAGRunTimeDataModel.h
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/PAGWindow.h
  viewer/src/utils/FileUtils.cpp
  viewer/src/utils/FileUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Upgrade ffavc
  vendor/ffavc/mac/arm64/libffavc.dylib
  vendor/ffavc/mac/x64/libffavc.dylib
Owners: @domchen, @Hparty, @shlzxjp

Upgraded ffmpeg to version 7.0.2 to address security vulnerabilities. (#2830)
  android/libpag/libs/arm64-v8a/libffavc.so
  android/libpag/libs/armeabi-v7a/libffavc.so
  android/libpag/libs/armeabi/libffavc.so
  android/libpag/libs/x86_64/libffavc.so
  vendor/ffavc/mac/arm64/libffavc.dylib
  vendor/ffavc/mac/x64/libffavc.dylib
Owners: @domchen, @Hparty, @shlzxjp

Update README.md to fix the autotest badge.
  README.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix the workflow badges.
  README.zh_CN.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

WeChat Mini Programs do not support capturing screenshots of WebGL Canvas
  web/src/wechat/pag-view.ts
Owners: @domchen, @Hparty, @shlzxjp

Update the exported WebAssembly module name
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

WeChat Mini Programs do not support capturing screenshots of WebGL Canvas (#2831)
  CMakeLists.txt
  web/src/wechat/pag-view.ts
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Mark PAGRttr.h as system header to prevent compiler warnings/errors
  viewer/CMakeLists.txt
  viewer/src/editing/PAGEditAttributeModel.cpp
  viewer/src/editing/serialize/PAGFileSerializer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update the typedoc version
  web/package.json
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
