Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Publish pagx-viewer
  pagx/wechat/pagx-viewer-miniprogram/CHANGELOG.md
  pagx/wechat/pagx-viewer-miniprogram/README.md
  pagx/wechat/pagx-viewer-miniprogram/package.json
Owners: @domchen, @Hparty, @shlzxjp

Add version resource to PAGExporter and fix plugin update detection (#3482)
  exporter/CMakeLists.txt
  exporter/templates/PAGExporter.rc.in
  viewer/src/platform/PluginInstaller.cpp
  viewer/src/platform/PluginInstaller.h
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add PAGX bindings authoring guide with three-layer Param Bind Converter model.
  .codebuddy/rules/PAGXParams.md
Owners: @domchen, @Hparty, @shlzxjp

Fix iOS P3 color shift by properly setting drawingBufferColorSpace to srgb
  pagx/wechat/ts/render-canvas.ts
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert "Fix iOS P3 color shift by properly setting drawingBufferColorSpace to srgb"
  pagx/wechat/ts/render-canvas.ts
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Embed vector fonts as WOFF2 in SVG export and share generator with HTML.
  CMakeLists.txt
  include/pagx/SVGExporter.h
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLWriter.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/Woff2FontGenerator.cpp
  src/pagx/utils/Woff2FontGenerator.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove the now-relocated WOFF2 font generator from pagx/html.
  src/pagx/html/Woff2FontGenerator.cpp
  src/pagx/html/Woff2FontGenerator.h
Owners: @domchen, @Hparty, @shlzxjp

Add tests for SVG export embedFontsAsWoff2 option covering @font-face emission and path fallback branches.
  test/src/PAGXSVGTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add unit tests for color-space conversion and lerp plus ToTGFXData empty and adoption paths.
  test/src/PAGXColorSpaceTest.cpp
  test/src/RendererToTGFXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add importer validation tests for int64 boundary and ColorMatrixFilter animation rejection.
  test/src/PAGXImporterValidationTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add tests for BlendFilter color channel, same-doc composition cycle, and int64 attribute validation.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Cache resolved animation targets and trim PAGX header dependencies to address low risk review items.
  include/pagx/PAGScene.h
  include/pagx/PAGTimeline.h
  include/pagx/PAGXDocument.h
  src/pagx/PAGScene.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert "Add PAGX bindings authoring guide with three-layer Param Bind Converter model."
  .codebuddy/rules/PAGXParams.md
Owners: @domchen, @Hparty, @shlzxjp

Replace live-scene pruning lambdas with named helper functions to comply with the no-lambda coding rule.
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Detach PAGTimeline from its PAGScene via a weak owner reference so playback calls become safe no-ops after the scene is destroyed.
  include/pagx/PAGTimeline.h
  src/pagx/PAGScene.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/runtime/PAGComposition.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Document the strict-versus-lenient parsing contract of ParseTypedValue specializations.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to latest commit.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx dependency to latest commit. (#3485)
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix PPT export Group isolation so Painters outside the Group no longer multiply the Group alpha into geometry that propagates upward.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTWriter.h
Owners: @domchen, @Hparty, @shlzxjp

Guard PAGTimeline getters against destroyed scene and block scene build on layout cycle.
  include/pagx/PAGTimeline.h
  src/pagx/PAGScene.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/PAGXDocument.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Distribute continuous TrimPath across shapes per-path so SVG gradient fits match the renderer.
  src/pagx/utils/ModifierResolver.cpp
  src/pagx/utils/ModifierResolver.h
Owners: @domchen, @Hparty, @shlzxjp

Update screenshot baseline for spec app_icons game_hud glyph_run and text_box tests.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Reduce repetitive style and matrix string concatenation in SVG exporter and share fill/stroke paint emission via applyPaintColor.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Cover SVG path parser, feature probe, and modifier resolver edge branches.
  test/src/PAGXSVGTest.cpp
  test/src/PAGXUtilsTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix exporter crashes and resource leaks when AE stream APIs return null.
  exporter/src/export/data/Effect.cpp
  exporter/src/export/data/Mask.cpp
  exporter/src/export/data/Shape.cpp
  exporter/src/export/data/TextProperty.cpp
  exporter/src/export/data/Transform2D.cpp
  exporter/src/export/data/Transform3D.cpp
  exporter/src/export/stream/StreamProperty.h
  exporter/src/export/stream/StreamValue.h
  exporter/src/utils/AEHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx commit to fix sNaN quieting in vertex color packing.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Apply foreground placement in SVG export so painters overlay child layers like the PAGX renderer.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Apply foreground placement in PPTX export so painters overlay child layers like the PAGX renderer.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTWriter.h
Owners: @domchen, @Hparty, @shlzxjp

Bake renderPosition and renderScale into SVG path data so userSpaceOnUse gradients and patterns resolve in parent space.
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename pagx Property to Channel and update XML tag accordingly.
  include/pagx/PAGTimeline.h
  include/pagx/nodes/Animation.h
  include/pagx/nodes/AnimationObject.h
  include/pagx/nodes/Channel.h
  include/pagx/nodes/Node.h
  src/pagx/PAGTimeline.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/animation/Channel.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXImporterValidationTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix WASM heap out-of-bounds in attachNativeImage by receiving filePath as val.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Split mask/clip-path onto an outer SVG group without the layer transform so masks resolve in the owner's parent space like the PAGX renderer.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Publish pagxviewer
  pagx/wechat/pagx-viewer-miniprogram/CHANGELOG.md
  pagx/wechat/pagx-viewer-miniprogram/README.md
  pagx/wechat/pagx-viewer-miniprogram/package.json
  pagx/wechat/script/copy-files.js
Owners: @domchen, @Hparty, @shlzxjp

Rename PropertyValueType to ChannelValueType and Channel field to property, and guard advance against int64 overflow.
  include/pagx/PAGTimeline.h
  include/pagx/nodes/Channel.h
  src/pagx/PAGTimeline.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/animation/Channel.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename Channel property field and XML attribute to name.
  include/pagx/nodes/Channel.h
  src/pagx/PAGTimeline.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  test/src/PAGXImporterValidationTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Accept baseline for NoiseFilter SVG export test.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use TextBlob getTightBounds for precise Text contentBounds aligned with tgfx ink bounds
  src/pagx/nodes/Text.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove feOffset from noise filter SVG export and use stitchTiles=stitch to align with Figma.
  include/pagx/nodes/TextBox.h
  src/pagx/nodes/Text.cpp
  src/pagx/nodes/TextBox.cpp
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Use system Helvetica font in NoiseFilterAllElements test for consistent tgfx and SVG rendering
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Align ComputeElementBounds with tgfx rendering for Path, Group and TextPath
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
