Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Fix typo in accept_baseline.sh and remove dead code in update_baseline.sh.
  accept_baseline.sh
  update_baseline.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add accept_baseline.sh script and improve baseline workflow documentation. (#3206)
  .codebuddy/commands/cr.md
  .codebuddy/rules/Build.md
  .codebuddy/rules/Git.md
  accept_baseline.sh
  update_baseline.sh
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Enhance code review and PR commands with worktree mode and staged changes handling.
  .codebuddy/commands/cr.md
  .codebuddy/commands/pr.md
Owners: @domchen, @Hparty, @shlzxjp

Enhance code review and PR commands with worktree mode and staged changes handling. (#3208)
  .codebuddy/commands/cr.md
  .codebuddy/commands/pr.md
Owners: @domchen, @Hparty, @shlzxjp

Reuse existing baseline images when regenerating baselines.
  .codebuddy/commands/cr.md
  .codebuddy/commands/pr.md
  .codebuddy/rules/Git.md
  test/src/utils/Baseline.cpp
  test/src/utils/Baseline.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Improve PR output format to display title, description and link.
  .codebuddy/commands/pr.md
Owners: @domchen, @Hparty, @shlzxjp

Reuse existing baseline images when regenerating baselines. (#3209)
  .codebuddy/commands/cr.md
  .codebuddy/commands/pr.md
  .codebuddy/rules/Git.md
  test/src/utils/Baseline.cpp
  test/src/utils/Baseline.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add GL_SILENCE_DEPRECATION to suppress OpenGL deprecation warnings on macOS.
  test/src/PAGBlendTest.cpp
  test/src/PAGSurfaceTest.cpp
  test/src/utils/TestUtils.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

update
  src/platform/android/GPUDrawable.cpp
  src/platform/ohos/GPUDrawable.cpp
  src/platform/web/GPUDrawable.cpp
  src/rendering/caches/RenderCache.cpp
  src/rendering/caches/RenderCache.h
  src/rendering/filters/utils/FilterHelper.h
  src/rendering/sequences/BitmapSequenceReader.cpp
  src/rendering/sequences/BitmapSequenceReader.h
  src/rendering/utils/HardwareBufferUtil.h
Owners: @domchen, @Hparty, @shlzxjp

codeformat
  src/platform/web/PAGWasmBindings.cpp
  src/rendering/filters/RuntimeFilter.h
Owners: @domchen, @Hparty, @shlzxjp

Rename collectVertices back to computeVertices.
  src/rendering/filters/BulgeFilter.cpp
  src/rendering/filters/BulgeFilter.h
  src/rendering/filters/CornerPinFilter.cpp
  src/rendering/filters/CornerPinFilter.h
  src/rendering/filters/MotionBlurFilter.cpp
  src/rendering/filters/MotionBlurFilter.h
  src/rendering/filters/RuntimeFilter.cpp
  src/rendering/filters/RuntimeFilter.h
  src/rendering/filters/layerstyle/SolidStrokeFilter.cpp
  src/rendering/filters/layerstyle/SolidStrokeFilter.h
Owners: @domchen, @Hparty, @shlzxjp

Fix WebGL header include for PAGWasmBindings compilation.
  src/platform/web/PAGWasmBindings.cpp
Owners: @domchen, @Hparty, @shlzxjp

Change computeVertices to return std::vector<float>.
  src/rendering/filters/BulgeFilter.cpp
  src/rendering/filters/BulgeFilter.h
  src/rendering/filters/CornerPinFilter.cpp
  src/rendering/filters/CornerPinFilter.h
  src/rendering/filters/MotionBlurFilter.cpp
  src/rendering/filters/MotionBlurFilter.h
  src/rendering/filters/RuntimeFilter.cpp
  src/rendering/filters/RuntimeFilter.h
  src/rendering/filters/layerstyle/SolidStrokeFilter.cpp
  src/rendering/filters/layerstyle/SolidStrokeFilter.h
Owners: @domchen, @Hparty, @shlzxjp

update baseline
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use GLES3 header for swiftshader and OpenGL header for system builds in tests.
  test/baseline/version.json
  test/src/PAGBlendTest.cpp
  test/src/PAGSurfaceTest.cpp
  test/src/utils/TestUtils.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx and add 3D rendering infrastructure stubs.
  DEPS
  src/rendering/caches/RenderCache.cpp
  src/rendering/filters/utils/Filter3DFactory.cpp
  src/rendering/filters/utils/Filter3DFactory.h
  src/rendering/renderers/FilterRenderer.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update Cypress tests to use WebGL 2 as tgfx now requires it.
  web/cypress/integration/pag-image.spec.ts
  web/cypress/integration/pag-surface.spec.ts
Owners: @domchen, @Hparty, @shlzxjp

Update PAG web SDK to use WebGL 2 as tgfx now requires it.
  web/src/core/global-canvas.ts
  web/src/core/render-canvas.ts
Owners: @domchen, @Hparty, @shlzxjp

Add hook methods to RuntimeFilter for custom pipeline and render pass configuration.
  src/rendering/filters/RuntimeFilter.cpp
  src/rendering/filters/RuntimeFilter.h
Owners: @domchen, @Hparty, @shlzxjp

Cache Sampler in FilterResources and improve code quality.
  src/rendering/filters/BulgeFilter.cpp
  src/rendering/filters/RuntimeFilter.cpp
  src/rendering/filters/RuntimeFilter.h
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant setTexture calls and unify Uniforms naming style in filters.
  src/rendering/filters/BulgeFilter.cpp
  src/rendering/filters/DisplacementMapFilter.cpp
  src/rendering/filters/glow/GlowBlurFilter.cpp
  src/rendering/filters/glow/GlowMergeFilter.cpp
  src/rendering/filters/layerstyle/AlphaEdgeDetectFilter.cpp
  src/rendering/filters/layerstyle/SolidStrokeFilter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Call prepareNextFrame after submit to prepare sequence images for next frame.
  src/rendering/PAGSurface.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add switch-main command and improve pr and cr command workflows.
  .codebuddy/commands/cr.md
  .codebuddy/commands/pr.md
  .codebuddy/commands/switch-main.md
  .codebuddy/rules/Test.md
  src/rendering/filters/BrightnessContrastFilter.cpp
  src/rendering/filters/DisplacementMapFilter.cpp
  src/rendering/filters/HueSaturationFilter.cpp
  src/rendering/filters/MosaicFilter.cpp
  src/rendering/filters/glow/GlowFilter.cpp
  src/rendering/filters/glow/GlowMergeFilter.h
  src/rendering/filters/utils/Filter3DFactory.h
Owners: @domchen, @Hparty, @shlzxjp

Strengthen code review command to prohibit modifying others code and only allow PR comments.
  .codebuddy/commands/cr.md
Owners: @domchen, @Hparty, @shlzxjp

Call setPresentationTime before present in GPUDrawable.
  src/platform/android/GPUDrawable.cpp
  src/platform/ohos/GPUDrawable.cpp
Owners: @domchen, @Hparty, @shlzxjp

Standardize critical rules format with IMPORTANT and NEVER keywords for better visibility.
  .codebuddy/commands/cr.md
  .codebuddy/commands/pr.md
  .codebuddy/rules/Git.md
  .codebuddy/rules/Test.md
Owners: @domchen, @Hparty, @shlzxjp

Call setPresentationTime before present in GPUDrawable. (#3212)
  src/platform/android/GPUDrawable.cpp
  src/platform/ohos/GPUDrawable.cpp
Owners: @domchen, @Hparty, @shlzxjp

Clarify that worktree cleanup should execute directly without confirmation.
  .codebuddy/commands/cr.md
Owners: @domchen, @Hparty, @shlzxjp

Add switch-main command and improve pr and cr command workflows. (#3211)
  .codebuddy/commands/cr.md
  .codebuddy/commands/pr.md
  .codebuddy/commands/switch-main.md
  .codebuddy/rules/Git.md
  .codebuddy/rules/Test.md
  src/rendering/filters/BrightnessContrastFilter.cpp
  src/rendering/filters/DisplacementMapFilter.cpp
  src/rendering/filters/HueSaturationFilter.cpp
  src/rendering/filters/MosaicFilter.cpp
  src/rendering/filters/glow/GlowFilter.cpp
  src/rendering/filters/glow/GlowMergeFilter.h
  src/rendering/filters/utils/Filter3DFactory.h
Owners: @domchen, @Hparty, @shlzxjp

Fix the issue of black screen rendering when creating PAGSurface with texture ID.
  src/rendering/utils/GLRestorer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Optimize NativeDisplayLink to execute VSync callback on UI thread for OHOS platform. (#3178)
  CMakeLists.txt
  src/platform/ohos/JPAG.cpp
  src/platform/ohos/NativeDisplayLink.cpp
  src/platform/ohos/NativeDisplayLink.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

fix(ohos): prevent duplicate initialization of NativeDisplayLink threadsafe function. (#3191)
  src/platform/ohos/NativeDisplayLink.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix null pointer checks and memory leak in ohos NativeCodec.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Optimize gh CLI calls by caching PR info and branch name into variables.
  .codebuddy/commands/cr.md
  .codebuddy/commands/pr.md
Owners: @domchen, @Hparty, @shlzxjp

Update CodeBuddy commands and rules for better workflow.
  .codebuddy/commands/cr.md
  .codebuddy/commands/pr.md
  .codebuddy/commands/switch-main.md
  .codebuddy/commands/worktree.md
  .codebuddy/rules/Code.md
  .codebuddy/rules/Git.md
  .gitignore
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update CodeBuddy commands and rules for better workflow. (#3213)
  .codebuddy/commands/cr.md
  .codebuddy/commands/pr.md
  .codebuddy/commands/switch-main.md
  .codebuddy/commands/worktree.md
  .codebuddy/rules/Code.md
  .codebuddy/rules/Git.md
  .gitignore
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove worktree command.
  .codebuddy/commands/worktree.md
Owners: @domchen, @Hparty, @shlzxjp

Improve README documentation for viewer and exporter modules.
  exporter/README.md
  exporter/README.zh_CN.md
  viewer/README.md
  viewer/README.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Improve README documentation for viewer and exporter modules. (#3217)
  exporter/README.md
  exporter/README.zh_CN.md
  viewer/README.md
  viewer/README.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx to b8251c0d and adapt to new GPU API for instanced drawing support.
  DEPS
  src/rendering/filters/RuntimeFilter.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp
