Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Apply the fauxBold stroke width to HTML-exported TextBox spans.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Restore per-element constraint attribute references in Rectangle, Ellipse, and Group.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Correct arrangement doc and narrow alignment doc to cross-axis in Layer.h.
  include/pagx/nodes/Layer.h
Owners: @domchen, @Hparty, @shlzxjp

Remove ceil on typeset cross size so TextBox measurement keeps exact extent.
  src/pagx/nodes/TextBox.cpp
Owners: @domchen, @Hparty, @shlzxjp

Apply fauxItalic skew to HTML-exported TextBox spans.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Restructure constraint positioning section to separate positioning rules from explicit size behavior.
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Update svg_duplicatePaths baseline version to match latest output.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Condense constraint positioning guide around intent-driven attribute selection.
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Restore original example comments in constraint positioning section.
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Fixed web VideoReader not handling destroy state properly during async operations. (#3364)
  web/src/core/video-reader.ts
  web/src/pag-player.ts
  web/src/pag-view.ts
  web/src/video-reader-manager.ts
  web/src/wechat/pag-view.ts
  web/src/wechat/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

Add split-long-paths optimizer pass to break oversized compound paths into smaller siblings.
  include/pagx/PAGXOptimizer.h
  src/cli/CommandOptimize.cpp
  src/pagx/PAGXOptimizer.cpp
  test/src/PAGXOptimizerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Emit gap on flex layers that also use space-* arrangement so content-sized rows preserve minimum spacing.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Translate PAGX space-* arrangement into CSS computed gap so HTML rows match the tgfx spacing.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove the pagx optimize command and all related code and documentation.
  .codebuddy/skills/pagx/references/cli.md
  cli/npm/README.md
  src/cli/CommandOptimize.cpp
  src/cli/CommandOptimize.h
  src/cli/main.cpp
Owners: @domchen, @Hparty, @shlzxjp

Bias fauxBold CSS stroke width by 0.5px to clear Chromium's sub-pixel text-stroke threshold.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove split-long-paths optimizer pass and all related options and tests.
  include/pagx/PAGXOptimizer.h
  src/pagx/PAGXOptimizer.cpp
  test/src/PAGXOptimizerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Merge opposite-edge and percentage behavior tables in pagx spec.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Match tgfx's Smooth range selector shape and gate easeIn/easeOut to Triangle only.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update baseline version for layout_constraint_polystar.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add pagx optimize command documentation to README.
  cli/npm/README.md
Owners: @domchen, @Hparty, @shlzxjp

Emit native justify-content:space-* and pin the main-axis size so HTML rows match tgfx regardless of whether the row is stretched or shrink-to-fit.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Center the color_image_pattern rows vertically so the sample is not top-aligned.
  resources/pagx_to_html/color_image_pattern.pagx
Owners: @domchen, @Hparty, @shlzxjp

Center the layer_transform_xy grid horizontally so all seven shapes and labels are balanced around the doc center.
  resources/pagx_to_html/layer_transform_xy.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix radial gradient center mapping and move text shadow effects to glyph level in PPT exporter.
  src/cli/CommandExport.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
  test/src/PAGXUtilsTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add blur and blend mode support to PPT effectLst export with correct OOXML element ordering.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extend PPT exporter with conic and diamond gradients, layer styles, TextBox, Repeater and nested composition layers.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Accept updated screenshot baselines and resync the layer_transform_xy assertion.
  test/baseline/version.json
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Accept showcase_dashboard_card baseline after reverting the stale box-shadow workaround.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.2.16.
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.2.16 (#3398)
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Remove xsd reference from pagx spec to keep it self-contained.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Add modifier resolver feature probe and layer rasterizer to PPT exporter for better coverage of unsupported features.
  CMakeLists.txt
  include/pagx/PPTExporter.h
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTFeatureProbe.cpp
  src/pagx/ppt/PPTFeatureProbe.h
  src/pagx/ppt/PPTModifierResolver.cpp
  src/pagx/ppt/PPTModifierResolver.h
  src/pagx/ppt/PPTRasterizer.cpp
  src/pagx/ppt/PPTRasterizer.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Simplify Dimension type description by removing redundant regex pattern.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Add four PAGX samples covering RangeSelector percentage unit, multi-axis matrix3D with preserve3D, DropShadowStyle showBehindLayer and excludeChildEffects, and Stroke dashOffset cycling.
  resources/pagx_to_html/drop_shadow_show_behind.pagx
  resources/pagx_to_html/layer_3d_multi_axis.pagx
  resources/pagx_to_html/selector_unit_percentage.pagx
  resources/pagx_to_html/stroke_dash_offset_cycle.pagx
Owners: @domchen, @Hparty, @shlzxjp

Remove SVGTextLayout after migrating to the unified TextLayout engine.
  CMakeLists.txt
  src/pagx/svg/SVGTextLayout.cpp
  src/pagx/svg/SVGTextLayout.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Migrate SVG text export from SVGTextLayout to the unified TextLayout engine with FontConfig support.
  include/pagx/SVGExporter.h
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add per-text line metadata to TextLayoutResult for text export.
  src/pagx/TextLayout.cpp
  src/pagx/TextLayout.h
Owners: @domchen, @Hparty, @shlzxjp

Integrate TextLayout engine into PPT exporter for accurate text bounding boxes and TextBox group support.
  include/pagx/PPTExporter.h
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move MakeTextBoxParams and MakeStandaloneParams to ExporterUtils for shared reuse.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Scope PPT feature probing to the current layer so rasterization fallback stays localized.
  src/pagx/ppt/PPTFeatureProbe.cpp
  src/pagx/ppt/PPTFeatureProbe.h
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
