Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

update
  android/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

update
  android/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

update
  android/gradle/wrapper/gradle-wrapper.properties
Owners: @domchen, @Hparty, @shlzxjp

update
  android/gradle.properties
  android/libpag/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

Upload code related to third-party libraries for PAGView
  viewer/CMakeLists.txt
  viewer/DEPS
  viewer/src/main.cpp
  viewer/sync_deps.sh
  viewer/tools/build/common/__init__.py
  viewer/tools/build/common/__pycache__/__init__.cpython-313.pyc
  viewer/tools/build/common/__pycache__/utils.cpython-313.pyc
  viewer/tools/build/common/utils.py
  viewer/tools/build/log4qt/build.py
  viewer/tools/build/log4qt/log4qt.patch
  viewer/tools/build/nlohman-json/build.py
  viewer/tools/build/sodium/build.py
  viewer/tools/build/sparkle/build.py
  viewer/vendor.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix compilation issues.
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/libpag/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

update
  README.md
  README.zh_CN.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update Android NDK from 19 to 28. Support 16 KB page sizes(https://developer.android.com/guide/practices/page-sizes#kotlin). (#2681)
  README.md
  README.zh_CN.md
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/libpag/build.gradle
  android/libpag/libs/arm64-v8a/libffavc.so
  android/libpag/libs/armeabi-v7a/libffavc.so
  android/libpag/libs/armeabi/libffavc.so
  android/libpag/libs/x86_64/libffavc.so
  ohos/libpag/README.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Upgrade Gradle to support the latest version of Android Studio. (#2636)
  android/.idea/misc.xml
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
Owners: @domchen, @Hparty, @shlzxjp

Fix memory leak issues in PAGViewController and PAGImageViewController on ohos. (#2667)
  ohos/libpag/src/main/ets/PAGImageView.ets
  ohos/libpag/src/main/ets/PAGView.ets
  ohos/libpag/src/main/ets/private/PAGViewCallbackHandler.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix the issue that the default scale modes set by PAGExporter is not applied. (#2684)
  include/pag/pag.h
  src/rendering/editing/ImageReplacement.cpp
  src/rendering/editing/ImageReplacement.h
  src/rendering/layers/PAGImageLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update Android NDK from 19 to 28. Support 16 KB page sizes(https://developer.android.com/guide/practices/page-sizes#kotlin).
  README.md
  README.zh_CN.md
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/libpag/build.gradle
  android/libpag/libs/arm64-v8a/libffavc.so
  android/libpag/libs/armeabi-v7a/libffavc.so
  android/libpag/libs/armeabi/libffavc.so
  android/libpag/libs/x86_64/libffavc.so
  ohos/libpag/README.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use the correct argument "-sMAX_WEBGL_VERSION=2" to enable WebGL 2.0.
  CMakeLists.txt
  web/tsconfig.json
  web/tsconfig.type.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use the correct argument "-sMAX_WEBGL_VERSION=2" to enable WebGL 2.0. (#2688)
  CMakeLists.txt
  web/tsconfig.json
  web/tsconfig.type.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update code related to third-party libraries for PAGView
  viewer/.gitignore
  viewer/CMakeLists.txt
  viewer/tools/build/common/__pycache__/__init__.cpython-313.pyc
  viewer/tools/build/common/__pycache__/utils.cpython-313.pyc
  viewer/tools/build/sodium/build.py
  viewer/tools/build_tools/common/__init__.py
  viewer/tools/build_tools/common/__pycache__/__init__.cpython-313.pyc
  viewer/tools/build_tools/common/__pycache__/utils.cpython-313.pyc
  viewer/tools/build_tools/common/utils.py
  viewer/tools/build_tools/log4qt/build.py
  viewer/tools/build_tools/log4qt/log4qt.patch
  viewer/tools/build_tools/nlohman-json/build.py
  viewer/tools/build_tools/sodium/build.py
  viewer/tools/build_tools/sodium/sodium.patch
  viewer/tools/build_tools/sparkle/build.py
  viewer/tools/build_tools/winsparkle/build.py
  viewer/vendor.json
Owners: @domchen, @Hparty, @shlzxjp

Update code related to third-party libraries for PAGView
  viewer/.gitignore
  viewer/tools/build_tools/common/__pycache__/__init__.cpython-313.pyc
  viewer/tools/build_tools/common/__pycache__/utils.cpython-313.pyc
Owners: @domchen, @Hparty, @shlzxjp

update
  android/gradle/wrapper/gradle-wrapper.properties
Owners: @domchen, @Hparty, @shlzxjp

update gradle
  android/.idea/misc.xml
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
Owners: @domchen, @Hparty, @shlzxjp

Update Android NDK from 19 to 28. Support 16 KB page sizes(https://developer.android.com/guide/practices/page-sizes#kotlin).
  README.md
  README.zh_CN.md
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/libpag/build.gradle
  android/libpag/libs/arm64-v8a/libffavc.so
  android/libpag/libs/armeabi-v7a/libffavc.so
  android/libpag/libs/armeabi/libffavc.so
  android/libpag/libs/x86_64/libffavc.so
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

update
  android/gradle/wrapper/gradle-wrapper.properties
Owners: @domchen, @Hparty, @shlzxjp

Fix the issue that the imageScaleModes is not effective with editable image
  include/pag/pag.h
  src/rendering/editing/ImageReplacement.cpp
  src/rendering/editing/ImageReplacement.h
  src/rendering/layers/PAGImageLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use the correct argument "-sMAX_WEBGL_VERSION=2" to enable WebGL 2.0. (#2688)
  CMakeLists.txt
  web/tsconfig.json
  web/tsconfig.type.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

windows build PAGPanel Export
  pag-exporter/CMakeLists.txt
  pag-exporter/assets/qml/ExportConfig.qml
  pag-exporter/assets/qml/PApplicationWindow.qml
  pag-exporter/assets/res.qrc
  pag-exporter/scripts/win/deployqt.bat
  pag-exporter/src/aecmd/AECommand.cpp
  pag-exporter/src/aecmd/AECommand.h
  pag-exporter/src/main.cpp
  pag-exporter/src/ui/qt/ErrorList/AlertInfoUI.cpp
  pag-exporter/src/ui/qt/ErrorList/ErrorListModel.h
  pag-exporter/src/ui/qt/PAGPanelExporterDialog/PAGPanelExporterDialog.h
Owners: @domchen, @Hparty, @shlzxjp

exporter setting windows init
  pag-exporter/assets/qml/CustomTabButton.qml
  pag-exporter/assets/qml/ExportComboBox.qml
  pag-exporter/assets/qml/ExportConfig.qml
  pag-exporter/assets/qml/ExportSettings.qml
  pag-exporter/src/ui/qt/ExportSettingDialog/ExportSettingDialog.cpp
  pag-exporter/src/ui/qt/ExportSettingDialog/ExportSettingDialog.h
  pag-exporter/src/utils/ImageData/ImageRawData.cpp
Owners: @domchen, @Hparty, @shlzxjp

The Exporter Setting UI is adapted to Windows
  pag-exporter/CMakeLists.txt
  pag-exporter/src/VideoEncoder/VideoEncoderOffline.cpp
  pag-exporter/src/exports/Sequence/VideoSequence.cpp
  pag-exporter/src/ui/qt/PAGConfigDialog/PAGConfigDialog.cpp
Owners: @domchen, @Hparty, @shlzxjp

Upload code related to display PAG file infomation
  viewer/src/common/main.cpp
  viewer/src/macos/MacPluginInstaller.mm
  viewer/src/macos/MacUpdater.mm
  viewer/src/profiling/PAGBenchmarkModel.cpp
  viewer/src/profiling/PAGBenchmarkModel.h
  viewer/src/profiling/PAGFileInfoModel.cpp
  viewer/src/profiling/PAGFileInfoModel.h
  viewer/src/profiling/PAGRunTimeChartModel.cpp
  viewer/src/profiling/PAGRunTimeChartModel.h
  viewer/src/profiling/PAGRunTimeDataModel.cpp
  viewer/src/profiling/PAGRunTimeDataModel.h
  viewer/src/profiling/PAGRunTimeModelManager.cpp
  viewer/src/profiling/PAGRunTimeModelManager.h
  viewer/src/rendering/PAGRenderThread.cpp
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/PAGWindow.h
  viewer/src/resources/image/un-encryption.png
  viewer/src/resources/image/unencrypted.png
  viewer/src/resources/qml/MainWindow.qml
  viewer/src/resources/qml/Menu.qml
  viewer/src/resources/qml/PerformanceWarnDialog.qml
  viewer/src/resources/qml/Profiler.qml
  viewer/src/resources/qml/ProfilerForm.qml
  viewer/src/resources/res.qrc
  viewer/src/utils/Time.h
  viewer/src/utils/Translate.h
  viewer/src/utils/string.cpp
  viewer/src/utils/string.h
Owners: @domchen, @Hparty, @shlzxjp

Adapt the PAG export function under Windows
  pag-exporter/src/VideoEncoder/VideoEncoderOffline.cpp
  pag-exporter/src/configparam/ConfigParam.cpp
  pag-exporter/src/configparam/ConfigParam.h
  pag-exporter/src/ui/qt/EnvConfig.cpp
  pag-exporter/src/ui/qt/EnvConfig.h
  pag-exporter/src/ui/qt/PAGPanelExporterDialog/PAGPanelExporterDialog.cpp
  pag-exporter/src/utils/AEResource.cpp
  pag-exporter/src/utils/AEUtils.cpp
  pag-exporter/src/utils/Context.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update the code related to display PAG file information
  viewer/cmake/global_setting.cmake
  viewer/cmake/set_info.cmake
  viewer/cmake/utils.cmake
  viewer/src/CMakeLists.txt
  viewer/src/cJSON/cJSON.c
  viewer/src/common/PAGApplication.cpp
  viewer/src/common/PAGApplication.h
  viewer/src/common/main.cpp
  viewer/src/macos/MacPluginInstaller.mm
  viewer/src/macos/MacUpdater.mm
  viewer/src/maintance/PAGCheckUpdateModel.cpp
  viewer/src/profiling/PAGFileInfoModel.cpp
  viewer/src/profiling/PAGRunTimeModelManager.cpp
  viewer/src/rendering/PAGRenderThread.cpp
  viewer/src/rendering/PAGViewWindow.cpp
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/utils/File.h
  viewer/src/utils/StringTransform.cpp
  viewer/src/utils/StringTransform.h
  viewer/src/utils/Time.h
  viewer/src/utils/Translate.h
  viewer/src/windows/SingleApplication.cpp
  viewer/src/windows/SingleApplication.h
  viewer/src/windows/SingleApplication_p.cpp
  viewer/src/windows/SingleApplication_p.h
  viewer/src/windows/WindowsPluginInstaller.cpp
  viewer/src/windows/WindowsUpdater.cpp
  viewer/tools/build_tools/common/utils.py
  viewer/tools/build_tools/libpag/build.py
  viewer/tools/build_tools/libpag/create_symbol_link.bat
  viewer/tools/build_tools/winsparkle/build.py
Owners: @domchen, @Hparty, @shlzxjp

Update the code related to display PAG file information
  viewer/CMakeLists.txt
  viewer/cmake/global_setting.cmake
  viewer/src/CMakeLists.txt
  viewer/src/cJSON/cJSON.c
  viewer/src/common/main.cpp
  viewer/src/rendering/PAGWindow.cpp
  viewer/tools/build_tools/libpag/build.py
Owners: @domchen, @Hparty, @shlzxjp

Update the code related to display PAG file information
  viewer/src/cJSON/cJSON.c
  viewer/src/windows/WindowsPluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update the commit id of vendor tool
  viewer/DEPS
Owners: @domchen, @Hparty, @shlzxjp

pag preview init
  pag-exporter/src/aecmd/AECommand.cpp
  pag-exporter/src/aecmd/AECommand.h
  pag-exporter/src/configparam/ConfigParam.h
  pag-exporter/src/exports/PAGExporter/PAGExporter.h
  pag-exporter/src/main.cpp
  pag-exporter/src/ui/qt/EnvConfig.cpp
  pag-exporter/src/ui/qt/EnvConfig.h
  pag-exporter/src/ui/qt/ErrorList/AlertInfoUI.h
  pag-exporter/src/ui/qt/ErrorList/ExportSingleAlert.cpp
  pag-exporter/src/ui/qt/ExportAlertDialog/ExportAlertDialog.cpp
  pag-exporter/src/ui/qt/ExportAlertDialog/ExportAlertDialog.h
  pag-exporter/src/ui/qt/ExportProgressListWindow/ExportProgressListWindow.cpp
  pag-exporter/src/ui/qt/ExportProgressListWindow/ExportProgressListWindow.h
  pag-exporter/src/ui/qt/ExportSettingDialog/ExportSettingDialog.cpp
  pag-exporter/src/ui/qt/ExportSettingDialog/ExportSettingDialog.h
  pag-exporter/src/ui/qt/ExportSettingDialog/composition/CompositionModel.h
  pag-exporter/src/ui/qt/ExportSettingDialog/composition/SnapshotCenter.cpp
  pag-exporter/src/ui/qt/ExportSettingDialog/layerEditable/LayerEditableModel.h
  pag-exporter/src/ui/qt/ExportSettingDialog/placeholder/PlaceHolderImageProvider.cpp
  pag-exporter/src/ui/qt/ExportSettingDialog/placeholder/PlaceHolderImageProvider.h
  pag-exporter/src/ui/qt/ExportSettingDialog/placeholder/PlaceholderModel.cpp
  pag-exporter/src/ui/qt/ExportSettingDialog/placeholder/PlaceholderModel.h
  pag-exporter/src/ui/qt/PAGPanelExporterDialog/PAGPanelExporterDialog.cpp
  pag-exporter/src/ui/qt/PAGPanelExporterDialog/PAGPanelExporterDialog.h
  pag-exporter/src/ui/qt/Progress/CustomProgressBar.cpp
  pag-exporter/src/ui/qt/Progress/PreviewProgress.cpp
  pag-exporter/src/ui/qt/Progress/PreviewProgress.h
  pag-exporter/src/ui/qt/Progress/ProgressWindow.h
  pag-exporter/src/ui/qt/Progress/ProgressWindowImp.cpp
  pag-exporter/src/ui/qt/Progress/ProgressWindowImp.h
  pag-exporter/src/ui/qt/WindowManager.cpp
  pag-exporter/src/ui/qt/WindowManager.h
  pag-exporter/src/utils/AEUtils.cpp
  pag-exporter/src/utils/AEUtils.h
  pag-exporter/src/utils/PrintStream.cpp
  pag-exporter/src/utils/PrintStream.h
Owners: @domchen, @Hparty, @shlzxjp

Update the build scripts of Viewer
  viewer/src/CMakeLists.txt
  viewer/tools/build_tools/libpag/build.py
  viewer/tools/build_tools/log4qt/build.py
Owners: @domchen, @Hparty, @shlzxjp

Fixed the issue of copying libraries for Viewer
  viewer/CMakeLists.txt
  viewer/src/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

Add third-party library compilation scripts for PAGViewer
  viewer/src/common/main.cpp
  viewer/sync_deps.sh
  viewer/tools/build_tools/cjson/build.bat
  viewer/tools/build_tools/common/__init__.py
  viewer/tools/build_tools/common/utils.py
  viewer/tools/build_tools/libpag/build.bat
  viewer/tools/build_tools/libpag/build.py
  viewer/tools/build_tools/log4qt/build.py
  viewer/tools/build_tools/sodium/build.bat
  viewer/tools/build_tools/sodium/build.py
  viewer/tools/build_tools/sparkle/build.py
  viewer/tools/build_tools/winsparkle/build.bat
  viewer/tools/build_tools/winsparkle/build.py
  viewer/vendor.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove Python dependency from PAGViewer build
  viewer/CMakeLists.txt
  viewer/tools/version_build_tools/builder.py
  viewer/tools/version_build_tools/builder_cpp.py
  viewer/tools/version_build_tools/main.py
  viewer/tools/version_build_tools/version.h.in
Owners: @domchen, @Hparty, @shlzxjp

Add CMakeLists.txt and third-party build scripts for PAGViewer
  codeformat.sh
  viewer/.gitignore
  viewer/CMakeLists.txt
  viewer/DEPS
  viewer/src/common/main.cpp
  viewer/sync_deps.sh
  viewer/tools/build_tools/cjson/build.bat
  viewer/tools/build_tools/cjson/build.sh
  viewer/tools/build_tools/libpag/build.bat
  viewer/tools/build_tools/libpag/build.sh
  viewer/tools/build_tools/libpag/create_symbol_link.bat
  viewer/tools/build_tools/log4qt/build.sh
  viewer/tools/build_tools/log4qt/log4qt.patch
  viewer/tools/build_tools/sodium/build.bat
  viewer/tools/build_tools/sodium/build.sh
  viewer/tools/build_tools/sodium/sodium.patch
  viewer/tools/build_tools/sparkle/build.sh
  viewer/tools/build_tools/winsparkle/build.bat
  viewer/tools/version_build_tools/version.h.in
  viewer/vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename qt to viewer, add third-party libraries and Remove support for Qt5
  .github/workflows/build.yml
  DEPS
  codeformat.sh
  scripts/build_sparkle.sh
  scripts/build_winsparkle.bat
  vendor.json
  viewer/.idea/fileTemplates/includes/PAG File Header.h
  viewer/.idea/fileTemplates/internal/C Header File.h
  viewer/.idea/fileTemplates/internal/C Source File.c
  viewer/.idea/fileTemplates/internal/C++ Class Header.h
  viewer/.idea/fileTemplates/internal/C++ Class.cc
  viewer/.idea/misc.xml
  viewer/CMakeLists.txt
  viewer/README.md
  viewer/README.zh_CN.md
  viewer/images/window-icon.png
  viewer/qml/Main.qml
  viewer/res.qrc
  viewer/src/PAGView.cpp
  viewer/src/PAGView.h
  viewer/src/PAGViewer.cpp
  viewer/src/PAGViewer.h
  viewer/src/PAGWindow.cpp
  viewer/src/PAGWindow.h
  viewer/src/main.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update the qt path corresponding to vs2019
  viewer/README.md
  viewer/README.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Update the README.md of viewer
  CPPLINT.cfg
  viewer/README.md
  viewer/README.zh_CN.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
