Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Updated the ccache setup and fix warning (#3189)
  .github/workflows/build.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update Rules.
  .codebuddy/rules/Build.md
  .codebuddy/rules/Workflow.md
Owners: @domchen, @Hparty, @shlzxjp

Update Rules.
  .codebuddy/CODEBUDDY.md
Owners: @domchen, @Hparty, @shlzxjp

Use lazy initialization to avoid Android JNI crash on startup.
  src/rendering/caches/DiskCache.cpp
  src/rendering/caches/DiskCache.h
Owners: @domchen, @Hparty, @shlzxjp

Fix the crash issue caused by non-thread-safe reads of deviceMap.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

update
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix Android crash.
  android/libpag/proguard-rules.pro
Owners: @domchen, @Hparty, @shlzxjp

Fix android crash error.
  android/libpag/proguard-rules.pro
  android/libpag/src/main/java/org/libpag/PAGDiskCache.java
  src/platform/android/JPAGDiskCache.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename collectVertices back to computeVertices.
  src/rendering/filters/BulgeFilter.cpp
  src/rendering/filters/BulgeFilter.h
  src/rendering/filters/CornerPinFilter.cpp
  src/rendering/filters/CornerPinFilter.h
  src/rendering/filters/MotionBlurFilter.cpp
  src/rendering/filters/MotionBlurFilter.h
  src/rendering/filters/RuntimeFilter.cpp
  src/rendering/filters/RuntimeFilter.h
  src/rendering/filters/layerstyle/SolidStrokeFilter.cpp
  src/rendering/filters/layerstyle/SolidStrokeFilter.h
Owners: @domchen, @Hparty, @shlzxjp

Change computeVertices to return std::vector<float>.
  src/rendering/filters/BulgeFilter.cpp
  src/rendering/filters/BulgeFilter.h
  src/rendering/filters/CornerPinFilter.cpp
  src/rendering/filters/CornerPinFilter.h
  src/rendering/filters/MotionBlurFilter.cpp
  src/rendering/filters/MotionBlurFilter.h
  src/rendering/filters/RuntimeFilter.cpp
  src/rendering/filters/RuntimeFilter.h
  src/rendering/filters/layerstyle/SolidStrokeFilter.cpp
  src/rendering/filters/layerstyle/SolidStrokeFilter.h
Owners: @domchen, @Hparty, @shlzxjp

Update Rules.
  .codebuddy/rules/Coding.md
  .codebuddy/rules/Workflow.md
Owners: @domchen, @Hparty, @shlzxjp

Update build script for viewer
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp

Update build script for viewer
  exporter/CMakeLists.txt
  viewer/package/build_mac.sh
  viewer/package/templates/PAGExporter.rsrc
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix some issues
  exporter/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

update
  src/platform/android/GPUDrawable.cpp
  src/platform/ohos/GPUDrawable.cpp
  src/platform/web/GPUDrawable.cpp
  src/rendering/caches/RenderCache.cpp
  src/rendering/caches/RenderCache.h
  src/rendering/filters/utils/FilterHelper.h
  src/rendering/sequences/BitmapSequenceReader.cpp
  src/rendering/sequences/BitmapSequenceReader.h
  src/rendering/utils/HardwareBufferUtil.h
Owners: @domchen, @Hparty, @shlzxjp

Update the build scripts for viewer
  exporter/src/platform/mac/PlatformHelper.mm
  viewer/package/build_mac.sh
  viewer/qttools/copy_qt_resource.sh
  viewer/qttools/delete_qt_resource.sh
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Apply code formatting.
  exporter/src/platform/mac/PlatformHelper.mm
Owners: @domchen, @Hparty, @shlzxjp

Remove emojis from scripts and restore executable permissions.
  viewer/qttools/copy_qt_resource.sh
  viewer/qttools/delete_qt_resource.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add legacy Qt resources cleanup for users upgrading from old versions.
  viewer/qttools/delete_qt_resource.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix WebGL header include for PAGWasmBindings compilation.
  src/platform/web/PAGWasmBindings.cpp
Owners: @domchen, @Hparty, @shlzxjp

codeformat
  src/platform/web/PAGWasmBindings.cpp
  src/rendering/filters/RuntimeFilter.h
Owners: @domchen, @Hparty, @shlzxjp

Add GL_SILENCE_DEPRECATION to suppress OpenGL deprecation warnings on macOS.
  test/src/PAGBlendTest.cpp
  test/src/PAGSurfaceTest.cpp
  test/src/utils/TestUtils.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

fix(ohos): prevent duplicate initialization of NativeDisplayLink threadsafe function.
  src/platform/ohos/NativeDisplayLink.cpp
Owners: @domchen, @Hparty, @shlzxjp

fix(ohos): prevent duplicate initialization of NativeDisplayLink threadsafe function. (#3191)
  src/platform/ohos/NativeDisplayLink.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGExporter to load Qt resources from external shared directory. (#3196)
  exporter/CMakeLists.txt
  exporter/src/platform/mac/PlatformHelper.mm
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
  viewer/package/templates/PAGExporter.rsrc
  viewer/qttools/copy_qt_resource.sh
  viewer/qttools/delete_qt_resource.sh
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add dSYM generation support for PAGViewer and PAGExporter with RelWithDebInfo build type.
  viewer/package/build_mac.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update Rules.
  .codebuddy/rules/Build.md
  .codebuddy/rules/Code.md
  .codebuddy/rules/Coding.md
  .codebuddy/rules/Git.md
  .codebuddy/rules/PR.md
  .codebuddy/rules/Workflow.md
  .codebuddy/settings.json
Owners: @domchen, @Hparty, @shlzxjp

Update codebuddy settings.
  .codebuddy/settings.json
Owners: @domchen, @Hparty, @shlzxjp

Update Windows build script to use RelWithDebInfo configuration.
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp

Collect pdb files for viewer on Windows
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp

Fix gcovr merge conflict by adding merge-mode-functions parameter.
  codecov.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use merge-use-line-min for better function merge handling in gcovr.
  codecov.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add debug symbols generation for Release build type.
  exporter/CMakeLists.txt
  viewer/CMakeLists.txt
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add debug symbol generation for Release builds of PAGViewer and PAGExporter. (#3201)
  codecov.sh
  exporter/CMakeLists.txt
  viewer/CMakeLists.txt
  viewer/package/build_mac.sh
  viewer/package/build_windows.ps1
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refactor CodeBuddy rules into standalone slash commands for better modularity.
  .codebuddy/commands/cr.md
  .codebuddy/commands/pr.md
  .codebuddy/rules/Build.md
  .codebuddy/rules/Code.md
  .codebuddy/rules/Git.md
  .codebuddy/rules/PR.md
Owners: @domchen, @Hparty, @shlzxjp

Support PR ID as argument in cr slash command.
  .codebuddy/commands/cr.md
Owners: @domchen, @Hparty, @shlzxjp

Refactor CodeBuddy rules into standalone slash commands for better modularity. (#3204)
  .codebuddy/commands/cr.md
  .codebuddy/commands/pr.md
  .codebuddy/rules/Build.md
  .codebuddy/rules/Code.md
  .codebuddy/rules/Git.md
  .codebuddy/rules/PR.md
Owners: @domchen, @Hparty, @shlzxjp

Restore missing steps in baseline update instructions.
  .codebuddy/rules/Build.md
Owners: @domchen, @Hparty, @shlzxjp

Add accept_baseline.sh script and improve baseline workflow documentation.
  .codebuddy/commands/cr.md
  .codebuddy/rules/Build.md
  accept_baseline.sh
  update_baseline.sh
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add branch naming and commit message conventions to Git rules.
  .codebuddy/rules/Git.md
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
