Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix PAGImageView.setPathAsync returning null composition for path loads. (#3509)
  android/libpag/src/main/java/org/libpag/PAGImageView.java
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView main-thread NetworkOnMainThreadException by keeping composition resident on decoder rebuild (#3647)
  android/libpag/src/main/java/org/libpag/PAGFile.java
  android/libpag/src/main/java/org/libpag/PAGImageView.java
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView main-thread NetworkOnMainThreadException by keeping composition resident on decoder rebuild (#3647)
  android/libpag/src/main/java/org/libpag/PAGFile.java
  android/libpag/src/main/java/org/libpag/PAGImageView.java
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView.setPathAsync returning null composition for path loads. (#3509)
  android/libpag/src/main/java/org/libpag/PAGImageView.java
Owners: @domchen, @Hparty, @shlzxjp

Improve HTML import fidelity and cross platform snapshot handling.
  src/cli/CommandImport.cpp
  src/cli/CommandRender.cpp
  src/pagx/html/importer/HTMLAnimationBuilder.cpp
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLLayerBuilder.h
  src/pagx/html/importer/HTMLValueParser.cpp
  src/pagx/utils/StringParser.cpp
  test/src/PAGXCliTest.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reset animator progress when switching composition in PAGImageView.
  src/platform/ios/PAGImageView.mm
  src/platform/ohos/JPAGImageView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move HTML resource writing implementation out of header.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Invalidate stale image state when switching compositions.
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Update HTML snapshots to honor reduced motion preferences.
  tools/html-snapshot/README.md
  tools/html-snapshot/lib/browser-engine.ts
  tools/html-snapshot/lib/page-loader.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/test/browser-engine.test.js
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView main-thread block on iOS by keeping composition resident on decoder rebuild (#3657)
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix Windows viewer build failure by enabling /EHsc for rttr. (#3658)
  vendor.json
  viewer/CMakeLists.txt
  viewer/package/build_windows.ps1
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Clarify HTMLResourceWriter entry path contract in comments.
  src/pagx/html/HTMLResourceWriter.h
  src/pagx/html/HTMLWriter.h
Owners: @domchen, @Hparty, @shlzxjp

Fix HTML flex backgrounds and border insets.
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLLayerBuilder.h
  src/pagx/html/importer/HTMLParserContext.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refine XML error detection
  playground/pagx-player/src/editor/SourceEditor.ts
  playground/pagx-player/src/editor/index.ts
  playground/pagx-player/src/editor/styles.ts
  playground/pagx-player/src/pagx-view-types.ts
  playground/pagx-player/src/player.ts
  playground/pagx-player/src/types.ts
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  playground/pagx-viewer/src/cpp/binding.cpp
  playground/pagx-viewer/src/ts/pagx-view.ts
  playground/pagx-viewer/src/ts/types.ts
  src/pagx/PAGScene.cpp
  src/pagx/PAGXNodeChannel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix centered inline HTML text sizing.
  src/pagx/html/importer/HTMLTextFragmentBuilder.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refine pagx skill
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Validate pagx preview host and URL to prevent command injection ,Use partial render mode for animated pagx content to reduce overhead
  playground/pagx-preview/src/cli.js
  playground/pagx-viewer/src/cpp/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reset PAGImageView progress when switching compositions (#3660)
  src/platform/ios/PAGImageView.mm
  src/platform/ohos/JPAGImageView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Align update workflow preview policy with do not auto-launch rule
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Reset PAGImageView progress when switching compositions (#3660)
  src/platform/ios/PAGImageView.mm
  src/platform/ohos/JPAGImageView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reset PAGImageView progress when switching compositions (#3660)
  src/platform/ios/PAGImageView.mm
  src/platform/ohos/JPAGImageView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refine pagx skill, harden preview CLI inputs, and optimize animated render mode (#3661)
  .codebuddy/skills/pagx/SKILL.md
  playground/pagx-preview/src/cli.js
  playground/pagx-viewer/src/cpp/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to a5d1dcfb.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx dependency to a5d1dcfb to fix web crash. (#3665)
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

fixed bug
  include/pagx/PAGScene.h
  include/pagx/PAGXDocument.h
  playground/pagx-player/src/editor/SourceEditor.ts
  src/pagx/PAGScene.cpp
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Implement single-line highlight
  playground/pagx-player/src/editor/SourceEditor.ts
  playground/pagx-player/src/editor/index.ts
  playground/pagx-player/src/editor/styles.ts
  playground/pagx-player/src/player.ts
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.1.44.
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to dd9f4924 in DEPS.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Preserve authored boxes for empty image placeholders and pin diverging flex grow sizes in HTML snapshots.
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/test/empty-image-placeholder.test.js
  tools/html-snapshot/test/flex-grow-layout.test.js
Owners: @domchen, @Hparty, @shlzxjp

Enforce mandatory preview guidance and add delivery contract to pagx skill.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.1.45.
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx to include the iOS background glFinish fix that prevents main thread watchdog.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Accept screenshot baseline changes for pagx spec and html samples after tgfx update.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix PingPong animation progress bar running backward on the return half in the pagx viewer.
  include/pagx/PAGAnimation.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  src/pagx/PAGAnimation.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to dd9f4924 in DEPS. (#3668)
  DEPS
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add --no-reduced-motion option to snapshot CLI for pages whose reduced-motion styles hide content.
  tools/html-snapshot/README.md
  tools/html-snapshot/lib/cli.ts
  tools/html-snapshot/snapshot.js
  tools/html-snapshot/test/cli.test.js
  tools/html-snapshot/test/page-loader.test.js
  tools/html-snapshot/test/snapshot-runner.test.js
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.1.45 (#3669)
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx to commit 75e1f2959db86f26e4ad67667b3af3ba7a5451cc.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Improve HTML snapshot and importer layout fidelity (#3663)
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLLayerBuilder.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.cpp
  test/src/PAGXHTMLImporterTest.cpp
  tools/html-snapshot/README.md
  tools/html-snapshot/lib/browser-engine.ts
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/cli.ts
  tools/html-snapshot/lib/page-loader.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/snapshot.js
  tools/html-snapshot/test/browser-engine.test.js
  tools/html-snapshot/test/cli.test.js
  tools/html-snapshot/test/empty-image-placeholder.test.js
  tools/html-snapshot/test/flex-grow-layout.test.js
  tools/html-snapshot/test/page-loader.test.js
  tools/html-snapshot/test/snapshot-runner.test.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update tgfx dependency to 75e1f295 in DEPS. (#3670)
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
