Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix OOXML conformance issues that caused PowerPoint to trigger repair on exported PPTX files.
  src/pagx/ppt/PPTBoilerplate.cpp
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add SystemFonts::FindFont fallback for CLI font resolution on FreeType backend.
  src/cli/CliUtils.h
  src/pagx/SystemFonts.cpp
  src/pagx/SystemFonts.h
Owners: @domchen, @Hparty, @shlzxjp

Move PAGXOptimizer Options to internal header and add braces to all single-line control flow statements.
  include/pagx/PAGXOptimizer.h
  src/pagx/PAGXOptimizer.cpp
  src/pagx/PAGXOptimizerOptions.h
  test/src/PAGXOptimizerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix SVG gradient export to handle fitsToGeometry coordinate space.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace -webkit-text-stroke and skewX fauxBold/fauxItalic emulation with CSS native font-weight:bold and font-style:italic synthesis.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Publish pagx-viewer-miniprogram
  pagx/wechat/CMakeLists.txt
  pagx/wechat/pagx-viewer-miniprogram/CHANGELOG.md
  pagx/wechat/pagx-viewer-miniprogram/package.json
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to 96a6e0ab2c7f90cbc0845d6ef29a90640ea43da8.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add FontFaceRule and fontFaceRules option to HTMLExportOptions for injecting @font-face rules into generated HTML with URL, Base64, and FilePath embed modes.
  include/pagx/HTMLExporter.h
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add font-synthesis-weight:auto and font-synthesis-style:auto to all fontStyle Bold and Italic emit paths.
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add fontSynthesisWeight and fontSynthesisStyle options to HTMLExportOptions for controlling CSS font-synthesis-weight and font-synthesis-style values on bold and italic elements.
  include/pagx/HTMLExporter.h
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add PAGX optimizer stability tests for idempotence and export-import round-trip across the full rule set.
  resources/cli/optimizer_all_rules.pagx
  test/src/PAGXOptimizerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Publish 1.6.0
  pagx/wechat/.gitignore
  pagx/wechat/pagx-viewer-miniprogram/CHANGELOG.md
  pagx/wechat/pagx-viewer-miniprogram/README.md
  pagx/wechat/pagx-viewer-miniprogram/package.json
Owners: @domchen, @Hparty, @shlzxjp

Fix misaligned image pattern matrix after progressive image upgrade by making matrix resolve idempotent.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.h
Owners: @domchen, @Hparty, @shlzxjp

Clarify v2.8 design doc on inflater count contract strict alias enum meta and codec ok bridge.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Document zero-edge Rectangle as the canonical straight-line authoring pattern.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/guide.md
  .codebuddy/skills/pagx/references/patterns.md
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency and simplify gradient definitions in pagx samples.
  DEPS
  spec/samples/color_source_coordinates.pagx
  spec/samples/game_hud.pagx
  spec/samples/nebula_cadet.pagx
  spec/samples/space_explorer.pagx
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Consolidate the line authoring guidance into one place and drop default Stroke widths.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/guide.md
  .codebuddy/skills/pagx/references/patterns.md
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline changes for layout and decoration tests.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refactor PPT exporter helpers to deduplicate boilerplate and halve contour containment scans.
  src/pagx/ppt/PPTBoilerplate.cpp
  src/pagx/ppt/PPTContourUtils.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTWriterContext.h
Owners: @domchen, @Hparty, @shlzxjp

Improve PPT contour utils precision and speed with exact bezier area and AABB pruning.
  src/pagx/ppt/PPTContourUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use a strokeless sibling path for PPT shape bounds markers while keeping text-as-path glyphs inline so WeChat still pins the bbox and PowerPoint stops painting dots at corners.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTGeomEmitter.cpp
  src/pagx/ppt/PPTGeomEmitter.h
Owners: @domchen, @Hparty, @shlzxjp

Revert PPT corner bounds markers to inline zero-length line segments in the main path.
  src/pagx/ppt/PPTGeomEmitter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move the line authoring note into a dedicated Straight Lines subsection.
  .codebuddy/skills/pagx/references/guide.md
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Tighten the Straight Lines note and drop the redundant pointer from attributes.md.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Soften the Straight Lines note from a recommendation to a how-to.
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Drop the Straight Lines pointer from the Rectangle bullet.
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Trim the Straight Lines section to a how-to without layout caveats.
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Drop the redundant 1px wrapper height on every line example.
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify PPT contour bridging by folding per-point helpers into one primitive and dispatching writes through early returns.
  src/pagx/ppt/PPTContourUtils.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTGeomEmitter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor pagx-playground directory structure
  playground/pagx-playground/.gitignore
  playground/pagx-playground/package.json
  playground/pagx-playground/scripts/prebuild.js
  playground/pagx-playground/scripts/publish.js
  playground/pagx-playground/scripts/rollup.js
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/favicon.png
  playground/pagx-playground/static/index.css
  playground/pagx-playground/static/index.html
  playground/pagx-playground/static/logo.png
  playground/pagx-playground/static/server.js
Owners: @domchen, @Hparty, @shlzxjp

Add README for pagx-playground
  playground/pagx-playground/README.md
  playground/pagx-playground/README.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Address PAGX optimizer review feedback on naming layout comments and optimizer convergence warnings.
  src/cli/CommandImport.cpp
  src/cli/CommandResolve.cpp
  src/cli/CommandVerify.cpp
  src/pagx/PAGXOptimizer.cpp
  src/pagx/utils/StringParser.cpp
  src/pagx/utils/VerifyUtils.cpp
  src/pagx/utils/VerifyUtils.h
  test/src/PAGXOptimizerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Drop the unnecessary Stroke isolation note from the Straight Lines section.
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Skip the zero-size verify warning when the geometry itself wants no extent on that axis.
  src/cli/CommandVerify.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update tgfx to fix false context-lost on Android emulator GPU stubs.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Suppress contents-want-extent warning when the layer's size does not feed back into layout.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to 3340a0d7f58ff7fcf2d401c96a2b0a79020974d1.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add TODO comment for resolveAllImagePatternMatrices removal after exporter adapts.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix Qt GPUDrawable surface not updating on resize and improve PAGX code quality (#3386)
  DEPS
  test/baseline/version.json
  viewer/assets/translation/Chinese.ts
  viewer/package/templates/Info.plist
  viewer/package/templates/windows-setup.iss
  viewer/src/rendering/pagx/PAGXRenderer.cpp
  viewer/src/rendering/pagx/PAGXViewModel.cpp
  viewer/src/rendering/pagx/PAGXViewModel.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add ImagePatternMatrixCalculator to resolve image and gradient fill matrices to absolute coordinates.
  codeformat.sh
  playground/pagx-viewer/src/cpp/PAGXView.h
  playground/pagx-viewer/src/cpp/utils/ImagePatternMatrixCalculator.cpp
  playground/pagx-viewer/src/cpp/utils/ImagePatternMatrixCalculator.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
