Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Fix autotest.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to resolve build errors with the latest CMake version. (#2782)
  DEPS
  android/.idea/misc.xml
  ios/PAGViewer.xcodeproj/project.pbxproj
  src/rendering/utils/LZ4Decoder.cpp
  src/rendering/utils/LZ4Encoder.cpp
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix crash caused by incorrect index when accessing imageScaleMode
  src/rendering/layers/PAGImageLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the crash caused by incorrect index when accessing imageScaleMode
  src/rendering/layers/PAGImageLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the crash caused by incorrect index when accessing imageScaleMode
  src/rendering/layers/PAGImageLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use std::find to look for index
  src/rendering/layers/PAGImageLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the crash caused by incorrect index when accessing imageScaleMode. (#2792)
  src/rendering/layers/PAGImageLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx to the latest version.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Convert all trailing return types in viewer to leading style
  viewer/src/PAGViewer.cpp
  viewer/src/PAGViewer.h
  viewer/src/platform/mac/PAGUtilsImpl.h
  viewer/src/platform/mac/PAGUtilsImpl.mm
  viewer/src/platform/mac/PAGWindowHelper.mm
  viewer/src/platform/win/PAGUtilsImpl.cpp
  viewer/src/platform/win/PAGUtilsImpl.h
  viewer/src/platform/win/PAGWindowHelper.cpp
  viewer/src/profiling/PAGFileInfoModel.cpp
  viewer/src/profiling/PAGFileInfoModel.h
  viewer/src/profiling/PAGFrameDisplayInfoModel.cpp
  viewer/src/profiling/PAGFrameDisplayInfoModel.h
  viewer/src/profiling/PAGRunTimeModelManager.cpp
  viewer/src/profiling/PAGRunTimeModelManager.h
  viewer/src/rendering/PAGRenderThread.cpp
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGView.h
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/PAGWindow.h
  viewer/src/task/PAGTask.cpp
  viewer/src/task/PAGTask.h
  viewer/src/task/PAGTaskFactory.cpp
  viewer/src/task/PAGTaskFactory.h
  viewer/src/task/export/PAGExportAPNGTask.cpp
  viewer/src/task/export/PAGExportAPNGTask.h
  viewer/src/task/export/PAGExportPNGTask.cpp
  viewer/src/task/export/PAGExportPNGTask.h
  viewer/src/utils/FileUtils.cpp
  viewer/src/utils/FileUtils.h
  viewer/src/utils/StringUtils.cpp
  viewer/src/utils/StringUtils.h
  viewer/src/utils/Utils.cpp
  viewer/src/utils/Utils.h
  viewer/src/utils/apng/APNGAssembler.cpp
Owners: @domchen, @Hparty, @shlzxjp

Convert all trailing return types in viewer to leading style
  viewer/src/PAGViewer.h
Owners: @domchen, @Hparty, @shlzxjp

Enable mipmap in layer cache
  src/rendering/caches/RenderCache.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update version.json
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Enable mipmaps for the texture cache of layers when scaling is less than 0.4. (#2794)
  src/rendering/caches/RenderCache.cpp
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix the memory leak caused by an exception occurring while reading data length.
  src/codec/AttributeHelper.h
  src/codec/Attributes.h
  src/codec/DataTypes.cpp
  src/codec/tags/BitmapCompositionTag.cpp
  src/codec/tags/BitmapSequence.cpp
  src/codec/tags/EditableIndices.cpp
  src/codec/tags/FileAttributes.cpp
  src/codec/tags/FontTables.cpp
  src/codec/tags/ImageScaleModes.cpp
  src/codec/tags/ImageTables.cpp
  src/codec/tags/MarkerTag.cpp
  src/codec/tags/VideoCompositionTag.cpp
  src/codec/tags/VideoSequence.cpp
  src/codec/tags/effects/EffectCompositingOption.cpp
  src/codec/tags/shapes/Dashes.cpp
Owners: @domchen, @Hparty, @shlzxjp

update
  src/codec/AttributeHelper.h
  src/codec/Attributes.h
  src/codec/DataTypes.cpp
  src/codec/tags/BitmapSequence.cpp
  src/codec/tags/EditableIndices.cpp
  src/codec/tags/FileAttributes.cpp
  src/codec/tags/FontTables.cpp
  src/codec/tags/ImageScaleModes.cpp
  src/codec/tags/ImageTables.cpp
  src/codec/tags/MarkerTag.cpp
  src/codec/tags/VideoSequence.cpp
  src/codec/tags/effects/EffectCompositingOption.cpp
  src/codec/tags/shapes/Dashes.cpp
Owners: @domchen, @Hparty, @shlzxjp

update
  src/codec/AttributeHelper.h
Owners: @domchen, @Hparty, @shlzxjp

update
  src/codec/AttributeHelper.h
  src/codec/DataTypes.cpp
  src/codec/tags/BitmapCompositionTag.cpp
  src/codec/tags/BitmapSequence.cpp
  src/codec/tags/EditableIndices.cpp
  src/codec/tags/ImageScaleModes.cpp
  src/codec/tags/VideoCompositionTag.cpp
  src/codec/tags/VideoSequence.cpp
  src/codec/tags/shapes/Dashes.cpp
Owners: @domchen, @Hparty, @shlzxjp

update
  src/codec/DataTypes.cpp
Owners: @domchen, @Hparty, @shlzxjp

Check for exceptions during iteration when decoding PAG files to prevent memory overflow. (#2795)
  src/codec/AttributeHelper.h
  src/codec/DataTypes.cpp
  src/codec/tags/BitmapSequence.cpp
  src/codec/tags/FileAttributes.cpp
  src/codec/tags/FontTables.cpp
  src/codec/tags/ImageTables.cpp
  src/codec/tags/MarkerTag.cpp
  src/codec/tags/VideoSequence.cpp
  src/codec/tags/effects/EffectCompositingOption.cpp
  src/codec/tags/shapes/Dashes.cpp
Owners: @domchen, @Hparty, @shlzxjp

Check for exceptions during iteration when decoding PAG files to prevent memory overflow. (#2795)
  src/codec/AttributeHelper.h
  src/codec/DataTypes.cpp
  src/codec/tags/BitmapSequence.cpp
  src/codec/tags/FileAttributes.cpp
  src/codec/tags/FontTables.cpp
  src/codec/tags/ImageTables.cpp
  src/codec/tags/MarkerTag.cpp
  src/codec/tags/VideoSequence.cpp
  src/codec/tags/effects/EffectCompositingOption.cpp
  src/codec/tags/shapes/Dashes.cpp
Owners: @domchen, @Hparty, @shlzxjp

Check for exceptions during iteration when decoding PAG files to prevent memory overflow. (#2795)
  src/codec/AttributeHelper.h
  src/codec/DataTypes.cpp
  src/codec/tags/BitmapSequence.cpp
  src/codec/tags/FileAttributes.cpp
  src/codec/tags/FontTables.cpp
  src/codec/tags/ImageTables.cpp
  src/codec/tags/MarkerTag.cpp
  src/codec/tags/VideoSequence.cpp
  src/codec/tags/effects/EffectCompositingOption.cpp
  src/codec/tags/shapes/Dashes.cpp
Owners: @domchen, @Hparty, @shlzxjp

Convert all trailing return types in viewer to leading style (#2793)
  viewer/src/PAGViewer.cpp
  viewer/src/PAGViewer.h
  viewer/src/platform/mac/PAGUtilsImpl.h
  viewer/src/platform/mac/PAGUtilsImpl.mm
  viewer/src/platform/mac/PAGWindowHelper.mm
  viewer/src/platform/win/PAGUtilsImpl.cpp
  viewer/src/platform/win/PAGUtilsImpl.h
  viewer/src/platform/win/PAGWindowHelper.cpp
  viewer/src/profiling/PAGFileInfoModel.cpp
  viewer/src/profiling/PAGFileInfoModel.h
  viewer/src/profiling/PAGFrameDisplayInfoModel.cpp
  viewer/src/profiling/PAGFrameDisplayInfoModel.h
  viewer/src/profiling/PAGRunTimeModelManager.cpp
  viewer/src/profiling/PAGRunTimeModelManager.h
  viewer/src/rendering/PAGRenderThread.cpp
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGView.h
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/PAGWindow.h
  viewer/src/task/PAGTask.cpp
  viewer/src/task/PAGTask.h
  viewer/src/task/PAGTaskFactory.cpp
  viewer/src/task/PAGTaskFactory.h
  viewer/src/task/export/PAGExportAPNGTask.cpp
  viewer/src/task/export/PAGExportAPNGTask.h
  viewer/src/task/export/PAGExportPNGTask.cpp
  viewer/src/task/export/PAGExportPNGTask.h
  viewer/src/utils/FileUtils.cpp
  viewer/src/utils/FileUtils.h
  viewer/src/utils/StringUtils.cpp
  viewer/src/utils/StringUtils.h
  viewer/src/utils/Utils.cpp
  viewer/src/utils/Utils.h
  viewer/src/utils/apng/APNGAssembler.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the error in the playback time calculation.
  test/src/MultiThreadCase.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix the error of the playback time calculation in the AsyncFlush test. (#2799)
  test/src/MultiThreadCase.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix the issue of partial text not displaying after adding line breaks on the macOS and iOS platforms.
  src/platform/cocoa/private/NativeTextShaper.mm
Owners: @domchen, @Hparty, @shlzxjp

update
  src/platform/cocoa/private/NativeTextShaper.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix the issue of partial text not displaying after adding line breaks on apple platforms. (#2801)
  src/platform/cocoa/private/NativeTextShaper.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix the issue of partial text not displaying after adding line breaks on apple platforms. (#2801)
  src/platform/cocoa/private/NativeTextShaper.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix the issue that disabling videoEnable causes errors when running BMP precompositions.
  src/rendering/caches/RenderCache.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the compile error for android platform
  src/platform/android/JPAGFile.cpp
  src/platform/android/JPAGImage.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the compile error for android platform
  src/platform/android/JPAGPlayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the compile error for android platform
  src/platform/android/PAGText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fixed the error during the npm install. (#2746)
  web/package.json
Owners: @domchen, @Hparty, @shlzxjp

Fix the issue of PAGFullTest running incorrectly
  include/pag/file.h
  src/rendering/filters/layerstyle/SolidStrokeFilter.h
Owners: @domchen, @Hparty, @shlzxjp

Revert the modify for comments
  include/pag/types.h
Owners: @domchen, @Hparty, @shlzxjp

Replace type Enum with uint8_t or the real type
  include/pag/c/pag_types.h
  include/pag/file.h
  include/pag/types.h
  src/base/utils/TGFXCast.cpp
  src/base/utils/TGFXCast.h
  src/c/pag_file.cpp
  src/c/pag_player.cpp
  src/c/pag_text_document.cpp
  src/c/pag_types.cpp
  src/c/pag_types_priv.h
  src/codec/DataTypes.cpp
  src/codec/DataTypes.h
  src/codec/tags/CachePolicy.cpp
  src/codec/tags/TimeStretchMode.cpp
  src/platform/ohos/JPAGFile.cpp
  src/platform/ohos/JPAGImage.cpp
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGImageView.h
  src/platform/ohos/JPAGPlayer.cpp
  src/platform/ohos/JPAGText.cpp
  src/platform/ohos/JPAGView.cpp
  src/platform/ohos/JsHelper.h
  src/rendering/filters/DisplacementMapFilter.h
  src/rendering/filters/layerstyle/GradientOverlayFilter.cpp
  src/rendering/renderers/LayerRenderer.cpp
  src/rendering/renderers/ShapeRenderer.cpp
  src/rendering/renderers/TrackMatteRenderer.cpp
Owners: @domchen, @Hparty, @shlzxjp

When compiling WeChat mini programs, specify the emsdk version as 3.1.20
  web/package.json
  web/script/cmake.demo.wx.js
  web/script/setup.emsdk.wx.js
Owners: @domchen, @Hparty, @shlzxjp

Fix the issue of infinite canvas size growth in WeChat mini programs
  web/src/wechat/interfaces.ts
  web/src/wechat/pag-view.ts
Owners: @domchen, @Hparty, @shlzxjp

Add --glob to rimraf
  web/package.json
Owners: @domchen, @Hparty, @shlzxjp

Update File Header and adjust code structure
  web/lite/script/rollup.config.dev.js
  web/lite/script/rollup.config.js
  web/lite/script/rollup.config.wechat.dev.js
  web/lite/script/rollup.config.wechat.js
  web/script/rollup.config.dev.js
  web/script/rollup.config.js
  web/script/rollup.config.wx.dev.js
  web/script/rollup.config.wx.js
  web/src/wechat/pag-view.ts
Owners: @domchen, @Hparty, @shlzxjp
