Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Move ohos off-screen visibility handling to native setDuration and cover both V1 and V2 without disrupting caller playback state.
  ohos/libpag/src/main/cpp/types/libpag/Index.d.ts
  ohos/libpag/src/main/ets/PAGImageView.ets
  ohos/libpag/src/main/ets/PAGImageViewController.ets
  ohos/libpag/src/main/ets/PAGImageViewV2.ets
  ohos/libpag/src/main/ets/PAGView.ets
  ohos/libpag/src/main/ets/PAGViewController.ets
  ohos/libpag/src/main/ets/PAGViewV2.ets
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGImageView.h
  src/platform/ohos/JPAGView.cpp
  src/platform/ohos/JPAGView.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Detect content changes for path-loaded PAGImageView compositions in checkStatusChange.
  android/libpag/src/main/java/org/libpag/PAGImageView.java
Owners: @domchen, @Hparty, @shlzxjp

Clear the frame cache when switching resources and make lastContentVersion volatile to fix stale frames and cross-thread visibility.
  android/libpag/src/main/java/org/libpag/PAGImageView.java
Owners: @domchen, @Hparty, @shlzxjp

Fix ohos visibility lock deadlock by moving animator setDuration outside the view locker.
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Upgrade tgfx to commit 4574c0824af027636abfbf50af64481df4051e3a.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to commit bde1a5c41340df2763e301a2d41516ce0b316c9e.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to commit abb2e079c54e99c7408a840ba2a2ddfb7983b009.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to commit 1b69d0e8fa031dfecef1df74d25433023fd54dd9.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to glassstyle branch commit fbd893d28f864a2254251fac71e6dbb587fb148a.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Upgrade tgfx to commit 63e0a8b77d2dd022e075ad8ce6bbc74bcee4da56.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refresh a frame when the ohos view becomes visible, use visible ratio as the visibility source and reset visibility on detach to fix off-screen resume and reuse issues.
  ohos/libpag/src/main/ets/PAGImageView.ets
  ohos/libpag/src/main/ets/PAGImageViewController.ets
  ohos/libpag/src/main/ets/PAGImageViewV2.ets
  ohos/libpag/src/main/ets/PAGView.ets
  ohos/libpag/src/main/ets/PAGViewController.ets
  ohos/libpag/src/main/ets/PAGViewV2.ets
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGView.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to commit 15a070ce9b034db3a819e71aac9d7300cd33d976.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update HTML ToData plan and design docs for review findings and PAGX minizip mounting.
  docs/superpowers/plans/2026-08-04-html-exporter-todata.md
  docs/superpowers/specs/2026-08-04-html-exporter-todata-design.md
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView main-thread NetworkOnMainThreadException by keeping composition resident on decoder rebuild (#3647)
  android/libpag/src/main/java/org/libpag/PAGFile.java
  android/libpag/src/main/java/org/libpag/PAGImageView.java
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Take an animator snapshot before updating the ohos image surface and drop redundant optional chaining on the view controller.
  ohos/libpag/src/main/ets/PAGViewController.ets
  src/platform/ohos/JPAGImageView.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Extract shared MemZip in-memory backend, migrate PPTExporter, and exclude it from the WeChat build.
  pagx/wechat/CMakeLists.txt
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/utils/MemZip.cpp
  src/pagx/utils/MemZip.h
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView main-thread block on iOS by keeping composition resident and not reloading from path on decoder rebuild.
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

fix bug
  playground/pagx-player/src/editor/SourceEditor.ts
  playground/pagx-player/src/editor/index.ts
  playground/pagx-player/src/playback-bar.ts
  playground/pagx-player/src/player.ts
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/server.js
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

update baseline
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Mount minizip and zlib includes for all PAGX builds.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Lock imageViewLock in didMoveToWindow before checkVisible to avoid a data race on the resident composition.
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Acquire imageViewLock before the composition guard in setContentScaleFactor to close an unlocked read.
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Add HTMLResourceWriter abstraction with in-memory ZIP backend.
  src/pagx/html/HTMLResourceWriter.cpp
  src/pagx/html/HTMLResourceWriter.h
Owners: @domchen, @Hparty, @shlzxjp

Fix Windows viewer build failure by enabling /EHsc for rttr.
  vendor.json
  viewer/CMakeLists.txt
  viewer/package/build_windows.ps1
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx dependency to 15a070ce. (#3656)
  DEPS
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix unreachable empty archive check in HTMLZipResourceWriter finish.
  src/pagx/html/HTMLResourceWriter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add resourceWriter output injection to HTMLWriterContext.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Inject resource writer into HTMLWriterContext with writeResource fallback.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Return PNG bytes from static image renderers and route through writeResource.
  src/pagx/html/HTMLStaticImageRenderer.cpp
  src/pagx/html/HTMLStaticImageRenderer.h
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Route PlusDarker backdrop output through HTMLWriterContext.
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLPlusDarkerRenderer.cpp
  src/pagx/html/HTMLPlusDarkerRenderer.h
Owners: @domchen, @Hparty, @shlzxjp

Embed external images as ZIP assets in the ToData path.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract shared BuildHTML body shared by ToHTML and ToData.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add HTMLExporter::ToData returning an in-memory HTML ZIP archive.
  include/pagx/HTMLExporter.h
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Apply document layout in HTMLExporter::ToData before building the archive.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add tests for HTMLExporter::ToData archive and resource embedding.
  test/src/PAGXHTMLDataTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix off-screen visibility handling overriding caller paused animations on ohos (#3655)
  ohos/libpag/src/main/cpp/types/libpag/Index.d.ts
  ohos/libpag/src/main/ets/PAGImageView.ets
  ohos/libpag/src/main/ets/PAGImageViewController.ets
  ohos/libpag/src/main/ets/PAGImageViewV2.ets
  ohos/libpag/src/main/ets/PAGView.ets
  ohos/libpag/src/main/ets/PAGViewController.ets
  ohos/libpag/src/main/ets/PAGViewV2.ets
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGImageView.h
  src/platform/ohos/JPAGView.cpp
  src/platform/ohos/JPAGView.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Propagate ZIP resource write failures from ToData and fix test constant naming.
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLWriter.h
  test/src/PAGXHTMLDataTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Record ZIP resource write failures regardless of errorMsg.
  src/pagx/html/HTMLWriter.h
Owners: @domchen, @Hparty, @shlzxjp

Fix off-screen visibility handling overriding caller paused animations on ohos (#3655)
  ohos/libpag/src/main/cpp/types/libpag/Index.d.ts
  ohos/libpag/src/main/ets/PAGImageView.ets
  ohos/libpag/src/main/ets/PAGImageViewController.ets
  ohos/libpag/src/main/ets/PAGImageViewV2.ets
  ohos/libpag/src/main/ets/PAGView.ets
  ohos/libpag/src/main/ets/PAGViewController.ets
  ohos/libpag/src/main/ets/PAGViewV2.ets
  src/platform/ohos/JPAGImageView.cpp
  src/platform/ohos/JPAGImageView.h
  src/platform/ohos/JPAGView.cpp
  src/platform/ohos/JPAGView.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refine selection effect
  include/pagx/PAGComposition.h
  include/pagx/PAGLayer.h
  playground/pagx-player/package-lock.json
  playground/pagx-player/package.json
  playground/pagx-player/scripts/rollup.config.mjs
  playground/pagx-player/src/editor/SourceEditor.ts
  playground/pagx-player/src/editor/index.ts
  playground/pagx-player/src/editor/styles.ts
  playground/pagx-player/src/pagx-view-types.ts
  playground/pagx-player/src/player.ts
  playground/pagx-player/src/types.ts
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp
