Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Skip redundant rendering on idle frames in the pagx-viewer draw loop when scene content is unchanged.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix Windows/MSVC build of pagx CLI by mapping POSIX popen/pclose to _popen/_pclose in CommandImport. (#3584)
  src/cli/CommandImport.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix SM cache miss after rebuild and type mismatch logging and LOGE convention and weak_from_this guard.
  src/pagx/PAGScene.cpp
  src/pagx/PAGStateMachine.cpp
  src/pagx/PAGStateMachineRegion.h
Owners: @domchen, @Hparty, @shlzxjp

Fix Android Surface.release crash by using a weakly referencing OnFrameAvailableListener to break the VideoSurface reference cycle.
  android/libpag/src/main/java/org/libpag/VideoSurface.java
  src/platform/android/HardwareDecoder.cpp
  src/platform/android/JVideoSurface.cpp
Owners: @domchen, @Hparty, @shlzxjp

Enable double buffering in the pagx-viewer draw loop by deferring the current frame and submitting the previous one via swap.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove the unused GridBackgroundLayer source files from the pagx-viewer since nothing references them.
  playground/pagx-viewer/src/cpp/GridBackground.cpp
  playground/pagx-viewer/src/cpp/GridBackground.h
Owners: @domchen, @Hparty, @shlzxjp

Remove the unused ImagePatternMatrixCalculator utility and its buildLayers resolve calls from the pagx-viewer.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/utils/ImagePatternMatrixCalculator.cpp
  playground/pagx-viewer/src/cpp/utils/ImagePatternMatrixCalculator.h
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.4.33.
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Validate filePathList is an array in getImageBounds to prevent a WASM crash when a non-array value is passed.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Fix shared_from_this exception risk in PAGViewModelValue addObserver and DataBindRuntime bind.
  src/pagx/DataBindRuntime.cpp
  src/pagx/PAGViewModelValue.cpp
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.4.33 (#3586)
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Add web single-thread compilation and improve undo functionality
  playground/pagx-playground/package.json
  playground/pagx-playground/scripts/prebuild.js
  playground/pagx-playground/scripts/publish.js
  playground/pagx-playground/scripts/rollup.js
  playground/pagx-playground/src/editor/SourceEditor.ts
  playground/pagx-playground/src/editor/index.ts
  playground/pagx-playground/src/editor/styles.ts
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/server.js
Owners: @domchen, @Hparty, @shlzxjp

Migrate WeChat PAGXView rendering onto PAGScene (#3573)
  include/pagx/PAGScene.h
  pagx/wechat/.gitignore
  pagx/wechat/README.md
  pagx/wechat/README.zh_CN.md
  pagx/wechat/src/GridBackground.cpp
  pagx/wechat/src/GridBackground.h
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.h
  pagx/wechat/src/utils/StringParser.h
  playground/pagx-viewer/src/cpp/GridBackground.cpp
  playground/pagx-viewer/src/cpp/GridBackground.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/utils/ImagePatternMatrixCalculator.cpp
  playground/pagx-viewer/src/cpp/utils/ImagePatternMatrixCalculator.h
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix repeated bitmap composition freezing on last frame (#3581)
  exporter/src/export/PAGExport.cpp
Owners: @domchen, @Hparty, @shlzxjp

Floor video layer mask bounds so negative fractional offsets match AE pixel-floor crop origin.
  exporter/src/export/data/ImageBytes.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix html-snapshot eval baseline vertical offset by neutralizing the <html> box before capture.
  tools/html-snapshot/eval/baseline.js
Owners: @domchen, @Hparty, @shlzxjp

Sync nodeSet erase in removeNodes to fix dangling pointers after node removal.
  include/pagx/PAGXDocument.h
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Address review feedback on DecoderInfo token race and null safety.
  android/libpag/src/main/java/org/libpag/PAGImageViewHelper.java
Owners: @domchen, @Hparty, @shlzxjp

Make loadFileDataMap descend into external composition documents to embed nested images.
  src/pagx/PAGXDocument.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add characterization tests covering under-tested pure animation-capture helpers for transform matrix filter clip-path and step timing.
  tools/html-snapshot/test/animation-capture-pure.test.js
Owners: @domchen, @Hparty, @shlzxjp

Add Jest tests covering the in-browser DOM animation-collector functions in html-snapshot animation-capture.
  tools/html-snapshot/test/animation-capture-collect.test.js
Owners: @domchen, @Hparty, @shlzxjp

Add Jest coverage for the html-snapshot global animation sampler and capture pipeline functions.
  tools/html-snapshot/test/animation-capture-sample.test.js
Owners: @domchen, @Hparty, @shlzxjp

Replace nextEmbedFontId lambda with a file-level static function to follow the no-lambda rule.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Null-check CFDictionaryCreateMutable result in FindFont to avoid crashing under memory pressure.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

Close DecoderInfo token race on busy-lock reset and make numFrames hasPAGDecoder checkFrameChanged non-blocking to further reduce PAGImageView ANR.
  android/libpag/src/main/java/org/libpag/PAGImageViewHelper.java
Owners: @domchen, @Hparty, @shlzxjp

Add PAGX state machine runtime with playback control and ViewModel input binding (#3574)
  include/pagx/ObserverHandle.h
  include/pagx/PAGAnimation.h
  include/pagx/PAGComposition.h
  include/pagx/PAGScene.h
  include/pagx/PAGStateMachine.h
  include/pagx/PAGTimeline.h
  include/pagx/PAGViewModel.h
  include/pagx/PAGViewModelValue.h
  include/pagx/PAGViewModelValueTrigger.h
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Composition.h
  include/pagx/nodes/Node.h
  include/pagx/nodes/State.h
  include/pagx/nodes/StateMachine.h
  include/pagx/nodes/StateMachineInput.h
  include/pagx/nodes/StateMachineTimeline.h
  include/pagx/nodes/StateRegion.h
  include/pagx/nodes/StateTransition.h
  include/pagx/nodes/TransitionCondition.h
  src/pagx/DataBindRuntime.cpp
  src/pagx/DataBindRuntime.h
  src/pagx/PAGAnimation.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGStateMachine.cpp
  src/pagx/PAGStateMachineRegion.h
  src/pagx/PAGViewModel.cpp
  src/pagx/PAGViewModelValue.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/runtime/PAGComposition.cpp
  test/baseline/version.json
  test/src/PAGXRuntimeTest.cpp
  test/src/PAGXTest.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add player feature (with known bugs)
  playground/pagx-playground/README.md
  playground/pagx-playground/README.zh_CN.md
  playground/pagx-playground/scripts/publish.js
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/index.css
  playground/pagx-playground/static/index.html
  playground/pagx-playground/static/next.png
  playground/pagx-playground/static/pause.png
  playground/pagx-playground/static/play.png
  playground/pagx-playground/static/previous.png
  playground/pagx-playground/static/server.js
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  playground/pagx-viewer/src/cpp/binding.cpp
  playground/pagx-viewer/src/ts/pagx-view.ts
  playground/pagx-viewer/src/ts/types.ts
Owners: @domchen, @Hparty, @shlzxjp

Reduce PAGImageView ANR on detach/resize/setPath by making DecoderInfo reset non-blocking when the hardware decoder hangs (#3570)
  android/libpag/src/main/java/org/libpag/PAGImageView.java
  android/libpag/src/main/java/org/libpag/PAGImageViewHelper.java
Owners: @domchen, @Hparty, @shlzxjp

Add pagx embed command, restructure pagx font, and support external font files. (#3471)
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/guide.md
  cli/npm/README.md
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Font.h
  resources/cli/embed_font_file.pagx
  resources/cli/embed_sample.pagx
  resources/cli/embed_url_image.pagx
  spec/pagx.xsd
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/app_icons.pagx
  src/cli/CliUtils.cpp
  src/cli/CliUtils.h
  src/cli/CommandEmbed.cpp
  src/cli/CommandEmbed.h
  src/cli/CommandFont.cpp
  src/cli/main.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/SystemFonts.cpp
  src/pagx/SystemFonts.h
  src/renderer/FontEmbedder.cpp
  src/renderer/FontEmbedder.h
  src/renderer/ImageEmbedder.cpp
  src/renderer/ImageEmbedder.h
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Complete playback feature and add loop playback
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/index.css
  playground/pagx-playground/static/index.html
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  playground/pagx-viewer/src/cpp/binding.cpp
  playground/pagx-viewer/src/ts/pagx-view.ts
  playground/pagx-viewer/src/ts/types.ts
Owners: @domchen, @Hparty, @shlzxjp

Refactor and fix bugs
  playground/pagx-playground/package.json
  playground/pagx-playground/src/index.ts
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  playground/pagx-viewer/src/cpp/binding.cpp
  playground/pagx-viewer/src/ts/pagx-view.ts
  playground/pagx-viewer/src/ts/types.ts
Owners: @domchen, @Hparty, @shlzxjp

Reduce PAGImageView ANR on detach/resize/setPath by making DecoderInfo reset non-blocking when the hardware decoder hangs (#3570)
  android/libpag/src/main/java/org/libpag/PAGImageView.java
  android/libpag/src/main/java/org/libpag/PAGImageViewHelper.java
Owners: @domchen, @Hparty, @shlzxjp

Reduce PAGImageView ANR on detach/resize/setPath by making DecoderInfo reset non-blocking when the hardware decoder hangs (#3570)
  android/libpag/src/main/java/org/libpag/PAGImageView.java
  android/libpag/src/main/java/org/libpag/PAGImageViewHelper.java
Owners: @domchen, @Hparty, @shlzxjp

Add a live source iframe column and toggleable columns to the html-snapshot eval report.
  tools/html-snapshot/eval/run.js
Owners: @domchen, @Hparty, @shlzxjp

style: polish icon effects and fix bugs
  playground/pagx-playground/src/editor/SourceEditor.ts
  playground/pagx-playground/src/editor/index.ts
  playground/pagx-playground/src/editor/styles.ts
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/index.css
  playground/pagx-playground/static/index.html
Owners: @domchen, @Hparty, @shlzxjp

Realize lazy-loaded content in html-snapshot by auto-scrolling before capture and clamp capture height to a renderable max.
  tools/html-snapshot/eval/README.md
  tools/html-snapshot/eval/baseline.js
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/common.ts
  tools/html-snapshot/lib/page-loader.ts
Owners: @domchen, @Hparty, @shlzxjp

Move emscripten installation from sync_deps.sh to web build scripts.
  sync_deps.sh
  viewer/sync_deps.sh
  web/script/cmake.demo.js
  web/script/setup.emsdk.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

code format
  playground/pagx-viewer/src/cpp/binding.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unreachable try/catch around emsdk clone since exec aborts on failure.
  web/script/setup.emsdk.js
Owners: @domchen, @Hparty, @shlzxjp

Quote emsdk path in git commands to support checkout paths with spaces.
  web/script/setup.emsdk.js
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
