Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

fixed select lines
  playground/pagx-player/src/editor/SourceEditor.ts
  playground/pagx-player/src/editor/index.ts
  playground/pagx-player/src/player.ts
  playground/pagx-playground/static/server.js
Owners: @domchen, @Hparty, @shlzxjp

fixed select lines
  playground/pagx-player/src/editor/SourceEditor.ts
  playground/pagx-player/src/editor/index.ts
  playground/pagx-player/src/player.ts
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to 099e1023.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix PingPong single pass playing full round trip before stopping while keeping Once replay and Loop single pass correct.
  include/pagx/PAGAnimation.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  src/pagx/PAGAnimation.cpp
Owners: @domchen, @Hparty, @shlzxjp

Improve right-click menu
  playground/pagx-player/src/editor/SourceEditor.ts
  playground/pagx-player/src/editor/index.ts
  playground/pagx-player/src/player.ts
Owners: @domchen, @Hparty, @shlzxjp

Improve the bounding box
  include/pagx/PAGScene.h
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

fixed bug
  playground/pagx-player/src/editor/SourceEditor.ts
  playground/pagx-player/src/editor/index.ts
  playground/pagx-player/src/editor/styles.ts
  playground/pagx-player/src/player.ts
  playground/pagx-player/src/styles.ts
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx commit
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Preserve replaced content with clipped gradients
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

fix: prevent double-release of Surface in PAGSurface finalize
  android/libpag/src/main/java/org/libpag/PAGSurface.java
Owners: @domchen, @Hparty, @shlzxjp

Fix broken star history chart in README.
  README.md
  ohos/libpag/README.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix broken star history chart (#3678)
  README.md
  ohos/libpag/README.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Reformat boolean expression in hasBackgroundVisuals for readability.
  src/pagx/html/importer/HTMLLayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor pagx playground code
  include/pagx/PAGScene.h
  playground/pagx-player/package.json
  playground/pagx-player/src/editor/SourceEditor.ts
  playground/pagx-player/src/editor/index.ts
  playground/pagx-player/src/editor/styles.ts
  playground/pagx-player/src/incremental-apply.ts
  playground/pagx-player/src/playback-bar.ts
  playground/pagx-player/src/player.ts
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/ts/pagx-view.ts
  playground/pagx-viewer/src/ts/pagx.ts
  playground/pagx-viewer/src/ts/types.ts
  src/pagx/PAGAnimation.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXNodeChannel.cpp
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix: prevent double-release of Surface in PAGSurface finalize (#3677)
  android/libpag/src/main/java/org/libpag/PAGSurface.java
Owners: @domchen, @Hparty, @shlzxjp

Document SMIL normative no-op behavior for set without to attribute.
  src/pagx/svg/SMILAnimationParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix rect rx ry SMIL animation routing to roundness and skip diameter scaling.
  src/pagx/svg/SMILAnimationParser.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Support animateTransform and animateMotion on g elements via baked Layer matrix channel.
  src/pagx/svg/SMILAnimationParser.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Drive Group anchor as channels when rotate keyframes have varying centers.
  src/pagx/svg/SMILAnimationParser.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Support SVG SMIL animation on filter primitives driving PAGX filter blur and offset channels.
  src/pagx/svg/SMILAnimationParser.cpp
  src/pagx/svg/SMILAnimationParser.h
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserContext.h
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Export combined animation PAGX XML to test output for inspection.
  test/src/PAGXSVGTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Integrate SMIL animation parser into build and expose animation frame rate option.
  CMakeLists.txt
  include/pagx/PAGXDocument.h
  include/pagx/SVGImporter.h
  src/pagx/PAGXOptimizer.cpp
  src/pagx/svg/SVGFeatureProbe.cpp
  src/pagx/svg/SVGFeatureProbe.h
  src/pagx/svg/SVGImporter.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add SMIL animation test fixture SVG files.
  resources/svg/animation/additive_transform.svg
  resources/svg/animation/blink_swap.svg
  resources/svg/animation/bounce_entrance.svg
  resources/svg/animation/color_cycle.svg
  resources/svg/animation/compound_rotate_fade.svg
  resources/svg/animation/draw_stroke.svg
  resources/svg/animation/loading_spinner.svg
  resources/svg/animation/morph_entrance.svg
  resources/svg/animation/motion_path_curve.svg
  resources/svg/animation/multi_channel_pulse.svg
  resources/svg/animation/orbit_system.svg
  resources/svg/animation/paced_squish.svg
  resources/svg/animation/pulse_heartbeat.svg
  resources/svg/animation/scale_bounce.svg
  resources/svg/animation/sequential_transform.svg
  resources/svg/animation/set_sequence.svg
  resources/svg/animation/skew_swing.svg
  resources/svg/animation/staggered_fade_in.svg
  resources/svg/animation/translate_slide.svg
Owners: @domchen, @Hparty, @shlzxjp

Support fractional repeatCount with truncated tail and Bool additive OR merge.
  src/pagx/svg/SMILAnimationParser.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add stroke-width animation test and combined roundness stroke-width shadow-blur test.
  test/src/PAGXSVGTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix inaccurate bounding box issue
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix use-after-free by holding a shared GLDevice in PAGDecoder instead of a raw context pointer.
  include/pag/pag.h
  src/rendering/CompositionReader.cpp
  src/rendering/CompositionReader.h
  src/rendering/PAGDecoder.cpp
  src/rendering/drawables/BitmapDrawable.cpp
  src/rendering/drawables/BitmapDrawable.h
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.4.46.
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Preserve complete transform motion for animated inline SVG shapes and skip empty animations on export.
  src/pagx/PAGXExporter.cpp
  src/pagx/html/importer/HTMLAnimationBuilder.cpp
  src/pagx/html/importer/HTMLAnimationBuilder.h
  src/pagx/svg/SVGImporter.cpp
  test/src/PAGXHTMLImporterTest.cpp
  test/src/PAGXSVGTest.cpp
  tools/html-snapshot/README.md
  tools/html-snapshot/eval-animation/baseline-frames.js
  tools/html-snapshot/lib/animation-capture.ts
  tools/html-snapshot/lib/cli.ts
  tools/html-snapshot/lib/pipeline.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/test/animation-capture-collect.test.js
  tools/html-snapshot/test/animation-capture-sample.test.js
  tools/html-snapshot/test/cli.test.js
  tools/html-snapshot/test/pipeline.test.js
  tools/html-snapshot/test/snapshot-runner.test.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update tgfx to release/1.2 HEAD
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to release/2.1 HEAD
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Wrap multiple imported HTML animations in a StateMachine so hosts playing the default timeline replay all of them.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Emit pure inline SVG rotations as a scalar rotation channel on a fixed-pivot Group instead of a matrix.
  src/pagx/html/importer/HTMLAnimationBuilder.cpp
  src/pagx/html/importer/HTMLAnimationBuilder.h
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/svg/SVGImporter.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix playback slider freeze after boundary scrub and add period boundary tests.
  playground/pagx-player/src/playback-bar.ts
  test/src/PAGXRuntimeTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reformat recent inline SVG animation and export changes for readability.
  src/pagx/PAGXExporter.cpp
  src/pagx/html/importer/HTMLAnimationBuilder.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/svg/SVGImporter.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove duplicated comment above test animation fixture helper.
  test/src/PAGXRuntimeTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refine menu bar color
  playground/pagx-player/src/editor/SourceEditor.ts
Owners: @domchen, @Hparty, @shlzxjp

Add render-frames command and SVG vs PAGX frame comparison tool.
  src/cli/CliUtils.cpp
  src/cli/CliUtils.h
  src/cli/CommandRender.cpp
  src/cli/CommandRenderFrames.cpp
  src/cli/CommandRenderFrames.h
  src/cli/main.cpp
  tools/svg-vs-pagx/compare.js
  tools/svg-vs-pagx/run.sh
  tools/svg-vs-pagx/svg-frames.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix PingPong progress bar regression in pagx viewer and tighten the pagx skill preview delivery contract (#3671)
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
  include/pagx/PAGAnimation.h
  playground/pagx-player/src/playback-bar.ts
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  src/pagx/PAGAnimation.cpp
  test/src/PAGXRuntimeTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Upgrade pagx cli version to 0.4.47.
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
