Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Use WXS render-thread positioning for comment overlays to eliminate setData lag.
  pagx/wechat/wx_demo/pages/viewer/comment.wxs
  pagx/wechat/wx_demo/pages/viewer/viewer.js
  pagx/wechat/wx_demo/pages/viewer/viewer.wxml
Owners: @domchen, @Hparty, @shlzxjp

Fix WXS comment positioning by binding change:prop to each pin node.
  pagx/wechat/wx_demo/pages/viewer/comment.wxs
  pagx/wechat/wx_demo/pages/viewer/viewer.wxml
Owners: @domchen, @Hparty, @shlzxjp

Fix incorrect center to position rename for gradient attributes.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  .codebuddy/skills/pagx/references/spec-essentials.md
  include/pagx/nodes/ConicGradient.h
  include/pagx/nodes/DiamondGradient.h
  include/pagx/nodes/RadialGradient.h
  resources/cli/optimize_dedup_radial_gradient.pagx
  resources/cli/optimize_no_dedup_diff_gradient.pagx
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/3.3.3_conic_gradient.pagx
  spec/samples/3.3.3_diamond_gradient.pagx
  spec/samples/3.3.3_radial_gradient.pagx
  spec/samples/4.5.1_scroll_rect.pagx
  spec/samples/5.2.2_ellipse.pagx
  spec/samples/5.3.1_fill.pagx
  spec/samples/5.7_mixed_overlay.pagx
  spec/samples/C.1_complete_example.pagx
  spec/samples/C.3_nebula_cadet.pagx
  spec/samples/C.4_game_hud.pagx
  spec/samples/C.6_space_explorer.pagx
  src/cli/CommandOptimize.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGImporter.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move customData from Layer to Node base class so all node types and PAGXDocument support data-* attributes.
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Node.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserContext.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Revert customData to unordered_map and fix test to compare structured data instead of XML strings.
  include/pagx/nodes/Node.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update attribute names in CommandFormat and documentation comments.
  include/pagx/nodes/Ellipse.h
  include/pagx/nodes/Node.h
  src/cli/CommandFormat.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert incorrect comment changes that replaced center point with position point.
  include/pagx/nodes/Ellipse.h
  include/pagx/nodes/Node.h
Owners: @domchen, @Hparty, @shlzxjp

Fix header comments to preserve center point semantics and update PAGXCliTest for position rename.
  include/pagx/nodes/Ellipse.h
  include/pagx/nodes/Polystar.h
  include/pagx/nodes/Rectangle.h
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix spec docs center to position rename and examples.md indentation.
  .codebuddy/skills/pagx/references/examples.md
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Fix customData support for ColorStop, GlyphRun, Glyph, RangeSelector and add comprehensive edge case tests.
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove align and distribute CLI commands in preparation for auto layout.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/generate-guide.md
  cli/npm/README.md
  resources/cli/align_distribute.pagx
  src/cli/CommandAlign.cpp
  src/cli/CommandAlign.h
  src/cli/CommandDistribute.cpp
  src/cli/CommandDistribute.h
  src/cli/LayoutUtils.cpp
  src/cli/LayoutUtils.h
  src/cli/main.cpp
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Improve customData test safety with ASSERT guards and count checks before map access.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Parse data-* attributes from root SVG element into PAGXDocument customData.
  src/pagx/svg/SVGImporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Clarify that position is the center point of Rectangle Ellipse and Polystar in skills docs.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/spec-essentials.md
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx API calls from setCenter to setPosition for Rectangle Ellipse and Polystar.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add customData key validation to reject non-conforming data-* attribute names.
  include/pagx/nodes/Node.h
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGImporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reject customData keys starting with a hyphen.
  include/pagx/nodes/Node.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix race condition crash when accessing _composition in PAGImageView.
  android/libpag/src/main/java/org/libpag/PAGImageView.java
Owners: @domchen, @Hparty, @shlzxjp

Add key validation in writeCustomData to skip invalid custom data keys during export.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to include center to position rename.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Simplify cr skill by removing multi-round review loop and state file persistence.
  .codebuddy/skills/cr/SKILL.md
  .codebuddy/skills/cr/references/teams-review.md
Owners: @domchen, @Hparty, @shlzxjp

Improve serializer display for null pointers and unknown types.
  viewer/src/editing/serialize/PAGFileSerializer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove align and distribute CLI commands in preparation for auto layout (#3321)
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/generate-guide.md
  cli/npm/README.md
  resources/cli/align_distribute.pagx
  src/cli/CommandAlign.cpp
  src/cli/CommandAlign.h
  src/cli/CommandDistribute.cpp
  src/cli/CommandDistribute.h
  src/cli/LayoutUtils.cpp
  src/cli/LayoutUtils.h
  src/cli/main.cpp
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add customData support to all Node types and PAGXDocument. (#3320)
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Node.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserContext.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix H264EncoderTools installation path to match exporter usage.
  viewer/src/platform/mac/PluginInstaller.mm
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add getContentTransform API and comment overlay coordinate conversion support.
  pagx/wechat/docs/comment-bindding-guide.md
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/binding.cpp
  pagx/wechat/ts/pagx-view.ts
  pagx/wechat/ts/types.ts
  pagx/wechat/wx_demo/pages/viewer/viewer.js
Owners: @domchen, @Hparty, @shlzxjp

update comment-bindding-guide.md
  pagx/wechat/docs/comment-bindding-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX node serialization to use correct type mapping.
  viewer/src/editing/serialize/PAGXDocumentSerializer.cpp
  viewer/src/editing/serialize/PAGXDocumentSerializer.h
Owners: @domchen, @Hparty, @shlzxjp

Address PR #3317 review feedback: shared BlendMode map, SVGExporter fixes, CLI rename
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  src/cli/CommandExport.cpp
  src/cli/CommandExport.h
  src/cli/CommandExportSVG.cpp
  src/cli/main.cpp
  src/pagx/svg/SVGBlendMode.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/svg/SVGImporter.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix PAGX node property serialization by using correctly typed instances.
  viewer/src/editing/serialize/PAGXDocumentSerializer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.0.24.
  .codebuddy/skills/pagx/references/cli.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Fix crash when serializing pagx::Node pointer properties.
  viewer/src/editing/serialize/PAGXDocumentSerializer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.0.25.
  .codebuddy/skills/pagx/references/cli.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.0.26.
  .codebuddy/skills/pagx/references/cli.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Refactor SVGExporter: PascalCase naming, pointer semantics, mask type fix, and comment improvements
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.1.6.
  .codebuddy/skills/pagx/references/cli.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.1.6 (#3323)
  .codebuddy/skills/pagx/references/cli.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Remove cli release workflow and version sync logic.
  .github/workflows/release-cli.yml
  playground/script/publish.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix thread-safety issue in LockGuard and ScopedLock by using atomic operations for shared_ptr.
  src/rendering/PAGDecoder.cpp
  src/rendering/PAGPlayer.cpp
  src/rendering/PAGSurface.cpp
  src/rendering/layers/ContentVersion.cpp
  src/rendering/layers/PAGComposition.cpp
  src/rendering/layers/PAGFile.cpp
  src/rendering/layers/PAGImageLayer.cpp
  src/rendering/layers/PAGLayer.cpp
  src/rendering/layers/PAGSolidLayer.cpp
  src/rendering/layers/PAGTextLayer.cpp
  src/rendering/utils/LockGuard.h
  src/rendering/utils/ScopedLock.cpp
  src/rendering/utils/ScopedLock.h
Owners: @domchen, @Hparty, @shlzxjp

Remove CLI release workflow and version sync logic (#3325)
  .github/workflows/release-cli.yml
  playground/script/publish.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp
