Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rewrite shadow filter export to support multiple shadows and proper compositing
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Support transform propagation in clipPath content and shape writers
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add objectBoundingBox support for tiled image patterns
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add PAGX SVG export CLI command and roundtrip test suite
  .codebuddy/skills/pagx/SKILL.md
  CMakeLists.txt
  src/cli/main.cpp
  test/src/PAGXCliTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Support file path references in image pattern export
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Support TextBox alignment for text positioning in SVG export
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use clipPath instead of mask for Alpha mask type
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix objectBoundingBox pattern for non-tiling image fills
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix paint def interleaving in nested mask and clipPath elements
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Introduce SVGWriter class to encapsulate SVG export operations
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Inline SVGExportContext into SVGWriter
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add Display P3 color space support for fills, strokes, and gradient stops
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add initial indent level support to SVGBuilder
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add blend mode export/import via mix-blend-mode style
  src/pagx/svg/SVGExporter.cpp
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Optimize SVGBuilder with capacity reservation and reduce string allocations
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract color parsing utilities from PAGXView into StringParser.h.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/utils/StringParser.h
Owners: @domchen, @Hparty, @shlzxjp

Align ParseHexColor with PAGXImporter adding RGB shorthand and hex validation.
  pagx/wechat/src/utils/StringParser.h
Owners: @domchen, @Hparty, @shlzxjp

Add ColorMatrixFilter and BlendFilter support to SVG export
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor SVGExporter to reduce duplication and improve readability
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Optimize SVGExporter: avoid heap allocs in BlendModeToSVGString, use std::clamp, fix prefix check, and reserve P3 style string
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix def ID collision in nested SVGWriter by extracting shared counter into SVGWriterContext
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Improve bot-review documentation with orphan issues handling and exit codes.
  .codebuddy/skills/cr/references/bot-review.md
Owners: @domchen, @Hparty, @shlzxjp

Update background layer node name and skip color parsing when invisible.
  pagx/wechat/src/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace std::stof with std::strtof to avoid potential exception crash.
  pagx/wechat/src/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract SVG test cases into PAGXSVGTest.cpp and merge duplicate SavePAGXFile/SaveSVGFile into a single SaveFile helper
  test/src/PAGXSVGTest.cpp
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix SVG pattern import losing image transform on round-trip
  src/pagx/svg/SVGImporter.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add setBoundsOrigin and getContentTransform APIs for comment overlay positioning.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/binding.cpp
  pagx/wechat/ts/pagx-view.ts
  pagx/wechat/ts/types.ts
Owners: @domchen, @Hparty, @shlzxjp

Move SVG export docs from SKILL.md to cli.md and add export-svg CLI reference
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
Owners: @domchen, @Hparty, @shlzxjp

Update baseline rule wording and bump tgfx dependency and enable pagx skill user invocation.
  .codebuddy/rules/Test.md
  .codebuddy/skills/pagx/SKILL.md
  DEPS
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refine Git commit rules to clarify manual commit scope and rebalance section emphasis.
  .codebuddy/rules/Git.md
Owners: @domchen, @Hparty, @shlzxjp

Add style fallback and fontFamily validation to system font matching in CLI.
  src/cli/CliUtils.h
  src/cli/CommandFont.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove branch detection from commit skill to focus on staging and committing only.
  .codebuddy/skills/commit/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Fix XML attribute escaping to preserve newline and other control characters in optimize and format commands.
  resources/cli/optimize_preserve_newline.pagx
  src/cli/CommandFormat.cpp
  src/pagx/PAGXExporter.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add align and distribute commands and render layer selection to CLI README.
  cli/npm/README.md
Owners: @domchen, @Hparty, @shlzxjp

Replace getContentTransform with boundsOriginX and boundsOriginY getters and add comment overlay demo.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/binding.cpp
  pagx/wechat/ts/pagx-view.ts
  pagx/wechat/ts/types.ts
  pagx/wechat/wx_demo/pages/viewer/viewer.js
  pagx/wechat/wx_demo/pages/viewer/viewer.wxml
  pagx/wechat/wx_demo/pages/viewer/viewer.wxss
Owners: @domchen, @Hparty, @shlzxjp

Update Git commit rules and bump tgfx dependency version.
  .codebuddy/rules/Git.md
  DEPS
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Replace manual parent-chain matrix accumulation with Layer getRelativeMatrix API.
  src/cli/CommandRender.cpp
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline changes from tgfx update and render matrix refactor.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix CLI bugs and simplify skills and render matrix logic (#3318)
  .codebuddy/rules/Git.md
  .codebuddy/rules/Test.md
  .codebuddy/skills/commit/SKILL.md
  .codebuddy/skills/pagx/SKILL.md
  DEPS
  cli/npm/README.md
  resources/cli/optimize_preserve_newline.pagx
  src/cli/CliUtils.h
  src/cli/CommandFont.cpp
  src/cli/CommandFormat.cpp
  src/cli/CommandRender.cpp
  src/pagx/PAGXExporter.cpp
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix SVG export ignoring Group transform properties (rotation, scale, skew, anchor, position, alpha)
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
