Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename render_compare.sh to gen_pagx_pag_compare.sh for a clearer role in the tools directory.
  tools/gen_pagx_pag_compare.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename the comparison report title to PAGX & PAG rendering comparison.
  tools/render_compare.py
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline changes after merging main so HTML exporter samples carry updated version hashes and newly added entries from the merge no longer fail Baseline compare lookups.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Render comparison webps at 2x and pin intrinsic image size so the downsampled display stays crisp on HiDPI screens.
  test/src/pag/unit/ComparisonDumpTest.cpp
  tools/render_compare.py
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Bump baseline versions for the 15 PAGX samples whose text rendering shifted after the tgfx dependency upgrade in PR 3412 corrected native bold glyph rasterization.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Cache Noto Sans SC Bold v40 locally and reuse a single page across captures so the HTML screenshot compare test no longer waits on Google Fonts on every sample.
  test/screenshot.js
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Raise the base modifier split threshold so groups whose members differ in three properties such as per-glyph top left and transform now factor out their shared declarations into a base class.
  src/pagx/html/HTMLStyleExtractor.cpp
  test/src/HTMLStyleExtractorTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Drop BackgroundBlurStyle from PPTX vector path and rasterize with backdrop when rasterizeUnsupported is on.
  src/cli/CommandExport.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTFeatureProbe.cpp
  src/pagx/ppt/PPTFeatureProbe.h
  src/pagx/ppt/PPTStyleEmitter.cpp
  src/pagx/ppt/PPTWriter.h
Owners: @domchen, @Hparty, @shlzxjp

Fix PPT writer build by following ModifierResolver relocation and removing the duplicated ApplyStrokeBoxInset definition.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTWriter.h
Owners: @domchen, @Hparty, @shlzxjp

Archive Phase 20 static compression design with Layer static-time and Property propHeader bit-stream subplans.
  docs/phase20_static_compression.md
Owners: @domchen, @Hparty, @shlzxjp

Align SVG exporter with the PAGX renderer for image scaleMode layout-resolved scales RTL paragraphs and glyph runs.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG vertical text positioning by skipping per-column line iteration that misuses baselineY as a Y coordinate.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Bump baseline versions for the fourteen PAGX samples whose pre-multiplied alpha pixel md5 shifted after the HTML exporter unified its numeric precision to three decimal places.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix SVG ImagePattern Decal scaleMode by skipping bake path and inline image bytes when only filePath is set.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG vertical text by emitting one text element per layout-computed column so wrapping textAlign End and overflow hidden render correctly.
  src/pagx/TextLayout.cpp
  src/pagx/TextLayout.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix SVG vertical text justify by emitting textLength with lengthAdjust spacing so non-last columns stretch to fill the box like the PAGX renderer.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Skip pagx resolve CLI fixtures in ComparisonDumpTest visual report.
  test/src/pag/unit/ComparisonDumpTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Cache TextBlob across identical Text nodes to cut wasm heap by 80% when opening large PAGX in WeChat miniprogram.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add PAGX to PAG v2 technical overview for tech-lead review with six core decisions.
  docs/pagx_to_pag_overview.md
Owners: @domchen, @Hparty, @shlzxjp

Drop the cached overlay snapshot pipeline and rely only on the HD fit snapshot during gestures, also remove the per-frame snapshot debug logs that were left over from the earlier investigation.
  pagx/wechat/src/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add module sequence diagram and real-sample byte-level trace to overview.
  docs/pagx_to_pag_overview.md
Owners: @domchen, @Hparty, @shlzxjp

Address PR review feedback on plugin permission and viewer stability.
  viewer/assets/qml/Main.qml
  viewer/assets/qml/MainForm.qml
  viewer/src/PAGViewer.cpp
  viewer/src/maintenance/PAGCheckUpdateModel.cpp
  viewer/src/maintenance/PAGCheckUpdateModel.h
  viewer/src/maintenance/PAGNetworkFetcher.cpp
  viewer/src/maintenance/PAGNetworkFetcher.h
  viewer/src/platform/PluginInstaller.cpp
  viewer/src/platform/PluginInstaller.h
  viewer/src/platform/mac/PluginInstaller.mm
  viewer/src/platform/win/PluginInstaller.cpp
  viewer/src/rendering/ContentView.h
  viewer/src/rendering/PAGWindow.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix pre-flight source check to skip User-permission plugins and restore plugin name routing.
  viewer/src/platform/PluginInstaller.cpp
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

Re-encode bold and italic font styles into the PPTX typeface name so PowerPoint uses the real bold face.
  src/pagx/ppt/PPTWriter.h
Owners: @domchen, @Hparty, @shlzxjp

Re-encode bold and italic font styles into the SVG font-family name so browsers and CoreText viewers use the real bold face.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert pre-flight source check change as abort-on-missing is intentional.
  viewer/src/platform/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use GLOB_RECURSE to collect PPT source files in CMakeLists so new files are picked up automatically.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Reuse tgfx zlib output in PPT build so libpag no longer pulls a duplicate zlib vendor.
  CMakeLists.txt
  vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Copy external image files into staticImgDir during HTML export.
  include/pagx/HTMLExporter.h
  resources/pagx_to_html/image_external_and_base64.pagx
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterColor.cpp
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/html/HTMLWriterUtils.cpp
  test/baseline/version.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove docs/code_review directory committed by mistake.
  docs/code_review/00_summary.md
  docs/code_review/01_architecture.md
  docs/code_review/02_api.md
  docs/code_review/03_maintainability.md
  docs/code_review/04_robustness.md
  docs/code_review/05_security.md
  docs/code_review/06_performance.md
  docs/code_review/07_style.md
Owners: @domchen, @Hparty, @shlzxjp

Clip baked PPTX layer pictures to their own scrollRect window so scrollRect layers render the intended viewport instead of the full unclipped layer content.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx and refresh PAGX baselines for new rendering pipeline.
  DEPS
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add memory probes for image memory profiling.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Override pPr defTabSz in PPTX text export so tabs land at PAGX's 4*fontSize stops instead of the 1-inch master default.
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
Owners: @domchen, @Hparty, @shlzxjp

Fix font path rewrite to use ../../fonts for cli HTMLs nested two levels under html-comparison.
  test/gen_html_comparison.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

update baseline
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove PAGX_TO_HTML_TEST_REPORT.md committed by mistake.
  resources/pagx_to_html/PAGX_TO_HTML_TEST_REPORT.md
Owners: @domchen, @Hparty, @shlzxjp

Remove spec/pagx_to_html.md from tracking.
  spec/pagx_to_html.md
Owners: @domchen, @Hparty, @shlzxjp

Revert XSD roundness to xs:decimal since Rectangle.roundness is a single float and per-corner values are silently truncated.
  resources/pagx_to_html/data_attributes.pagx
  spec/pagx.xsd
Owners: @domchen, @Hparty, @shlzxjp

Add null checks for image input in filter rendering pipeline to prevent crashes.
  src/rendering/renderers/FilterRenderer.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
