Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update the license for PAGViewer using Qt.
  LICENSE.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update the license for PAGViewer using Qt. (#2639)
  LICENSE.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to fix the rendering issue when a Path is rasterized as a texture mask.
  DEPS
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to fix the rendering issue when a Path is rasterized as a texture mask. (#2640)
  DEPS
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add a release method to PAGViewController and PAGImageViewController to support immediate memory release when called externally.
  ohos/libpag/src/main/ets/PAGImageView.ets
  ohos/libpag/src/main/ets/PAGView.ets
  src/platform/ohos/OHOSVideoDecoder.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add a release method to PAGViewController and PAGImageViewController to support immediate memory release when called externally. (#2644)
  ohos/libpag/src/main/ets/PAGImageView.ets
  ohos/libpag/src/main/ets/PAGView.ets
  src/platform/ohos/OHOSVideoDecoder.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add a release method to PAGViewController and PAGImageViewController to support immediate memory release when called externally. (#2644)
  ohos/libpag/src/main/ets/PAGImageView.ets
  ohos/libpag/src/main/ets/PAGView.ets
  src/platform/ohos/OHOSVideoDecoder.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add HarmonyOS memory testing code.
  ohos/entry/src/main/ets/pages/NextPage.ets
  ohos/entry/src/main/resources/rawfile/castle.pag
  src/rendering/PAGPlayer.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update file templates and license.
  .idea/fileTemplates/includes/PAG File Header.h
  LICENSE.txt
  android/.idea/fileTemplates/includes/PAG File Header.h
  android/.idea/misc.xml
  ios/.idea/fileTemplates/includes/PAG File Header.h
  mac/.idea/fileTemplates/includes/PAG File Header.h
  qt/.idea/fileTemplates/includes/PAG File Header.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update file templates and license. (#2646)
  .idea/fileTemplates/includes/PAG File Header.h
  LICENSE.txt
  android/.idea/fileTemplates/includes/PAG File Header.h
  android/.idea/misc.xml
  ios/.idea/fileTemplates/includes/PAG File Header.h
  mac/.idea/fileTemplates/includes/PAG File Header.h
  qt/.idea/fileTemplates/includes/PAG File Header.h
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove the GenerateImages target and create baseline images while updating the local baseline config.
  .gitignore
  CMakeLists.txt
  test/src/utils/Baseline.cpp
  test/src/utils/TestUtils.cpp
  update_baseline.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove the GenerateImages target and create baseline images while updating the local baseline config. (#2656)
  .gitignore
  CMakeLists.txt
  test/src/utils/Baseline.cpp
  test/src/utils/TestUtils.cpp
  update_baseline.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix some potential array out-of-bounds errors.
  src/base/TimeRange.cpp
  src/codec/AttributeHelper.h
  src/codec/DataTypes.cpp
  src/codec/utils/EncodeStream.cpp
  src/platform/cocoa/private/NativeTextShaper.mm
  src/platform/mac/private/HardwareDecoder.mm
  src/rendering/caches/SequenceFile.cpp
  src/rendering/caches/TextAtlas.cpp
  src/rendering/filters/CornerPinFilter.cpp
  src/rendering/filters/LayerFilter.cpp
  src/rendering/graphics/Text.cpp
  src/rendering/utils/shaper/TextShaperPrimitive.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace all std::shared_ptr::unique() with use_count() == 1
  src/rendering/PAGAnimator.cpp
  src/rendering/PAGDecoder.cpp
  tgfx/include/tgfx/gpu/ResourceKey.h
  tgfx/src/core/Path.cpp
  tgfx/src/core/PixelRef.cpp
  tgfx/src/gpu/Surface.cpp
Owners: @domchen, @Hparty, @shlzxjp

allow build with QT6 frameworks
  CMakeLists.txt
  tgfx/CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Specify the path to Windows Kits
  CMakeLists.txt
  tgfx/CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix memory leak issues in PAGViewController and PAGImageViewController on ohos.
  ohos/libpag/src/main/ets/PAGImageView.ets
  ohos/libpag/src/main/ets/PAGView.ets
  ohos/libpag/src/main/ets/private/PAGViewCallbackHandler.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix memory leak issues in PAGViewController and PAGImageViewController on ohos. (#2667)
  ohos/libpag/src/main/ets/PAGImageView.ets
  ohos/libpag/src/main/ets/PAGView.ets
  ohos/libpag/src/main/ets/private/PAGViewCallbackHandler.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

For test
  mac/PAGViewer.xcodeproj/project.pbxproj
  mac/PAGViewer/ViewController.m
  mac/PAGViewer/ViewController.mm
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

update
  mac/PAGViewer/ViewController.mm
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add timely release of autorelease objects on the macOS platform.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Determine the compilation architecture based on the parameters passed to cmake
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update Android NDK.
  android/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

Fix an issue where the PAGPlayer::presentingTime() method returns a negative value. (#2635)
  src/rendering/FileReporter.cpp
  src/rendering/PAGPlayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update ffavc.
  android/libpag/libs/arm64-v8a/libffavc.so
  android/libpag/libs/armeabi-v7a/libffavc.so
  android/libpag/libs/armeabi/libffavc.so
  android/libpag/libs/x86_64/libffavc.so
Owners: @domchen, @Hparty, @shlzxjp

Update Android NDK from 19 to 28. Support 16 KB page sizes(https://developer.android.com/guide/practices/page-sizes#kotlin).
  README.md
  README.zh_CN.md
  android/build.gradle
  android/libpag/libs/arm64-v8a/libffavc.so
  android/libpag/libs/armeabi-v7a/libffavc.so
  android/libpag/libs/armeabi/libffavc.so
  android/libpag/libs/x86_64/libffavc.so
  ohos/libpag/README.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

update
  android/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

Update to NDK 27
  CMakeLists.txt
  android/build.gradle
  android/libpag/build.gradle
  android/libpag/libs/arm64-v8a/libffavc.so
  android/libpag/libs/armeabi-v7a/libffavc.so
  android/libpag/libs/armeabi/libffavc.so
  android/libpag/libs/x86_64/libffavc.so
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

update
  android/gradle/wrapper/gradle-wrapper.properties
Owners: @domchen, @Hparty, @shlzxjp

update
  android/gradle/wrapper/gradle-wrapper.properties
Owners: @domchen, @Hparty, @shlzxjp

Upgrade Gradle to support the latest version of Android Studio. (#2636)
  android/.idea/misc.xml
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
Owners: @domchen, @Hparty, @shlzxjp

update
  android/gradle/wrapper/gradle-wrapper.properties
Owners: @domchen, @Hparty, @shlzxjp

Fix the issue that the imageScaleModes is not effective with editable image
  src/rendering/editing/ImageReplacement.cpp
  src/rendering/editing/ImageReplacement.h
  src/rendering/layers/PAGImageLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix some code format problems which prompts by clang-format
  src/rendering/editing/ImageReplacement.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify the process of obtaining the index of imageScaleModes corresponding to imageLayer
  src/rendering/editing/ImageReplacement.cpp
  src/rendering/editing/ImageReplacement.h
  src/rendering/layers/PAGImageLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify the process of obtaining the index of imageScaleModes corresponding to imageLayer
  include/pag/pag.h
  src/rendering/editing/ImageReplacement.cpp
  src/rendering/editing/ImageReplacement.h
  src/rendering/layers/PAGImageLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify the process of obtaining the index of imageScaleModes corresponding to imageLayer
  src/rendering/layers/PAGImageLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify the process of obtaining the index of imageScaleModes corresponding to imageLayer
  src/rendering/editing/ImageReplacement.cpp
  src/rendering/editing/ImageReplacement.h
  src/rendering/layers/PAGImageLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix the issue that the default scale modes set by PAGExporter is not applied. (#2684)
  include/pag/pag.h
  src/rendering/editing/ImageReplacement.cpp
  src/rendering/editing/ImageReplacement.h
  src/rendering/layers/PAGImageLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

update
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/libpag/build.gradle
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
