Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix mixed embedded glyph run font rendering.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterText.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add NoiseStyle and NoiseFilter support with animation binding and SVG export (#3483)
  include/pagx/nodes/LayerFilter.h
  include/pagx/nodes/Node.h
  include/pagx/nodes/NoiseFilter.h
  include/pagx/nodes/NoiseStyle.h
  include/pagx/types/NoiseMode.h
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/StringParser.cpp
  src/pagx/utils/StringParser.h
  src/renderer/LayerBuilder.cpp
  test/baseline/version.json
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Render uniform width asymmetric color borders with rounded radius as inline SVG arcs so pure CSS ring spinners survive into the subset HTML.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp

Freeze CSS resolved SVG presentation attributes onto cloned nodes during snapshot so paths styled via stylesheet selectors keep their fill stroke and dash settings in the subset HTML.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp

Publish pagxviewer
  pagx/wechat/pagx-viewer-miniprogram/CHANGELOG.md
  pagx/wechat/pagx-viewer-miniprogram/README.md
  pagx/wechat/pagx-viewer-miniprogram/package.json
Owners: @domchen, @Hparty, @shlzxjp

Fix embedded font advance metrics.
  src/pagx/html/Woff2FontGenerator.cpp
  src/pagx/html/Woff2FontGenerator.h
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Revert embedded font advance metrics.
  src/pagx/html/Woff2FontGenerator.cpp
  src/pagx/html/Woff2FontGenerator.h
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add HTML flex regression test for fixed PAGX items.
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Register runtime writers for all animatable render channels and add a registry consistency test.
  src/pagx/PAGXNodeChannel.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add matrix keyframe animation with TRS interpolation and geometry size channels via a subclassed runtime target.
  include/pagx/nodes/Channel.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/animation/Channel.cpp
  src/pagx/runtime/KeyframeEvaluator.h
  src/pagx/runtime/MixUtils.h
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Split node channel reflection into animatable and layout-requiring queries and refresh scenes via notifyChange.
  include/pagx/PAGComposition.h
  include/pagx/PAGXDocument.h
  include/pagx/PAGXNodeChannel.h
  include/pagx/nodes/LayoutNode.h
  src/pagx/LayoutNode.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGXChannelTable.h
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXNodeChannel.cpp
  src/pagx/PAGXNodeChannel.h
  src/pagx/runtime/PAGComposition.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add a registry-driven reflection API to read and write PAGX node channels by name.
  src/pagx/PAGXNodeChannel.cpp
  src/pagx/PAGXNodeChannel.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Document that matrix interpolation loses rotation winding; use a scalar rotation channel for precise turns.
  src/pagx/runtime/KeyframeEvaluator.h
  src/pagx/runtime/MixUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Extract shared matrix decompose/mix/recompose into MatrixDecompose.h to de-duplicate the two interpolators.
  src/pagx/runtime/KeyframeEvaluator.h
  src/pagx/runtime/MatrixDecompose.h
  src/pagx/runtime/MixUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Update applyLayout doc to reflect that notifyChange safely re-runs layout via the reset branch.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Mark Text x and y channels as layout-affecting to match other shape positions.
  src/pagx/PAGXNodeChannel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Guard in-place content refresh against layer-type mismatch to avoid invalid VectorLayer cast.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Unbind vector content-element nodes when removing a layer subtree to prevent dangling bindings.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add direct unordered_set include used by child-layer reconciliation.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Detach composition child slot on removal so empty slot containers no longer orphan.
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Correct Path position channel flags to layout-only since no runtime writer exists.
  src/pagx/PAGXNodeChannel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reset layer mask during in-place refresh so a removed mask no longer persists.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Drop transform from notifyChange render-only example since layer position requires layout.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Unbind a removed painter's color source and gradient stops unless another painter still references them.
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Drop value-encoding note for Matrix channels that the reflection API does not expose.
  include/pagx/PAGXNodeChannel.h
Owners: @domchen, @Hparty, @shlzxjp

Sync external composition edits to embedding scenes and reject notifying a foreign document's nodes.
  include/pagx/PAGComposition.h
  include/pagx/PAGXDocument.h
  include/pagx/nodes/LayoutNode.h
  src/pagx/PAGXDocument.cpp
  src/pagx/runtime/PAGComposition.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Resolve top-level timeline binding lazily so a cached handle survives a scene runtime-tree rebuild.
  include/pagx/PAGTimeline.h
  src/pagx/PAGScene.cpp
  src/pagx/PAGTimeline.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add tests for display-option persistence and deep A-B-C reverse-registration across rebuild.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Document the mark-the-reference-chain-dirty rule and unsupported cross-PAGX edits in notifyChange.
  include/pagx/PAGXDocument.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Expose the source node id on PAGLayer so callers can identify the originating document node.
  include/pagx/PAGLayer.h
  src/pagx/PAGLayer.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Promote an empty layer to a VectorLayer when it gains contents during in-place refresh.
  src/pagx/runtime/PAGComposition.cpp
  src/renderer/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Re-sync runtimeLayer only for plain child layers so composition children keep their subtree root.
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rebuild scene timelines when a timeline node changes so animation add/remove/edit takes effect.
  include/pagx/PAGComposition.h
  include/pagx/PAGXDocument.h
  src/pagx/PAGScene.cpp
  src/pagx/runtime/PAGComposition.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Unbind an ImagePattern's image only when no surviving pattern still references it.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rebuild a scene's runtime tree when an embedded external document is edited.
  include/pagx/PAGScene.h
  include/pagx/PAGXDocument.h
  src/pagx/PAGScene.cpp
  src/pagx/PAGXDocument.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add a composition-child hit-test-after-notifyChange test covering the runtimeLayer re-sync path.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Re-seed layer transform baseline on in-place refresh and broaden the animatable-writer registry test.
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add ResetNodeChannel to restore a node channel to its type default value.
  include/pagx/PAGXNodeChannel.h
  src/pagx/PAGXChannelTable.h
  src/pagx/PAGXNodeChannel.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename RuntimeBinding reverse-index methods to track/untrack + shared
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Fix lambda violation in LayerBuilder by adding reverse index and lookup methods to RuntimeBinding.
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
