Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Implement two-way DataBind with direction flags, syncBack readers, and first-frame default priority.
  include/pagx/PAGViewModelValue.h
  include/pagx/PAGViewModelValueColor.h
  include/pagx/PAGViewModelValueImage.h
  include/pagx/PAGViewModelValueString.h
  include/pagx/nodes/DataBind.h
  src/pagx/DataBindRuntime.cpp
  src/pagx/DataBindRuntime.h
  src/pagx/DataContext.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGViewModelValue.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/runtime/KeyframeEvaluator.h
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  src/renderer/ToTGFX.cpp
  src/renderer/ToTGFX.h
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Apply code review fixes: re-entrancy, import validation, naming, enum unification, and DataBind direction rename.
  include/pagx/PAGScene.h
  include/pagx/PAGViewModel.h
  include/pagx/PAGViewModelValue.h
  include/pagx/nodes/DataBind.h
  include/pagx/nodes/ViewModelProperty.h
  src/pagx/DataBindRuntime.cpp
  src/pagx/DataBindRuntime.h
  src/pagx/DataContext.cpp
  src/pagx/DataContext.h
  src/pagx/PAGScene.cpp
  src/pagx/PAGViewModel.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/SuppressDelegation.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reword misleading test comment to not claim independent converter verification.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove unused ViewModel forward declaration and PAGViewModel friend declaration.
  include/pagx/PAGViewModel.h
  include/pagx/PropertyData.h
Owners: @domchen, @Hparty, @shlzxjp

Fix syncBack clobbering Display P3 color values by comparing in the sRGB target domain.
  src/pagx/DataBindRuntime.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Include PAGComposition nodes in PAGScene hit-test results.
  src/pagx/PAGScene.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Allow Enum property with empty options to round-trip without a spurious import error.
  src/pagx/PAGXImporter.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix license header casing in PAGViewModelValueImage header.
  include/pagx/PAGViewModelValueImage.h
Owners: @domchen, @Hparty, @shlzxjp

Clarify image value setter doc on user-assigned ownership and re-decode suppression.
  include/pagx/PAGViewModelValueImage.h
Owners: @domchen, @Hparty, @shlzxjp

Guard markDirtyForValue with toTarget so ToSource bindings no longer suppress a syncBack writeback.
  src/pagx/DataBindRuntime.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move DataConverter forward declaration to the file-level forward-decl block.
  include/pagx/PAGViewModelValue.h
Owners: @domchen, @Hparty, @shlzxjp

Fix license header casing in PAGImage.h to match repository convention.
  include/pagx/PAGImage.h
Owners: @domchen, @Hparty, @shlzxjp

Remove duplicate SyncsAnimationToVM test that duplicated TwoWaySyncAnimationToViewModel.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename DataConverterRegistry instance to GetInstance to follow the static method naming convention.
  src/pagx/DataBindRuntime.cpp
  src/pagx/DataConverterRegistry.cpp
  src/pagx/DataConverterRegistry.h
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add description comments to the public DataBindRuntime methods for documentation consistency.
  src/pagx/DataBindRuntime.h
Owners: @domchen, @Hparty, @shlzxjp

Clarify None keyframe interpolation as Hold semantics and add an evaluation test.
  include/pagx/nodes/Keyframe.h
  test/src/PAGXRuntimeTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove HTML snapshot note from pagx import usage help.
  src/cli/CommandImport.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix HTML snapshot import errors from unescaped style quotes nbsp entities and zero-size SVG so previously failing cases import and render.
  src/pagx/svg/SVGImporter.cpp
  test/src/PAGXSVGTest.cpp
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Normalize double quotes in decorative pseudo-element inline styles so pseudo filter and font-family values no longer break the importer XML parse.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp

Add PAGX rendering risk scoring check with Mali GPU driver bug detection.
  pagx/wechat/script/copy-files.js
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/ts/binding.ts
  pagx/wechat/ts/pagx-check.ts
  pagx/wechat/ts/types.ts
  pagx/wechat/ts/wx-system-info.ts
Owners: @domchen, @Hparty, @shlzxjp

Update changelog for v1.9.7.
  pagx/wechat/CHANGELOG.md
Owners: @domchen, @Hparty, @shlzxjp

Treat white-space pre as no-wrap so preformatted text leaves render on a single line instead of soft-wrapping.
  src/pagx/html/importer/HTMLTextFragmentBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Flatten rendered images onto a white background before pixel comparison so transparent subset backgrounds no longer turn the entire diff red.
  src/pagx/html/importer/HTMLTextFragmentBuilder.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.h
  test/src/PAGXSVGTest.cpp
  tools/html-snapshot/eval/compare.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Preserve spaces and newlines for white-space pre and pre-wrap and keep newlines for pre-line so preformatted text matches the browser.
  src/pagx/html/importer/HTMLTextFragmentBuilder.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Fall back to default frameRate when SecondsToFrames parameter is malformed.
  src/pagx/DataConverterRegistry.cpp
Owners: @domchen, @Hparty, @shlzxjp

Log an error when syncBack converter output type does not match the ViewModel property.
  src/pagx/DataBindRuntime.cpp
Owners: @domchen, @Hparty, @shlzxjp

Apply ViewModel changes to bound targets immediately so geometry queries see fresh values.
  src/pagx/DataBindRuntime.cpp
  src/pagx/DataBindRuntime.h
  src/pagx/PAGScene.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reject empty and duplicate ViewModel property names on import to keep the schema unambiguous.
  src/pagx/PAGScene.cpp
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Recover CSS url background images as ImagePattern fills on HTML import so exported image patterns round-trip instead of rendering blank.
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLSubsetPropertyTable.cpp
  test/src/PAGXHTMLImporterTest.cpp
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Strip the inline svg own absolute positioning during freeze so the centring wrapper no longer offsets the shape twice and it lands at the correct location.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp

Parse the CSS color display-p3 function on HTML import so wide gamut fills round-trip as DisplayP3 instead of rendering opaque black.
  src/pagx/html/importer/HTMLValueParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Inject shared SVG defs into each inline svg so cross-svg gradient references render correctly instead of falling back to red.
  src/pagx/html/importer/HTMLDetail.cpp
  src/pagx/html/importer/HTMLDetail.h
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLInlineSvgEmitter.cpp
  src/pagx/html/importer/HTMLInlineSvgEmitter.h
  src/pagx/html/importer/HTMLParserContext.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Also strip the inline svg own margin during freeze so a margin-positioned svg no longer shifts twice inside the centring wrapper.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp

Scale stroke dashes by the SVG pathLength ratio on import so trim-path strokes render as partial arcs instead of collapsing into solid shapes.
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserContext.h
Owners: @domchen, @Hparty, @shlzxjp

Recover the radial-gradient size and position descriptor on HTML import so an offset gradient lands at its CSS center and radius instead of always rendering centered and box-filling.
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLLayerBuilder.h
  src/pagx/html/importer/HTMLValueParser.cpp
  src/pagx/html/importer/HTMLValueParser.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Convert a direct SVG image element into an image pattern fill on import so HTML images render instead of collapsing into a solid black shape.
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserContext.h
Owners: @domchen, @Hparty, @shlzxjp

Resolve radial-gradient position keywords by CSS axis on HTML import so a single or reversed keyword lands on the correct center and an unsupported size keyword warns instead of silently mis-sizing.
  src/pagx/html/importer/HTMLValueParser.cpp
  src/pagx/html/importer/HTMLValueParser.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Anchor a vertical writing-mode text box to its container height on HTML import so columns wrap within the box instead of overflowing as a single column.
  src/pagx/html/importer/HTMLTextFragmentBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rebuild CSS mask-image and clip-path into a PAGX mask layer on HTML import so alpha luminance and contour masked shapes render as their masked geometry instead of solid rectangles.
  src/pagx/PAGXImporter.cpp
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLInlineSvgEmitter.cpp
  src/pagx/html/importer/HTMLInlineSvgEmitter.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLSubsetPropertyTable.cpp
  test/src/PAGXHTMLImporterTest.cpp
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Drop the zero-width client rect at a forced line break on HTML snapshot so preserved-newline text keeps each line whole instead of splitting the first word.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp
