Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Load Noto fonts from Google Fonts CDN in the HTML test wrapper so the generated preview pages render correctly on any machine without depending on local font files.
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Move scaleMode assignment into resolveImagePatternMatrix for better encapsulation.
  playground/pagx-viewer/src/cpp/utils/ImagePatternMatrixCalculator.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move scaleMode assignment to end and add parameter validation in resolveImagePatternMatrix.
  playground/pagx-viewer/src/cpp/utils/ImagePatternMatrixCalculator.cpp
Owners: @domchen, @Hparty, @shlzxjp

Tighten v2.9 design doc on filter payload abi enum meta and test matrix.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Fold the two PPT custGeom emitters through a shared per-group core so the group and multi-group paths share bounds marker handling.
  src/pagx/ppt/PPTGeomEmitter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add English and Chinese build readme for pagx wechat module.
  pagx/wechat/README.md
  pagx/wechat/README.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Pin v2.10 design doc root struct enum codec discipline and decoder count limits.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Dedupe v2.11 design doc paste regressions and cap decoder diagnostics count.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Finalize v2.12 design doc with bake context hash helper and tgfx abi model.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Fix section 8.5 duplicate BakeContext in title introduced during v2.12.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Apply v2.13 expert review panel fixes covering 2 P0 CVEs and 7 P1 security issues plus API and implementation hardening.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Apply v2.14 expert review panel fixes covering 3 new P0 CVEs plus composition cycle guard zero-copy images Peek overload and 13 P1 items.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Collapse bakeMask, bakeScrollRect, bakeTiledPattern, rasterizeUnsupportedBlend, and rasterizeWideGamut into a single rasterizeUnsupported option defaulting to false; tile patterns now always bake.
  .codebuddy/skills/pagx/references/cli.md
  include/pagx/PPTExporter.h
  src/cli/CommandExport.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTFeatureProbe.h
  test/src/PAGXCliTest.cpp
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix critical issues in pagx playground including DEPS path canvas id check destroy throw regex injection and command injection.
  playground/pagx-playground/static/server.js
  playground/pagx-viewer/pagx-viewer.hash
  playground/pagx-viewer/script/restore.replace.js
  playground/pagx-viewer/src/ts/decorators.ts
  playground/pagx-viewer/src/ts/pagx-view.ts
Owners: @domchen, @Hparty, @shlzxjp

Flip PPT bridge-contours default to off and switch the CLI toggle from --ppt-no-bridge-contours to --ppt-bridge-contours.
  .codebuddy/skills/pagx/references/cli.md
  include/pagx/PPTExporter.h
  src/cli/CommandExport.cpp
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Address major review comments across pagx playground C++ TypeScript build and configuration.
  playground/pagx-playground/.gitignore
  playground/pagx-playground/scripts/prebuild.js
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/server.js
  playground/pagx-viewer/.gitignore
  playground/pagx-viewer/package.json
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  playground/pagx-viewer/src/cpp/utils/ImagePatternMatrixCalculator.cpp
  playground/pagx-viewer/src/cpp/utils/ImagePatternMatrixCalculator.h
  playground/pagx-viewer/src/ts/pagx-module.ts
  playground/pagx-viewer/src/ts/pagx-view.ts
  playground/pagx-viewer/src/ts/pagx.ts
  playground/pagx-viewer/src/ts/types.ts
  playground/pagx-viewer/tsconfig.type.json
Owners: @domchen, @Hparty, @shlzxjp

Apply v2.15 expert review panel fixes zeroing all P0 P1 and P2 items with Inflate signature change Baker count limits canvas size guard PAGXBuilder spec and 10-point readiness summary.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Address minor review comments tighten types and clean up scripts and docs.
  playground/pagx-playground/.gitignore
  playground/pagx-playground/scripts/prebuild.js
  playground/pagx-playground/scripts/rollup.js
  playground/pagx-playground/src/index.ts
  playground/pagx-viewer/README.md
  playground/pagx-viewer/README.zh_CN.md
  playground/pagx-viewer/package.json
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/binding.cpp
  playground/pagx-viewer/src/cpp/utils/ImagePatternMatrixCalculator.cpp
  playground/pagx-viewer/src/ts/binding.ts
  playground/pagx-viewer/src/ts/decorators.ts
  playground/pagx-viewer/src/ts/types.ts
  playground/pagx-viewer/tsconfig.type.json
Owners: @domchen, @Hparty, @shlzxjp

Harden PPT exporter against malformed inputs, emit a:cs for complex scripts, detect CJK language, split PPTWriter into style and text units, and drop unused xmlns on some boilerplate parts.
  CMakeLists.txt
  src/pagx/ppt/PPTBoilerplate.cpp
  src/pagx/ppt/PPTContourUtils.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTGeomEmitter.cpp
  src/pagx/ppt/PPTModifierResolver.cpp
  src/pagx/ppt/PPTStyleEmitter.cpp
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
  src/pagx/xml/XMLBuilder.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Apply v2.16 expert review panel fixes zeroing all P0 P1 P2 with 4 Context contextIndex propagation 402 split Inflater budget enforcement and 18 other items.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Align types field and exports with the actual declarationDir output path.
  playground/pagx-viewer/package.json
  playground/pagx-viewer/tsconfig.type.json
Owners: @domchen, @Hparty, @shlzxjp

Address suggestion review comments clamp background color getters private cmake options and rollup banner fallback.
  playground/pagx-playground/scripts/rollup.js
  playground/pagx-viewer/CMakeLists.txt
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/ts/pagx-view.ts
Owners: @domchen, @Hparty, @shlzxjp

Restore HTMLCanvasElement overload on PAGXView init and validate canvas id presence.
  playground/pagx-playground/src/index.ts
  playground/pagx-viewer/src/ts/pagx-view.ts
Owners: @domchen, @Hparty, @shlzxjp

Silence zlib warnings and narrow its exposed includes to zlib.h and zconf.h.
  vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix destroyVerify to use property descriptors so getters are not invoked during decoration.
  playground/pagx-viewer/src/ts/decorators.ts
Owners: @domchen, @Hparty, @shlzxjp

Import PAGXView and PAGXModule types from pagx-viewer source instead of hand-written declarations.
  playground/pagx-playground/src/index.ts
Owners: @domchen, @Hparty, @shlzxjp

Reorder _setBackgroundColor parameters to RGBA to match common color APIs.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  playground/pagx-viewer/src/ts/pagx-view.ts
  playground/pagx-viewer/src/ts/types.ts
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx-playground rollup to v4 and rename restore.replace.js to fix-wasm-imports.js.
  playground/pagx-playground/package.json
  playground/pagx-viewer/package.json
  playground/pagx-viewer/script/fix-wasm-imports.js
Owners: @domchen, @Hparty, @shlzxjp

Add scripts
  pagx/wechat/pagx-viewer.hash
  pagx/wechat/script/copy-to-cocraft.js
Owners: @domchen, @Hparty, @shlzxjp

Remove the leftover restore.replace.js and update README examples to the new getExternalFilePaths API.
  playground/pagx-viewer/README.md
  playground/pagx-viewer/README.zh_CN.md
  playground/pagx-viewer/script/restore.replace.js
Owners: @domchen, @Hparty, @shlzxjp

Apply v2.17 expert review panel fixes zeroing all P0 P1 P2 with MakeAdopted default ZeroCopyScope MAX_PENDING_MASKS 3-arg warn examples Pass 1 skeleton ErrorMarker Tag and 13 other items.
  docs/pagx_to_pag_v2_design.md
Owners: @domchen, @Hparty, @shlzxjp

Fix use-after-free in FontEmbedder nodeMap cleanup and harden embed CLI against oversized files.
  include/pagx/PAGXDocument.h
  src/cli/CommandEmbed.cpp
  src/cli/CommandFont.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/SystemFonts.h
  src/renderer/FontEmbedder.cpp
  src/renderer/ImageEmbedder.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix H264EncoderTools directory created with root ownership on macOS.
  viewer/src/platform/mac/PluginInstaller.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix H264EncoderTools directory created with root ownership on macOS.
  viewer/src/platform/PluginInstaller.cpp
  viewer/src/platform/PluginInstaller.h
  viewer/src/platform/mac/PluginInstaller.mm
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX files not loading when opened via file association.
  viewer/assets/qml/Main.qml
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/PAGWindow.h
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX first load showing blank content on Windows.
  viewer/src/rendering/pagx/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGXView initial render issue on Windows.
  viewer/src/rendering/pagx/PAGXView.cpp
  viewer/src/rendering/pagx/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Fix crash when opening a second PAGX file via file association.
  viewer/src/PAGViewer.cpp
  viewer/src/PAGViewer.h
Owners: @domchen, @Hparty, @shlzxjp

Fix crash when opening a second PAGX file via file association.
  viewer/src/PAGViewer.cpp
  viewer/src/PAGViewer.h
  viewer/src/maintenance/PAGCheckUpdateModel.cpp
  viewer/src/maintenance/PAGNetworkFetcher.cpp
  viewer/src/maintenance/PAGNetworkFetcher.h
Owners: @domchen, @Hparty, @shlzxjp

Fix ImagePattern TILE tile period regression when progressive image loading swaps in higher-resolution assets.
  DEPS
  include/pagx/PAGXDocument.h
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/binding.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.h
  pagx/wechat/ts/pagx-view.ts
  pagx/wechat/ts/types.ts
  src/pagx/PAGXDocument.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp
