Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove unnecessary PAGFile ownership from PAGAudioPlayer.
  viewer/src/audio/PAGAudioPlayer.cpp
  viewer/src/audio/PAGAudioPlayer.h
  viewer/src/rendering/pag/PAGViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace PAGRunTimeDataModel.isPAGX with ContentViewModel.contentType enum.
  viewer/assets/qml/MainForm.qml
  viewer/assets/qml/Profiler.qml
  viewer/src/profiling/PAGRunTimeDataModel.cpp
  viewer/src/profiling/PAGRunTimeDataModel.h
  viewer/src/rendering/ContentViewModel.h
  viewer/src/rendering/pag/PAGViewModel.cpp
  viewer/src/rendering/pag/PAGViewModel.h
  viewer/src/rendering/pagx/PAGXViewModel.cpp
  viewer/src/rendering/pagx/PAGXViewModel.h
Owners: @domchen, @Hparty, @shlzxjp

Drive Profiler UI visibility by data characteristics instead of content type.
  viewer/assets/qml/Profiler.qml
  viewer/src/profiling/PAGRunTimeDataModel.cpp
  viewer/src/profiling/PAGRunTimeDataModel.h
  viewer/src/rendering/ContentViewModel.h
Owners: @domchen, @Hparty, @shlzxjp

Fix hasFrameTimeline returning false on initial PAG file load.
  viewer/src/profiling/PAGRunTimeDataModel.cpp
  viewer/src/profiling/PAGRunTimeDataModel.h
Owners: @domchen, @Hparty, @shlzxjp

Clear nodeStatsModel when switching from PAGX to PAG file.
  viewer/src/profiling/PAGRunTimeDataModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Address PR review: remove fileDuration from PAGAudioPlayer, remove redundant update call in PAGRenderer, fix mutable renderMutex in PAGXViewModel.
  viewer/src/audio/PAGAudioPlayer.cpp
  viewer/src/audio/PAGAudioPlayer.h
  viewer/src/audio/PAGAudioReader.cpp
  viewer/src/audio/PAGAudioReader.h
  viewer/src/rendering/pag/PAGRenderer.cpp
  viewer/src/rendering/pagx/PAGXViewModel.h
Owners: @domchen, @Hparty, @shlzxjp

Refactor ContentViewModel interface: move fileChanged signal to PAGViewModel, fix hasAnimation NOTIFY, and lift size update into RenderThread.
  viewer/assets/translation/Chinese.ts
  viewer/src/rendering/ContentViewModel.h
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/RenderThread.cpp
  viewer/src/rendering/pag/PAGRenderer.cpp
  viewer/src/rendering/pag/PAGRenderer.h
  viewer/src/rendering/pag/PAGView.cpp
  viewer/src/rendering/pag/PAGViewModel.cpp
  viewer/src/rendering/pag/PAGViewModel.h
  viewer/src/rendering/pagx/PAGXRenderer.cpp
  viewer/src/rendering/pagx/PAGXViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix animation playback stopped after removing invokeMethod update call in PAGRenderer.
  viewer/src/rendering/RenderThread.cpp
  viewer/src/rendering/RenderThread.h
  viewer/src/rendering/pag/PAGView.cpp
  viewer/src/rendering/pagx/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix critical issues: add Qt::QueuedConnection to rendered signal, remove dangling contentView pointer from PAGXRenderer.
  viewer/src/rendering/pag/PAGView.cpp
  viewer/src/rendering/pagx/PAGXRenderer.cpp
  viewer/src/rendering/pagx/PAGXRenderer.h
  viewer/src/rendering/pagx/PAGXView.cpp
  viewer/src/rendering/pagx/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Improve interface design: add setDrawable to IContentRenderer, remove raw pointer in PAGXView.
  viewer/src/rendering/IContentRenderer.h
  viewer/src/rendering/RenderThread.cpp
  viewer/src/rendering/RenderThread.h
  viewer/src/rendering/pagx/PAGXRenderer.h
  viewer/src/rendering/pagx/PAGXView.cpp
  viewer/src/rendering/pagx/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Apply code formatting to PAGWindow.cpp and PAGXRenderer.h.
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/rendering/pagx/PAGXRenderer.h
Owners: @domchen, @Hparty, @shlzxjp

Fix beginResetModel timing, screen null check, drawable shadowing, and vector pre-allocation.
  viewer/src/profiling/PAGNodeStatsModel.cpp
  viewer/src/profiling/PAGRunTimeDataModel.cpp
  viewer/src/rendering/pag/PAGViewModel.cpp
  viewer/src/rendering/pagx/PAGXRenderer.cpp
  viewer/src/rendering/pagx/PAGXViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move requestFlush/contentSizeChanged signals to base class and fix PAGView thread safety.
  viewer/src/rendering/ContentViewModel.h
  viewer/src/rendering/pag/PAGView.cpp
  viewer/src/rendering/pag/PAGView.h
  viewer/src/rendering/pag/PAGViewModel.cpp
  viewer/src/rendering/pag/PAGViewModel.h
  viewer/src/rendering/pagx/PAGXView.cpp
  viewer/src/rendering/pagx/PAGXViewModel.cpp
  viewer/src/rendering/pagx/PAGXViewModel.h
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGRenderer dangling pointer and PAGViewModel frame index out of bounds.
  viewer/src/rendering/pag/PAGRenderer.cpp
  viewer/src/rendering/pag/PAGRenderer.h
  viewer/src/rendering/pag/PAGViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGRenderer::isReady inconsistency and PAGViewModel::setProgress missing lock.
  viewer/src/rendering/pag/PAGRenderer.cpp
  viewer/src/rendering/pag/PAGViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix progress not resetting to 0 when switching PAG files.
  viewer/src/rendering/pag/PAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix ineffective sizeChangedDelayHandle override and PAGRenderer frame index bounds.
  viewer/src/rendering/ContentView.cpp
  viewer/src/rendering/ContentView.h
  viewer/src/rendering/pag/PAGRenderer.cpp
  viewer/src/rendering/pagx/PAGXView.cpp
  viewer/src/rendering/pagx/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Fix thread safety and API consistency issues in viewer rendering.
  viewer/src/rendering/ContentView.cpp
  viewer/src/rendering/pag/PAGViewModel.cpp
  viewer/src/rendering/pagx/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Remove unnecessary mutex lock in PAGViewModel::setProgress.
  viewer/src/rendering/pag/PAGViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Apply code formatting to ContentView.h.
  viewer/src/rendering/ContentView.h
Owners: @domchen, @Hparty, @shlzxjp

Remove unnecessary mutable qualifier from lastPlayTimeMutex in PAGView.
  viewer/src/rendering/pag/PAGView.h
Owners: @domchen, @Hparty, @shlzxjp

Add SVGExporter with full PAGX-to-SVG conversion support (#3317)
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  CMakeLists.txt
  include/pagx/SVGExporter.h
  src/cli/CommandConvert.cpp
  src/cli/CommandConvert.h
  src/cli/main.cpp
  src/pagx/svg/SVGBlendMode.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGTextLayout.cpp
  src/pagx/svg/SVGTextLayout.h
  test/src/PAGXCliTest.cpp
  test/src/PAGXSVGTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Improve bot-review doc with empty PR body handling and diff hunk boundary clarifications.
  .codebuddy/skills/cr/references/bot-review.md
Owners: @domchen, @Hparty, @shlzxjp

Add comprehensive SVG export test cases for filters and edge cases
  test/src/PAGXSVGTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add SVGTextLayout and ComputeGlyphPaths unit tests for text rendering
  test/src/PAGXSVGTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add comprehensive CLI convert command test cases for error handling and SVG-PAGX roundtrip
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Reset lastPlayTime on file change instead of on every isPlaying toggle.
  viewer/src/rendering/pag/PAGView.cpp
  viewer/src/rendering/pag/PAGView.h
Owners: @domchen, @Hparty, @shlzxjp

Add comprehensive CLI convert command test cases for error handling and SVG-PAGX roundtrip
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add SVGTextLayout and ComputeGlyphPaths unit tests for text rendering
  test/src/PAGXSVGTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add comprehensive SVG export test cases for filters and edge cases
  test/src/PAGXSVGTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix bot-review.md documentation consistency issues.
  .codebuddy/skills/cr/references/bot-review.md
Owners: @domchen, @Hparty, @shlzxjp

Fix code formatting in PAGX test files.
  test/src/PAGXCliTest.cpp
  test/src/PAGXSVGTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Replace manual position attributes with constraint layout in spec samples.
  spec/samples/3.3.4_composition.pagx
  spec/samples/5.2.3_polystar.pagx
  spec/samples/5.4.2_round_corner.pagx
  spec/samples/5.5.6_text_box.pagx
  spec/samples/6.2.2_container_layout_absolute.pagx
  spec/samples/C.4_game_hud.pagx
Owners: @domchen, @Hparty, @shlzxjp

Merge title and value into rich text TextBox in Card with Internal Layout example.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Broaden PAGX skill description to trigger on any PAGX-related task.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Add test cases for centerX/centerY priority and measurement.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove redundant alignment=stretch from PAGX sample files.
  spec/samples/5.2.1_rectangle.pagx
  spec/samples/5.2.2_ellipse.pagx
  spec/samples/5.3.1_fill.pagx
  spec/samples/5.3.2_stroke.pagx
Owners: @domchen, @Hparty, @shlzxjp

Align centerX/centerY priority with EUI design.
  src/pagx/AutoLayout.cpp
  src/pagx/ElementMeasure.cpp
Owners: @domchen, @Hparty, @shlzxjp

Implement LayoutElement and unified ConstraintLayout module.
  .codebuddy/skills/pagx/references/examples.md
  include/pagx/nodes/Ellipse.h
  include/pagx/nodes/Group.h
  include/pagx/nodes/LayoutElement.h
  include/pagx/nodes/Path.h
  include/pagx/nodes/Polystar.h
  include/pagx/nodes/Rectangle.h
  include/pagx/nodes/Text.h
  resources/text/special_chars.pagx
  spec/samples/5.3.2_stroke.pagx
  spec/samples/5.4.1_trim_path.pagx
  src/pagx/AutoLayout.cpp
  src/pagx/ConstraintLayout.cpp
  src/pagx/ConstraintLayout.h
  src/pagx/ElementConstraint.cpp
  src/pagx/ElementMeasure.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix code formatting in AutoLayout.cpp.
  include/pagx/layout/LayoutUtils.h
  src/pagx/AutoLayout.cpp
  src/pagx/ConstraintLayout.cpp
  src/pagx/ConstraintLayout.h
  src/pagx/LayoutUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
