Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Update tgfx dependency to 73b38395. (#3633)
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

fix bug
  playground/pagx-preview/scripts/check-artifacts.js
  playground/pagx-preview/src/mcp/tools.js
  playground/pagx-preview/src/server/index.js
Owners: @domchen, @Hparty, @shlzxjp

Add PPT export option to ignore Text GlyphRuns and emit native editable text.
  include/pagx/PPTExporter.h
  src/cli/CommandExport.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTWriter.h
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Preserve GlyphRun pen offset when exporting glyph text as native PPT text so per-line runs no longer overlap.
  src/pagx/ppt/PPTTextWriter.cpp
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Suppress TextBox alignment for glyph-origin native text so centered titles are not centered twice.
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
Owners: @domchen, @Hparty, @shlzxjp

Drop TextBox padding and paragraph anchor for glyph-origin native text to match the authoritative glyph-path placement.
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
Owners: @domchen, @Hparty, @shlzxjp

Bypass glTexSubImage2D for software-decoded video via a HardwareBuffer to fix cross-view frame corruption on Mali GPUs (#3622)
  CMakeLists.txt
  DEPS
  src/rendering/video/SoftwareDecoderWrapper.cpp
  vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Carry the CSS font-weight axis as a real-face style label instead of faux bold so imported headings and bold runs resolve the authored heavy face and preserve the SemiBold Bold Black distinction.
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.h
  src/pagx/utils/CSSFontStyle.cpp
  src/pagx/utils/CSSFontStyle.h
  test/src/PAGXCSSFontStyleTest.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix CFRelease(NULL) crash when CVPixelBufferCreateResolvedAttributesDictionary fails (#3631)
  src/platform/mac/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix CFRelease(NULL) crash when CVPixelBufferCreateResolvedAttributesDictionary fails (#3631)
  src/platform/mac/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix CFRelease(NULL) crash when CVPixelBufferCreateResolvedAttributesDictionary fails (#3631)
  src/platform/mac/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix UAF in napi_ref lifecycle management on OHOS (#3629)
  src/platform/ohos/JsHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix CFRelease(NULL) crash when CVPixelBufferCreateResolvedAttributesDictionary fails (#3631)
  src/platform/mac/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix Android PAGView release race. (#3561)
  android/libpag/src/main/java/org/libpag/PAGView.java
  src/platform/android/JPAGAnimator.cpp
  src/platform/android/JPAGPlayer.cpp
  src/platform/android/JPAGSurface.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix Android PAGView release race. (#3561)
  android/libpag/src/main/java/org/libpag/PAGView.java
  src/platform/android/JPAGAnimator.cpp
  src/platform/android/JPAGPlayer.cpp
  src/platform/android/JPAGSurface.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace Fragment-based lifecycle with View.onWindowVisibilityChanged to fix VerifyError on Android 15. (#3567)
  android/libpag/src/main/java/org/extra/tools/Lifecycle.java
  android/libpag/src/main/java/org/extra/tools/LifecycleFragment.java
  android/libpag/src/main/java/org/extra/tools/LifecycleListener.java
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Replace Fragment-based lifecycle with View.onWindowVisibilityChanged to fix VerifyError on Android 15. (#3567)
  android/libpag/src/main/java/org/extra/tools/Lifecycle.java
  android/libpag/src/main/java/org/extra/tools/LifecycleFragment.java
  android/libpag/src/main/java/org/extra/tools/LifecycleListener.java
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Stop emitting redundant visible false on HTML importer mask layers.
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLParserContext.h
Owners: @domchen, @Hparty, @shlzxjp

add preview to cli
  cli/npm/bin/pagx.js
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Add dependencies
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Update description
  playground/pagx-preview/README.md
  playground/pagx-preview/README.zh_CN.md
  playground/pagx-preview/src/cli.js
  playground/pagx-preview/src/daemon.js
  playground/pagx-preview/src/server/font-cache.js
  playground/pagx-preview/src/server/index.js
  playground/pagx-preview/src/server/session.js
  playground/pagx-preview/static/index.html
Owners: @domchen, @Hparty, @shlzxjp

Fix too-narrow native PPT text boxes for pre-shaped glyph runs by measuring the real advance-width span instead of a crude per-character estimate.
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/utils/TextUtils.cpp
  src/pagx/utils/TextUtils.h
  test/src/PAGXUtilsTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Skip emitting a layer's mask as visible content in the no-bake PPT path so the mask fill no longer paints an opaque patch over the masked content.
  src/pagx/ppt/PPTExporter.cpp
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Upgrade pagx cli version to 0.4.38.
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Add preview descriptions for PAGX
  cli/npm/bin/pagx.js
Owners: @domchen, @Hparty, @shlzxjp

Refine and update description
  playground/pagx-preview/README.md
  playground/pagx-preview/README.zh_CN.md
  playground/pagx-preview/src/cli.js
  playground/pagx-preview/src/daemon.js
  playground/pagx-preview/src/mcp/server.js
  playground/pagx-preview/src/mcp/tools.js
Owners: @domchen, @Hparty, @shlzxjp

fix bug
  playground/pagx-preview/src/mcp/tools.js
Owners: @domchen, @Hparty, @shlzxjp

Skip emitting a layer's mask as visible content in the SVG and HTML exporters so the mask fill no longer paints an opaque patch over the masked content.
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXHtmlTest.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Upgrade pagx cli version to 0.4.39.
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Fix oversized native PPT text frames in multi-line TextBoxes by deriving line-box tops from embedded baselines.
  src/pagx/TextLayout.cpp
  src/pagx/TextLayout.h
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Preserve line-box vertical alignment for native PPT text exported from glyph runs with authored bounds.
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix Android build by calling rowBytes as getter method.
  src/rendering/video/SoftwareDecoderWrapper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix misplaced bitmap emoji glyphs in native PPT text by keeping the pen offset and optical alignment with siblings.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
  src/pagx/utils/TextUtils.cpp
  src/pagx/utils/TextUtils.h
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Incremental update phase 1
  include/pagx/PAGScene.h
  include/pagx/PAGXDocument.h
  include/pagx/PAGXNodeChannel.h
  include/pagx/nodes/Node.h
  playground/pagx-player/src/editor/SourceEditor.ts
  playground/pagx-player/src/editor/index.ts
  playground/pagx-player/src/editor/styles.ts
  playground/pagx-player/src/gesture-manager.ts
  playground/pagx-player/src/pagx-view-types.ts
  playground/pagx-player/src/player.ts
  playground/pagx-player/src/styles.ts
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  playground/pagx-viewer/src/cpp/binding.cpp
  playground/pagx-viewer/src/ts/pagx-view.ts
  playground/pagx-viewer/src/ts/types.ts
  src/pagx/PAGScene.cpp
  src/pagx/PAGXChannelTable.h
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/PAGXNodeChannel.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/pagx/utils/StringParser.cpp
  src/pagx/utils/StringParser.h
  src/pagx/xml/XMLDOM.cpp
  src/pagx/xml/XMLDOM.h
Owners: @domchen, @Hparty, @shlzxjp

Combine modifier-only TextBox runs into one native PPT rich-text shape and align emoji runs via baseline offset.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Keep native PowerPoint wrapping enabled for text with an authored inline extent even when PAGX line metadata is present so Web/WASM font differences can still rewrap lines.
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reformat the native PPT inline-extent assignment onto a single line to match the project code style.
  src/pagx/ppt/PPTTextWriter.cpp
Owners: @domchen, @Hparty, @shlzxjp

fixed comments
  .gitignore
  cli/npm/bin/pagx.js
  cli/npm/pack.sh
  cli/npm/package.json
  cli/npm/scripts/check-preview.js
  playground/pagx-preview/README.md
  playground/pagx-preview/README.zh_CN.md
  playground/pagx-preview/src/daemon.js
  playground/pagx-preview/src/mcp/tools.js
  playground/pagx-preview/src/server/index.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix auto-sized native PPT text frames from shifting in Web/WASM builds by using the embedded authoring glyph-run bounds for the envelope instead of the platform-dependent runtime layout width.
  src/pagx/ppt/PPTTextWriter.cpp
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refine skill
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  playground/pagx-preview/src/cli.js
  playground/pagx-preview/static/index.js
  playground/pagx-preview/static/mcp-widget.js
Owners: @domchen, @Hparty, @shlzxjp
