Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix incorrect ImageBytes size and anchor for masked video layers in AE exporter (#3589)
  exporter/src/export/data/ImageBytes.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix incorrect ImageBytes size and anchor for masked video layers in AE exporter (#3589)
  exporter/src/export/data/ImageBytes.cpp
Owners: @domchen, @Hparty, @shlzxjp

Paint background-color beneath a url() background image instead of dropping it.
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reset scroll instantly before snapshotting so smooth-scroll pages are not captured mid-animation.
  tools/html-snapshot/eval/baseline.js
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/canvas-viewport.ts
  tools/html-snapshot/lib/page-loader.ts
  tools/html-snapshot/lib/snapshot-runner.ts
Owners: @domchen, @Hparty, @shlzxjp

Add web-side player and complete MVP implementation of Source Editor (#3592)
  playground/pagx-playground/README.md
  playground/pagx-playground/README.zh_CN.md
  playground/pagx-playground/package.json
  playground/pagx-playground/scripts/prebuild.js
  playground/pagx-playground/scripts/rollup.js
  playground/pagx-playground/src/editor/SourceEditor.ts
  playground/pagx-playground/src/editor/index.ts
  playground/pagx-playground/src/editor/styles.ts
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/index.css
  playground/pagx-playground/static/index.html
  playground/pagx-playground/static/next.png
  playground/pagx-playground/static/pause.png
  playground/pagx-playground/static/play.png
  playground/pagx-playground/static/previous.png
  playground/pagx-playground/static/server.js
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  playground/pagx-viewer/src/cpp/binding.cpp
  playground/pagx-viewer/src/ts/pagx-view.ts
  playground/pagx-viewer/src/ts/types.ts
Owners: @domchen, @Hparty, @shlzxjp

Reformat HTML importer filter and clip-shape code to match the project code style.
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLValueParser.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update tgfx to 40d85838.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Warn during HTML import when per-layer background-blend-mode values differ since PAGX applies a single blend mode per background fill.
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLStyleCascade.cpp
  test/src/PAGXHTMLImporterTest.cpp
  tools/html-snapshot/eval/README.md
  tools/html-snapshot/eval/baseline.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add unit tests for the HTML snapshot canvas viewport fit-and-revert logic.
  tools/html-snapshot/test/canvas-viewport.test.js
Owners: @domchen, @Hparty, @shlzxjp

Fix strcasecmp undeclared error on Linux by including strings.h.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix strcasecmp undeclared error on Linux (#3609)
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

Improve HTML-to-PAGX fidelity and optimize generated PAGX (#3596)
  .codebuddy/skills/pagx/spec/html_subset.md
  spec/html_subset.md
  spec/html_subset.zh_CN.md
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXOptimizer.cpp
  src/pagx/PAGXOptimizerOptions.h
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLDetail.cpp
  src/pagx/html/importer/HTMLDetail.h
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLImageResources.cpp
  src/pagx/html/importer/HTMLImageResources.h
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLLayerBuilder.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLSubsetPropertyTable.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.cpp
  src/pagx/html/importer/HTMLValueParser.cpp
  src/pagx/html/importer/HTMLValueParser.h
  test/src/PAGXHTMLImporterTest.cpp
  test/src/PAGXOptimizerTest.cpp
  tools/html-snapshot/eval/README.md
  tools/html-snapshot/eval/baseline.js
  tools/html-snapshot/eval/run.js
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/canvas-viewport.ts
  tools/html-snapshot/lib/common.ts
  tools/html-snapshot/lib/page-loader.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/test/background-image-url.test.js
  tools/html-snapshot/test/canvas-viewport.test.js
  tools/html-snapshot/test/dashed-border.test.js
  tools/html-snapshot/test/img-data-attrs.test.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

update baseline
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Expose EvaluateKeyframeSegment public API for keyframe interpolation
  include/pagx/runtime/KeyframeEvaluator.h
  src/pagx/animation/Channel.cpp
  src/pagx/runtime/KeyframeEvaluator.cpp
  src/pagx/runtime/KeyframeEvaluatorImpl.h
  test/src/PAGXRuntimeTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Expose EvaluateKeyframeSegment public API for keyframe interpolation
  src/pagx/runtime/KeyframeEvaluator.cpp
  src/pagx/runtime/KeyframeEvaluator.h
  src/pagx/runtime/KeyframeEvaluatorImpl.h
  test/src/PAGXRuntimeTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update tgfx to e777ed4517e25511c38eef37cb74b80165deb5dd.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx to 40d85838 (#3608)
  DEPS
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix data race on sequence->frames between encode thread and main thread.
  exporter/src/export/sequence/VideoSequence.cpp
Owners: @domchen, @Hparty, @shlzxjp

Address code review feedback for EvaluateKeyframeSegment public API
  include/pagx/runtime/KeyframeEvaluator.h
  src/pagx/runtime/KeyframeEvaluator.cpp
  src/pagx/runtime/KeyframeEvaluatorImpl.h
  test/src/PAGXRuntimeTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Thread TextBox holder context through convert methods explicitly instead of builder member state
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Decouple text shaping from Text node via TextGlyphParams to enable runtime reshaping
  src/pagx/TextGlyphParams.h
  src/pagx/TextLayout.cpp
  src/pagx/TextLayout.h
  src/pagx/nodes/Text.cpp
  src/pagx/nodes/TextBox.cpp
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/TextUtils.cpp
  src/pagx/utils/TextUtils.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add TextHolder to reshape ViewModel-driven text at draw time without mutating the document
  include/pagx/PAGComposition.h
  include/pagx/PAGScene.h
  src/pagx/PAGScene.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  src/renderer/TextHolder.cpp
  src/renderer/TextHolder.h
  test/src/PAGXTest.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Split LayerBuilderContext into static base and runtime subclass via virtual hooks instead of a bool flag
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reshape text in place via tgfx setTextBlob so the render tree updates without swapping the bound object.
  src/renderer/TextHolder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Merge TextGlyphParams into TextLayoutParams.h to keep text layout params in one header
  src/pagx/TextGlyphParams.h
  src/pagx/TextLayout.h
  src/pagx/TextLayoutParams.h
  src/pagx/utils/TextUtils.h
  src/renderer/TextHolder.h
Owners: @domchen, @Hparty, @shlzxjp

Access PAGXDocument font config through friend member instead of the public accessor.
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update reshape tests for in-place blob swap and add ViewModel/Animation baseline render tests.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Adapt flushTextHolders to the PAGXDocument fontConfig accessor after rebase onto main.
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add tests for font size reshape, position preservation, and TextBox child text reshape.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Hold TextBox convert context as runtime subclass state to keep shared convert method signatures clean
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Mark Text shaping channels as animatable now that they carry runtime writers for ViewModel and animation driven reshaping.
  src/pagx/PAGXNodeChannel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Report pending text reshapes in scene content-changed check and skip redundant holder dirtying.
  include/pagx/PAGComposition.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  resources/text_reshape_demo.pagx
  src/pagx/PAGScene.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  src/renderer/TextHolder.cpp
  src/renderer/TextHolder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Move removeNode definition inside pagx namespace to fix compilation.
  src/renderer/TextHolder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Cover Text shaping channels in AnimatableChannelsHaveWriters now that they carry runtime writers.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Clean up TextHolder entries when removing binding nodes to prevent UAF.
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  src/renderer/TextHolder.cpp
  src/renderer/TextHolder.h
Owners: @domchen, @Hparty, @shlzxjp

Extract ApplyPaddingToRuns helper shared by TextBox layout and TextHolder reshape to remove duplication.
  src/pagx/TextLayout.cpp
  src/pagx/TextLayout.h
  src/pagx/nodes/TextBox.cpp
  src/renderer/TextHolder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Skip creating a TextHolder for a TextBox with no Text children to avoid a no-op holder registered for the scene.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

update baseline
  test/baseline/version.json
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Drop unused PAGAnimation include from PAGXView and widen reshape baseline surfaces to fit the reshaped text.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  resources/text/text_reshape_demo.pagx
Owners: @domchen, @Hparty, @shlzxjp

Skip text-holder tree walk when no holder exists and drop const_cast in CollectChildCompositions.
  include/pagx/PAGComposition.h
  include/pagx/PAGScene.h
  src/pagx/PAGScene.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
