Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix the indentation format of the alpha comment
  android/libpag/src/main/java/org/libpag/PAGLayer.java
Owners: @domchen, @Hparty, @shlzxjp

Expose the PAGLayer::setAlpha() method as a public API for iOS and Android. (#2783)
  android/libpag/src/main/java/org/libpag/PAGLayer.java
  src/platform/android/JPAGLayer.cpp
  src/platform/cocoa/PAGLayer.h
  src/platform/cocoa/PAGLayer.m
  src/platform/cocoa/private/PAGLayerImpl.h
  src/platform/cocoa/private/PAGLayerImpl.mm
Owners: @domchen, @Hparty, @shlzxjp

Change the code sign style of the ios project to automic.
  ios/PAGViewer.xcodeproj/project.pbxproj
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Change tgfx to 48e805604acf0dbcab0a0463e0a90ba7eddfcb62.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

change tgfx to 89f9a2c93ae24fdf1f15a0b5b719716cc0ce294d
  .github/workflows/build.yml
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove unnecessary empty judgments in viewer
  viewer/src/rendering/PAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix some issues found in code review
  viewer/qml/Main.qml
  viewer/src/rendering/PAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx to the latest version.
  DEPS
  src/rendering/utils/LZ4Decoder.cpp
  src/rendering/utils/LZ4Encoder.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix the issue that Task::wait() may return before the task is finished.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

format the code.
  src/rendering/utils/LZ4Decoder.cpp
Owners: @domchen, @Hparty, @shlzxjp

format the code.
  src/rendering/utils/LZ4Encoder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant access specifiers in viewer class
  viewer/src/profiling/PAGRunTimeModelManager.h
Owners: @domchen, @Hparty, @shlzxjp

Fix some issues found in code review
  viewer/src/profiling/PAGRunTimeModelManager.cpp
  viewer/src/profiling/PAGRunTimeModelManager.h
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx to resolve build errors with the latest CMake version.
  DEPS
  android/.idea/misc.xml
  ios/PAGViewer.xcodeproj/project.pbxproj
  src/rendering/utils/LZ4Decoder.cpp
  src/rendering/utils/LZ4Encoder.cpp
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix some issues found in code review
  viewer/src/profiling/PAGRunTimeModelManager.cpp
  viewer/src/profiling/PAGRunTimeModelManager.h
  viewer/src/rendering/PAGRenderThread.cpp
  viewer/src/rendering/PAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Adapt latest emsdk
  CMakeLists.txt
  web/demo/index.html
  web/demo/worker.html
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix some issues found in code review
  viewer/src/profiling/PAGRunTimeModelManager.cpp
  viewer/src/profiling/PAGRunTimeModelManager.h
Owners: @domchen, @Hparty, @shlzxjp

Fix some issues found in code review
  viewer/src/profiling/PAGRunTimeModelManager.cpp
Owners: @domchen, @Hparty, @shlzxjp

Adapt latest emsdk
  CMakeLists.txt
  web/demo/index.html
  web/demo/worker.html
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Enable compatibility with the latest version of Emscripten (#2787)
  CMakeLists.txt
  web/demo/index.html
  web/demo/worker.html
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Added description to the comment of PAGLayer::getTotalMatrix.
  android/libpag/src/main/java/org/libpag/PAGLayer.java
  include/pag/pag.h
  ohos/libpag/src/main/ets/PAGLayer.ets
  src/platform/cocoa/PAGLayer.h
  web/src/pag-layer.ts
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix code format
  android/libpag/src/main/java/org/libpag/PAGLayer.java
  src/platform/cocoa/PAGLayer.h
Owners: @domchen, @Hparty, @shlzxjp

Exported runtime method HEAPU8
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Enable compatibility with the latest version of Emscripten (#2790)
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Optimize annotation content
  android/libpag/src/main/java/org/libpag/PAGLayer.java
  include/pag/pag.h
  ohos/libpag/src/main/ets/PAGLayer.ets
  src/platform/cocoa/PAGLayer.h
  web/src/pag-layer.ts
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Optimize annotation content
  android/libpag/src/main/java/org/libpag/PAGLayer.java
  include/pag/pag.h
  ohos/libpag/src/main/ets/PAGLayer.ets
  src/platform/cocoa/PAGLayer.h
  web/src/pag-layer.ts
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Optimize annotation content
  src/platform/cocoa/PAGLayer.h
Owners: @domchen, @Hparty, @shlzxjp

Optimize annotation content
  src/platform/cocoa/PAGLayer.h
Owners: @domchen, @Hparty, @shlzxjp

Clarify the comment for the PAGLayer::getTotalMatrix() method. (#2789)
  android/libpag/src/main/java/org/libpag/PAGLayer.java
  include/pag/pag.h
  ohos/libpag/src/main/ets/PAGLayer.ets
  src/platform/cocoa/PAGLayer.h
  web/src/pag-layer.ts
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update tgfx version.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx version.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

format code.
  src/platform/cocoa/PAGLayer.h
Owners: @domchen, @Hparty, @shlzxjp

Fix the code format of the PAGLayer::getTotalMatrix() method.
  src/platform/cocoa/PAGLayer.h
Owners: @domchen, @Hparty, @shlzxjp

Optimize the process of adjusting container capacity in viewer
  viewer/src/profiling/PAGRunTimeModelManager.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove the 'PAG' prefix of some files in viewer
  viewer/src/profiling/PAGFileInfoModel.cpp
  viewer/src/profiling/PAGRunTimeModelManager.cpp
  viewer/src/profiling/PAGRunTimeModelManager.h
  viewer/src/task/PAGTask.cpp
  viewer/src/task/export/PAGExportAPNGTask.cpp
  viewer/src/task/export/PAGExportPNGTask.cpp
  viewer/src/utils/FileUtils.cpp
  viewer/src/utils/FileUtils.h
  viewer/src/utils/StringUtils.cpp
  viewer/src/utils/StringUtils.h
  viewer/src/utils/Utils.cpp
  viewer/src/utils/Utils.h
Owners: @domchen, @Hparty, @shlzxjp

Remove the 'PAG' prefix of some files in viewer
  viewer/src/profiling/PAGRunTimeModelManager.cpp
  viewer/src/profiling/PAGRunTimeModelManager.h
Owners: @domchen, @Hparty, @shlzxjp

Fix some issues found in code review
  viewer/src/rendering/PAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Implement file info display in Viewer (#2768)
  CMakeLists.txt
  ohos/libpag/README.md
  viewer/qml/Main.qml
  viewer/qml/MainForm.qml
  viewer/qml/Profiler.qml
  viewer/res.qrc
  viewer/src/main.cpp
  viewer/src/profiling/PAGFileInfoModel.cpp
  viewer/src/profiling/PAGFileInfoModel.h
  viewer/src/profiling/PAGFrameDisplayInfoModel.cpp
  viewer/src/profiling/PAGFrameDisplayInfoModel.h
  viewer/src/profiling/PAGRunTimeModelManager.cpp
  viewer/src/profiling/PAGRunTimeModelManager.h
  viewer/src/rendering/PAGRenderThread.cpp
  viewer/src/rendering/PAGView.cpp
  viewer/src/rendering/PAGView.h
  viewer/src/rendering/PAGWindow.cpp
  viewer/src/task/PAGTask.cpp
  viewer/src/task/export/PAGExportAPNGTask.cpp
  viewer/src/task/export/PAGExportPNGTask.cpp
  viewer/src/utils/FileUtils.cpp
  viewer/src/utils/FileUtils.h
  viewer/src/utils/StringUtils.cpp
  viewer/src/utils/StringUtils.h
  viewer/src/utils/Utils.cpp
  viewer/src/utils/Utils.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update autotest.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
