Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Use a decodable 1x1 baseline JPEG in ImageWithJPEGData test to avoid libjpeg error_exit when the Clamp bake path decodes pixels.
  test/src/PAGXPPTTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Translate CSS radial-gradient centre into element-local space so layer-coordinate gradients match tgfx sampling.
  src/pagx/html/HTMLWriterColor.cpp
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline updates for composition_advanced and edge_defaults after radial-gradient element-local coordinate fix.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refactor PPT exporter and modifier resolver to use render* accessors instead of input attributes for layout-correct geometry.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTModifierResolver.cpp
Owners: @domchen, @Hparty, @shlzxjp

Emit TextBox justify lines as block spans with text-align-last to match tgfx per-line stretching.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reflow the PAGX Native img tag in GenerateComparisonPage to satisfy clang-format line length.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use renderPosition in exporter matrix helpers so layout-resolved translation applies to PPT and SVG output.
  src/pagx/utils/ExporterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert TextBox br line-splitting; accept Chromium native wrap over tgfx mirror to keep writingMode and textAlign intact.
  include/pagx/nodes/Text.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/nodes/Text.cpp
Owners: @domchen, @Hparty, @shlzxjp

Prime wrapper Path layout in PPT modifier resolver so chained modifiers keep non-empty render bounds.
  src/pagx/ppt/PPTModifierResolver.cpp
  src/pagx/ppt/PPTModifierResolver.h
Owners: @domchen, @Hparty, @shlzxjp

Seed wrapper group layout from position so PPT repeater copies keep their per-copy offsets in the exported PPTX.
  src/pagx/ppt/PPTModifierResolver.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add ImageEmbedder header declaring embed and lastErrorPath API.
  src/renderer/ImageEmbedder.h
Owners: @domchen, @Hparty, @shlzxjp

Implement ImageEmbedder with ReadFileToData supporting empty-file and partial-read detection.
  src/renderer/ImageEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Honour CSS hanging whitespace when deciding TextBox line breaks so wrap points align with browser layout.
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline updates for text samples after hanging whitespace wrap fix.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add CommandEmbed header declaring RunEmbed entry point.
  src/cli/CommandEmbed.h
Owners: @domchen, @Hparty, @shlzxjp

Add pagx embed command orchestrating font and image embedding with skip flags.
  src/cli/CommandEmbed.cpp
Owners: @domchen, @Hparty, @shlzxjp

Register pagx embed command and update top-level usage.
  src/cli/main.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add embed_sample pagx and png fixtures for pagx embed CLI tests.
  resources/cli/embed_sample.pagx
  resources/cli/embed_sample.png
Owners: @domchen, @Hparty, @shlzxjp

Fix FontEmbedder::ClearEmbeddedGlyphRuns to remove stale Font and GlyphRun nodes from document.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add EMBED CLI tests covering default embed skip flags missing image and idempotency.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Pass stroke-dashoffset through unchanged since SVG and Skia share the same sign convention.
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix FontEmbedder::ClearEmbeddedGlyphRuns to remove stale Font and GlyphRun nodes from document.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace lambda with explicit loop in FontEmbedder::ClearEmbeddedGlyphRuns to follow coding convention.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Draw stroke_dash_offset_cycle rows as single horizontal paths so dashOffset phase shifts read cleanly.
  resources/pagx_to_html/stroke_dash_offset_cycle.pagx
Owners: @domchen, @Hparty, @shlzxjp

Align stroke_dash_offset_cycle row labels vertically with the dashed lines.
  resources/pagx_to_html/stroke_dash_offset_cycle.pagx
Owners: @domchen, @Hparty, @shlzxjp

Accept baselines after stroke-dashoffset sign fix and stroke_dash_offset_cycle sample redesign.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Center style_filter_advanced rows vertically within the background.
  resources/pagx_to_html/style_filter_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline updates for style_filter_advanced vertical centering.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Apply layout in SVGExporter so authored layer and group positions are resolved in exported SVG output.
  include/pagx/SVGExporter.h
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXUtilsTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Retire pagx font embed subcommand with redirect error and drop dead helpers.
  src/cli/CommandFont.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revise CommandFont header doc comment to query-only scope.
  src/cli/CommandFont.h
Owners: @domchen, @Hparty, @shlzxjp

Add FONT-01 CLI test asserting pagx font embed redirect error.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Deduplicate PPT exporter contour, shadow, and glyph helpers with a single-pass glyph walk.
  src/pagx/ppt/PPTContourUtils.cpp
  src/pagx/ppt/PPTContourUtils.h
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Exclude layers with percent size from shell layer classification.
  src/pagx/utils/VerifyUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unused PPTRasterizer class whose rasterization logic is already inlined in PPTWriter.
  CMakeLists.txt
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTFeatureProbe.h
  src/pagx/ppt/PPTRasterizer.cpp
  src/pagx/ppt/PPTRasterizer.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add PPT exporter tests covering modifier resolution, feature probe escalation, textbox containers, and export-option toggles to raise PPT module coverage from 64% to 87%.
  test/src/PAGXPPTTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add VerifyUtils unit tests covering layer feature and painter predicates.
  test/src/PAGXOptimizerTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Honour CSS hanging whitespace when deciding TextBox line breaks so wrap points align with browser layout.
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add std::nothrow to ImageEmbedder buffer allocation to honor no-exceptions policy.
  src/renderer/ImageEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Document full reset contract of FontEmbedder::ClearEmbeddedGlyphRuns including node removal.
  src/renderer/FontEmbedder.h
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
