Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix HTML to PAGX conversion dropping borders and inflating bordered images.
  spec/html_subset.md
  spec/html_subset.zh_CN.md
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLLayerBuilder.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Raise the Metal iOS deployment target to 15.0 to match the Xcode 27 SDK floor.
  CMakeLists.txt
  ios/README.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update the Chinese iOS readme to the 15.0 Metal deployment target.
  ios/README.zh_CN.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update the mac readmes to the 12.0 deployment floor.
  mac/README.md
  mac/README.zh_CN.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Silence the CAEAGLLayer deprecation warning inside the public iOS header so framework consumers compile clean.
  src/platform/ios/PAGSurface.h
Owners: @domchen, @Hparty, @shlzxjp

Define GLES_SILENCE_DEPRECATION locally in the iOS GL touching files so IDE indexing stays clean.
  src/platform/ios/PAGSurface.m
  src/platform/ios/PAGView.mm
  src/platform/ios/private/GPUDrawable.mm
  src/platform/ios/private/HardwareDecoder.mm
  src/platform/ios/private/PAGSurfaceImpl.mm
Owners: @domchen, @Hparty, @shlzxjp

Silence the CAEAGLLayer deprecation warnings in the iOS private headers for consumers without the build define.
  src/platform/ios/private/GPUDrawable.h
  src/platform/ios/private/PAGSurfaceImpl.h
Owners: @domchen, @Hparty, @shlzxjp

Declare a single scene manifest in the iOS demo so the Xcode 27 runtime lifecycle check passes.
  ios/PAGViewer/Info.plist
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Adopt the UIScene configuration callbacks in the iOS demo AppDelegate for the Xcode 27 lifecycle check.
  ios/PAGViewer/AppDelegate.mm
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Complete the scene lifecycle migration by declaring the AppDelegate as the scene delegate with the Main storyboard.
  ios/PAGViewer/AppDelegate.h
  ios/PAGViewer/AppDelegate.mm
  ios/PAGViewer/Info.plist
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Split the iOS demo scene lifecycle into a dedicated SceneDelegate to fix the iOS 27 simulator black screen
  ios/PAGViewer.xcodeproj/project.pbxproj
  ios/PAGViewer/AppDelegate.mm
  ios/PAGViewer/Info.plist
  ios/PAGViewer/SceneDelegate.h
  ios/PAGViewer/SceneDelegate.mm
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove the unused tlsLockedDevice record that failed the web build with Werror
  src/rendering/gpu/Devices_Lock.cpp
Owners: @domchen, @Hparty, @shlzxjp

HTML snapshots now keep the page background and masked icon or fade pseudo-elements.
  tools/html-snapshot/build-browser-bundle.js
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/test/mask-image-inline.test.js
  tools/html-snapshot/test/pseudo-materialise.test.js
Owners: @domchen, @Hparty, @shlzxjp

Fail pagx embed when any text yields no glyph run and register every face of a font collection.
  src/cli/CliUtils.cpp
  src/cli/CliUtils.h
  src/renderer/FontEmbedder.cpp
  src/renderer/FontEmbedder.h
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX animation capture dropping lists that pages rebuild with timers.
  tools/html-snapshot/lib/animation-capture.ts
  tools/html-snapshot/test/animation-capture-collect.test.js
Owners: @domchen, @Hparty, @shlzxjp

HTML snapshots now keep the page background and masked icon or fade pseudo-elements.
  tools/html-snapshot/build-browser-bundle.js
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/test/mask-image-inline.test.js
  tools/html-snapshot/test/pseudo-materialise.test.js
Owners: @domchen, @Hparty, @shlzxjp

Keep native HTML details accordions in the imported page instead of dropping them.
  tools/html-snapshot/README.md
  tools/html-snapshot/build-browser-bundle.js
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/dom-tags.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/test/collapsed-details.test.js
  tools/html-snapshot/test/dom-tags.test.js
Owners: @domchen, @Hparty, @shlzxjp

Fix HTML to PAGX conversion dropping borders and inflating bordered images.
  spec/html_subset.md
  spec/html_subset.zh_CN.md
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLLayerBuilder.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Skip host-font dependent corpora in the HTML eval baseline gate.
  resources/html/README.md
  test/run_html_eval.sh
  tools/html-snapshot/eval/summary.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add HTML deck export for multiple PAGX documents with paging zoom and centered fit.
  include/pagx/HTMLExporter.h
  src/cli/CommandExport.cpp
  src/pagx/html/HTMLDeckWriter.cpp
  src/pagx/html/HTMLDeckWriter.h
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLPlusDarkerRenderer.cpp
  src/pagx/html/HTMLStyleExtractor.cpp
  src/pagx/html/HTMLStyleExtractor.h
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fail pagx embed when any text yields no glyph run and register every face of a font collection.
  src/cli/CliUtils.cpp
  src/cli/CliUtils.h
  src/renderer/FontEmbedder.cpp
  src/renderer/FontEmbedder.h
Owners: @domchen, @Hparty, @shlzxjp

Keep the last decoded video frame on screen instead of a transparent frame when decoding fails.
  resources/apitest/room_bottomMenu_gift.pag
  src/rendering/sequences/VideoReader.cpp
  src/rendering/sequences/VideoReader.h
  test/src/PAGIssue3715Test.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove the issue3715 repro test and its pag asset from the branch.
  resources/apitest/room_bottomMenu_gift.pag
  test/src/PAGIssue3715Test.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix PPT evaluator review findings and simplify layer effect emission
  .github/workflows/autotest.yml
  CMakeLists.txt
  resources/ppt/README.md
  resources/ppt/baseline.json
  resources/ppt/corpora.json
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTStyleEmitter.cpp
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
  test/run_ppt_eval.sh
  test/src/PAGXPPTTest.cpp
  tools/html-snapshot/eval/compare.js
  tools/ppt-eval/README.md
  tools/ppt-eval/compare.js
  tools/ppt-eval/package.json
  tools/ppt-eval/pipeline.js
  tools/ppt-eval/pipeline.test.js
  tools/ppt-eval/preflight.js
  tools/ppt-eval/report.js
  tools/ppt-eval/run.js
  tools/ppt-eval/summary.js
  tools/ppt-eval/summary.test.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix ANR and wrong glyph mapping for RTL and mixed-direction text in the HarfBuzz build (#3752)
  src/rendering/graphics/Glyph.cpp
  src/rendering/utils/shaper/TextShaperHarfbuzz.cpp
  test/src/TextShaperTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix ANR and wrong glyph mapping for RTL and mixed-direction text in the HarfBuzz build (#3752)
  src/rendering/graphics/Glyph.cpp
  src/rendering/utils/shaper/TextShaperHarfbuzz.cpp
  test/src/TextShaperTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix ANR and wrong glyph mapping for RTL and mixed-direction text in the HarfBuzz build (#3752)
  src/rendering/graphics/Glyph.cpp
  src/rendering/utils/shaper/TextShaperHarfbuzz.cpp
  test/src/TextShaperTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix blank rendering of texture-backed replacement images when a layer scales below the mipmap threshold.
  src/rendering/caches/RenderCache.cpp
Owners: @domchen, @Hparty, @shlzxjp

Report fallback reads as a distinct status so failed decodes do not pollute disk and memory caches.
  src/rendering/caches/RenderCache.cpp
  src/rendering/sequences/BitmapSequenceReader.cpp
  src/rendering/sequences/BitmapSequenceReader.h
  src/rendering/sequences/DiskSequenceReader.cpp
  src/rendering/sequences/DiskSequenceReader.h
  src/rendering/sequences/SequenceImageQueue.cpp
  src/rendering/sequences/SequenceImageQueue.h
  src/rendering/sequences/SequenceReader.cpp
  src/rendering/sequences/SequenceReader.h
  src/rendering/sequences/VideoReader.cpp
  src/rendering/sequences/VideoReader.h
  src/rendering/video/SoftwareData.h
  src/rendering/video/SoftwareDecoderWrapper.cpp
  test/src/PAGANRRegressionTest.cpp
  test/src/PAGIssue3715Test.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename the fallback video test to describe the covered behavior.
  test/src/VideoSequenceFallbackTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove the issue-numbered fallback test file after renaming.
  test/src/PAGIssue3715Test.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix the sync mode deadlock and duplicate resizes and restore the cached export device and defer Metal tests
  include/pag/gpu.h
  src/pagx/utils/RasterUtils.cpp
  src/pagx/utils/RasterUtils.h
  src/platform/ios/PAGView.mm
  src/platform/mac/PAGView.mm
  src/rendering/gpu/Devices.h
  src/rendering/gpu/Devices_Lock.cpp
  test/src/PAGBlendTest.cpp
  test/src/PAGSurfaceTest.cpp
  test/src/PAGXRuntimeTest.cpp
  test/src/utils/TestUtils.h
  test/src/utils/TestUtils_Metal.mm
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix PAGImageView setScaleMode None not restoring the composition original size on ohos and android.
  android/libpag/src/main/java/org/libpag/PAGImageView.java
  src/platform/ohos/JPAGImageView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView setScaleMode None no-op after setMatrix on android.
  android/libpag/src/main/java/org/libpag/PAGImageView.java
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView setScaleMode(None) not restoring composition original size on Android and OpenHarmony (#3757)
  android/libpag/src/main/java/org/libpag/PAGImageView.java
  src/platform/ohos/JPAGImageView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix blank rendering of texture-backed replacement images when a layer scales below the mipmap threshold (#3756)
  src/rendering/caches/RenderCache.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx to d2ebde06 for subpixel AA rect rendering fix
  DEPS
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refresh baseline versions for three html sample renders.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

update version.json
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix remaining PPT evaluator review issues
  CMakeLists.txt
  resources/ppt/README.md
  test/run_ppt_eval.sh
  tools/ppt-eval/README.md
  tools/ppt-eval/package-lock.json
  tools/ppt-eval/package.json
  tools/ppt-eval/pipeline.test.js
  tools/ppt-eval/preflight.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
