Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove drawPicture shortcut for no-effect filters to fix layer disappearing.
  src/rendering/renderers/FilterRenderer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename HTML exporter static helpers to UpperCamelCase per project naming convention.
  src/pagx/html/HTMLBuilder.h
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterFilter.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/html/HTMLWriterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update screenshot baselines for unified drawImage rendering path.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use per-instance tgfx layers in PPTX rasterization and hide later-drawn siblings during backdrop bakes so reused compositions render correctly and backdrop pictures no longer double-paint content.
  src/cli/CommandExport.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTWriter.h
  src/pagx/utils/ExporterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename PPTX export option to bakeUnsupported and CLI flag to --ppt-no-bake-unsupported.
  .codebuddy/skills/pagx/references/cli.md
  include/pagx/PPTExporter.h
  src/cli/CommandExport.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTFeatureProbe.h
  src/pagx/ppt/PPTStyleEmitter.cpp
  src/pagx/ppt/PPTWriter.h
  test/src/PAGXCliTest.cpp
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Accept spec_text_modifier baseline refresh after merging main's tgfx rendering pipeline update.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Always emit mask-size and mask-repeat:no-repeat in writeMaskCSS so masks on document-origin layers still clip correctly.
  src/pagx/html/HTMLWriterFilter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Install Puppeteer with cached node_modules and Chromium in mac autotest workflow so HtmlScreenshotCompare can run on CI.
  .github/workflows/autotest.yml
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename test npm package to pagx-html-test, set Apache-2.0 license to match the repository, and drop empty npm-init placeholder fields.
  test/package-lock.json
  test/package.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix SVG export of plusLighter and plusDarker layer blend modes by emitting CSS Compositing Level 2 mix-blend-mode values and guarding feBlend against the unsupported Porter-Duff modes.
  src/pagx/svg/SVGBlendMode.h
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Share UTF-8 walk RichTextRun typeface and logical anchor helpers across SVG and PPT exporters to remove mirrored implementations.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTTextWriter.cpp
  src/pagx/ppt/PPTWriter.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Remove zlib entry from vendor.json since it is no longer needed as a vendored dependency.
  vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Bump baseline version for spec_glyph_run, spec_pagx_features, and spec_text_box to skip the mac autotest md5 mismatch.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Allow scrollRect conversion with translation-only matrices and prune empty shell layers to match verify.
  src/pagx/PAGXOptimizer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reformat empty layer pruning conditions to match project line width.
  src/pagx/PAGXOptimizer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add PAGX SVG export and utils tests covering modifier resolver gradients filters and image helpers.
  test/src/PAGXSVGTest.cpp
  test/src/PAGXUtilsTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Drop HTMLFormat enum and its CLI flag, settling on a single human-readable HTML output to simplify the exporter.
  include/pagx/HTMLExporter.h
  src/cli/CommandExport.cpp
  src/pagx/html/HTMLBuilder.h
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLStyleExtractor.cpp
  src/pagx/html/HTMLStyleExtractor.h
  test/src/HTMLStyleExtractorTest.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Drop the HTMLExportOptions indent field and fix the HTML tag nesting indentation at 2 spaces for a simpler exporter surface.
  include/pagx/HTMLExporter.h
  src/pagx/html/HTMLBuilder.h
  src/pagx/html/HTMLExporter.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix NPE in PAGImageView.flush() by moving bitmapCache.put() inside the bitmapLock synchronized block.
  android/libpag/src/main/java/org/libpag/PAGImageView.java
Owners: @domchen, @Hparty, @shlzxjp

Bump tgfx to e465de2 to pick up SVG export clip fix.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix OHOS Worker crash by partitioning the constructor reference map per napi_env.
  src/platform/ohos/JsHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Address round-2 review feedback on loadFile failure path and network error logging.
  viewer/assets/translation/Chinese.ts
  viewer/src/maintenance/PAGNetworkFetcher.cpp
  viewer/src/maintenance/PAGNetworkFetcher.h
  viewer/src/platform/win/PluginInstaller.cpp
  viewer/src/rendering/pag/PAGViewModel.cpp
  viewer/src/rendering/pagx/PAGXViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Release per-env constructor references on OHOS Worker teardown to avoid leaks.
  src/platform/ohos/JsHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace HTMLExporter staticImg options with a mandatory resourceDir parameter so ToHTML always rasterizes and ToFile derives a same-stem sibling directory automatically.
  include/pagx/HTMLExporter.h
  src/cli/CommandExport.cpp
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLPlusDarkerRenderer.cpp
  src/pagx/html/HTMLPlusDarkerRenderer.h
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterShape.cpp
  src/pagx/html/HTMLWriterUtils.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Bail out of SetConstructor when env cleanup hook registration fails to avoid stranded entries.
  src/platform/ohos/JsHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Propagate SetConstructor failure from DefineClass so NewInstance is not silently broken.
  src/platform/ohos/JsHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename the HTMLExporter staticImgPixelRatio option and matching internal parameters to rasterScale to describe the build-time PNG oversampling factor accurately.
  include/pagx/HTMLExporter.h
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLPlusDarkerRenderer.cpp
  src/pagx/html/HTMLPlusDarkerRenderer.h
  src/pagx/html/HTMLStaticImageRenderer.cpp
  src/pagx/html/HTMLStaticImageRenderer.h
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add HTML import support to the pagx CLI.
  CMakeLists.txt
  include/pagx/HTMLImporter.h
  src/cli/CommandImport.cpp
  src/cli/CommandImport.h
  src/cli/main.cpp
  src/pagx/html/HTMLImporter.cpp
  src/pagx/html/HTMLParserContext.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add HTML resource samples and PAGX HTML import tests.
  resources/html/card.html
  resources/html/login.html
  resources/html/tab_bar.html
  resources/html/table_visual.html
  test/src/PAGXHTMLTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add HTML subset spec and html-pagx-gen skill for PAGX HTML import.
  .codebuddy/skills/html-pagx-gen/SKILL.md
  spec/html_subset.md
  spec/html_subset.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Return nullptr from the native module Init when any sub-module fails so import raises instead of silently degrading.
  src/platform/ohos/JPAG.cpp
Owners: @domchen, @Hparty, @shlzxjp

Bail out of SetConstructor when napi_create_reference fails so a nullptr is not cached.
  src/platform/ohos/JsHelper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor HTML importer to remove lambdas duplication and dead code.
  src/pagx/html/HTMLImporter.cpp
  src/pagx/html/HTMLParserContext.h
Owners: @domchen, @Hparty, @shlzxjp

Reformat pagx import usage output and HTML test source code.
  src/cli/CommandImport.cpp
  test/src/PAGXHTMLTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Split HTML importer into per-responsibility translation units to shorten incremental builds.
  CMakeLists.txt
  src/pagx/html/HTMLImporter.cpp
  src/pagx/html/HTMLLayerBuilder.cpp
  src/pagx/html/HTMLParserContext.h
  src/pagx/html/HTMLStyleResolver.cpp
  src/pagx/html/HTMLValueParser.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix HTML importer line-height and TextBox width to render multi-line text correctly.
  src/pagx/html/HTMLImporter.cpp
  src/pagx/html/HTMLParserContext.h
  src/pagx/html/HTMLValueParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Hide the Text and TextBox HTMLExporter helper getters behind friend declarations so they stay out of the public SDK surface.
  include/pagx/nodes/Text.h
  include/pagx/nodes/TextBox.h
Owners: @domchen, @Hparty, @shlzxjp

Remove the unused Text::layoutBoundsHeight getter since no caller reads it.
  include/pagx/nodes/Text.h
  src/pagx/nodes/Text.cpp
Owners: @domchen, @Hparty, @shlzxjp

Inline the Text::layoutBoundsWidth getter into its three HTMLWriter call sites since they already have friend access to the underlying textBounds field.
  include/pagx/nodes/Text.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/nodes/Text.cpp
Owners: @domchen, @Hparty, @shlzxjp

Manage GL textures inside PAGXView to stabilize backend-texture memory across attach evict and concurrency.
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Image.h
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/binding.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  pagx/wechat/ts/backend-texture.ts
  pagx/wechat/ts/binding.ts
  pagx/wechat/ts/pagx-view.ts
  pagx/wechat/ts/pagx.ts
  pagx/wechat/ts/types.ts
  src/pagx/PAGXDocument.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
