Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix mobile touch pinch-to-zoom being too fast by switching to absolute ratio calculation.
  playground/index.ts
Owners: @domchen, @Hparty, @shlzxjp

Increase curved text path radius by 5px in PAGX features sample.
  spec/samples/C.5_pagx_features.pagx
Owners: @domchen, @Hparty, @shlzxjp

Change curved text path radius from 145 to 142 to only offset 2px from original.
  spec/samples/C.5_pagx_features.pagx
Owners: @domchen, @Hparty, @shlzxjp

Change curved text path radius from 142 to 141 to only offset 1px from original.
  spec/samples/C.5_pagx_features.pagx
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline change for C.5_pagx_features after curved text path radius update.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Optimize samples page grid layout for mobile screens to show 3 columns instead of 1.
  playground/index.css
Owners: @domchen, @Hparty, @shlzxjp

Fix data URI parsing without base64 check and simplify ColorSource caching and ShapedTextMap const correctness.
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserInternal.h
  src/renderer/FontEmbedder.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/ShapedText.h
Owners: @domchen, @Hparty, @shlzxjp

Move mobile samples styles after base styles to fix CSS specificity override issue.
  playground/index.css
Owners: @domchen, @Hparty, @shlzxjp

Refactor to reduce code duplication and improve performance across PAGX modules.
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/StringParser.cpp
  src/pagx/StringParser.h
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserInternal.h
  src/pagx/xml/XMLDOM.cpp
  src/pagx/xml/XMLDOM.h
  src/renderer/FontEmbedder.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Make nav buttons smaller and equal width for a more compact appearance.
  playground/index.css
Owners: @domchen, @Hparty, @shlzxjp

Slightly increase nav button size for better readability.
  playground/index.css
Owners: @domchen, @Hparty, @shlzxjp

Restore nav button height and font size while keeping equal fixed width.
  playground/index.css
Owners: @domchen, @Hparty, @shlzxjp

Revert nav button style changes back to original.
  playground/index.css
Owners: @domchen, @Hparty, @shlzxjp

Reduce nav button horizontal padding from 12px to 6px for a more compact look.
  playground/index.css
Owners: @domchen, @Hparty, @shlzxjp

Change nav button padding to uniform 8px on all sides.
  playground/index.css
Owners: @domchen, @Hparty, @shlzxjp

Add type safety to findNode and defensive checks to SVG importer.
  include/pagx/PAGXDocument.h
  include/pagx/nodes/ColorSource.h
  include/pagx/nodes/Composition.h
  include/pagx/nodes/Font.h
  include/pagx/nodes/Image.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/PathData.h
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserInternal.h
Owners: @domchen, @Hparty, @shlzxjp

Optimize PAGX parsers and reduce code duplication across importer and exporter modules.
  include/pagx/SVGImporter.h
  include/pagx/nodes/Layer.h
  src/pagx/Base64.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/StringParser.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserInternal.h
Owners: @domchen, @Hparty, @shlzxjp

Replace browser compatibility alert with inline error UI showing minimum version requirements.
  playground/index.css
  playground/index.ts
Owners: @domchen, @Hparty, @shlzxjp

Update minimum browser version requirements to Chrome 69+ and Firefox 79+ for SharedArrayBuffer support.
  playground/index.ts
Owners: @domchen, @Hparty, @shlzxjp

Update minimum Safari version requirement from 11.3 to 15 for WebGL2 and SharedArrayBuffer support.
  README.md
  README.zh_CN.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add minor version numbers to Chrome and Safari requirements for consistent formatting.
  README.md
  README.zh_CN.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix code review issues in PAGX module including empty Resources output and GlyphRun data consistency.
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Cache parsed style and CSS class properties per DOMNode to avoid repeated string scanning in SVG getAttribute.
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserInternal.h
Owners: @domchen, @Hparty, @shlzxjp

Add adaptive tile refinement and zoom performance optimization to playground.
  playground/src/PAGXView.cpp
  playground/src/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Forward TGFX_BUILD_LAYERS and TGFX_BUILD_SVG options to tgfx build in both cache and subdirectory paths.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refactor internal code to remove duplication and improve efficiency in renderer and SVG importer.
  playground/src/PAGXView.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserInternal.h
  src/renderer/LayerBuilder.cpp
  src/renderer/TGFXConverter.h
  src/renderer/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove IsTypeOf from public node headers and revert findNode to direct static_cast.
  include/pagx/PAGXDocument.h
  include/pagx/nodes/ColorSource.h
  include/pagx/nodes/Composition.h
  include/pagx/nodes/Font.h
  include/pagx/nodes/Image.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/PathData.h
  src/renderer/LayerBuilder.cpp
  src/renderer/TGFXConverter.h
  src/renderer/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert Options struct layout in SVGImporter.h to original style.
  include/pagx/SVGImporter.h
Owners: @domchen, @Hparty, @shlzxjp

Remove TGFX_BUILD_SVG option and unused tgfx SVG includes since pagx has its own SVG implementation.
  CMakeLists.txt
  playground/CMakeLists.txt
  src/renderer/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Change web platform memory allocator from mimalloc to dlmalloc.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix incorrect claims and add missing caveats in pagx-optimize skill references.
  .codebuddy/skills/pagx-optimize/references/painter-merging.md
  .codebuddy/skills/pagx-optimize/references/performance.md
Owners: @domchen, @Hparty, @shlzxjp

Switch web platform memory allocator from mimalloc to dlmalloc.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Switch web platform memory allocator from mimalloc to dlmalloc.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use in-class member initializers for SVGImporter Options and remove redundant constructor.
  include/pagx/SVGImporter.h
Owners: @domchen, @Hparty, @shlzxjp

Replace empty string literal initializers with brace initialization for InheritedStyle members.
  src/pagx/svg/SVGParserInternal.h
Owners: @domchen, @Hparty, @shlzxjp

Add type safety documentation to PAGXDocument findNode template method.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Add documentation comments to RepeaterOrder enum values.
  include/pagx/types/RepeaterOrder.h
Owners: @domchen, @Hparty, @shlzxjp

Remove mutable from _stylePropertyCache and make getStyleProperties getAttribute getHrefAttribute non-const.
  src/pagx/svg/SVGImporter.cpp
  src/pagx/svg/SVGParserInternal.h
Owners: @domchen, @Hparty, @shlzxjp

Add class documentation to ColorStop explaining its value-based storage pattern.
  include/pagx/nodes/ColorStop.h
Owners: @domchen, @Hparty, @shlzxjp

Add buffer pre-allocation and move semantics to XMLBuilder for reduced string copies.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
