Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Simplify the pagx skill to only cover HTML-to-PAGX conversion and drop the standalone authoring workflow.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/checklist.md
  .codebuddy/skills/pagx/references/guide.md
  .codebuddy/skills/pagx/references/patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Preserve HTML shadows in composed layers.
  src/pagx/html/HTMLWriterFilter.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reorder importer includes alphabetically to match the project formatting convention.
  src/pagx/html/importer/HTMLParserContext.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix web video listener and object URL memory leaks. (#3513)
  web/src/core/video-reader.ts
  web/src/utils/video-listener.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView.setPathAsync returning null composition for path loads. (#3509)
  android/libpag/src/main/java/org/libpag/PAGImageView.java
Owners: @domchen, @Hparty, @shlzxjp

Add a table of contents to the pagx CLI reference and polish wording in the skill docs.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/pipeline.md
Owners: @domchen, @Hparty, @shlzxjp

Drop the SkillPatterns test now that the patterns markdown reference no longer ships with the pagx skill.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Tighten pagx skill prose by removing duplicated install steps and stale cross-references between the skill files.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/authoring-html.md
  .codebuddy/skills/pagx/references/pipeline.md
Owners: @domchen, @Hparty, @shlzxjp

Update screenshot baseline for SwiftShader compatibility.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Preserve font paths and clarify CLI write errors.
  src/cli/CliUtils.cpp
  src/pagx/PAGXImporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Format CLI write error message.
  src/cli/CliUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Force Babel classic runtime in the HTML snapshot loader so CDN-hosted JSX pages mount instead of failing on module imports.
  tools/html-snapshot/lib/page-loader.ts
Owners: @domchen, @Hparty, @shlzxjp

Bump extension to 1.0.1 with new pagx-viewer wasm
  pagx-chrome-extension/build.sh
  pagx-chrome-extension/manifest.json
  pagx-chrome-extension/package.json
  pagx-chrome-extension/package.sh
  pagx-chrome-extension/viewer/viewer.ts
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove unused PAGX URL helper.
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGXView creation by wrapping native _PAGXView bindings (v1.0.2)
  pagx-chrome-extension/manifest.json
  pagx-chrome-extension/package.json
  pagx-chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix advanceTimelines passing 0 instead of computed deltaUs to advanceAndApply.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix slot bypass in nested child attachment by using binding slot instead of runtimeLayer.
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unreachable scene null check in BuildChildren.
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix asymmetric slot creation in BuildChildren to match BuildChildLayer.
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract syncPromotedLayers helper to reduce promotion sync duplication.
  include/pagx/PAGComposition.h
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert "Extract syncPromotedLayers helper to reduce promotion sync duplication."
  include/pagx/PAGComposition.h
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert "Fix asymmetric slot creation in BuildChildren to match BuildChildLayer."
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update PAGComposition.h declarations to match BuildChildLayer and refreshPlainContainerChildren signatures.
  include/pagx/PAGComposition.h
Owners: @domchen, @Hparty, @shlzxjp

Consolidate BuildChildren to delegate to BuildChildLayer eliminating duplicated child construction logic.
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Complete PAGLayer children feature with notifyChange content node resolution, promotion sync, and tests.
  include/pagx/PAGLayer.h
  include/pagx/PAGXDocument.h
  src/pagx/PAGLayer.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGXDocument.cpp
  test/baseline/version.json
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove dynamic_cast and lambdas from HTML importer code paths and gate importer sources behind PAG_BUILD_HTML in CMake.
  CMakeLists.txt
  src/cli/CommandImport.cpp
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLTransformPasses.cpp
  src/pagx/utils/CSSFontStyle.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Set pagx playground background color.
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/index.css
Owners: @domchen, @Hparty, @shlzxjp

Always create VectorLayer for plain layers to eliminate promotion and runtimeLayer sync.
  src/pagx/runtime/PAGComposition.cpp
  src/renderer/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add a basePath option to HTMLImporter, decode the html-snapshot exit status, and drop the unused shadow spread field.
  include/pagx/HTMLImporter.h
  src/cli/CommandImport.cpp
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLDetail.cpp
  src/pagx/html/importer/HTMLDetail.h
  src/pagx/html/importer/HTMLIdAllocator.cpp
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLValueParser.cpp
  src/pagx/html/importer/HTMLValueParser.h
Owners: @domchen, @Hparty, @shlzxjp

Track dirty nodes per owning document in LoadFileDataInChain.
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant /*param=*/ marker comments from call sites.
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXOptimizer.cpp
  src/pagx/html/HTMLStyleExtractor.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTGeomEmitter.cpp
  src/pagx/ppt/PPTWriterContext.h
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Pass layoutChanged=false for Image-only dirty nodes in loadFileData.
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Document applyLayout() side effect in loadFileData API comment.
  include/pagx/PAGXDocument.h
  src/pagx/html/HTMLStyleExtractor.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTGeomEmitter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add notifyChange to PAGXDocument::loadFileData so loaded data appears in existing scenes.
  include/pagx/PAGXDocument.h
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add tests for loadFileData notifyChange behavior with scene creation.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

背景色设置默认值
  playground/pagx-playground/src/index.ts
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Set pagx playground background color.
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/index.css
Owners: @domchen, @Hparty, @shlzxjp

Build PAGComposition placeholder for composition slots and support loadFileData after scene creation.
  src/pagx/PAGXDocument.cpp
  src/pagx/runtime/PAGComposition.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Apply code formatting.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Stop forwarding flex-grow on items capped by max-width or max-height so PAGX matches the browser's pinned size.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp
