Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Fix report example and option name inconsistency in squash skill.
  .codebuddy/skills/squash/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Merge auto-commit rules into Git.md.
  .codebuddy/rules/Git.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify diagnosis to signal-driven analysis without preloading files or re-reviewing code.
  .codebuddy/skills/cr/references/diagnosis.md
Owners: @domchen, @Hparty, @shlzxjp

Improve squash skill with clearer options and staged changes verification.
  .codebuddy/skills/squash/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Refine judgment matrix with per-issue risk reminder and performance complexity trade-off.
  .codebuddy/skills/cr/references/judgment-matrix.md
Owners: @domchen, @Hparty, @shlzxjp

Add anti-pattern rules and bulk-instruction guardrail to CR skill.
  .codebuddy/skills/cr/references/doc-checklist.md
  .codebuddy/skills/cr/references/judgment-matrix.md
  .codebuddy/skills/cr/references/teams-review.md
Owners: @domchen, @Hparty, @shlzxjp

Add squash skill for consolidating branch history.
  .codebuddy/rules/Git.md
  .codebuddy/skills/cr/SKILL.md
  .codebuddy/skills/cr/references/checklist-evolution.md
  .codebuddy/skills/cr/references/code-checklist.md
  .codebuddy/skills/cr/references/diagnosis.md
  .codebuddy/skills/cr/references/doc-checklist.md
  .codebuddy/skills/cr/references/judgment-matrix.md
  .codebuddy/skills/cr/references/local-review.md
  .codebuddy/skills/cr/references/pr-review.md
  .codebuddy/skills/cr/references/teams-review.md
  .codebuddy/skills/squash/SKILL.md
  CMakeLists.txt
  spec/pagx.xsd
  src/base/utils/MathUtil.h
  src/cli/CliUtils.h
  src/cli/CommandBounds.cpp
  src/cli/CommandFont.cpp
  src/cli/CommandFormat.cpp
  src/cli/CommandOptimize.cpp
  src/cli/CommandRender.cpp
  src/pagx/svg/SVGPathParser.cpp
  src/renderer/HarfBuzzShaper.cpp
  src/renderer/HarfBuzzShaper.h
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Enhance CR skill with diagnosis mode, checklist evolution, and anti-pattern rules.
  .codebuddy/skills/cr/SKILL.md
  .codebuddy/skills/cr/references/checklist-evolution.md
  .codebuddy/skills/cr/references/code-checklist.md
  .codebuddy/skills/cr/references/diagnosis.md
  .codebuddy/skills/cr/references/doc-checklist.md
  .codebuddy/skills/cr/references/judgment-matrix.md
  .codebuddy/skills/cr/references/local-review.md
  .codebuddy/skills/cr/references/pr-review.md
  .codebuddy/skills/cr/references/teams-review.md
Owners: @domchen, @Hparty, @shlzxjp

Update commit skill to let user choose between partial and full staging.
  .codebuddy/skills/commit/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Enhance Codebuddy skills with auto-commit, squash, and checklist evolution features.
  .codebuddy/rules/Git.md
  .codebuddy/skills/commit/SKILL.md
  .codebuddy/skills/cr/SKILL.md
  .codebuddy/skills/cr/references/checklist-evolution.md
  .codebuddy/skills/cr/references/code-checklist.md
  .codebuddy/skills/cr/references/diagnosis.md
  .codebuddy/skills/cr/references/doc-checklist.md
  .codebuddy/skills/cr/references/judgment-matrix.md
  .codebuddy/skills/cr/references/local-review.md
  .codebuddy/skills/cr/references/pr-review.md
  .codebuddy/skills/cr/references/teams-review.md
  .codebuddy/skills/squash/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to latest commit.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add multi-select grouping rule to SKILL.md and simplify references.
  .codebuddy/skills/cr/SKILL.md
  .codebuddy/skills/cr/references/checklist-evolution.md
  .codebuddy/skills/cr/references/diagnosis.md
  .codebuddy/skills/cr/references/teams-review.md
Owners: @domchen, @Hparty, @shlzxjp

Forbid manual conflict resolution and treat cherry-pick conflicts as execution bugs.
  .codebuddy/skills/squash/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Allow resolving cherry-pick conflicts when changes are independent rather than always aborting.
  .codebuddy/skills/squash/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Revert to always aborting on cherry-pick conflicts instead of attempting resolution.
  .codebuddy/skills/squash/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

On cherry-pick conflict abort and suggest narrowing range past nearest merge commit.
  .codebuddy/skills/squash/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Auto-resolve cherry-pick conflicts with checkout theirs and rely on integrity check.
  .codebuddy/skills/squash/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Fix JNI exception and null pointer handling to prevent crashes on Android.
  src/platform/android/JPAGFile.cpp
  src/platform/android/JPAGLayer.cpp
  src/platform/android/JPAGPlayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add CLI-related keywords to pagx skill description for better discoverability.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Add division by zero guard for upem in ShapeRun.
  src/renderer/HarfBuzzShaper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix use-after-move in storeShapedText by using find before emplace.
  src/renderer/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Delete FontCache move constructor to prevent double mutex unlock.
  src/renderer/HarfBuzzShaper.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add range check for long-to-int cast in getIntAttribute to prevent silent overflow.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rewrite pagx skill description and add complete CLI build instructions.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli-reference.md
Owners: @domchen, @Hparty, @shlzxjp

Fix Matrix3D memcmp comparison and CLI escaping and help flag and Pi constant consistency.
  include/pagx/types/Matrix3D.h
  src/base/utils/MathUtil.h
  src/cli/CliUtils.h
  src/cli/CommandValidator.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add default output path convention to pagx render CLI reference.
  .codebuddy/skills/pagx/references/cli-reference.md
Owners: @domchen, @Hparty, @shlzxjp

Fix spec step numbering and refactor PAGXTest to eliminate duplicate directory helpers.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Enable user invocation for the pagx skill.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Refine auto-commit scope in Git rules and remove project-specific reference from commit skill.
  .codebuddy/rules/Git.md
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to latest commit.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Simplify auto-commit scope note in Git rules.
  .codebuddy/rules/Git.md
Owners: @domchen, @Hparty, @shlzxjp

Add completion signal and wait instruction to verifier pipeline to prevent early termination.
  .codebuddy/skills/cr/references/teams-review.md
Owners: @domchen, @Hparty, @shlzxjp

[ohos] Fix font fallback crash by using new text module API on API14+ (#3238)
  ohos/libpag/src/main/ets/PAGInit.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix JNI crash when jBytes is null in SafeConvertToStdString (#3254)
  src/platform/android/JStringUtil.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView setScaleMode(None) not resetting matrix on HarmonyOS (#3256)
  src/platform/ohos/JPAGImageView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix JNI exception and null pointer handling on Android (#3291)
  src/platform/android/JNIHelper.cpp
  src/platform/android/JPAGDiskCache.cpp
  src/platform/android/JPAGFile.cpp
  src/platform/android/JPAGFont.cpp
  src/platform/android/JPAGImage.cpp
  src/platform/android/JPAGLayer.cpp
  src/platform/android/JPAGPlayer.cpp
  src/platform/android/JStringUtil.cpp
Owners: @domchen, @Hparty, @shlzxjp

[ohos] Fix font fallback crash by using new text module API on API14+ (#3238)
  ohos/libpag/src/main/ets/PAGInit.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix JNI crash when jBytes is null in SafeConvertToStdString (#3254)
  src/platform/android/JStringUtil.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView setScaleMode(None) not resetting matrix on HarmonyOS (#3256)
  src/platform/ohos/JPAGImageView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix JNI exception and null pointer handling on Android (#3291)
  src/platform/android/JNIHelper.cpp
  src/platform/android/JPAGDiskCache.cpp
  src/platform/android/JPAGFile.cpp
  src/platform/android/JPAGFont.cpp
  src/platform/android/JPAGImage.cpp
  src/platform/android/JPAGLayer.cpp
  src/platform/android/JPAGPlayer.cpp
  src/platform/android/JStringUtil.cpp
Owners: @domchen, @Hparty, @shlzxjp
