Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update the about and tips sections of the skills page with more detailed descriptions.
  playground/skills-page.zh_CN.html
Owners: @domchen, @Hparty, @shlzxjp

Refine the copy of PAGX AI Skills pages for better clarity and technical accuracy.
  playground/skills-page.html
  playground/skills-page.zh_CN.html
Owners: @domchen, @Hparty, @shlzxjp

Move multi-round workflow description to tips section and simplify headings.
  playground/skills-page.html
  playground/skills-page.zh_CN.html
Owners: @domchen, @Hparty, @shlzxjp

Adjust paragraph structure and remove workflow cycle description.
  playground/skills-page.html
  playground/skills-page.zh_CN.html
Owners: @domchen, @Hparty, @shlzxjp

Adjust Tips section subtitles to have equal character count.
  playground/skills-page.zh_CN.html
Owners: @domchen, @Hparty, @shlzxjp

Unify AI Skills to AI and adjust paragraph structure.
  playground/index.html
  playground/skills-page.html
  playground/skills-page.zh_CN.html
Owners: @domchen, @Hparty, @shlzxjp

Update branding and improve descriptions.
  playground/skills-page.html
  playground/skills-page.zh_CN.html
Owners: @domchen, @Hparty, @shlzxjp

Remove target=_blank from all links to open in current window.
  playground/skills-page.html
  playground/skills-page.zh_CN.html
Owners: @domchen, @Hparty, @shlzxjp

Skip zip regeneration and preserve last-updated date when skills content is unchanged.
  playground/script/publish.cjs
Owners: @domchen, @Hparty, @shlzxjp

Restore AI Skills label in playground navigation buttons.
  playground/index.html
Owners: @domchen, @Hparty, @shlzxjp

Improve skills page content and optimize publish script (#3306)
  playground/script/publish.cjs
  playground/skills-page.html
  playground/skills-page.zh_CN.html
Owners: @domchen, @Hparty, @shlzxjp

Merge spec publish script into playground publish script with change detection.
  playground/package.json
  playground/script/publish.cjs
  playground/script/publish.js
  playground/script/spec-template.html
  spec/package.json
  spec/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Move spec markdown copies to latest/ directory instead of hidden .spec-source/ directory.
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant spec/favicon.png since playground already provides it.
  playground/script/publish.js
  spec/favicon.png
Owners: @domchen, @Hparty, @shlzxjp

Reorganize web page templates into pages/ directory to mirror published structure.
  playground/pages/skills/index.html
  playground/pages/skills/zh/index.html
  playground/pages/spec/template.html
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Fix code review issues in publish script: remove unused import, use let/const, add file existence checks.
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Preserve each spec version's own last-updated date instead of overwriting all with the same date.
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Always rebuild spec HTML instead of skipping when markdown is unchanged.
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Skip copying spec markdown to latest/ when content is unchanged.
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Avoid redundant file read in updateVersionLinks by extracting date from in-memory HTML.
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Add skill-creator skill for creating and testing CodeBuddy skills.
  .codebuddy/skills/skill-creator/LICENSE.txt
  .codebuddy/skills/skill-creator/SKILL.md
  .codebuddy/skills/skill-creator/agents/analyzer.md
  .codebuddy/skills/skill-creator/agents/comparator.md
  .codebuddy/skills/skill-creator/agents/grader.md
  .codebuddy/skills/skill-creator/assets/eval_review.html
  .codebuddy/skills/skill-creator/eval-viewer/generate_review.py
  .codebuddy/skills/skill-creator/eval-viewer/viewer.html
  .codebuddy/skills/skill-creator/references/schemas.md
  .codebuddy/skills/skill-creator/scripts/__init__.py
  .codebuddy/skills/skill-creator/scripts/aggregate_benchmark.py
  .codebuddy/skills/skill-creator/scripts/generate_report.py
  .codebuddy/skills/skill-creator/scripts/improve_description.py
  .codebuddy/skills/skill-creator/scripts/package_skill.py
  .codebuddy/skills/skill-creator/scripts/quick_validate.py
  .codebuddy/skills/skill-creator/scripts/run_eval.py
  .codebuddy/skills/skill-creator/scripts/run_loop.py
  .codebuddy/skills/skill-creator/scripts/utils.py
Owners: @domchen, @Hparty, @shlzxjp

Clarify auto-commit rules to avoid interfering with manual commit flow.
  .codebuddy/rules/Git.md
Owners: @domchen, @Hparty, @shlzxjp

Fix date extraction regex to skip closing strong tags in spec HTML.
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Simplify date extraction regex to match the exact generated HTML structure.
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Match date format instead of HTML tags in date extraction regex.
  playground/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Merge spec publish into playground publish script and add skill-creator skill (#3307)
  .codebuddy/rules/Git.md
  .codebuddy/skills/skill-creator/LICENSE.txt
  .codebuddy/skills/skill-creator/SKILL.md
  .codebuddy/skills/skill-creator/agents/analyzer.md
  .codebuddy/skills/skill-creator/agents/comparator.md
  .codebuddy/skills/skill-creator/agents/grader.md
  .codebuddy/skills/skill-creator/assets/eval_review.html
  .codebuddy/skills/skill-creator/eval-viewer/generate_review.py
  .codebuddy/skills/skill-creator/eval-viewer/viewer.html
  .codebuddy/skills/skill-creator/references/schemas.md
  .codebuddy/skills/skill-creator/scripts/__init__.py
  .codebuddy/skills/skill-creator/scripts/aggregate_benchmark.py
  .codebuddy/skills/skill-creator/scripts/generate_report.py
  .codebuddy/skills/skill-creator/scripts/improve_description.py
  .codebuddy/skills/skill-creator/scripts/package_skill.py
  .codebuddy/skills/skill-creator/scripts/quick_validate.py
  .codebuddy/skills/skill-creator/scripts/run_eval.py
  .codebuddy/skills/skill-creator/scripts/run_loop.py
  .codebuddy/skills/skill-creator/scripts/utils.py
  playground/package.json
  playground/pages/skills/index.html
  playground/pages/skills/zh/index.html
  playground/pages/spec/template.html
  playground/script/publish.cjs
  playground/script/publish.js
  spec/favicon.png
  spec/package.json
  spec/script/publish.js
Owners: @domchen, @Hparty, @shlzxjp

Update repository URL and add homepage for pagx npm package.
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Add --id and --xpath parameters to CLI bounds and render commands.
  src/cli/CommandBounds.cpp
  src/cli/CommandRender.cpp
  src/cli/XPathQuery.cpp
  src/cli/XPathQuery.h
Owners: @domchen, @Hparty, @shlzxjp

Remove skill-creator
  .codebuddy/skills/skill-creator/LICENSE.txt
  .codebuddy/skills/skill-creator/SKILL.md
  .codebuddy/skills/skill-creator/agents/analyzer.md
  .codebuddy/skills/skill-creator/agents/comparator.md
  .codebuddy/skills/skill-creator/agents/grader.md
  .codebuddy/skills/skill-creator/assets/eval_review.html
  .codebuddy/skills/skill-creator/eval-viewer/generate_review.py
  .codebuddy/skills/skill-creator/eval-viewer/viewer.html
  .codebuddy/skills/skill-creator/references/schemas.md
  .codebuddy/skills/skill-creator/scripts/__init__.py
  .codebuddy/skills/skill-creator/scripts/aggregate_benchmark.py
  .codebuddy/skills/skill-creator/scripts/generate_report.py
  .codebuddy/skills/skill-creator/scripts/improve_description.py
  .codebuddy/skills/skill-creator/scripts/package_skill.py
  .codebuddy/skills/skill-creator/scripts/quick_validate.py
  .codebuddy/skills/skill-creator/scripts/run_eval.py
  .codebuddy/skills/skill-creator/scripts/run_loop.py
  .codebuddy/skills/skill-creator/scripts/utils.py
Owners: @domchen, @Hparty, @shlzxjp

Add --id and --xpath parameters to pagx skill CLI documentation.
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Add id and xpath layer targeting with RenderToBitmap API and bitmap-based test comparisons.
  resources/cli/render_layer_target.pagx
  src/cli/CommandRender.cpp
  src/cli/CommandRender.h
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add reserve for argv vectors in RenderAndCompare and CallRun helpers.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Improve cli.md docs for --id and --xpath accuracy and completeness.
  .codebuddy/skills/pagx/references/cli.md
Owners: @domchen, @Hparty, @shlzxjp

Fix XPath injection in bounds --id by using direct findNode lookup instead of string interpolation.
  src/cli/CommandBounds.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant textLayout.layout() call that BuildWithMap already performs internally.
  src/cli/CommandBounds.cpp
Owners: @domchen, @Hparty, @shlzxjp

Pre-allocate results vector in EvaluateXPath when nodeset count is known.
  src/cli/XPathQuery.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update bounds help text to mention --id alongside --xpath.
  src/cli/CommandBounds.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add NativeWindow ownership tracking to prevent double-free on HarmonyOS.
  src/platform/android/JPAGSurface.cpp
  src/platform/ohos/GPUDrawable.cpp
  src/platform/ohos/GPUDrawable.h
  src/platform/ohos/JPAGSurface.cpp
  src/platform/ohos/JPAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Unify libxml2 vendor management with PAG_STATIC_VENDORS pattern.
  CMakeLists.txt
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add NativeWindow ownership tracking to prevent double-free on HarmonyOS. (#3309)
  src/platform/android/JPAGSurface.cpp
  src/platform/ohos/GPUDrawable.cpp
  src/platform/ohos/GPUDrawable.h
  src/platform/ohos/JPAGSurface.cpp
  src/platform/ohos/JPAGView.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
