Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Auto refresh repositioned layers on notifyChange layout. (#3562)
  include/pagx/PAGXDocument.h
  src/pagx/PAGXDocument.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add a global mutex to serialize PAGDecoder frame rendering across shared EGL contexts.
  src/rendering/PAGDecoder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Instantiate nested ViewModel from viewModelRef without Composition. (#3564)
  include/pagx/PAGScene.h
  src/pagx/PAGScene.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Replace JNI string conversion workarounds with direct NewStringUTF and GetStringUTFChars to fix FindClass crash on background threads.
  src/platform/android/JStringUtil.cpp
  src/platform/android/JStringUtil.h
Owners: @domchen, @Hparty, @shlzxjp

Replace Fragment-based lifecycle with View.onWindowVisibilityChanged to fix VerifyError on Android 15.
  android/libpag/src/main/java/org/extra/tools/Lifecycle.java
  android/libpag/src/main/java/org/extra/tools/LifecycleFragment.java
  android/libpag/src/main/java/org/extra/tools/LifecycleListener.java
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Update changelog for v1.9.7.
  pagx/wechat/CHANGELOG.md
Owners: @domchen, @Hparty, @shlzxjp

Bump pagx-viewer-miniprogram version to 1.9.7.
  pagx/wechat/package.json
Owners: @domchen, @Hparty, @shlzxjp

Add PAGX rendering risk scoring check with Mali GPU driver bug detection.
  pagx/wechat/script/copy-files.js
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/ts/binding.ts
  pagx/wechat/ts/pagx-check.ts
  pagx/wechat/ts/types.ts
  pagx/wechat/ts/wx-system-info.ts
Owners: @domchen, @Hparty, @shlzxjp

Remove CheckPagx from module binding for standalone import.
  pagx/wechat/ts/binding.ts
  pagx/wechat/ts/types.ts
Owners: @domchen, @Hparty, @shlzxjp

Translate all comments in pagx-check.ts to English.
  pagx/wechat/ts/pagx-check.ts
Owners: @domchen, @Hparty, @shlzxjp

Revert copy-files.js cocraft target additions.
  pagx/wechat/script/copy-files.js
Owners: @domchen, @Hparty, @shlzxjp

Separate hardware support from score field with deviceSupported and unsupportedReason.
  pagx/wechat/ts/pagx-check.ts
Owners: @domchen, @Hparty, @shlzxjp

Address review comments: fix NEUTRAL_SDK_BG_UNCACHEABLE_RISK DRY, remove unused model matching, unify doc dimension parsing.
  pagx/wechat/ts/pagx-check.ts
Owners: @domchen, @Hparty, @shlzxjp

Bump pagx-viewer-miniprogram version to 1.9.7 (#3549)
  pagx/wechat/CHANGELOG.md
  pagx/wechat/package.json
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/ts/pagx-check.ts
  pagx/wechat/ts/wx-system-info.ts
Owners: @domchen, @Hparty, @shlzxjp

Add debug logging to compare Fragment vs View lifecycle callbacks.
  android/app/src/main/java/libpag/pagviewer/LifecycleCompareView.java
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Add debug logging to compare new View lifecycle vs old Fragment lifecycle.
  android/libpag/src/main/java/org/libpag/PAGView.java
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView ANR on detach by using tryLock in DecoderInfo to avoid blocking the main thread when the hardware decoder hangs.
  android/libpag/src/main/java/org/libpag/PAGImageView.java
  android/libpag/src/main/java/org/libpag/PAGImageViewHelper.java
Owners: @domchen, @Hparty, @shlzxjp

Migrate WeChat PAGXView rendering and image bounds lookup onto PAGScene and remove the legacy display list content layer and builder session trees.
  include/pagx/PAGScene.h
  pagx/wechat/PAGScene_ADAPTATION.md
  pagx/wechat/PAGScene_IMPLEMENTATION_PLAN.md
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView staying blank when reset skips the busy decoder lock.
  android/libpag/src/main/java/org/libpag/PAGImageViewHelper.java
Owners: @domchen, @Hparty, @shlzxjp

Drive WeChat PAGXView animations each frame by advancing the default timeline and scene before rendering.
  pagx/wechat/PAGScene_IMPLEMENTATION_PLAN.md
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Make PAGImageView decoder size fields volatile so a busy-lock reset invalidates them visibly across threads.
  android/libpag/src/main/java/org/libpag/PAGImageViewHelper.java
Owners: @domchen, @Hparty, @shlzxjp

Simplify the reset() comment in DecoderInfo.
  android/libpag/src/main/java/org/libpag/PAGImageViewHelper.java
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGImageView freezing on stale content when a reset races the decoder rebuild.
  android/libpag/src/main/java/org/libpag/PAGImageViewHelper.java
Owners: @domchen, @Hparty, @shlzxjp

Route PAGX wechat background color through PAGScene and drop the checkerboard, defaulting to opaque white.
  pagx/wechat/README.md
  pagx/wechat/README.zh_CN.md
  pagx/wechat/src/GridBackground.cpp
  pagx/wechat/src/GridBackground.h
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/src/utils/StringParser.h
Owners: @domchen, @Hparty, @shlzxjp

Drop the manual surface clear in PAGX wechat draw and rely on scene autoClear like the playground viewer.
  pagx/wechat/src/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix new PAGX not appearing after switching document in the same view and early-return draw before scene is built.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Apply code formatting to the PAGX wechat image pattern matrix calculator.
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.cpp
  pagx/wechat/src/utils/ImagePatternMatrixCalculator.h
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGSurface Surface leak by releasing it in finalize to prevent DMA buffer fd accumulation.
  android/libpag/src/main/java/org/libpag/PAGSurface.java
Owners: @domchen, @Hparty, @shlzxjp

Extract releaseSurface helper to remove duplicated Surface release guard.
  android/libpag/src/main/java/org/libpag/PAGSurface.java
Owners: @domchen, @Hparty, @shlzxjp

Restore gesture-freeze blit, high-res snapshot capture, idle short-circuit and dirty gating for WeChat PAGScene rendering.
  include/pagx/PAGScene.h
  pagx/wechat/PAGScene_PERF_RESTORE.md
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Export id attribute for all Node subclasses in PAGXExporter to preserve identifiers
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reformat pagx import and resolve CLI usage text and input-dir line to satisfy the code formatter.
  src/cli/CommandImport.cpp
  src/cli/CommandResolve.cpp
Owners: @domchen, @Hparty, @shlzxjp

Export id attribute for all Node subclasses in PAGXExporter (#3572)
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update PAGXView snapshot member comments to reflect the restored fast-path pipeline.
  pagx/wechat/src/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Fix stale applyCenteringTransform reference in computeFitScale comment.
  pagx/wechat/src/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Stop tracking WeChat PAGScene design notes and ignore local PAGScene markdown files.
  pagx/wechat/.gitignore
Owners: @domchen, @Hparty, @shlzxjp

Remove WeChat PAGScene design notes from the repository.
  pagx/wechat/PAGScene_ADAPTATION.md
  pagx/wechat/PAGScene_IMPLEMENTATION_PLAN.md
  pagx/wechat/PAGScene_PERF_RESTORE.md
Owners: @domchen, @Hparty, @shlzxjp

Reformat a RunTransform call in the HTML importer test to satisfy the code formatter.
  test/src/PAGXHTMLImporterTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Wrap the SetAttribute signature in the HTML inline-SVG emitter to satisfy the code formatter.
  src/pagx/html/importer/HTMLInlineSvgEmitter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix dangling cross-references and stale CLI flags in the HTML subset spec and expand the pagx skill's reference table.
  .codebuddy/skills/pagx/SKILL.md
  spec/html_subset.md
  spec/html_subset.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp
