Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Remove unused bestFamily variable in FontConfig::findTypeface.
  src/pagx/FontConfig.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add early return in Polystar::computeBounds for pointCount <= 0.
  src/pagx/nodes/Polystar.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix double error logging in getEnumAttribute by returning default on invalid input.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix documentation comments in FontConfig and PAGXDocument headers.
  include/pagx/FontConfig.h
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant TextBox::updateSize override identical to Group::updateSize.
  include/pagx/nodes/TextBox.h
  src/pagx/nodes/TextBox.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify GlyphRun bounds field documentation to focus on public API semantics.
  include/pagx/nodes/GlyphRun.h
Owners: @domchen, @Hparty, @shlzxjp

Hoist loop-invariant flex flow check outside the loop in Layer::onMeasure.
  src/pagx/nodes/Layer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor validator to use static functions and add node identification and Composition checks.
  src/cli/CommandValidator.cpp
Owners: @domchen, @Hparty, @shlzxjp

Change static to inline in PAGXDefaults.h to avoid per-TU duplicate static locals.
  src/pagx/PAGXDefaults.h
Owners: @domchen, @Hparty, @shlzxjp

Replace lambda with named static function in RemoveEmptyLayers.
  src/cli/CommandOptimize.cpp
Owners: @domchen, @Hparty, @shlzxjp

Improve PAGXImporter input validation to skip malformed data and avoid double-parsing.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Restore default-value pruning for scales and rotations in CreateGlyphRunFromLayoutRun.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Make LocalizePathData recurse into nested Groups to find all Path elements.
  src/cli/CommandOptimize.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add pagx layout command with bounds API and problem detection.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  include/pagx/layout/LayoutNode.h
  include/pagx/nodes/Ellipse.h
  include/pagx/nodes/Group.h
  include/pagx/nodes/Path.h
  include/pagx/nodes/Polystar.h
  include/pagx/nodes/Rectangle.h
  include/pagx/nodes/TextPath.h
  resources/cli/layout_check_absolute.pagx
  resources/cli/layout_check_clean.pagx
  resources/cli/layout_check_clipped.pagx
  resources/cli/layout_check_elements.pagx
  resources/cli/layout_check_overlap.pagx
  resources/cli/layout_check_zero_size.pagx
  src/cli/CommandLayoutCheck.cpp
  src/cli/CommandLayoutCheck.h
  src/cli/CommandOptimize.cpp
  src/cli/main.cpp
  src/pagx/LayoutNode.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/nodes/Group.cpp
  src/pagx/nodes/Layer.cpp
  src/pagx/nodes/Path.cpp
  src/pagx/nodes/Polystar.cpp
  src/pagx/nodes/Rectangle.cpp
  src/pagx/nodes/Text.cpp
  src/pagx/nodes/TextBox.cpp
  src/pagx/nodes/TextPath.cpp
  test/src/PAGXCliTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix font fallback and linebox alignment issues for cross-platform consistency.
  src/pagx/LayoutContext.cpp
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify layout check output to omit pagx wrapper when no problems are found.
  .codebuddy/skills/pagx/references/cli.md
  src/cli/CommandLayoutCheck.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update skills documentation for XML layout output format.
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Fix Path and TextPath preferred size handling for zero-size detection.
  resources/cli/layout_check_path_zero.pagx
  src/cli/CliUtils.h
  src/cli/CommandLayoutCheck.cpp
  src/pagx/nodes/Path.cpp
  src/pagx/nodes/TextPath.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Replace minimal layout output example with a realistic multi-level layout tree.
  .codebuddy/skills/pagx/references/cli.md
Owners: @domchen, @Hparty, @shlzxjp

Improve layout output with ABSOLUTE positioning notation and element reporting.
  .codebuddy/skills/pagx/references/generate-guide.md
  src/cli/CommandLayoutCheck.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rewrite layout command output to XML format with layout attributes and Problem nodes.
  src/cli/CommandLayoutCheck.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix layout output indentation and simplify examples.
  .codebuddy/skills/pagx/references/cli.md
  src/cli/CommandLayoutCheck.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove DetectExcludedFromLayout check from layout validation.
  src/cli/CommandLayoutCheck.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update references and documentation for layout check placeholder nodes.
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  src/cli/CommandLayoutCheck.h
Owners: @domchen, @Hparty, @shlzxjp

Add placeholder nodes in layout check output to preserve sibling indices.
  resources/cli/layout_check_placeholder.pagx
  src/cli/CommandLayoutCheck.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Apply clang-format to CommandLayoutCheck.cpp.
  src/cli/CommandLayoutCheck.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update layout CLI tests for XML output format.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix zero-size cause analysis to check parent constraints before reporting.
  src/cli/CommandLayoutCheck.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add test for zero-size cause analysis with opposite-pair constraint parent.
  resources/cli/layout_check_flex_constraint_zero_parent.pagx
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Move Auto Layout and TextBox nesting checks to layout command.
  src/cli/CommandLayoutCheck.cpp
  src/cli/CommandValidator.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Simplify CommandLayoutCheck header comment to avoid hardcoded category count.
  src/cli/CommandLayoutCheck.h
Owners: @domchen, @Hparty, @shlzxjp

Add visual check guidance and layout diagnosis step to verification loop.
  .codebuddy/skills/pagx/references/generate-guide.md
  src/cli/CommandLayoutCheck.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove obsolete validate test resources (TextBox nesting and Group-in-TextBox checks moved to layout --check).
  resources/cli/validate_group_in_textbox.pagx
  resources/cli/validate_nested_textbox.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add layout check detections for content offset, flex, and zero-size analysis.
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/generate-guide.md
  resources/cli/layout_check_content_at_origin.pagx
  resources/cli/layout_check_content_offset.pagx
  resources/cli/layout_check_content_offset_constrained.pagx
  resources/cli/layout_check_content_offset_explicit_size.pagx
  resources/cli/layout_check_content_offset_flex.pagx
  resources/cli/layout_check_content_offset_group.pagx
  resources/cli/layout_check_content_offset_neg.pagx
  resources/cli/layout_check_flex_constraint_parent.pagx
  resources/cli/layout_check_flex_horizontal.pagx
  resources/cli/layout_check_flex_nested.pagx
  resources/cli/layout_check_flex_no_parent_size.pagx
  resources/cli/layout_check_flex_with_parent_size.pagx
  src/cli/CommandLayoutCheck.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Clarify pagx layout vs pagx bounds distinction in layout diagnosis step.
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify skills documentation to reduce redundancy and improve clarity.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Replace validate and optimize commands with unified lint command.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  src/cli/CommandLayoutCheck.cpp
  src/cli/CommandLint.cpp
  src/cli/CommandOptimize.cpp
  src/cli/CommandOptimize.h
  src/cli/CommandValidator.cpp
  src/cli/CommandValidator.h
  src/cli/main.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add explicit note to use pagx layout without --problems-only for diagnosis.
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Rename --check to --problems-only and add --depth option.
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  resources/cli/layout_check_depth.pagx
  src/cli/CommandLayoutCheck.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Clarify Step 5 wording for manual layout diagnosis.
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp
