Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix Android ANR caused by slow eglDestroyContext on PAGView detach (#3694)
  android/libpag/src/main/java/org/libpag/PAGView.java
  src/platform/android/EGLResourceDisposer.cpp
  src/platform/android/EGLResourceDisposer.h
  src/platform/android/GPUDrawable.cpp
  src/platform/android/GPUDrawable.h
  src/rendering/drawables/Drawable.h
Owners: @domchen, @Hparty, @shlzxjp

Fix Android ANR caused by slow eglDestroyContext on PAGView detach (#3694)
  android/libpag/src/main/java/org/libpag/PAGView.java
  src/platform/android/EGLResourceDisposer.cpp
  src/platform/android/EGLResourceDisposer.h
  src/platform/android/GPUDrawable.cpp
  src/platform/android/GPUDrawable.h
  src/rendering/drawables/Drawable.h
Owners: @domchen, @Hparty, @shlzxjp

Derive the async worker device from the external texture on Metal so forAsyncThread surfaces no longer always pick the system default GPU.
  src/rendering/PAGSurfaceFactory.cpp
  src/rendering/gpu/Devices.h
  src/rendering/gpu/Devices_GL.cpp
  src/rendering/gpu/Devices_Metal.mm
Owners: @domchen, @Hparty, @shlzxjp

Keep PAGX HTML mask groups text hosts and glyph positions intact on round trip.
  src/pagx/html/HTMLBuilder.h
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterFilter.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.cpp
  src/pagx/utils/Woff2FontGenerator.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Walk back to the owning device from the wrapped surface so pagx rendering works on backends without a current context.
  src/pagx/runtime/Drawable.h
Owners: @domchen, @Hparty, @shlzxjp

Keep unrelated screenshot baselines unchanged to preserve their regression checks.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix PAGX HTML mask and font export regressions (#3706)
  CMakeLists.txt
  resources/pagx_to_html/unit/large_charstring_operands_font.pagx
  src/pagx/html/HTMLBuilder.h
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLStyleExtractor.cpp
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterFilter.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLStyleCascade.h
  src/pagx/html/importer/HTMLTextFragmentBuilder.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.h
  src/pagx/utils/Woff2FontGenerator.cpp
  src/pagx/utils/Woff2FontGenerator.h
  test/baseline/version.json
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Require the owning device when wrapping a tgfx Surface so pagx rendering works on backends without a current context.
  include/pagx/tgfx.h
  pagx/wechat/src/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  src/pagx/PAGSurface.cpp
  src/pagx/runtime/Drawable.cpp
  src/pagx/runtime/Drawable.h
  viewer/src/rendering/pagx/PAGXRenderer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Migrate html2pagx font embedding to the new pagx embed command.
  tools/html-snapshot/README.md
  tools/html-snapshot/bench/README.md
  tools/html-snapshot/eval/README.md
  tools/html-snapshot/eval/run.js
  tools/html-snapshot/html2pagx
  tools/html-snapshot/lib/cli.ts
  tools/html-snapshot/lib/font-download.ts
  tools/html-snapshot/lib/pipeline.ts
  tools/html-snapshot/test/pipeline.test.js
Owners: @domchen, @Hparty, @shlzxjp

Resolve real italic faces instead of double shearing when fonts are embedded.
  src/pagx/TextLayout.cpp
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/utils/CSSFontStyle.cpp
  src/pagx/utils/CSSFontStyle.h
  src/renderer/FontEmbedder.cpp
  test/src/PAGXCSSFontStyleTest.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Route inline SVG data URIs through the SVG import directive.
  src/pagx/html/importer/HTMLElementEmitter.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Read the Metal pixel format from the real MTLTexture so readback and blending no longer silently swap red and blue for BGRA textures.
  CMakeLists.txt
  include/pag/c/pag_backend_texture.h
  include/pag/c/pag_types.h
  include/pag/gpu.h
  src/base/utils/TGFXCast.cpp
  src/base/utils/TGFXCast_Metal.mm
  src/c/pag_backend_texture.cpp
  test/src/PAGBlendTest.cpp
  test/src/utils/TestUtils.h
  test/src/utils/TestUtils_Metal.mm
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Expand sticky scrollytelling into tiled segments so PAGX export keeps all steps
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/test/sticky-expand.test.js
Owners: @domchen, @Hparty, @shlzxjp

Wait for document fonts before measuring so webfont metrics drive snapshot line wrapping.
  tools/html-snapshot/lib/page-loader.ts
Owners: @domchen, @Hparty, @shlzxjp

Record shaping font files in PAGX so downstream editors re-shape text with identical typefaces.
  include/pagx/FontConfig.h
  src/cli/CommandEmbed.cpp
  src/pagx/FontConfig.cpp
  src/pagx/TypefaceHolder.h
  src/renderer/FontEmbedder.cpp
  src/renderer/FontEmbedder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Materialize decorative pseudos and layered background clips so HTML imports keep status dots and gradient borders.
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLLayerBuilder.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLSubsetPropertyTable.cpp
  src/pagx/html/importer/HTMLValueParser.cpp
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/test/pseudo-materialise.test.js
Owners: @domchen, @Hparty, @shlzxjp

Keep zero-area overflow-clipped HTML content hidden in exported PAGX.
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Inline shaping font bytes as base64 data URIs so a single PAGX file re-shapes text identically anywhere.
  include/pagx/FontConfig.h
  include/pagx/nodes/Font.h
  src/cli/CommandEmbed.cpp
  src/pagx/FontConfig.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/TypefaceHolder.h
  src/renderer/FontEmbedder.cpp
  src/renderer/FontEmbedder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Clip HTML layers whose overflow shorthand hides one axis so off screen carousel clones no longer bleed in.
  spec/html_subset.md
  src/pagx/html/importer/HTMLStyleCascade.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Center HTML background images positioned by percentage so icons no longer render in the top left corner.
  src/pagx/html/importer/HTMLElementEmitter.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix HTML import so text colored by a clipped solid background renders as text instead of a black block.
  spec/html_subset.md
  spec/html_subset.zh_CN.md
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLStyleCascade.h
  src/pagx/html/importer/HTMLTextFragmentBuilder.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Render HTML-imported SVG backgrounds as vector nodes and deliver only portable image formats.
  src/cli/CommandVerify.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/html/HTMLWriter.h
  src/pagx/html/importer/HTMLElementEmitter.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/ImageMime.cpp
  src/pagx/utils/ImageMime.h
  test/src/PAGXHTMLImporterTest.cpp
  test/src/PAGXUtilsTest.cpp
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Write HTML-imported text with font names the platform resolves so editors stop reporting missing fonts.
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLStyleCascade.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Resolve unavailable system font styles within family.
  src/cli/CliUtils.h
  src/pagx/FontConfig.cpp
  src/pagx/LayoutContext.cpp
  src/pagx/SystemFonts.h
  src/pagx/SystemTypeface.cpp
  test/src/PAGTypefaceCacheTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Resolve system fonts by file path so text keeps its real family and weight.
  src/pagx/LayoutContext.cpp
  src/pagx/LayoutContext.h
Owners: @domchen, @Hparty, @shlzxjp

Write a cached image back onto its element so imports no longer lose that picture.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp

Keep remote SVG backgrounds on the raster path so imported documents still resolve.
  src/pagx/html/importer/HTMLElementEmitter.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Measure text with the squashed advance so bounds match the laid out line.
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Bake glyph outlines during import so exported PAGX renders without host fonts.
  src/cli/CliUtils.cpp
  src/cli/CliUtils.h
  src/cli/CommandEmbed.cpp
  src/cli/CommandImport.cpp
  tools/html-snapshot/lib/pipeline.ts
Owners: @domchen, @Hparty, @shlzxjp

Accept screenshot baselines for the corrected fonts and text bounds.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix PAGX files failing to load when HTML inlines SVG with an XML prolog.
  src/pagx/html/importer/HTMLElementEmitter.cpp
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Stop flagging pixel-snapped layout children as overlapping or out of bounds.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Keep padding-box background clips so gradient borders survive import.
  test/src/PAGXHTMLImporterTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Restore the branch screenshot baselines for font-subset and infographic exports.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rewrite HTML space-evenly imports into an equivalent space-between form.
  src/pagx/html/importer/HTMLSubsetTransformer.cpp
  src/pagx/html/importer/HTMLTransformPasses.cpp
  src/pagx/html/importer/HTMLTransformPasses.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Stop SVG background icons from merging into their host box and rendering as solid blocks.
  src/pagx/PAGXOptimizer.cpp
  test/src/PAGXOptimizerTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename the verify layout snap tolerance constant to follow the project naming rules.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace the lambda in the font source lookup with a file-level helper function.
  src/pagx/FontConfig.cpp
Owners: @domchen, @Hparty, @shlzxjp

Count the flex gap when compensating space-evenly padding.
  src/pagx/html/importer/HTMLTransformPasses.cpp
  src/pagx/html/importer/HTMLTransformPasses.h
Owners: @domchen, @Hparty, @shlzxjp

Pin the sticky panel sizing model before writing its measured border-box width.
  tools/html-snapshot/lib/browser-snapshot.ts
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
