Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix Ellipse overlapping in skills_tab_bar by removing conflicting constraints.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Redesign group_matrix test for inverse matrix validation with non-uniform scale and nested rotation cases.
  resources/text/baseline.pagx
  resources/text/group_matrix.pagx
  src/pagx/TextLayout.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Clarify Group usage in PAGX skill docs to prevent unnecessary wrapping.
  .codebuddy/skills/pagx/references/spec-essentials.md
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/pagx/LayoutNode.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update screenshot baseline versions for text rendering and layout tests.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update screenshot baselines for TextBlob render-phase generation and group matrix fixes.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix Polystar position and update text content in game HUD and layout samples.
  .codebuddy/skills/pagx/references/spec-essentials.md
  resources/layout/constraint_text.pagx
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/5.4.2_round_corner.pagx
  spec/samples/C.4_game_hud.pagx
  src/pagx/LayoutNode.cpp
  src/renderer/GlyphRunRenderer.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Restore stroke width to 1 in TextBoxEmbeddedGlyphRun test.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix GlyphRunRenderer inverse matrix application and move TextBlob generation to render phase.
  resources/text/group_matrix.pagx
  src/pagx/TextLayout.cpp
  src/pagx/nodes/Text.cpp
  src/pagx/nodes/TextBox.cpp
  src/renderer/GlyphRunRenderer.cpp
  src/renderer/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Inline GetPNGDimensionsFromPath into GetImagePNGDimensions to remove redundant intermediate function.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move Polystar computeBounds implementation from header to cpp file.
  include/pagx/nodes/Polystar.h
  src/pagx/nodes/Polystar.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add write error check after ofstream output in ConvertToPAGX.
  src/cli/CommandConvert.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant nodeType condition in CheckTextBoxNesting.
  src/cli/CommandValidator.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace std::stoi with strtol to avoid throwing exceptions on malformed input.
  src/cli/CommandValidator.cpp
Owners: @domchen, @Hparty, @shlzxjp

Consolidate duplicate WriteRunWithMode and WriteLayoutRunWithMode into a single WriteGlyphsWithMode function.
  src/renderer/GlyphRunRenderer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add individual doc comments for public constraint attributes in LayoutNode.
  include/pagx/layout/LayoutNode.h
Owners: @domchen, @Hparty, @shlzxjp

Fix comment-parameter name mismatch for skipTextLayout in CollectLayoutNodes.
  include/pagx/layout/LayoutNode.h
Owners: @domchen, @Hparty, @shlzxjp

Add bounds check for chars access in ExtractLineText to prevent out-of-bounds read.
  src/pagx/svg/SVGTextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add doc comments to TextLayoutGlyphRun struct fields.
  include/pagx/nodes/Text.h
Owners: @domchen, @Hparty, @shlzxjp

Handle Path position offset as translate transform in SVG export consistent with renderer.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove stale duplicate comment superseded by the more detailed comment below it.
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add explicit keyword to TextLayoutContext single-argument constructor.
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract duplicate DefaultDoc and Default helpers into shared PAGXDefaults.h header.
  src/pagx/PAGXDefaults.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix padding validation to reject invalid count values and skip assignment on errors.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add null guard for fontConfig_ in non-HarfBuzz fallback path to prevent null pointer dereference.
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove dead bestFamily tiebreak in Stage 2 typeface lookup.
  src/pagx/FontConfig.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify redundant baseline expression in precomputedBaselines calculation.
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add commit audit step and semantic verification to coordinator fix validation.
  .codebuddy/skills/cr/references/teams-review.md
Owners: @domchen, @Hparty, @shlzxjp

Fix code formatting in CommandValidator and SVGExporter.
  src/cli/CommandValidator.cpp
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add SVG export test for Group skew transform direction.
  src/pagx/svg/SVGExporter.cpp
  src/pagx/svg/SVGTextLayout.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Simplify verifier cross-module check and revert unnecessary coordinator changes.
  .codebuddy/skills/cr/references/teams-review.md
Owners: @domchen, @Hparty, @shlzxjp

Add cross-module verification requirements to code review verifier prompt.
  .codebuddy/skills/cr/references/teams-review.md
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG skew direction with test coverage for Group transform validation.
  src/pagx/svg/SVGExporter.cpp
  src/pagx/svg/SVGTextLayout.cpp
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update baseline screenshots for layout constraint and SVG export tests.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add XML source editor panel for PAGX files with syntax highlighting.
  viewer/assets/qml/MainForm.qml
  viewer/assets/qml/XMLSourceEditor.qml
  viewer/assets/res.qrc
  viewer/assets/translation/Chinese.ts
  viewer/src/audio/PAGAudioRender.cpp
  viewer/src/rendering/pagx/PAGXView.cpp
  viewer/src/rendering/pagx/PAGXViewModel.cpp
  viewer/src/rendering/pagx/PAGXViewModel.h
  viewer/src/rendering/pagx/XmlLinesModel.cpp
  viewer/src/rendering/pagx/XmlLinesModel.h
  viewer/src/rendering/pagx/XmlSyntaxHighlighter.cpp
  viewer/src/rendering/pagx/XmlSyntaxHighlighter.h
Owners: @domchen, @Hparty, @shlzxjp

Fix spurious device unlock and float equality comparison in viewer rendering.
  viewer/src/rendering/pag/PAGViewModel.cpp
  viewer/src/rendering/pagx/PAGXRenderer.cpp
  viewer/src/rendering/pagx/PAGXViewModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix image disappearing when switching PAGX files in viewer.
  viewer/src/rendering/ContentView.cpp
  viewer/src/rendering/ContentView.h
  viewer/src/rendering/pagx/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove debug logging from XmlLinesModel and XMLSourceEditor.
  viewer/assets/qml/XMLSourceEditor.qml
  viewer/src/rendering/pagx/XmlLinesModel.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add ExporterUtils with shared helper functions for PAGX exporters.
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Refactor SVGTextLayout to reuse ComputeGlyphPaths from ExporterUtils.
  src/pagx/svg/SVGTextLayout.cpp
  src/pagx/svg/SVGTextLayout.h
Owners: @domchen, @Hparty, @shlzxjp

Refactor SVGExporter to reuse shared helpers from ExporterUtils.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
