Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rewrite pagx font cli reference to match the flat command and drop retired info subsection.
  .codebuddy/skills/pagx/references/cli.md
Owners: @domchen, @Hparty, @shlzxjp

Update Font::file doc-comment to match the embed flow that preserves the source node.
  include/pagx/nodes/Font.h
Owners: @domchen, @Hparty, @shlzxjp

Add missing StreamCapture RAII helper used by Font file CLI tests.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Run clang-format on PAGXDocument.cpp to satisfy project style.
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add --embed-fonts to html-snapshot html2pagx and eval runner so downloaded web fonts are embedded into the .pagx for self-contained, metric-accurate rendering.
  tools/html-snapshot/eval/run.js
  tools/html-snapshot/html2pagx
Owners: @domchen, @Hparty, @shlzxjp

Share GlyphRun per-glyph matrix composition between PAGX-native and PAG inflater so anchors scales rotations and skews land identically across both render paths.
  src/pagx/pag/LayerInflater.cpp
  src/renderer/GlyphRunRenderer.cpp
  src/renderer/GlyphRunRenderer.h
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx commit.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add --download-images to html-snapshot so page images are saved to disk instead of inlined as base64.
  tools/html-snapshot/bench/README.md
  tools/html-snapshot/bench/run-bench.sh
  tools/html-snapshot/bench/run-cases.sh
  tools/html-snapshot/bench/run-in-container.sh
  tools/html-snapshot/bench/run-native.sh
  tools/html-snapshot/eval/README.md
  tools/html-snapshot/eval/run.js
  tools/html-snapshot/html2pagx
  tools/html-snapshot/lib/cli.js
  tools/html-snapshot/lib/image-download.js
  tools/html-snapshot/lib/snapshot-runner.js
  tools/html-snapshot/snapshot.js
  tools/html-snapshot/test/cli.test.js
  tools/html-snapshot/test/image-download.test.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Resolve relative img src in html-snapshot to absolute filesystem paths so PAGX subsets render correctly when written to a different directory than the source images.
  tools/html-snapshot/lib/browser-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Address SVG exporter PR review: share modifier resolver with PPT, align rasterize options, surface degradation warnings.
  include/pagx/SVGExporter.h
  src/pagx/ppt/PPTModifierResolver.cpp
  src/pagx/ppt/PPTModifierResolver.h
  src/pagx/ppt/PPTWriter.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/ModifierResolver.cpp
  src/pagx/utils/ModifierResolver.h
  test/src/PAGXPPTTest.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update tgfx commit for ssaa test.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Warn when SVG ImagePattern Mirror or Clamp bake fails so callers can see the wrap mode degradation.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Split ExporterUtils god utility into ImageFormatUtils RasterUtils TextUtils and StrokeGeometryUtils for clearer module boundaries.
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTWriter.h
  src/pagx/ppt/PPTWriterContext.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ImageFormatUtils.cpp
  src/pagx/utils/ImageFormatUtils.h
  src/pagx/utils/RasterUtils.cpp
  src/pagx/utils/RasterUtils.h
  src/pagx/utils/StrokeGeometryUtils.cpp
  src/pagx/utils/StrokeGeometryUtils.h
  src/pagx/utils/TextUtils.cpp
  src/pagx/utils/TextUtils.h
  test/src/PAGXUtilsTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix Windows font path resolution and path comments.
  include/pagx/PAGXDocument.h
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

Honour scrollRect in SVG rasterize bake and stop contour mask clip-path overwrite.
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/RasterUtils.cpp
  src/pagx/utils/RasterUtils.h
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Share atomic-write, capture-listener, and config defaults across html-snapshot CLI and HTTP server.
  tools/html-snapshot/build-browser-bundle.js
  tools/html-snapshot/lib/atomic-write.js
  tools/html-snapshot/lib/browser-snapshot.js
  tools/html-snapshot/lib/capture-listener.js
  tools/html-snapshot/lib/cli.js
  tools/html-snapshot/lib/font-download.js
  tools/html-snapshot/lib/image-download.js
  tools/html-snapshot/lib/snapshot-runner.js
  tools/html-snapshot/server.js
Owners: @domchen, @Hparty, @shlzxjp

Fix iOS main thread watchdog hangs caused by VideoToolbox decoding deadlocks on app deactivation.
  src/platform/ios/private/HardwareDecoder.h
  src/platform/ios/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Publish pagx-viewer
  pagx/wechat/pagx-viewer-miniprogram/CHANGELOG.md
  pagx/wechat/pagx-viewer-miniprogram/README.md
  pagx/wechat/pagx-viewer-miniprogram/package.json
  pagx/wechat/wx_demo/app.json
  pagx/wechat/wx_demo/pages/viewer/viewer.js
Owners: @domchen, @Hparty, @shlzxjp

Skip VideoToolbox decoding while iOS app is inactive to avoid retry-induced watchdog hangs.
  src/platform/ios/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Share the html-to-pagx pipeline between html2pagx and eval/run.js so behaviour changes land in one place.
  tools/html-snapshot/eval/run.js
  tools/html-snapshot/html2pagx
  tools/html-snapshot/lib/pagx-runner.js
  tools/html-snapshot/lib/pipeline.js
Owners: @domchen, @Hparty, @shlzxjp

Fold the batch-html2pagx wrapper into html2pagx --batch so a single Chromium is shared across the whole batch instead of relaunched per file.
  tools/html-snapshot/batch-html2pagx.sh
  tools/html-snapshot/html2pagx
  tools/html-snapshot/lib/batch.js
  tools/html-snapshot/lib/pipeline.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Drop duplicate helpers in html-snapshot pipeline and html2pagx by sharing filterKnownWarnings isHttpUrl and parseNumber.
  tools/html-snapshot/html2pagx
  tools/html-snapshot/lib/pagx-runner.js
  tools/html-snapshot/lib/pipeline.js
  tools/html-snapshot/lib/snapshot-runner.js
Owners: @domchen, @Hparty, @shlzxjp

Upgrade tgfx
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Decouple html-snapshot library modules from CLI argv parsing and rename the fork-snapshot helper to disambiguate it from the in-process runner.
  tools/html-snapshot/eval/baseline.js
  tools/html-snapshot/eval/run.js
  tools/html-snapshot/lib/batch.js
  tools/html-snapshot/lib/capture-listener.js
  tools/html-snapshot/lib/cli.js
  tools/html-snapshot/lib/common.js
  tools/html-snapshot/lib/font-download.js
  tools/html-snapshot/lib/http-utils.js
  tools/html-snapshot/lib/icon-font.js
  tools/html-snapshot/lib/image-download.js
  tools/html-snapshot/lib/pipeline.js
  tools/html-snapshot/lib/snapshot-runner.js
  tools/html-snapshot/server.js
  tools/html-snapshot/snapshot.js
  tools/html-snapshot/test/cli.test.js
  tools/html-snapshot/test/common.test.js
Owners: @domchen, @Hparty, @shlzxjp

Share the font codec loader, the launch-failure hint, and the child-process error base across html-snapshot modules to drop three repeated copies.
  tools/html-snapshot/lib/browser-engine.js
  tools/html-snapshot/lib/errors.js
  tools/html-snapshot/lib/font-codec.js
  tools/html-snapshot/lib/font-download.js
  tools/html-snapshot/lib/icon-font.js
  tools/html-snapshot/lib/pagx-runner.js
  tools/html-snapshot/lib/pipeline.js
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Drop the dead id-allocator field on HTMLLayerBuilder, replace two lambdas with named functions, forward-declare PAGXDocument in headers, and prune an unused HTMLTransformContext include.
  src/pagx/html/importer/HTMLCssCascade.h
  src/pagx/html/importer/HTMLDetail.cpp
  src/pagx/html/importer/HTMLDetail.h
  src/pagx/html/importer/HTMLDiagnosticSink.cpp
  src/pagx/html/importer/HTMLDiagnosticSink.h
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLLayerBuilder.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLStyleCascade.h
  src/pagx/html/importer/HTMLTransformPasses.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add unit tests for html-snapshot helpers atomic-write capture-listener errors font-codec pipeline and batch.
  tools/html-snapshot/test/atomic-write.test.js
  tools/html-snapshot/test/batch.test.js
  tools/html-snapshot/test/capture-listener.test.js
  tools/html-snapshot/test/errors.test.js
  tools/html-snapshot/test/font-codec.test.js
  tools/html-snapshot/test/pipeline.test.js
Owners: @domchen, @Hparty, @shlzxjp

Rename inactive-state flag to drop g_ prefix for project naming consistency.
  src/platform/ios/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Reorder CSSFontStyle include in TextLayout to keep pagx headers grouped alphabetically.
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix iOS VideoToolbox watchdog hangs on app deactivation by invalidating decoder session. (#3473)
  src/platform/ios/private/HardwareDecoder.h
  src/platform/ios/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix HarmonyOS NV12 upload crash by padding frame buffer for Mali driver overread.
  src/platform/ohos/OHOSVideoDecoder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix iOS VideoToolbox watchdog hangs on app deactivation by invalidating decoder session. (#3473)
  src/platform/ios/private/HardwareDecoder.h
  src/platform/ios/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix iOS VideoToolbox watchdog hangs on app deactivation by invalidating decoder session. (#3473)
  src/platform/ios/private/HardwareDecoder.h
  src/platform/ios/private/HardwareDecoder.mm
Owners: @domchen, @Hparty, @shlzxjp

Fix HarmonyOS NV12 upload crash by padding frame buffer for Mali driver overread. (#3476)
  src/platform/ohos/OHOSVideoDecoder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix HarmonyOS NV12 upload crash by padding frame buffer for Mali driver overread. (#3476)
  src/platform/ohos/OHOSVideoDecoder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX unity build text helper collision.
  src/pagx/nodes/Text.cpp
Owners: @domchen, @Hparty, @shlzxjp

Import parseNumber directly from common in html2pagx and drop the cli re-export.
  tools/html-snapshot/html2pagx
  tools/html-snapshot/lib/cli.ts
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG Group alpha leaking onto outer painters that render the group's geometry.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to latest commit.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Update tgfx dependency to latest commit. (#3479)
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
