Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add PAGX runtime animation data model with XML round-trip and tests.
  include/pagx/PAGXDocument.h
  include/pagx/animation/Animation.h
  include/pagx/animation/AnimationObject.h
  include/pagx/animation/Keyframe.h
  include/pagx/animation/Property.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Node.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add Drawable abstraction with web canvas backend and wasm bindings.
  include/pagx/PAGSurface.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGSurface.cpp
  src/pagx/runtime/Drawable.h
  src/pagx/runtime/OffscreenDrawable.cpp
  src/pagx/runtime/OffscreenDrawable.h
  src/platform/web/PAGWasmBindings.cpp
  src/platform/web/PagxCanvasDrawable.cpp
  src/platform/web/PagxCanvasDrawable.h
Owners: @domchen, @Hparty, @shlzxjp

Add cross-document Composition with sealed external doc and cycle detection.
  include/pagx/PAGFile.h
  include/pagx/PAGTimeline.h
  include/pagx/PAGXImporter.h
  include/pagx/nodes/Composition.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/pagx/runtime/PAGComposition.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Wire offscreen PAGSurface, PAGFile draw, and replace Layer.timelines string list with Timeline driver.
  include/pagx/PAGFile.h
  include/pagx/PAGSurface.h
  include/pagx/PAGTimeline.h
  include/pagx/nodes/Layer.h
  include/pagx/timeline/AnimationTimeline.h
  include/pagx/timeline/Timeline.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGSurface.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/runtime/PAGFileInternal.h
  src/pagx/runtime/PAGSurfaceImpl.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add PAGFile PAGTimeline PAGSurface skeletons with live file registration.
  include/pagx/PAGFile.h
  include/pagx/PAGSurface.h
  include/pagx/PAGTimeline.h
  include/pagx/PAGXDocument.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGSurface.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/PAGXDocument.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add bezier easing for keyframe interpolation across float and color channels.
  CMakeLists.txt
  include/pagx/animation/Property.h
  src/pagx/animation/Property.cpp
  src/pagx/runtime/BezierEasing.cpp
  src/pagx/runtime/BezierEasing.h
  src/pagx/runtime/KeyframeEvaluator.h
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add ChannelRegistry with P0 channel writers and microsecond-based PAGTimeline.
  CMakeLists.txt
  include/pagx/PAGFile.h
  include/pagx/PAGTimeline.h
  include/pagx/animation/Property.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/runtime/AnimContext.h
  src/pagx/runtime/ChannelRegistry.cpp
  src/pagx/runtime/ChannelRegistry.h
  src/pagx/runtime/MixUtils.h
  src/pagx/runtime/PAGFileInternal.h
  src/pagx/runtime/channels/BlurFilterChannels.cpp
  src/pagx/runtime/channels/ColorStopChannels.cpp
  src/pagx/runtime/channels/DropShadowFilterChannels.cpp
  src/pagx/runtime/channels/DropShadowStyleChannels.cpp
  src/pagx/runtime/channels/LayerChannels.cpp
  src/pagx/runtime/channels/SolidColorChannels.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add nested Composition slots with per-slot timelines and master clock advance.
  include/pagx/PAGFile.h
  include/pagx/PAGTimeline.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/pagx/runtime/PAGComposition.h
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Support external PAGX loading through document resources.
  include/pagx/PAGXDocument.h
  include/pagx/nodes/Layer.h
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXImporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Replace PAGX channel registry with runtime target bindings.
  include/pagx/PAGFile.h
  include/pagx/PAGTimeline.h
  src/cli/CommandBounds.cpp
  src/cli/CommandRender.cpp
  src/pagx/PAGFile.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/runtime/AnimContext.h
  src/pagx/runtime/ChannelRegistry.cpp
  src/pagx/runtime/ChannelRegistry.h
  src/pagx/runtime/PAGComposition.cpp
  src/pagx/runtime/PAGComposition.h
  src/pagx/runtime/PAGFileInternal.h
  src/pagx/runtime/channels/BlurFilterChannels.cpp
  src/pagx/runtime/channels/ColorStopChannels.cpp
  src/pagx/runtime/channels/DropShadowFilterChannels.cpp
  src/pagx/runtime/channels/DropShadowStyleChannels.cpp
  src/pagx/runtime/channels/LayerChannels.cpp
  src/pagx/runtime/channels/SolidColorChannels.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Replace TypedProperty dynamic_cast dispatch with valueType enum switch.
  include/pagx/animation/Property.h
  src/pagx/PAGXExporter.cpp
  src/pagx/animation/Property.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add PAGX display options and move animation headers.
  include/pagx/PAGDisplayOptions.h
  include/pagx/PAGFile.h
  include/pagx/PAGTimeline.h
  include/pagx/nodes/Animation.h
  include/pagx/nodes/AnimationObject.h
  include/pagx/nodes/AnimationTimeline.h
  include/pagx/nodes/Keyframe.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Property.h
  include/pagx/nodes/Timeline.h
  src/pagx/PAGDisplayOptions.cpp
  src/pagx/PAGFile.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/animation/Property.cpp
  src/pagx/runtime/AnimContext.h
  src/pagx/runtime/KeyframeEvaluator.h
  src/pagx/runtime/PAGComposition.cpp
  src/pagx/runtime/PAGComposition.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Restore PAGXImporter main behavior.
  include/pagx/PAGXImporter.h
  src/pagx/PAGXImporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Limit PAGX web bindings to surface and fix test build.
  src/pagx/PAGDisplayOptions.cpp
  src/pagx/PAGFile.cpp
  src/pagx/PAGSurface.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/animation/Property.cpp
  src/pagx/runtime/KeyframeEvaluator.h
  src/pagx/runtime/OffscreenDrawable.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/platform/web/PAGWasmBindings.cpp
  src/renderer/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refactor PAGSurface
  include/pagx/PAGSurface.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGSurface.cpp
  src/pagx/runtime/Drawable.h
  src/pagx/runtime/PAGSurfaceImpl.h
  src/platform/web/PAGWasmBindings.cpp
  src/platform/web/pagx/GPUDrawable.cpp
  src/platform/web/pagx/GPUDrawable.h
Owners: @domchen, @Hparty, @shlzxjp

Simplify PAGX display options ownership.
  include/pagx/PAGDisplayOptions.h
  include/pagx/PAGFile.h
  src/pagx/PAGDisplayOptions.cpp
  src/pagx/PAGFile.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Guard animation channel writers against mismatched keyframe value types.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move external PAGX document ownership to layers.
  include/pagx/PAGTimeline.h
  include/pagx/nodes/Composition.h
  include/pagx/nodes/Layer.h
  src/pagx/PAGXDocument.cpp
  src/pagx/runtime/PAGComposition.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add public API doc comments for PAGX animation node types and fix getDefaultTimeline doc.
  include/pagx/PAGFile.h
  include/pagx/nodes/Animation.h
  include/pagx/nodes/AnimationObject.h
  include/pagx/nodes/Keyframe.h
  include/pagx/nodes/Property.h
Owners: @domchen, @Hparty, @shlzxjp

Move render mode conversion to TGFX helpers.
  src/pagx/PAGDisplayOptions.cpp
  src/renderer/ToTGFX.cpp
  src/renderer/ToTGFX.h
Owners: @domchen, @Hparty, @shlzxjp

Remove the unused pagx Color MixColor overload from MixUtils.
  src/pagx/runtime/MixUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Clarify SolveBezierEasing doc that out-of-range input short-circuits to endpoints.
  src/pagx/runtime/BezierEasing.h
Owners: @domchen, @Hparty, @shlzxjp

Drive nested composition slot timelines recursively and add Text position animation channels.
  include/pagx/PAGFile.h
  src/pagx/PAGFile.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/pagx/runtime/PAGComposition.h
  src/renderer/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reword PAGComposition advance doc to drop stale master clock phrasing.
  src/pagx/runtime/PAGComposition.h
Owners: @domchen, @Hparty, @shlzxjp

Guard PAGX web bindings and drawable behind PAG_BUILD_PAGX to fix wasm link without PAGX.
  src/platform/web/PAGWasmBindings.cpp
  src/platform/web/pagx/GPUDrawable.cpp
Owners: @domchen, @Hparty, @shlzxjp

Drop Rive reference from PAGFile advance doc comment.
  include/pagx/PAGFile.h
Owners: @domchen, @Hparty, @shlzxjp

Make PAGComposition a public pimpl class and let PAGFile inherit it.
  include/pagx/PAGComposition.h
  include/pagx/PAGFile.h
  src/pagx/PAGFile.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/pagx/runtime/PAGComposition.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Decouple PAGFile advance to drive only composition timelines and rename runtime slot concept to composition.
  include/pagx/PAGFile.h
  src/pagx/PAGFile.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/pagx/runtime/PAGComposition.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Decouple PAGTimeline from PAGFile via a stateless ApplyAnimation helper.
  include/pagx/PAGFile.h
  include/pagx/PAGTimeline.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGTimeline.cpp
Owners: @domchen, @Hparty, @shlzxjp

Merge PAGFile getDisplayOptions overloads into a single const accessor.
  include/pagx/PAGFile.h
  src/pagx/PAGFile.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rewrite PAGX runtime public API doc comments from the user's perspective.
  include/pagx/PAGComposition.h
  include/pagx/PAGFile.h
  include/pagx/PAGLayer.h
  include/pagx/PAGTimeline.h
Owners: @domchen, @Hparty, @shlzxjp

Align PAGX runtime getters with legacy PAG naming by dropping the get prefix.
  include/pagx/PAGFile.h
  include/pagx/PAGLayer.h
  include/pagx/PAGTimeline.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGLayer.cpp
  src/pagx/PAGTimeline.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Align hit testing with tgfx: getLayersUnderPoint plus PAGLayer hitTestPoint and global matrix.
  include/pagx/PAGComposition.h
  include/pagx/PAGFile.h
  include/pagx/PAGLayer.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGLayer.cpp
  src/pagx/runtime/PAGComposition.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Make hit-test node resolution recurse through all descendant compositions.
  src/pagx/runtime/PAGComposition.cpp
  src/pagx/runtime/PAGComposition.h
Owners: @domchen, @Hparty, @shlzxjp

Add hit testing via a layer reverse map and a minimal PAGLayer handle.
  include/pagx/PAGComposition.h
  include/pagx/PAGFile.h
  include/pagx/PAGLayer.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGLayer.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Let PAGComposition construct its timelines directly and drop the PAGFile factory.
  include/pagx/PAGFile.h
  src/pagx/PAGFile.cpp
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Drop redundant using-declarations for inherited PAGComposition advance and apply.
  include/pagx/PAGFile.h
Owners: @domchen, @Hparty, @shlzxjp

Add per-instance hit-test reverse-map isolation test for shared compositions.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add PAGLayer local bounds and PAGFile surface bounds aligned with legacy PAG.
  include/pagx/PAGFile.h
  include/pagx/PAGLayer.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGLayer.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Make PAGLayer the runtime layer base class for PAGComposition and PAGFile.
  include/pagx/PAGComposition.h
  include/pagx/PAGFile.h
  include/pagx/PAGLayer.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGLayer.cpp
  src/pagx/runtime/PAGComposition.cpp
  src/pagx/runtime/PAGComposition.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
