Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix compilation errors.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix TextBox text alignment by syncing measuredX/Y after re-typesetting in updateLayout.
  src/pagx/nodes/Text.cpp
  src/pagx/nodes/TextBox.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix Qt GPUDrawable surface not updating when size changes.
  DEPS
  src/platform/qt/GPUDrawable.cpp
  viewer/assets/translation/Chinese.ts
  viewer/package/templates/Info.plist
  viewer/package/templates/windows-setup.iss
  viewer/src/rendering/pagx/PAGXViewModel.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove data-pagx-version attribute after PAGXDocument.version field removal.
  src/pagx/html/HTMLExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Improve SVG import fidelity by skipping rendering-altering optimizations and preserving small float values.
  src/pagx/PAGXOptimizer.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/utils/StringParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix Text rendering in TextBox by ensuring consistent position semantics across layout and rendering.
  src/pagx/TextLayout.cpp
  src/pagx/nodes/Group.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix unwrappable group test case to use a genuinely redundant single-child Group.
  resources/cli/verify_unwrappable_group.pagx
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Improve card padding and canvas size for 18 test cases to prevent content overflow.
  resources/pagx_to_html/clip_and_mask.pagx
  resources/pagx_to_html/color_conic_gradient.pagx
  resources/pagx_to_html/color_linear_gradient.pagx
  resources/pagx_to_html/color_p3.pagx
  resources/pagx_to_html/color_radial_gradient.pagx
  resources/pagx_to_html/coverage_gaps.pagx
  resources/pagx_to_html/data_attributes.pagx
  resources/pagx_to_html/fillrule_comparison.pagx
  resources/pagx_to_html/geometry_ellipse.pagx
  resources/pagx_to_html/geometry_polystar.pagx
  resources/pagx_to_html/gradient_matrix.pagx
  resources/pagx_to_html/layer_antialias.pagx
  resources/pagx_to_html/layout_arrangement.pagx
  resources/pagx_to_html/modifier_trim_path.pagx
  resources/pagx_to_html/stroke_align.pagx
  resources/pagx_to_html/text_baseline.pagx
  resources/pagx_to_html/text_basic.pagx
  resources/pagx_to_html/text_box_align.pagx
Owners: @domchen, @Hparty, @shlzxjp

Apply renderPosition translation to TextPath path data in LayerBuilder.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unnecessary optimizer option overrides that already default to false.
  src/pagx/svg/SVGImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Improve clip_and_mask layout with larger canvas and uniform card padding.
  resources/pagx_to_html/clip_and_mask.pagx
Owners: @domchen, @Hparty, @shlzxjp

Update screenshot baselines for text-related tests.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add pagx optimize CLI subcommand to simplify PAGX structure in place.
  .codebuddy/skills/pagx/references/cli.md
  src/cli/CommandOptimize.cpp
  src/cli/CommandOptimize.h
  src/cli/main.cpp
Owners: @domchen, @Hparty, @shlzxjp

Align clip_and_mask layout to match HTML output with uniform card margins.
  resources/pagx_to_html/clip_and_mask.pagx
Owners: @domchen, @Hparty, @shlzxjp

Increase clip_and_mask card padding and canvas size for wider margins.
  resources/pagx_to_html/clip_and_mask.pagx
Owners: @domchen, @Hparty, @shlzxjp

Move setLayoutPosition to LayoutNode base class and add Polystar renderScale to reduce code duplication.
  include/pagx/nodes/Ellipse.h
  include/pagx/nodes/Group.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/LayoutNode.h
  include/pagx/nodes/Path.h
  include/pagx/nodes/Polystar.h
  include/pagx/nodes/Rectangle.h
  include/pagx/nodes/Text.h
  include/pagx/nodes/TextPath.h
  src/pagx/LayoutNode.cpp
  src/pagx/nodes/Ellipse.cpp
  src/pagx/nodes/Group.cpp
  src/pagx/nodes/Layer.cpp
  src/pagx/nodes/Path.cpp
  src/pagx/nodes/Polystar.cpp
  src/pagx/nodes/Rectangle.cpp
  src/pagx/nodes/Text.cpp
  src/pagx/nodes/TextPath.cpp
Owners: @domchen, @Hparty, @shlzxjp

Cache scaled tgfx Path by PathData pointer and renderScale in LayerBuilder to avoid redundant conversions.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract shared verify helpers into VerifyUtils and optimize path signature and merge-vector allocation.
  src/cli/CliUtils.cpp
  src/cli/CliUtils.h
  src/cli/CommandVerify.cpp
  src/pagx/PAGXOptimizer.cpp
  src/pagx/utils/VerifyUtils.cpp
  src/pagx/utils/VerifyUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Update svg baseline versions to match latest verify utils refactor.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Apply automatic code formatting to optimizer and test files.
  src/cli/CommandVerify.cpp
  src/pagx/PAGXOptimizer.cpp
  test/src/PAGXOptimizerTest.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Increase clip_and_mask card whitespace by separating background from content padding.
  resources/pagx_to_html/clip_and_mask.pagx
Owners: @domchen, @Hparty, @shlzxjp

Extract shared CallRun and VerifyFile test helpers into PAGXTestUtils.h to remove duplication.
  test/src/PAGXCliTest.cpp
  test/src/PAGXSVGTest.cpp
  test/src/PAGXTest.cpp
  test/src/utils/PAGXTestUtils.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Center Text content within layout bounds on dual-axis constraints consistent with Path and Polystar.
  src/pagx/nodes/Text.cpp
  src/pagx/nodes/TextBox.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add screenshot test for Text dual-axis constraint centering.
  resources/layout/constraint_text_centered.pagx
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant constraint_text_centered.pagx already covered by constraint_text.pagx.
  resources/layout/constraint_text_centered.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix 4 test failures by adding version to XSD, data-pagx-version to HTML export, and correcting wrong test assertions.
  spec/pagx.xsd
  src/pagx/html/HTMLExporter.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Clarify Layer transform as composition instead of override in PAGX spec.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Merge adjacent sibling Layers into single Layers with Groups in 6 PAGX files.
  resources/pagx_to_html/layer_transform_xy.pagx
  resources/pagx_to_html/layer_visibility.pagx
  resources/pagx_to_html/modifier_trim_continuous.pagx
  resources/pagx_to_html/resource_forward_ref.pagx
  resources/pagx_to_html/root_document.pagx
  resources/pagx_to_html/showcase_infographic.pagx
Owners: @domchen, @Hparty, @shlzxjp

Update onMeasure comment to include all four measured fields.
  include/pagx/nodes/LayoutNode.h
Owners: @domchen, @Hparty, @shlzxjp

Unify render method comment style from triple-slash to block style.
  include/pagx/nodes/Group.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Text.h
Owners: @domchen, @Hparty, @shlzxjp

Clarify that matrix3D replaces the composed 2D transform rather than composing with it.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Rename fontScale_ to fontScale to match project naming convention.
  include/pagx/nodes/Text.h
  src/pagx/nodes/Text.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract duplicated renderPosition and renderScale into LayoutNode base class helpers.
  include/pagx/nodes/LayoutNode.h
  src/pagx/LayoutNode.cpp
  src/pagx/nodes/Path.cpp
  src/pagx/nodes/Polystar.cpp
  src/pagx/nodes/TextPath.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add comment explaining why layoutWidth uses mathematically scaled value instead of textBounds.
  src/pagx/nodes/Text.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix all PAGX verify warnings across 32 test resource files and XSD schema.
  resources/pagx_to_html/clip_and_mask.pagx
  resources/pagx_to_html/color_conic_gradient.pagx
  resources/pagx_to_html/color_diamond_gradient.pagx
  resources/pagx_to_html/color_formats.pagx
  resources/pagx_to_html/color_linear_gradient.pagx
  resources/pagx_to_html/color_p3.pagx
  resources/pagx_to_html/color_radial_gradient.pagx
  resources/pagx_to_html/coverage_gaps.pagx
  resources/pagx_to_html/edge_defaults.pagx
  resources/pagx_to_html/fillrule_comparison.pagx
  resources/pagx_to_html/filter_all.pagx
  resources/pagx_to_html/filter_chain.pagx
  resources/pagx_to_html/geometry_ellipse.pagx
  resources/pagx_to_html/geometry_path.pagx
  resources/pagx_to_html/geometry_polystar.pagx
  resources/pagx_to_html/geometry_rectangle.pagx
  resources/pagx_to_html/gradient_matrix.pagx
  resources/pagx_to_html/group.pagx
  resources/pagx_to_html/layer_antialias.pagx
  resources/pagx_to_html/layer_scroll_rect.pagx
  resources/pagx_to_html/layer_transform_matrix3d.pagx
  resources/pagx_to_html/layout_arrangement.pagx
  resources/pagx_to_html/modifier_merge_path.pagx
  resources/pagx_to_html/modifier_trim_path.pagx
  resources/pagx_to_html/painter_fill.pagx
  resources/pagx_to_html/painter_stroke.pagx
  resources/pagx_to_html/polystar_advanced.pagx
  resources/pagx_to_html/stroke_advanced.pagx
  resources/pagx_to_html/stroke_align.pagx
  resources/pagx_to_html/text_baseline.pagx
  resources/pagx_to_html/text_basic.pagx
  resources/pagx_to_html/text_box_align.pagx
  spec/pagx.xsd
Owners: @domchen, @Hparty, @shlzxjp

Rename fontScale to textScale for consistency with renderScale naming convention.
  include/pagx/nodes/Text.h
  src/pagx/TextLayout.cpp
  src/pagx/TextLayoutParams.h
  src/pagx/nodes/Text.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify cr skill routing and unify default review scope for branch diffs.
  .codebuddy/skills/cr/SKILL.md
  .codebuddy/skills/cr/references/local-review.md
  .codebuddy/skills/cr/references/teams-review.md
Owners: @domchen, @Hparty, @shlzxjp

Distinguish main branch scope from feature branch scope in local review.
  .codebuddy/skills/cr/references/local-review.md
Owners: @domchen, @Hparty, @shlzxjp

Fix incorrect comment about scale constraint direction in LayoutConstraintScaleTextCentered test.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Restore scrollRect content sizes to demonstrate viewport clipping correctly.
  resources/pagx_to_html/layer_scroll_rect.pagx
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
