Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix false positive flex warning when parent size comes from flex in grandparent layout.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify the final screenshot rule to a single concise sentence.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Add TextPath to scale-to-fit heading in English spec.
  spec/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Add TextPath to constraint elements list in Chinese spec.
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Replace dynamic_cast with nodeType check and static_cast in CommandVerify.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace lambda with explicit template function in Default<T>() to follow project convention.
  src/pagx/PAGXDefaults.h
Owners: @domchen, @Hparty, @shlzxjp

Add mutex to protect concurrent Default<T>() initializations in PAGXDefaults.
  src/pagx/PAGXDefaults.h
Owners: @domchen, @Hparty, @shlzxjp

Remove unused maxDepth and currentDepth parameters from BuildElementNodes.
  src/cli/CommandLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace lambda expressions with explicit static functions in CommandVerify.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add TextPath to scale-to-fit table row and heading in Chinese spec.
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Check RunImport return value and propagate failure in RunVerify.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Split Content Containers row to distinguish Layer from Group and TextBox in Appendix A.1.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Remove const_cast in convertText by changing parameter types to non-const.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Wrap LayerBuilderContext in anonymous namespace to limit internal linkage.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract duplicate EscapeXmlAttr to shared FormatUtils.
  src/cli/CommandLayout.cpp
  src/cli/CommandVerify.cpp
  src/cli/FormatUtils.cpp
  src/cli/FormatUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Consolidate duplicate NodeTypeName into FormatUtils.
  src/cli/CommandLayout.cpp
  src/cli/CommandVerify.cpp
  src/cli/FormatUtils.cpp
  src/cli/FormatUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Unify GetDirectory fallback to return current directory for bare filenames.
  src/cli/CommandImport.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix stale test comment that incorrectly claimed ellipse detection lacks geometry checking.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix code formatting after NodeTypeName consolidation.
  src/cli/CommandLayout.cpp
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert anonymous namespace for LayerBuilderContext to preserve friend class access.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix false positive flex diagnostic when parent size comes from grandparent layout.
  src/cli/CommandVerify.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix compilation errors and revert RunImport return value check that broke no-import files.
  src/cli/CommandLayout.cpp
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix verify diagnostics using resolved layout bounds instead of static attribute checks.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add WebP dimension parsing and always export image patterns as p:pic elements.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
  src/pagx/utils/ExporterUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Restore SolidColor color attribute as required and remove erroneous fallback attributes.
  spec/pagx.xsd
Owners: @domchen, @Hparty, @shlzxjp

Move the full-file verify reminder into the Modify specific part path in Step 1.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify Modify specific part path to reference Step 3 and Step 4 directly.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Remove the explicit task type routing from Step 1 Assess.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Fix false positive flex diagnostic with IsMainAxisContentMeasured and update affected test files.
  resources/layout/container_edge_cases.pagx
  resources/layout/container_hug.pagx
  src/cli/CommandVerify.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Extract WriteBoundsAttr to FormatUtils to reduce layout XML rendering duplication.
  src/cli/CommandLayout.cpp
  src/cli/CommandVerify.cpp
  src/cli/FormatUtils.cpp
  src/cli/FormatUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Fix code formatting in CommandVerify and FormatUtils.
  src/cli/CommandVerify.cpp
  src/cli/FormatUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix false positive flex diagnostic with IsMainAxisContentMeasured for accurate content-measured detection.
  resources/layout/container_edge_cases.pagx
  resources/layout/container_hug.pagx
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline updates for text rendering tests.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add PAGX generation guidelines: prefer SVG Import for composite shapes and avoid absolute positioning
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Reorder pitfall examples to pair each ❌/✅ together
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Skip zero-size diagnostic for completely empty layers with no contents or children.
  src/cli/CommandVerify.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add test for skipping zero-size diagnostic on empty layers.
  resources/cli/layout_check_zero_size_empty.pagx
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix RangeSelector randomOrder index mapping and TextBox auto-size word wrap.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Document that SVG Import does not auto-scale to fit Layer size
  .codebuddy/skills/pagx/references/guide.md
Owners: @domchen, @Hparty, @shlzxjp

Fix glyph path holes being filled on mobile PPT viewers by always using EvenOdd fill rule for font outlines.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
