Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Update documentation for new layout architecture and LayoutElement hierarchy.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Separate layout results storage from user-set properties using layoutBounds.
  include/pagx/nodes/Layer.h
  include/pagx/nodes/LayoutElement.h
Owners: @domchen, @Hparty, @shlzxjp

Remove unused virtual methods and mutable layout properties from LayoutElement and Layer.
  include/pagx/nodes/Layer.h
  include/pagx/nodes/LayoutElement.h
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Reorder attribute order rule to put constraint attributes before sizing.
  .codebuddy/skills/pagx/references/spec-essentials.md
Owners: @domchen, @Hparty, @shlzxjp

Optimize include order and remove unused headers.
  src/pagx/AutoLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use container layout and update text modifier sample attribute order.
  .codebuddy/skills/pagx/references/spec-essentials.md
  spec/samples/5.5.3_text_modifier.pagx
Owners: @domchen, @Hparty, @shlzxjp

Reorganize spec sections and add constraint attribute completeness.
  .codebuddy/skills/pagx/references/spec-essentials.md
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Clarify padding attribute scope and constraint positioning interaction.
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/spec-essentials.md
Owners: @domchen, @Hparty, @shlzxjp

Fix TextPath vertical positioning to top=163 aligning arc top to circle center.
  spec/samples/C.5_pagx_features.pagx
Owners: @domchen, @Hparty, @shlzxjp

Use TextPath centerX for horizontal centering of arc text in C.5 sample.
  spec/samples/C.5_pagx_features.pagx
Owners: @domchen, @Hparty, @shlzxjp

Refactor pagx skill docs with CSS mapping and convert C.4 sample to TextBox with container layout.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  spec/samples/C.4_game_hud.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix optimize passes #5 and #9 for auto-layout compatibility and add PathData localization.
  resources/cli/optimize_extract_excluded_layout_children.pagx
  resources/cli/optimize_localize_pathdata.pagx
  resources/cli/optimize_localize_pathdata_position.pagx
  resources/cli/optimize_no_extract_layout_children.pagx
  resources/cli/optimize_path_to_rect_constrained.pagx
  src/cli/CommandOptimize.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Wrap bare Text nodes in TextBox and use vertical layout for center title in C.5 pagx features sample.
  spec/samples/C.5_pagx_features.pagx
Owners: @domchen, @Hparty, @shlzxjp

Improve spec clarity: unify constraint descriptions and enhance Layer System introduction.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
Owners: @domchen, @Hparty, @shlzxjp

Use direct TextPath constraints for precise arc text positioning in C.5 sample.
  spec/samples/C.5_pagx_features.pagx
Owners: @domchen, @Hparty, @shlzxjp

Remove pagx optimize step from generation guide.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Add constraint positioning support for TextPath element.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/spec-essentials.md
  include/pagx/nodes/LayoutElement.h
  include/pagx/nodes/PathData.h
  include/pagx/nodes/TextPath.h
  spec/pagx.xsd
  spec/pagx_spec.md
  spec/samples/C.5_pagx_features.pagx
  src/cli/CommandFormat.cpp
  src/pagx/ElementConstraint.cpp
  src/pagx/ElementMeasure.cpp
  src/pagx/ElementTransform.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/PathData.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add CSS-to-PAGX design pattern mappings and refactor C.5 cards.
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/spec-essentials.md
  spec/samples/C.5_pagx_features.pagx
Owners: @domchen, @Hparty, @shlzxjp

Make layout ignore visible flag so invisible layers get correct sizes and positions.
  src/pagx/AutoLayout.cpp
  src/pagx/ContainerLayout.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix remaining skill reference issues found during review.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/optimize-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Normalize C.5 card icon coordinates to start from origin for correct centerY measurement.
  spec/samples/C.5_pagx_features.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix ConicGradient center to match Ellipse position in constraint layout.
  spec/samples/C.5_pagx_features.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add ImagePattern inline image tests and simplify complete example to use inline image path.
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/examples.md
  spec/samples/C.1_complete_example.pagx
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix avatar circular mask example centering offset from 18 to 28.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify avatar example to use Ellipse with ImagePattern instead of mask approach.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/spec-essentials.md
  spec/pagx.xsd
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update baseline version after accepting screenshot changes.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add MergePath vs Mask decision guidance to design patterns.
  .codebuddy/skills/pagx/references/design-patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Fix bar chart baseline extending beyond last bar.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Replace notification badge inline example with reference to examples.md.
  .codebuddy/skills/pagx/references/design-patterns.md
Owners: @domchen, @Hparty, @shlzxjp

Fix Tab Bar indentation and remove redundant wrapper Layers in three examples.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Add explicit render step before verification in PAGX generation guide.
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Add imageReplacement.jpg to apitest resources.
  resources/apitest/imageReplacement.jpg
Owners: @domchen, @Hparty, @shlzxjp

Change default render scale to 2.0 for better text clarity.
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Replace icon design guidelines with actionable icon generation workflow in PAGX skills.
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Promote Flexbox-first layout guidance in skills docs and remove redundant wrapper Layers in spec samples.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  spec/samples/4.2_layer.pagx
  spec/samples/4.3_layer_styles.pagx
  spec/samples/4.4_layer_filters.pagx
  spec/samples/4.5.1_scroll_rect.pagx
  spec/samples/5.2.4_path.pagx
  spec/samples/5.4.2_round_corner.pagx
  spec/samples/5.6_repeater.pagx
  spec/samples/5.7_group_isolation.pagx
  spec/samples/5.7_group_propagation.pagx
  spec/samples/5.7_mixed_overlay.pagx
  spec/samples/5.7_multiple_fills.pagx
  spec/samples/5.7_multiple_painters.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add free-form layout option to generation guide and fix terminology in examples.
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Add comprehensive SVG export unit tests for text path and element rendering
  test/src/PAGXSVGTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add PAGX to HTML conversion technical specification document.
  spec/pagx_to_html.md
Owners: @domchen, @Hparty, @shlzxjp

Fix section reference ambiguity and add trailing newline in bot-review.md.
  .codebuddy/skills/cr/references/bot-review.md
Owners: @domchen, @Hparty, @shlzxjp

Add optimization to unwrap redundant first-child Groups.
  resources/cli/optimize_unwrap_basic.pagx
  resources/cli/optimize_unwrap_keep_alpha.pagx
  resources/cli/optimize_unwrap_keep_constrained.pagx
  resources/cli/optimize_unwrap_keep_repeater.pagx
  resources/cli/optimize_unwrap_keep_sized.pagx
  resources/cli/optimize_unwrap_keep_textbox.pagx
  resources/cli/optimize_unwrap_keep_transform.pagx
  resources/cli/optimize_unwrap_nested.pagx
  resources/cli/optimize_unwrap_offset.pagx
  resources/cli/optimize_unwrap_render.pagx
  spec/pagx_spec.zh_CN.md
  src/cli/CommandOptimize.cpp
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123
