Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Include Composition header in Layer instead of forward declaring it.
  include/pagx/nodes/Layer.h
Owners: @domchen, @Hparty, @shlzxjp

Remove unused nodeToFiles reverse index in favor of liveFiles iteration.
  include/pagx/PAGXDocument.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Include Animation header in PAGXDocument instead of forward declaring it.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Rename PAGLayerType to LayerType and type to layerType to match legacy PAG.
  include/pagx/PAGComposition.h
  include/pagx/PAGFile.h
  include/pagx/PAGLayer.h
  src/pagx/PAGFile.cpp
  src/pagx/PAGLayer.cpp
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Cap bezier easing bisection iterations to prevent hang on malformed control points.
  src/pagx/runtime/BezierEasing.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unused forward declarations and vector include from LayerBuilder header.
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Export Layer compositionFilePath as the composition attribute to preserve unresolved external composition references.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Guard getGlobalBounds against foreign layers and drop unreachable matrix check.
  src/pagx/PAGFile.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix iterator invalidation in PAGXDocument::loadFileData by snapshotting layers before resolving external compositions.
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

rename
  src/pagx/PAGFile.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Clarify notifyChange doc that runtime rebuild dispatch is not yet implemented and only bookkeeping occurs currently.
  include/pagx/PAGXDocument.h
Owners: @domchen, @Hparty, @shlzxjp

Remove unused SolidColor scaffolding node in AnimationAllTypesRoundTrip test.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove redundant mix clamp in ApplyAnimation already handled by the caller.
  src/pagx/PAGTimeline.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace dynamic_cast with valueType-based static_cast in PAGX property tests.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add FromTGFX rect helper and use it to remove duplicated rect unpacking.
  src/pagx/PAGFile.cpp
  src/pagx/PAGLayer.cpp
  src/renderer/ToTGFX.cpp
  src/renderer/ToTGFX.h
Owners: @domchen, @Hparty, @shlzxjp

Include LayerBuilder.h in TUs that need complete RuntimeBinding type for unique_ptr destruction.
  src/pagx/PAGDisplayOptions.cpp
  src/pagx/PAGLayer.cpp
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Include LayerBuilder.h for complete RuntimeBinding type in PAGXDocument TU.
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

update version.json
  test/baseline/version.json
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Make getLayersUnderPoint virtual with PAGFile override for surface coordinates.
  include/pagx/PAGComposition.h
  include/pagx/PAGFile.h
Owners: @domchen, @Hparty, @shlzxjp

Remove duplicated MakeStandaloneParams in Text and reuse the one from ExporterUtils.
  src/pagx/nodes/Text.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reuse ExporterUtils MakeStandaloneParams instead of duplicating in Text.
  src/pagx/nodes/Text.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add missing Font file import round-trip test for Phase 3 plan 03.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix PAGX unity build text helper collision (#3477)
  src/pagx/nodes/Text.cpp
Owners: @domchen, @Hparty, @shlzxjp

Merge ResourceLoader support for external resource import.
  include/pagx/PAGXImporter.h
  include/pagx/nodes/Composition.h
  include/pagx/nodes/CompositionResource.h
  include/pagx/nodes/FontProvider.h
  include/pagx/nodes/FontResource.h
  include/pagx/nodes/Image.h
  include/pagx/nodes/ImageResource.h
  include/pagx/nodes/Resource.h
  include/pagx/nodes/ResourceLoader.h
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/nodes/Resource.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix SVG glyph-run gradient fill re-fitting per glyph instead of spanning the whole run.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Propagate even-odd fill rule from MergePath boolean ops so Difference holes no longer fill solid in SVG and PPT exports.
  src/pagx/utils/ModifierResolver.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove baseDir parameter from PAGXImporter FromXML and CompositionResource.
  include/pagx/PAGXImporter.h
  include/pagx/nodes/CompositionResource.h
  src/pagx/PAGXImporter.cpp
  src/pagx/nodes/Resource.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fallback to compositionFilePath when ResourceLoader and file path resolution both fail.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX text node include so MakeStandaloneParams resolves and pagx-cli builds again.
  src/pagx/nodes/Text.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to latest commit.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove obsolete html-pagx-gen skill superseded by the pagx html import pipeline.
  .codebuddy/skills/html-pagx-gen/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to latest commit. (#3481)
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Revert "Synthesize faux bold and italic in PAGX text layout when the resolved typeface lacks the requested weight or slant."
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Convert PAGX ResourceLoader to Rive style takeover callbacks.
  include/pagx/nodes/CompositionResource.h
  include/pagx/nodes/FontProvider.h
  include/pagx/nodes/FontResource.h
  include/pagx/nodes/ImageResource.h
  include/pagx/nodes/Resource.h
  include/pagx/nodes/ResourceLoader.h
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/nodes/Resource.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove legacy PAGExporter.aex from AE directory during install.
  viewer/src/platform/win/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove dead method declarations from PluginInstaller header.
  viewer/src/platform/PluginInstaller.h
Owners: @domchen, @Hparty, @shlzxjp

Bake faux bold and italic flags during PAGX HTML import so authored weight and slant survive missing styled faces.
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.cpp
  src/pagx/html/importer/HTMLTextFragmentBuilder.h
  src/pagx/utils/CSSFontStyle.cpp
  src/pagx/utils/CSSFontStyle.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Reformat faux bold weight keyword assignment to wrap within line length limit.
  src/pagx/utils/CSSFontStyle.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unused CSSFontStyle include from TextLayout.
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use explicit int64_t instead of auto for version variables in hasUpdate().
  viewer/src/platform/PluginInstaller.cpp
Owners: @domchen, @Hparty, @shlzxjp
