Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

update version.json
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Play all top-level PAGX animations in the viewer instead of only the first and switch to partial render mode.
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
Owners: @domchen, @Hparty, @shlzxjp

Restore tgfx.h and Image runtimeImage dropped during rebase and write orphan Animation nodes like StateMachine.
  include/pagx/nodes/Image.h
  include/pagx/tgfx.h
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reformat the HTML importer mix-blend-mode test to satisfy the code formatter.
  test/src/PAGXHTMLImporterTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix iOS PAGImageView crash on dealloc by serializing reset with flush via imageViewLock.
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Add thread-safety comment explaining lock ordering in PAGImageView dealloc.
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Correct dealloc thread-safety comment to describe cross-thread lock-order inversion accurately.
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Upgrade tgfx to clean up SSAA debug probes and document backdrop capture density.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix StateMachineInput doc to use PascalCase operator names matching the enum.
  include/pagx/nodes/StateMachineInput.h
Owners: @domchen, @Hparty, @shlzxjp

Omit empty state machine id on export to match animation id handling.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Guard state machine input setters and bindInput against use after scene detach.
  src/pagx/PAGStateMachine.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix license boilerplate casing regression in timeline headers.
  include/pagx/PAGAnimation.h
  include/pagx/PAGTimeline.h
Owners: @domchen, @Hparty, @shlzxjp

Pass transition duration to XMLBuilder directly instead of pre converting to string.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix bindInput doc to require a Trigger typed value for Trigger inputs.
  include/pagx/PAGStateMachine.h
Owners: @domchen, @Hparty, @shlzxjp

Remove unused includes from PAGStateMachine implementation.
  src/pagx/PAGStateMachine.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add missing parameter docs to state machine listener and getCurrentState APIs.
  include/pagx/PAGStateMachine.h
Owners: @domchen, @Hparty, @shlzxjp

Document that suppressed scopes coalesce repeated trigger fires into one notification.
  include/pagx/PAGViewModelValueTrigger.h
Owners: @domchen, @Hparty, @shlzxjp

Write id attribute for state machine sub-nodes so authored ids round-trip on export.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Strengthen state machine tests and remove duplicate coverage using integer values.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Convert SMPauseOnExitFreezes to a screenshot test that verifies the frozen outgoing frame.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Preserve filePath when loading image data and prefer it in export
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Preserve filePath in loadFileData and prefer it in export with test
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Implement Source Editor MVP
  playground/pagx-playground/src/editor/SourceEditor.ts
  playground/pagx-playground/src/editor/index.ts
  playground/pagx-playground/src/editor/styles.ts
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/index.html
Owners: @domchen, @Hparty, @shlzxjp

Update tests to expect filePath preserved after loadFileData
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix pagx embed failing on URL image sources by adding getExternalImagePaths for local-only I/O.
  include/pagx/PAGXDocument.h
  resources/cli/embed_url_image.pagx
  src/pagx/PAGXDocument.cpp
  src/renderer/ImageEmbedder.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Sync test comments with filePath preservation behavior
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Unify runtime timeline storage into a single base-class container across scene and composition.
  include/pagx/PAGComposition.h
  include/pagx/PAGScene.h
  src/pagx/PAGScene.cpp
  src/pagx/runtime/PAGComposition.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Accept baseline changes for spec_app_icons and spec_glyph_run after main merge.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Move RegionInstance to an internal header so the pause on exit test can verify the frozen outgoing frame.
  src/pagx/PAGStateMachine.cpp
  src/pagx/PAGStateMachineRegion.h
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Accept baseline for spec_pagx_features and spec_text_box on SwiftShader.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Preserve filePath in loadFileData and prefer it in export (#3579)
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix Android PAGSurface leak by releasing Surface in finalize (#3571)
  android/libpag/src/main/java/org/libpag/PAGSurface.java
Owners: @domchen, @Hparty, @shlzxjp

Fix iOS PAGImageView crash on dealloc by serializing reset with flush (#3577)
  src/platform/ios/PAGImageView.mm
Owners: @domchen, @Hparty, @shlzxjp

Replace JNI string conversion workarounds with direct NewStringUTF and GetStringUTFChars to fix FindClass crash on background threads. (#3566)
  src/platform/android/JStringUtil.cpp
  src/platform/android/JStringUtil.h
Owners: @domchen, @Hparty, @shlzxjp

mplement command mode and fix display bug caused by coordinate transformation error
  playground/pagx-playground/src/editor/SourceEditor.ts
  playground/pagx-playground/src/editor/styles.ts
  playground/pagx-viewer/src/cpp/PAGXView.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add simple XML detection and new icons
  playground/pagx-playground/src/editor/index.ts
  playground/pagx-playground/src/index.ts
  playground/pagx-playground/static/index.html
Owners: @domchen, @Hparty, @shlzxjp

Replace JNI string conversion workarounds with direct NewStringUTF and GetStringUTFChars to fix FindClass crash on background threads. (#3566)
  src/platform/android/JStringUtil.cpp
  src/platform/android/JStringUtil.h
Owners: @domchen, @Hparty, @shlzxjp

Replace JNI string conversion workarounds with direct NewStringUTF and GetStringUTFChars to fix FindClass crash on background threads. (#3566)
  src/platform/android/JStringUtil.cpp
  src/platform/android/JStringUtil.h
Owners: @domchen, @Hparty, @shlzxjp

Fix repeated bitmap composition freezing by accumulating sequence trim offset onto each reference start time.
  exporter/src/export/PAGExport.cpp
Owners: @domchen, @Hparty, @shlzxjp

Switch the pagx skill's in-repo dev workflow to drive conversion with the locally built pagx directly instead of the html2pagx wrapper, reframing html2pagx as an optional convenience tool.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/authoring-html.md
  .codebuddy/skills/pagx/references/pipeline.md
Owners: @domchen, @Hparty, @shlzxjp
