Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Remove background mode switching feature and revert C++ changes.
  chrome-extension/manifest.json
  chrome-extension/viewer/viewer.css
  chrome-extension/viewer/viewer.html
  chrome-extension/viewer/viewer.js
  chrome-extension/viewer/viewer.ts
  chrome-extension/wasm/pagx-playground.wasm
  playground/pagx-viewer/src/cpp/GridBackground.cpp
  playground/pagx-viewer/src/cpp/GridBackground.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  playground/pagx-viewer/src/cpp/PAGXView.h
  playground/pagx-viewer/src/cpp/binding.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add visual divider between preview and code panels in split view.
  chrome-extension/viewer/viewer.css
  chrome-extension/viewer/viewer.html
  chrome-extension/viewer/viewer.js
  chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp

Make split divider line thicker during drag.
  chrome-extension/viewer/viewer.css
Owners: @domchen, @Hparty, @shlzxjp

Redesign split divider with draggable handle and left-right arrow icon.
  chrome-extension/viewer/viewer.css
  chrome-extension/viewer/viewer.html
  chrome-extension/viewer/viewer.js
  chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp

Restore Tencent copyright headers in source files.
  pagx-chrome-extension/background.js
  pagx-chrome-extension/viewer/cache-manager.ts
  pagx-chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp

Revert "Support opening PAGX files by dragging to Chrome Dock/Taskbar icon."
  pagx-chrome-extension/README.md
  pagx-chrome-extension/background.js
  pagx-chrome-extension/manifest.json
Owners: @domchen, @Hparty, @shlzxjp

Add CRX/ZIP packaging outputs and PEM key to .gitignore.
  .gitignore
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Require PEM key for CRX packaging with clear error message and add README.
  pagx-chrome-extension/README.md
  pagx-chrome-extension/package.sh
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add --key option to package.sh for specifying PEM private key path.
  pagx-chrome-extension/package.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Set version to 1.0.0 and replace Tencent with libpag and add privacy policy and packaging script.
  pagx-chrome-extension/PRIVACY_POLICY.md
  pagx-chrome-extension/background.js
  pagx-chrome-extension/manifest.json
  pagx-chrome-extension/package.json
  pagx-chrome-extension/package.sh
  pagx-chrome-extension/viewer/cache-manager.ts
  pagx-chrome-extension/viewer/viewer.ts
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix argument parsing to support --key without format prefix and add help examples.
  pagx-chrome-extension/package.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Support opening PAGX files by dragging to Chrome Dock/Taskbar icon.
  pagx-chrome-extension/README.md
  pagx-chrome-extension/background.js
  pagx-chrome-extension/manifest.json
Owners: @domchen, @Hparty, @shlzxjp

Support both CRX and ZIP packaging formats in package.sh.
  pagx-chrome-extension/package.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add batch-html2pagx.sh helper to recursively run html2pagx on directory trees of html inputs.
  tools/html-snapshot/batch-html2pagx.sh
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add canvas support to html-snapshot so JS-driven charts survive PAGX import as inlined bitmap images.
  tools/html-snapshot/README.md
  tools/html-snapshot/build-browser-bundle.js
  tools/html-snapshot/lib/browser-snapshot.js
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Apply CSS text-transform when emitting html-snapshot text spans so uppercase, lowercase and capitalize transforms survive into the PAGX subset.
  tools/html-snapshot/lib/browser-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Map inline CSS transform onto TextBox skew rotation scale and translate fields so HTML text leaves carrying skewX skewY rotate scale or translate render with the same pivot as Chromium.
  src/pagx/html/importer/HTMLBoxAttributes.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/html/importer/HTMLStyleResolver.cpp
  src/pagx/html/importer/HTMLSubsetPropertyTable.cpp
  test/src/PAGXHTMLImporterTest.cpp
  test/src/PAGXHTMLSubsetTransformerTest.cpp
  tools/html-snapshot/lib/browser-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Inline webfont icon glyphs as SVG in html-snapshot so PAGX output renders without the icon font installed.
  tools/html-snapshot/README.md
  tools/html-snapshot/build-browser-bundle.js
  tools/html-snapshot/html2pagx
  tools/html-snapshot/lib/browser-snapshot.js
  tools/html-snapshot/lib/cli.js
  tools/html-snapshot/lib/icon-font.js
  tools/html-snapshot/package.json
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Declare pixelmatch and pngjs as html-snapshot dependencies so the eval compare script installs cleanly.
  tools/html-snapshot/package.json
Owners: @domchen, @Hparty, @shlzxjp

Resolve currentColor in inline SVG so icon glyphs and authored SVGs render with the inherited CSS color tint.
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  test/src/PAGXHTMLImporterTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

update tgfx version.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Preserve CSS font-weight when importing HTML or SVG so weights like 900 map to Black and 500 to Medium instead of collapsing to Bold or Regular.
  src/pagx/html/importer/HTMLStyleResolver.cpp
  src/pagx/svg/SVGImporter.cpp
  src/pagx/utils/CSSFontStyle.cpp
  src/pagx/utils/CSSFontStyle.h
Owners: @domchen, @Hparty, @shlzxjp

.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add ParseFontStyleName utility to expose numeric weight and italic flag from PAGX style strings.
  src/pagx/utils/CSSFontStyle.cpp
  src/pagx/utils/CSSFontStyle.h
Owners: @domchen, @Hparty, @shlzxjp

Synthesize bold and italic when text fonts lack the requested style so CJK titles render with weight and slant matching browsers.
  src/pagx/LayoutContext.cpp
  src/pagx/TextLayout.cpp
Owners: @domchen, @Hparty, @shlzxjp

ssaa test
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add errMessage helper to standardize thrown value formatting across html-snapshot tools.
  tools/html-snapshot/lib/cli.js
Owners: @domchen, @Hparty, @shlzxjp

Prefix page console and exception logs with html-snapshot tag for consistent output.
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Speed up icon font inlining by parallel font prefetch and remove duplicate browser side helpers.
  tools/html-snapshot/build-browser-bundle.js
  tools/html-snapshot/lib/icon-font.js
Owners: @domchen, @Hparty, @shlzxjp

Extract run_step helper in html2pagx to unify pipeline step failure messages.
  tools/html-snapshot/html2pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix html importer correctness issues found during code review.
  src/pagx/html/importer/HTMLDetail.cpp
  src/pagx/html/importer/HTMLDetail.h
  src/pagx/html/importer/HTMLLayerBuilder.cpp
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLStyleResolver.cpp
  src/pagx/html/importer/HTMLSubsetPropertyTable.cpp
  src/pagx/html/importer/HTMLTransformPasses.cpp
  src/pagx/html/importer/HTMLValueParser.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor html importer for fewer copies and clearer structure.
  src/pagx/html/importer/HTMLDetail.cpp
  src/pagx/html/importer/HTMLDetail.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/html/importer/HTMLStyleResolver.cpp
  src/pagx/html/importer/HTMLSubsetPropertyTable.cpp
  src/pagx/html/importer/HTMLTransformPasses.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix browser snapshot misaligning siblings near CJK italic text whose ink exceeds line-height.
  tools/html-snapshot/lib/browser-snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Add Playwright as an alternative browser engine for html-snapshot via --browser-engine flag and HTML_SNAPSHOT_BROWSER env var.
  tools/html-snapshot/README.md
  tools/html-snapshot/eval/baseline.js
  tools/html-snapshot/eval/compare.js
  tools/html-snapshot/eval/run.js
  tools/html-snapshot/html2pagx
  tools/html-snapshot/lib/browser-engine.js
  tools/html-snapshot/lib/cli.js
  tools/html-snapshot/lib/page-loader.js
  tools/html-snapshot/package.json
  tools/html-snapshot/snapshot.js
Owners: @domchen, @Hparty, @shlzxjp

Add Linux benchmark harness to html-snapshot for measuring per-page peak CPU and memory in containerized Chromium.
  tools/html-snapshot/.dockerignore
  tools/html-snapshot/bench/Dockerfile
  tools/html-snapshot/bench/README.md
  tools/html-snapshot/bench/run-bench.sh
  tools/html-snapshot/bench/run-in-container.sh
  tools/html-snapshot/bench/sampler.js
  tools/html-snapshot/bench/summarize-html.js
  tools/html-snapshot/bench/summarize.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Extend html-snapshot bench harness to run natively on macOS and Linux without Docker via a new run-native.sh entrypoint and cross-platform sampler.
  tools/html-snapshot/bench/README.md
  tools/html-snapshot/bench/run-cases.sh
  tools/html-snapshot/bench/run-in-container.sh
  tools/html-snapshot/bench/run-native.sh
  tools/html-snapshot/bench/sampler.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add embed() and clearEmbed() methods to PAGXDocument.
  include/pagx/PAGXDocument.h
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add tests for PAGXDocument::embed() and clearEmbed().
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Refine PAGXDocument embed API doc and include order.
  include/pagx/PAGXDocument.h
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor html-snapshot bench scripts to share stats helpers via report-utils module and align sampler schema docs.
  tools/html-snapshot/bench/report-utils.js
  tools/html-snapshot/bench/sampler.js
  tools/html-snapshot/bench/summarize-html.js
  tools/html-snapshot/bench/summarize.js
Owners: @domchen, @Hparty, @shlzxjp
