Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Fix embed command description to distinguish font glyph embedding from image base64 encoding.
  src/cli/CommandEmbed.cpp
  src/cli/CommandEmbed.h
Owners: @domchen, @Hparty, @shlzxjp

Align npm README embed command description and flag text with CLI help output.
  cli/npm/README.md
Owners: @domchen, @Hparty, @shlzxjp

Assert font node is embedded in Embed_FontFlags_AcceptedLikeOldSubcommand.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Assert font node is embedded in Embed_BothDefault_EmbedsFontsAndImages.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Loosen FontList_JsonOutput to check for family and styles tokens instead of exact prefix.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use word-boundary check for retired info subcommand in Font_HelpShowsCurrentFlags.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Assert FontList text output contains at least two non-empty family lines.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Track --size presence via bool flag so explicit default value still triggers warning.
  src/cli/CommandFont.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove pre-C++11 template space in SystemFonts.cpp nested vector type.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update SystemFonts class doc to cover AllFontFamilies in addition to fallback typefaces.
  src/pagx/SystemFonts.h
Owners: @domchen, @Hparty, @shlzxjp

Document macOS AllFontFamilies API choice over CTFontManagerCopyAvailableMembersOfFontFamily.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

codeformat
  src/cli/CommandEmbed.cpp
Owners: @domchen, @Hparty, @shlzxjp

Revert template space fix that conflicts with project clang-format configuration.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add codebase map to .planning/codebase/.
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Owners: @domchen, @Hparty, @shlzxjp

Revert LayerBuilder.cpp and .gitignore to main branch state.
  .gitignore
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix use-after-free in FontEmbedder nodeMap cleanup and harden embed CLI against oversized files.
  include/pagx/PAGXDocument.h
  src/cli/CommandEmbed.cpp
  src/cli/CommandFont.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/SystemFonts.h
  src/renderer/FontEmbedder.cpp
  src/renderer/ImageEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use known URL scheme prefixes in IsUrlPath to avoid false positives on Windows paths.
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add SystemFonts::FindFont fallback for CLI font resolution on FreeType backend.
  src/cli/CliUtils.h
  src/pagx/SystemFonts.cpp
  src/pagx/SystemFonts.h
Owners: @domchen, @Hparty, @shlzxjp

Reorder nodeMap cleanup before node compaction to avoid use-after-free of dangling pointers.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove .planning/codebase/ from repository and add .planning/ to gitignore.
  .gitignore
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Check return value of loadFileData in ImageEmbedder to detect missing file paths.
  src/renderer/ImageEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Show concrete input path in embed usage line instead of placeholder syntax.
  src/cli/CommandEmbed.cpp
Owners: @domchen, @Hparty, @shlzxjp

Lowercase font extension before comparison to make case-insensitive matching effective.
  src/cli/CliUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Stop tracking .planning/codebase/ files from repository index.
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Owners: @domchen, @Hparty, @shlzxjp

Support Windows backslash path separators in CliUtils path functions.
  src/cli/CliUtils.h
Owners: @domchen, @Hparty, @shlzxjp

Remove unused sizeSpecified field from FontOptions after warning removal.
  src/cli/CommandFont.cpp
Owners: @domchen, @Hparty, @shlzxjp

Implement SystemFonts::FindFont for Windows using DirectWrite FindFamilyName.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

Stop ignoring AI planning artifacts.
  .gitignore
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Auto-register fonts from Font file attribute in pagx embed and update spec docs.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/cli/CommandEmbed.cpp
  src/renderer/FontEmbedder.cpp
  src/renderer/FontEmbedder.h
Owners: @domchen, @Hparty, @shlzxjp

Add file attribute to PAGX Font node with XSD schema and import/export support.
  include/pagx/nodes/Font.h
  spec/pagx.xsd
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix code review issues from PR #3405 second round review.
  cli/npm/README.md
  include/pagx/PAGXDocument.h
  src/cli/CliUtils.h
  src/cli/CommandEmbed.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/SystemFonts.cpp
  src/renderer/FontEmbedder.cpp
  src/renderer/ImageEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix dangling glyph pointers in ClearEmbeddedGlyphRuns and remove unused test variables.
  src/renderer/FontEmbedder.cpp
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update skills docs and add CLI tests for Font file attribute auto-registration.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/guide.md
  resources/cli/embed_font_file.pagx
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix stale comment in ImageEmbedder.h to reflect all-or-nothing semantics.
  src/renderer/ImageEmbedder.h
Owners: @domchen, @Hparty, @shlzxjp

Make IsUrlPath case-insensitive per RFC 3986 Section 3.1.
  src/pagx/PAGXDocument.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unused tempPng copy from Embed_FileFlag_RejectedAsUnknown that never reaches load.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Lift duplicated glyph-removal loop in ClearEmbeddedGlyphRuns above the file-attribute branch.
  src/renderer/FontEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix CFMutableDictionaryRef leak on CFSetCreate failure in FindFont.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove documented --file/--font-file flags from pagx embed per CommandEmbed.cpp.
  cli/npm/README.md
Owners: @domchen, @Hparty, @shlzxjp

Extract ResolveRelativePath helper to deduplicate Image and Font path resolution.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp
