Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Extract best-practices as standalone reference and simplify SKILL.md routing with reference lookup for knowledge queries.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/best-practices.md
  .codebuddy/skills/pagx/references/generation-guide.md
  .codebuddy/skills/pagx/references/icon-examples.md
  .codebuddy/skills/pagx/references/optimization-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Rename workflow and reference files for clarity and merge painter-merging into structure-simplification and resource-reuse into performance.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/app-ui-examples.md
  .codebuddy/skills/pagx/references/generate-workflow.md
  .codebuddy/skills/pagx/references/icon-examples.md
  .codebuddy/skills/pagx/references/optimize-workflow.md
  .codebuddy/skills/pagx/references/painter-merging.md
  .codebuddy/skills/pagx/references/performance.md
  .codebuddy/skills/pagx/references/resource-reuse.md
  .codebuddy/skills/pagx/references/structure-simplification.md
Owners: @domchen, @Hparty, @shlzxjp

Fix code review issues including fontLineHeight negative value protection and SVG style cache completeness.
  src/cli/SystemFonts.cpp
  src/pagx/svg/SVGImporter.cpp
  src/renderer/TextLayout.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename best-practices to design-patterns and pagx-quick-reference to attribute-reference and move examples into subdirectory.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/attribute-reference.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/examples/app-ui.md
  .codebuddy/skills/pagx/references/examples/icons.md
  .codebuddy/skills/pagx/references/generate-workflow.md
  .codebuddy/skills/pagx/references/optimize-workflow.md
  .codebuddy/skills/pagx/references/spec-essentials.md
Owners: @domchen, @Hparty, @shlzxjp

Update local-review Step 4 to reference SKILL.md grouping rule for multi-select questions exceeding 4 items.
  .codebuddy/skills/cr/references/local-review.md
Owners: @domchen, @Hparty, @shlzxjp

Merge structure-simplification and performance into optimize-guide and rename workflow files to guide.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/examples/app-ui.md
  .codebuddy/skills/pagx/references/examples/icons.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  .codebuddy/skills/pagx/references/optimize-workflow.md
  .codebuddy/skills/pagx/references/performance.md
  .codebuddy/skills/pagx/references/structure-simplification.md
Owners: @domchen, @Hparty, @shlzxjp

Flatten optimize-guide structure by topic and fix workflow naming residues.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/optimize-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Fix stale description in generate-guide and add auto-apply labels to painter merging operations.
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Remove outdated shell expansion restriction from squash skill instructions.
  .codebuddy/skills/squash/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

For Test
  README.md
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Merge icons and app-ui examples into unified examples.md with new Logo, Chart, and Decorative scenes.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/examples/app-ui.md
  .codebuddy/skills/pagx/references/examples/icons.md
  .codebuddy/skills/pagx/references/generate-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Fix circular gauge arc and tick alignment in examples.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify optimize-guide and fix skill quality issues per best practices audit.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/cli-reference.md
  .codebuddy/skills/pagx/references/examples.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  .codebuddy/skills/pagx/references/spec-essentials.md
Owners: @domchen, @Hparty, @shlzxjp

Revert unnecessary description expansion and body addition in SKILL.md.
  .codebuddy/skills/pagx/SKILL.md
Owners: @domchen, @Hparty, @shlzxjp

Fix all example rendering issues with proper canvas sizing and centering.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Restore key examples lost in optimize-guide simplification.
  .codebuddy/skills/pagx/references/optimize-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Fix UTF-8 upper bound check, shared PathData corruption, and missing position comparison in optimize.
  src/cli/CommandOptimize.cpp
  src/renderer/UTF8Utils.h
Owners: @domchen, @Hparty, @shlzxjp

Improve examples with donut chart, gauge ticks, avatar pattern, and layout fixes.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Rename attribute-reference.md to attributes.md and cli-reference.md to cli.md and update all cross-references.
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/design-patterns.md
  .codebuddy/skills/pagx/references/generate-guide.md
  .codebuddy/skills/pagx/references/optimize-guide.md
  .codebuddy/skills/pagx/references/spec-essentials.md
Owners: @domchen, @Hparty, @shlzxjp

Fix Group x attribute misuse, Path-to-Rectangle example precision, and missing ColorMatrixFilter in required attributes table.
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/optimize-guide.md
Owners: @domchen, @Hparty, @shlzxjp

Add dashboard gem decorative illustration showcasing advanced PAGX features.
  spec/samples/C.6_dashboard_gem.pagx
  spec/samples/C.6_dashboard_gem.png
Owners: @domchen, @Hparty, @shlzxjp

Adjust gauge tick marks to sit flush against arc outer edge.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Make gauge foreground arc slightly wider than background for better visual layering.
  .codebuddy/skills/pagx/references/examples.md
Owners: @domchen, @Hparty, @shlzxjp

Brighten card background and add border stroke to improve contrast against dark base.
  spec/samples/app_icons.pagx
Owners: @domchen, @Hparty, @shlzxjp

Enhance website illustration with complex cyberpunk workspace scene
  spec/samples/website_illustration.pagx
  spec/samples/website_illustration.png
Owners: @domchen, @Hparty, @shlzxjp

Add 12 flat app icons sample with dark theme and unified monochrome palette.
  spec/samples/app_icons.pagx
Owners: @domchen, @Hparty, @shlzxjp

Add space explorer illustration with astronaut character and alien planet scene.
  spec/samples/C.8_space_explorer.pagx
  spec/samples/C.8_space_explorer.png
Owners: @domchen, @Hparty, @shlzxjp

Enrich space explorer illustration with mountains, hologram, craters, beacon, debris and more creatures.
  spec/samples/C.8_space_explorer.pagx
  spec/samples/C.8_space_explorer.png
Owners: @domchen, @Hparty, @shlzxjp

Add website illustration sample PAGX file
  spec/samples/website_illustration.pagx
  spec/samples/website_illustration.png
Owners: @domchen, @Hparty, @shlzxjp

Update website illustration PAGX with modern design
  spec/samples/website_illustration.pagx
  spec/samples/website_illustration.png
Owners: @domchen, @Hparty, @shlzxjp

Add rounded card backgrounds with cyan drop shadow to app icon samples.
  spec/samples/app_icons.pagx
Owners: @domchen, @Hparty, @shlzxjp

Switch icon cards to light background with dark teal icons and fix last row centering.
  spec/samples/app_icons.pagx
Owners: @domchen, @Hparty, @shlzxjp

Iterate app icon design through multiple palette and layout variations.
  spec/samples/app_icons.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix element alignment with pagx bounds and add rich foreground plants with space exploration flag.
  spec/samples/C.8_space_explorer.pagx
  spec/samples/C.8_space_explorer.png
Owners: @domchen, @Hparty, @shlzxjp

Add frosted glass cards with geometric background and iterate through multiple background design variations.
  spec/samples/app_icons.pagx
  spec/samples/app_icons.png
Owners: @domchen, @Hparty, @shlzxjp

Add canvas clipping behavior to spec and root layer implementation.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/C.4_game_hud.pagx
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify app icon background and make Calendar icon more square.
  spec/samples/app_icons.pagx
  spec/samples/app_icons.png
Owners: @domchen, @Hparty, @shlzxjp

Add space explorer sample to PAGX specification.
  spec/pagx_spec.md
  spec/samples/C.6_space_explorer.pagx
  spec/samples/C.6_space_explorer.png
Owners: @domchen, @Hparty, @shlzxjp

Redesign Calendar icon and rename app_icons sample to C.7 in appendix C.
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  spec/samples/C.7_app_icons.pagx
  spec/samples/C.7_app_icons.png
  spec/samples/app_icons.png
Owners: @domchen, @Hparty, @shlzxjp

Remove unused samples and rename C.8 space explorer to C.6 with PNG cleanup.
  spec/samples/C.6_dashboard_gem.pagx
  spec/samples/C.6_dashboard_gem.png
  spec/samples/C.6_space_explorer.pagx
  spec/samples/C.6_space_explorer.png
  spec/samples/C.7_app_icons.png
  spec/samples/C.8_space_explorer.pagx
  spec/samples/C.8_space_explorer.png
  spec/samples/website_illustration.pagx
  spec/samples/website_illustration.png
Owners: @domchen, @Hparty, @shlzxjp
