Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Enumerate valid svg options explicitly in resolve command option parsing.
  src/cli/CommandResolve.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add warning when multiple inline svg elements overwrite each other in PAGXImporter.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix writeRawLine to indent each line of multi-line raw XML content.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove backward-compatible inline SVG handling in legacy contents block.
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace Import node with Layer import directives and add standalone resolve command. (#3367)
  .codebuddy/skills/pagx/SKILL.md
  .codebuddy/skills/pagx/references/attributes.md
  .codebuddy/skills/pagx/references/cli.md
  .codebuddy/skills/pagx/references/guide.md
  .codebuddy/skills/pagx/references/patterns.md
  include/pagx/PAGXDocument.h
  include/pagx/SVGImporter.h
  include/pagx/nodes/Import.h
  include/pagx/nodes/Layer.h
  include/pagx/nodes/Node.h
  resources/cli/import_node_basic.pagx
  resources/cli/import_resolve_multi_layer.pagx
  resources/cli/layout_check_padding_stretch.pagx
  resources/cli/layout_check_padding_stretch_divider.pagx
  resources/cli/layout_check_padding_stretch_nested.pagx
  resources/cli/resolve_conflict_children.pagx
  resources/cli/resolve_conflict_contents.pagx
  resources/cli/resolve_scaled_layer.pagx
  resources/layout/padding_unified.pagx
  spec/pagx.xsd
  spec/pagx_spec.md
  spec/pagx_spec.zh_CN.md
  src/cli/CommandBounds.cpp
  src/cli/CommandExport.cpp
  src/cli/CommandFont.cpp
  src/cli/CommandImport.cpp
  src/cli/CommandImport.h
  src/cli/CommandLayout.cpp
  src/cli/CommandRender.cpp
  src/cli/CommandResolve.cpp
  src/cli/CommandResolve.h
  src/cli/CommandVerify.cpp
  src/cli/main.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/svg/SVGImporter.cpp
  test/baseline/version.json
  test/src/PAGXCliTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Upgrade pagx cli version to 0.2.12.
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.2.13.
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Add text_baseline and layout_arrangement test cases and convert 8 pagx files to auto-layout.
  resources/pagx_to_html/gradient_matrix.pagx
  resources/pagx_to_html/layout_arrangement.pagx
  resources/pagx_to_html/selector_advanced.pagx
  resources/pagx_to_html/showcase_infographic.pagx
  resources/pagx_to_html/showcase_mandala.pagx
  resources/pagx_to_html/showcase_text_art.pagx
  resources/pagx_to_html/stroke_advanced.pagx
  resources/pagx_to_html/stroke_align.pagx
  resources/pagx_to_html/text_baseline.pagx
  resources/pagx_to_html/text_features.pagx
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline updates for text_baseline and layout_arrangement test cases.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Upgrade pagx cli version to 0.2.13 (#3369)
  .codebuddy/skills/pagx/SKILL.md
  cli/npm/package.json
Owners: @domchen, @Hparty, @shlzxjp

Fix playground homepage showing checkerboard grid through semi-transparent drop zone.
  playground/index.html
Owners: @domchen, @Hparty, @shlzxjp

Fix playground homepage showing checkerboard grid through semi-transparent drop zone. (#3370)
  playground/index.html
Owners: @domchen, @Hparty, @shlzxjp

Remove resources/cli from GenerateComparisonPage to reduce generation time.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix text vertical positioning in HTML export for lineBox baseline mode.
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Generate CSS Flexbox layout for pagx auto-layout containers instead of absolute positioning.
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use layout-resolved size for flex items with absolute-positioned contents.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add explicit width and height to absolute-positioned flex containers.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Use CSS inset:0 for constraint-filled elements and remove fixed sizes from flex items.
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterShape.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add box-sizing border-box to flex containers and use CSS inset for filled elements.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add explicit size to absolute-positioned layers with contents for CSS inset to work.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix conic gradient center to match ellipse center in color_conic_gradient test case.
  resources/pagx_to_html/color_conic_gradient.pagx
Owners: @domchen, @Hparty, @shlzxjp

Accept baseline updates for conic gradient center fix and HTML flexbox changes.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Use layout-resolved size for flex items with contents to fix text centering.
  src/pagx/html/HTMLWriterLayer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix radial gradient center offset in color_radial_gradient test case.
  resources/pagx_to_html/color_radial_gradient.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix composition element positions to center within coordinate system in composition_advanced test case.
  resources/pagx_to_html/composition_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix composition instance positions to fit within card area in composition_advanced test case.
  resources/pagx_to_html/composition_advanced.pagx
Owners: @domchen, @Hparty, @shlzxjp

Split PPTExporter.cpp into focused modules for better maintainability.
  CMakeLists.txt
  src/pagx/ppt/PPTBoilerplate.cpp
  src/pagx/ppt/PPTBoilerplate.h
  src/pagx/ppt/PPTContourUtils.cpp
  src/pagx/ppt/PPTContourUtils.h
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTGeomEmitter.cpp
  src/pagx/ppt/PPTGeomEmitter.h
  src/pagx/ppt/PPTWriterContext.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fixed web VideoReader not handling destroy state properly during async operations. (#3364)
  web/src/core/video-reader.ts
  web/src/pag-player.ts
  web/src/pag-view.ts
  web/src/video-reader-manager.ts
  web/src/wechat/pag-view.ts
  web/src/wechat/video-reader.ts
Owners: @domchen, @Hparty, @shlzxjp

Adapt PPTExporter and PPT tests to TextBox width/height API replacing the removed size member.
  src/pagx/ppt/PPTExporter.cpp
  test/src/PAGXPPTTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Auto apply layout before exporting PAG document to PPT file.
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Redesign coverage_gaps test case with auto-layout to fix text overlap and alignment issues.
  resources/pagx_to_html/coverage_gaps.pagx
Owners: @domchen, @Hparty, @shlzxjp

Fix TextBox text placement inside background rectangle in coverage_gaps test case.
  resources/pagx_to_html/coverage_gaps.pagx
Owners: @domchen, @Hparty, @shlzxjp

Unify XMLBuilder API by removing short aliases and migrating all call sites to descriptive method names.
  src/pagx/PAGXExporter.cpp
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTGeomEmitter.cpp
  src/pagx/xml/XMLBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Reformat chained XMLBuilder calls in PPT exporter for better readability.
  src/pagx/ppt/PPTExporter.cpp
  src/pagx/ppt/PPTGeomEmitter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reduce TextBox size to prevent text overflow in coverage_gaps test case.
  resources/pagx_to_html/coverage_gaps.pagx
Owners: @domchen, @Hparty, @shlzxjp

Move XMLBuilder from PAGXExporter.cpp to shared XMLBuilder.h and add writeRawLine and writeComment methods.
  src/pagx/PAGXExporter.cpp
  src/pagx/xml/XMLBuilder.h
Owners: @domchen, @Hparty, @shlzxjp

Shorten TextBox text to fit within background rectangle in coverage_gaps test case.
  resources/pagx_to_html/coverage_gaps.pagx
Owners: @domchen, @Hparty, @shlzxjp

Refactor PPT exporter by extracting helpers to reduce code duplication and improve readability.
  src/pagx/ppt/PPTContourUtils.cpp
  src/pagx/ppt/PPTContourUtils.h
  src/pagx/ppt/PPTExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix TextBox HTML export position and size handling.
  resources/pagx_to_html/coverage_gaps.pagx
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix TextBox position to use origin coordinates instead of center point in HTML export.
  resources/pagx_to_html/coverage_gaps.pagx
  src/pagx/html/HTMLWriterText.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
