Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Replace dynamic_cast with stateType check in PAGStateMachineTimeline.
  src/pagx/PAGStateMachineTimeline.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unused findRegion method from PAGStateMachineTimeline.
  include/pagx/PAGStateMachineTimeline.h
  src/pagx/PAGStateMachineTimeline.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move InputValue struct to private section of PAGStateMachineTimeline.
  include/pagx/PAGStateMachineTimeline.h
Owners: @domchen, @Hparty, @shlzxjp

Fix wrong frame count in advance comment of PAGXTest.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add PAGViewModelValueTrigger as a dedicated value-less event type for trigger ViewModel properties.
  include/pagx/PAGViewModel.h
  include/pagx/PAGViewModelValueTrigger.h
  src/pagx/DataBindRuntime.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGStateMachineTimeline.cpp
  src/pagx/PAGViewModel.cpp
  src/pagx/PAGViewModelValue.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove exitTime gate and decouple pauseOnExit to fire on any transition.
  include/pagx/PAGTimeline.h
  include/pagx/nodes/StateTransition.h
  src/pagx/PAGStateMachineTimeline.cpp
  src/pagx/PAGTimeline.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Move state machine playback time into per-slot PAGTimeline instances and carry over spilled time on transitions.
  include/pagx/PAGStateMachineTimeline.h
  include/pagx/PAGTimeline.h
  src/pagx/PAGStateMachineTimeline.cpp
  src/pagx/PAGTimeline.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rebuild state machine timelines on structural edits to state machine nodes and clear scene-level SM handle cache.
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Allow binding SM trigger inputs to Trigger-typed ViewModel properties.
  src/pagx/PAGStateMachineTimeline.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Drive state machine animations through per-animation PAGTimeline instances instead of duplicating channel evaluation.
  include/pagx/PAGStateMachineTimeline.h
  include/pagx/PAGTimeline.h
  src/pagx/PAGStateMachineTimeline.cpp
  src/pagx/PAGTimeline.cpp
Owners: @domchen, @Hparty, @shlzxjp

Compute transition spilled time from the exit-time point in the state machine instead of the animation boundary.
  include/pagx/PAGTimeline.h
  src/pagx/PAGStateMachineTimeline.cpp
  src/pagx/PAGTimeline.cpp
Owners: @domchen, @Hparty, @shlzxjp

Apply codeformat to PAGStateMachineTimeline.
  src/pagx/PAGStateMachineTimeline.cpp
Owners: @domchen, @Hparty, @shlzxjp

Keep state machines inside their composition Animations block across XML round-trip.
  include/pagx/nodes/Composition.h
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add timelineType discriminator to PAGTimeline for runtime dispatch without dynamic_cast.
  include/pagx/PAGAnimation.h
  include/pagx/PAGStateMachine.h
  include/pagx/PAGTimeline.h
Owners: @domchen, @Hparty, @shlzxjp

Remove playback control state from PAGAnimation to align with PAGPlayer caller-driven model.
  include/pagx/PAGAnimation.h
  src/pagx/PAGAnimation.cpp
  src/pagx/runtime/PAGComposition.cpp
  test/src/PAGXRuntimeTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add cstdint include to state machine enum headers for uint8_t.
  include/pagx/nodes/State.h
  include/pagx/nodes/StateMachineInput.h
  include/pagx/nodes/TransitionCondition.h
Owners: @domchen, @Hparty, @shlzxjp

Fix crossfade mix advancing twice per frame for carried-over transitions.
  src/pagx/PAGStateMachine.cpp
Owners: @domchen, @Hparty, @shlzxjp

Skip spawning timelines for non-playing animation drivers instead of pausing them.
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add type() discriminator to PAGTimeline for runtime dispatch without dynamic_cast.
  include/pagx/PAGAnimation.h
  include/pagx/PAGStateMachine.h
  include/pagx/PAGTimeline.h
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGAnimation advance() doc to describe actual false conditions instead of removed paused state.
  include/pagx/PAGAnimation.h
Owners: @domchen, @Hparty, @shlzxjp

Fix unresolved trigger input condition being treated as satisfied.
  src/pagx/PAGStateMachine.cpp
Owners: @domchen, @Hparty, @shlzxjp

Confine PAGScene state machine lookups to top-level animations for top-level contract.
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add playback control API on PAGComposition mirroring Rive NestedSimpleAnimation.
  include/pagx/PAGComposition.h
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename PAGTimeline to PAGAnimation and PAGStateMachineTimeline to PAGStateMachine with a shared PAGTimeline base class.
  include/pagx/PAGAnimation.h
  include/pagx/PAGComposition.h
  include/pagx/PAGScene.h
  include/pagx/PAGStateMachine.h
  include/pagx/PAGTimeline.h
  include/pagx/PAGXDocument.h
  src/pagx/PAGAnimation.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGStateMachine.cpp
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
  src/pagx/runtime/PAGComposition.cpp
  test/src/PAGXRuntimeTest.cpp
  test/src/PAGXTest.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix apply using unclamped smMix so blend weights exceed one.
  src/pagx/PAGStateMachine.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extend SMTriggerConsumedOnce to verify a single fire is consumed and does not drive a second trigger-gated transition.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add SMCrossfadeMixAdvancesOncePerFrame regression test asserting crossfade mix advances once per frame.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix composition-scoped state machine being exported twice at document root.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Exclude composition-owned state machines from PAGScene top-level state machine lookups.
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Reset pausedTimelineIds in spawnTimelines so respawn rebuilds paused state from current drivers.
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add active to idle transition in SMListenerDetach so callback suppression after removal is genuinely verified.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add active to idle transition in SMStateChangeListener so listener detachment is genuinely verified.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove dead forward declarations of Animation and StateMachine in Composition.
  include/pagx/nodes/Composition.h
Owners: @domchen, @Hparty, @shlzxjp

Assert the deterministic terminal state in SMChainedMaxIterations instead of an unfalsifiable disjunction.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix SMAnyStateTransition to start in a distinct state so the any-state transition is actually exercised.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Revert "Confine PAGScene state machine lookups to top-level animations for top-level contract."
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Hoist loop-invariant frameRate lookup out of the region loop.
  src/pagx/PAGStateMachine.cpp
Owners: @domchen, @Hparty, @shlzxjp

Align PAGStateMachine advance return with the base contract, dedup input lookup, and clarify state machine input ownership doc.
  include/pagx/PAGStateMachine.h
  include/pagx/nodes/StateMachine.h
  src/pagx/PAGStateMachine.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Give StateTransition its own frameRate so crossfade duration converts to time independently of connected state animations.
  include/pagx/PAGStateMachine.h
  include/pagx/nodes/StateTransition.h
  src/pagx/PAGStateMachine.cpp
  src/pagx/PAGXExporter.cpp
  src/pagx/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract advanceMix helper and derive crossfade frame rate from the incoming state animation instead of the first document animation.
  include/pagx/PAGStateMachine.h
  src/pagx/PAGStateMachine.cpp
Owners: @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
