Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Change inputFinished to std::atomic for thread safety.
  exporter/src/export/encode/PAGEncodeThread.h
Owners: @domchen, @Hparty, @shlzxjp

Fix include order for atomic header per code formatting rules.
  exporter/src/export/encode/PAGEncodeThread.h
Owners: @domchen, @Hparty, @shlzxjp

Fix PAGX HTML layout and shadow export (#3514)
  resources/pagx_to_html/unit/composition_filter_size.pagx
  resources/pagx_to_html/unit/custom_cff_charset_strings.pagx
  resources/pagx_to_html/unit/drop_shadow_styles.pagx
  resources/pagx_to_html/unit/fixed_flex_item_scroll.pagx
  resources/pagx_to_html/unit/flex_child_layer_width.pagx
  resources/pagx_to_html/unit/glyph_run_embedded_font.pagx
  resources/pagx_to_html/unit/low_units_per_em_font.pagx
  resources/pagx_to_html/unit/mixed_glyph_run_fonts.pagx
  resources/pagx_to_html/unit/parent_child_drop_shadow.pagx
  resources/pagx_to_html/unit/rectangle_stroke_roundness.pagx
  resources/pagx_to_html/unit/rich_text_newline_group.pagx
  resources/pagx_to_html/unit/scroll_rect_flex_flow.pagx
  resources/pagx_to_html/unit/single_auto_size_glyph_run.pagx
  resources/pagx_to_html/unit/single_group_text_box.pagx
  resources/pagx_to_html/unit/uniform_gradient_text.pagx
  resources/pagx_to_html/unit/vertical_scroll_rect_height.pagx
  resources/pagx_to_html/unit/vertical_text_box_height.pagx
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterColor.cpp
  src/pagx/html/HTMLWriterFilter.cpp
  src/pagx/html/HTMLWriterLayer.cpp
  src/pagx/html/HTMLWriterShape.cpp
  src/pagx/html/HTMLWriterText.cpp
  src/pagx/utils/Woff2FontGenerator.cpp
  src/pagx/utils/Woff2FontGenerator.h
  test/baseline/version.json
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add PAGXDocument::getRequiredFonts() for font requirement query with cross-document tests.
  include/pagx/PAGXDocument.h
  src/pagx/PAGXDocument.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

update version.json
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Replace tgfx::Typeface in FontConfig with PAGXTypeface and return PAGFont from getRequiredFonts.
  include/pagx/FontConfig.h
  include/pagx/PAGFont.h
  include/pagx/PAGXDocument.h
  include/pagx/PAGXTypeface.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  src/cli/CliUtils.cpp
  src/pagx/FontConfig.cpp
  src/pagx/FontConfigData.h
  src/pagx/LayoutContext.cpp
  src/pagx/LayoutContext.h
  src/pagx/PAGXDocument.cpp
  src/pagx/PAGXTypeface.cpp
  test/src/PAGXTest.cpp
  test/src/PAGXTypefaceCacheTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename PAGXTypeface to PAGTypeface for naming consistency with PAGFont.
  include/pagx/FontConfig.h
  include/pagx/PAGTypeface.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  src/cli/CliUtils.cpp
  src/pagx/FontConfig.cpp
  src/pagx/FontConfigData.h
  src/pagx/LayoutContext.cpp
  src/pagx/LayoutContext.h
  src/pagx/PAGTypeface.cpp
  test/src/PAGTypefaceCacheTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Suppress rttr warnings in vendor build to fix CI compile error.
  vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

revert
  include/pagx/PAGTypeface.h
  vendor.json
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

codeformat
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  src/cli/CliUtils.cpp
  src/pagx/PAGTypeface.cpp
  test/src/PAGTypefaceCacheTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add PAGImage type for image-valued ViewModel properties and implement image writer.
  include/pagx/PAGImage.h
  include/pagx/PAGViewModelValueImage.h
  include/pagx/nodes/Channel.h
  src/pagx/PAGImage.cpp
  src/pagx/PAGScene.cpp
  src/pagx/PAGViewModelValue.cpp
  src/pagx/PAGXExporter.cpp
  src/renderer/LayerBuilder.cpp
  src/renderer/LayerBuilder.h
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

accept baseline
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Split MakeFromPath and MakeFromDataURI for explicit image source handling.
  include/pagx/PAGImage.h
  src/pagx/PAGImage.cpp
  src/pagx/PAGScene.cpp
  test/src/PAGXViewModelTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Exclude woff2-dependent and SVG/HTML export sources from wechat wasm build.
  pagx/wechat/CMakeLists.txt
Owners: @domchen, @Hparty, @shlzxjp

Hide tgfx type from PAGImage public header using type-erased shared_ptr.
  include/pagx/PAGImage.h
  src/pagx/PAGImage.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Restore tgfx Image type in PAGImage private members.
  include/pagx/PAGImage.h
  src/pagx/PAGImage.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

accept baseline
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Suppress warnings for third-party rttr library to fix QT viewer build.
  vendor.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix PAGEncodeThread to close encoder on encode thread via signal-slot. (#3531)
  exporter/src/export/encode/PAGEncodeThread.cpp
  exporter/src/export/encode/PAGEncodeThread.h
  exporter/src/export/sequence/VideoSequence.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx dependency to 1c32950660ae593344297c504ec78bd69a3dbc6d.
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

update tgfx
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix GradientOverlayFilter double-scaling issue when layer has scale transform.
  src/rendering/filters/layerstyle/GradientOverlayFilter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove unused _filterScale member variable from GradientOverlayFilter.
  src/rendering/filters/layerstyle/GradientOverlayFilter.cpp
  src/rendering/filters/layerstyle/GradientOverlayFilter.h
Owners: @domchen, @Hparty, @shlzxjp

Reformat GradientOverlayFilter update method signature.
  src/rendering/filters/layerstyle/GradientOverlayFilter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Replace tgfx::Typeface exposure in FontConfig with path bytes and by name APIs
  include/pagx/FontConfig.h
  include/pagx/PAGTypeface.h
  playground/pagx-viewer/src/cpp/PAGXView.cpp
  src/cli/CliUtils.cpp
  src/pagx/FontConfig.cpp
  src/pagx/FontConfigData.h
  src/pagx/LayoutContext.cpp
  src/pagx/LayoutContext.h
  src/pagx/PAGTypeface.cpp
  src/pagx/TypefaceHolder.h
  test/src/PAGTypefaceCacheTest.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename by name font registration to registerSystemFont and addFallbackSystemFont
  include/pagx/FontConfig.h
  src/cli/CliUtils.cpp
  src/pagx/FontConfig.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove dead clearDirty method from DataBindRuntime.
  src/pagx/DataBindRuntime.cpp
  src/pagx/DataBindRuntime.h
Owners: @domchen, @Hparty, @shlzxjp

Replace duplicate base64 decoder in PAGImage with DecodeBase64DataURI.
  src/pagx/PAGImage.cpp
Owners: @domchen, @Hparty, @shlzxjp

Make DataBindRuntime::markDirty private since only used internally.
  src/pagx/DataBindRuntime.h
Owners: @domchen, @Hparty, @shlzxjp

Emit id attribute on ViewModel Property elements for round-trip.
  src/pagx/PAGXExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Preserve colorSpace when converting Color ViewModel value to KeyValue.
  src/pagx/DataBindRuntime.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move GetTGFXImage into the main namespace block in LayerBuilder.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Extract DEG_TO_RAD constant for degsToRads converters.
  src/pagx/DataConverterRegistry.cpp
Owners: @domchen, @Hparty, @shlzxjp

Verify DataBind XML round trip preserves ViewModel id property and DataBind fields.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Extract shared default constants for converter param values.
  src/pagx/DataConverterRegistry.cpp
Owners: @domchen, @Hparty, @shlzxjp

Verify secondsToFrames converter output reaches the bound layer x position through the pipeline.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Consolidate float-readable channel check into IsFloatReadableChannel helper.
  src/pagx/DataBindRuntime.cpp
Owners: @domchen, @Hparty, @shlzxjp

Make DataConverterRegistry register methods private.
  src/pagx/DataConverterRegistry.h
Owners: @domchen, @Hparty, @shlzxjp

Verify priceFormat converter output reaches the bound layer name through the pipeline.
  test/src/PAGXViewModelTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Rename file-scope static functions to uppercase per project convention.
  src/pagx/DataBindRuntime.cpp
Owners: @domchen, @Hparty, @shlzxjp
