Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Flatten pagx font into a single query command and delete the info subcommand layer.
  src/cli/CommandFont.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename FontInfo tests to Font, add info redirect and help surface tests.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix SVG vertical text alignment by handling textAlign and paragraphAlign axis mapping for writing-mode vertical.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add --list flag parsing, validation, and system font list formatting to pagx font.
  src/cli/CommandFont.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add FontList text, JSON, and mutual exclusion tests for pagx font --list.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Implement attribute-level CSS deduplication with semantic base+modifier class naming.
  src/pagx/html/HTMLStyleExtractor.cpp
  src/pagx/html/HTMLStyleExtractor.h
  test/src/HTMLStyleExtractorTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix SVG text position offset by removing redundant renderPosition from text coordinates since transform matrix already includes it.<noreply@anthropic.com>
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add scrollRect viewport clipping support to SVG exporter.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add README.md
  playground/pagx-viewer/README.md
  playground/pagx-viewer/README.zh_CN.md
  playground/pagx-viewer/package.json
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG rich text spans overlapping by grouping same-line runs into tspan elements within a shared text element.<noreply@anthropic.com>
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG layer transform missing when only matrix3D is set by adding matrix3D check to needsGroup condition.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG text justify alignment by using word-spacing instead of degrading to start alignment.
  src/pagx/TextLayout.cpp
  src/pagx/TextLayout.h
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG BlendFilter rendering blue flood rectangle outside source shape by clipping blend result with feComposite.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG exporter rendering Fill and Stroke as invisible when no color is specified by defaulting to opaque black.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG exporter rendering ImagePattern with Mirror/Clamp/Decal tile modes by implementing GPU-based pattern baking.
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix SVG gradient attributes being omitted when coordinate values are zero causing incorrect rendering.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update CommandFont.h comment to reflect removed subcommands.
  src/cli/CommandFont.h
Owners: @domchen, @Hparty, @shlzxjp

Eliminate redundant map lookup in SystemFonts Linux AllFontFamilies.
  src/pagx/SystemFonts.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move EmbedOptions and helpers inside namespace pagx::cli.
  src/cli/CommandEmbed.cpp
Owners: @domchen, @Hparty, @shlzxjp

Rename misleading Font_HelpShowsNewSurface test to Font_HelpShowsCurrentFlags.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add parse failure detection for scaleFactor in resolveImagePatternMatrix.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Update npm README to reflect renamed font and embed commands.
  cli/npm/README.md
Owners: @domchen, @Hparty, @shlzxjp

Add font-not-embedded assertion to Embed_SkipFonts_ImagesOnly test.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix SVG exporter ignoring blend mode on Fill and Stroke painters causing incorrect color compositing.
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXSVGTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add endptr validation for strtof calls and range check for scaleModeInt in resolveImagePatternMatrix.
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add font-embedded assertion to Embed_SkipImages_FontsOnly test.
  test/src/PAGXCliTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Deduplicate file reads for identical paths in ImageEmbedder.
  src/renderer/ImageEmbedder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Warn when --size is used with --list in pagx font command.
  src/cli/CommandFont.cpp
Owners: @domchen, @Hparty, @shlzxjp

Drop pagx-root and pagx-layer marker classes; identify root via data-pagx-version and layer divs via style heuristics.
  docs/pagx_html_css_extraction_design.md
  resources/pagx_to_html/PAGX_TO_HTML_TEST_REPORT.md
  resources/pagx_to_html/root_document.pagx
  spec/pagx_to_html.md
  src/pagx/html/HTMLExporter.cpp
  src/pagx/html/HTMLStyleExtractor.cpp
  src/pagx/html/HTMLWriter.h
  src/pagx/html/HTMLWriterLayer.cpp
  test/src/HTMLStyleExtractorTest.cpp
  test/src/PAGXHtmlTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Refactor SVG exporter to eliminate duplicate shadow and painter attribute code while shortening long writer functions.<noreply@anthropic.com>
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix embed command description to distinguish font glyph embedding from image base64 encoding.
  src/cli/CommandEmbed.cpp
  src/cli/CommandEmbed.h
Owners: @domchen, @Hparty, @shlzxjp

Reuse existing image_as_mask.png for embed tests instead of a duplicated fixture.
  resources/cli/embed_sample.pagx
  resources/cli/embed_sample.png
  test/src/PAGXCliTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Enable mipmaps for PAGX images and tune WASM cache to eliminate pan-zoom re-decodes.
  pagx/wechat/CMakeLists.txt
  pagx/wechat/src/PAGXView.cpp
  src/renderer/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG shadow clipping and backdrop blur rendering by computing dynamic filter regions and correcting clip-rect ordering.
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/ExporterUtils.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG baked ImagePattern not aligned with shape bounds causing off-center pattern rendering.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Skip rasterization for BackgroundBlurStyle in SVG export since SVG has no portable backdrop-blur primitive.
  include/pagx/SVGExporter.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/svg/SVGFeatureProbe.cpp
  src/pagx/svg/SVGFeatureProbe.h
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG image pattern not rendering by adding missing width and height attributes to pattern image elements.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix layer with only BackgroundBlurStyle becoming invisible due to empty SVG filter element.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix SVG image pattern not rendering by replacing objectBoundingBox with userSpaceOnUse and patternTransform.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Move test wrapper body styles from inline attribute to a stylesheet rule.
  test/src/PAGXHtmlTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp
