Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add test cases for Font GlyphRun and precomposed text rendering.
  pagx/src/PAGXExporter.cpp
  pagx/src/tgfx/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Update Text class comments to align with PAGX specification.
  pagx/include/pagx/nodes/Text.h
Owners: @domchen, @Hparty, @shlzxjp

Remove font fallback mention from GlyphRun comments and spec.
  pagx/docs/pagx_spec.md
  pagx/include/pagx/nodes/GlyphRun.h
  pagx/include/pagx/nodes/Text.h
Owners: @domchen, @Hparty, @shlzxjp

Add TextPrecomposer module for converting runtime shaped text to precomposed format with embedded fonts.
  pagx/include/pagx/TextPrecomposer.h
  pagx/src/tgfx/LayerBuilder.cpp
  pagx/src/tgfx/TextPrecomposer.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Rename TextPrecomposer to TextShaper and update terminology to use pre-shaped and runtime shaping.
  pagx/include/pagx/TextPrecomposer.h
  pagx/include/pagx/TextShaper.h
  pagx/include/pagx/nodes/GlyphRun.h
  pagx/include/pagx/nodes/Text.h
  pagx/src/tgfx/TextShaper.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add inline path data support for TextPath element similar to Path element.
  pagx/docs/pagx_spec.md
  pagx/include/pagx/nodes/TextPath.h
  pagx/src/PAGXExporter.cpp
  pagx/src/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Redesign TextShaper API with font registration and reshape option.
  pagx/include/pagx/TextShaper.h
  pagx/src/tgfx/TextShaper.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add GLRestorer to save and restore OpenGL state for shared texture scenarios.
  include/pag/pag.h
  src/rendering/PAGSurface.cpp
  src/rendering/utils/GLRestorer.cpp
  src/rendering/utils/GLRestorer.h
  test/src/PAGSurfaceTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add GLRestorer to save and restore OpenGL state for shared texture scenarios.
  include/pag/pag.h
  src/rendering/PAGSurface.cpp
  src/rendering/utils/GLRestorer.cpp
  src/rendering/utils/GLRestorer.h
  test/src/PAGSurfaceTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix automation test errors on the Mac platform.
  src/rendering/utils/GLRestorer.cpp
Owners: @domchen, @Hparty, @shlzxjp

Refactor PAGXStringUtils into separate utility files for better code organization.
  pagx/src/Base64.cpp
  pagx/src/Base64.h
  pagx/src/PAGXExporter.cpp
  pagx/src/PAGXImporter.cpp
  pagx/src/SVGPathParser.cpp
  pagx/src/SVGPathParser.h
  pagx/src/StringParser.cpp
  pagx/src/StringParser.h
  pagx/src/svg/SVGImporter.cpp
  pagx/src/tgfx/LayerBuilder.cpp
  pagx/src/tgfx/TextShaper.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Change Data member type from void* to uint8_t* for cleaner code.
  pagx/include/pagx/nodes/Data.h
  pagx/src/Data.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove underscore prefix from auto-generated IDs and add PAGXDocument ID collision check.
  pagx/src/svg/SVGImporter.cpp
  pagx/src/svg/SVGParserInternal.h
Owners: @domchen, @Hparty, @shlzxjp

Refactor text shaping by replacing TextShaper with unified Typesetter class and adding skipGlyphData export option.
  pagx/include/pagx/LayerBuilder.h
  pagx/include/pagx/PAGXDocument.h
  pagx/include/pagx/PAGXExporter.h
  pagx/include/pagx/TextShaper.h
  pagx/include/pagx/Typesetter.h
  pagx/src/PAGXExporter.cpp
  pagx/src/tgfx/LayerBuilder.cpp
  pagx/src/tgfx/Typesetter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix pinch zoom focal point drift in WeChat mini-program viewer.
  pagx/wechat/src/PAGXView.cpp
  pagx/wechat/src/PAGXView.h
  pagx/wechat/ts/gesture-manager.ts
  pagx/wechat/wx_demo/pages/viewer/viewer.js
  pagx/wechat/wx_demo/pages/viewer/viewer.wxml
Owners: @domchen, @Hparty, @shlzxjp

Fix Font resource registration in Typesetter by passing ID to makeNode for proper nodeMap lookup.
  pagx/src/tgfx/Typesetter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add validation for Font resource reference in GlyphRun parsing to fail early when Font is not found.
  pagx/src/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Change Font resource validation to graceful degradation with error logging instead of failing GlyphRun parsing.
  pagx/src/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Simplify PAGX attribute names for blur, shadow, gradient and text path properties.
  pagx/docs/pagx_spec.md
  pagx/include/pagx/nodes/BackgroundBlurStyle.h
  pagx/include/pagx/nodes/BlurFilter.h
  pagx/include/pagx/nodes/DiamondGradient.h
  pagx/include/pagx/nodes/DropShadowFilter.h
  pagx/include/pagx/nodes/DropShadowStyle.h
  pagx/include/pagx/nodes/InnerShadowFilter.h
  pagx/include/pagx/nodes/InnerShadowStyle.h
  pagx/include/pagx/nodes/RangeSelector.h
  pagx/include/pagx/nodes/TextPath.h
  pagx/src/PAGXExporter.cpp
  pagx/src/PAGXImporter.cpp
  pagx/src/svg/SVGImporter.cpp
  pagx/src/tgfx/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Revert showBehind attribute name to showBehindLayer to match tgfx convention.
  pagx/docs/pagx_spec.md
  pagx/include/pagx/nodes/DropShadowStyle.h
  pagx/src/PAGXExporter.cpp
  pagx/src/PAGXImporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix inconsistencies in Appendix C attribute reference tables.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Update tgfx
  DEPS
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Enhance PAGX spec examples with comprehensive XML demonstrations.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Simplify MergePath and rich text examples in PAGX spec.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Fix comment for TextModifier example in PAGX spec.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Remove redundant B.2 examples section from PAGX spec.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Add emoji bitmap font example to PAGX spec complete example.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Reorganize complete example layout to avoid overlapping elements.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Move Resources to end and ensure all resources are referenced in PAGX spec example.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Restore meaningful comments in PAGX spec complete example.
  pagx/docs/pagx_spec.md
Owners: @domchen, @Hparty, @shlzxjp

Fix Layer x/y and Group position transform not applied in LayerBuilder.
  pagx/src/tgfx/LayerBuilder.cpp
  pagx/src/tgfx/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Redesign PAGX spec complete example with modern dark theme.
  pagx/docs/pagx_spec.md
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Extract enum types from Node subclasses into separate files under types directory.
  pagx/include/pagx/nodes/Fill.h
  pagx/include/pagx/nodes/Layer.h
  pagx/include/pagx/nodes/PathData.h
  pagx/include/pagx/nodes/Polystar.h
  pagx/include/pagx/nodes/RangeSelector.h
  pagx/include/pagx/nodes/Repeater.h
  pagx/include/pagx/nodes/Stroke.h
  pagx/include/pagx/nodes/TextLayout.h
  pagx/include/pagx/nodes/TrimPath.h
  pagx/include/pagx/types/FillRule.h
  pagx/include/pagx/types/MaskType.h
  pagx/include/pagx/types/MergePathMode.h
  pagx/include/pagx/types/PathVerb.h
  pagx/include/pagx/types/PolystarType.h
  pagx/include/pagx/types/RepeaterOrder.h
  pagx/include/pagx/types/SelectorTypes.h
  pagx/include/pagx/types/StrokeStyle.h
  pagx/include/pagx/types/TextLayoutTypes.h
  pagx/include/pagx/types/TrimType.h
Owners: @domchen, @Hparty, @shlzxjp

Fix basePath concatenation missing slash separator in LayerBuilder.
  pagx/src/tgfx/LayerBuilder.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add publish_spec.py script to convert PAGX spec Markdown to HTML webpage.
  .gitignore
  pagx/scripts/publish_spec.py
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Replace Python publish_spec.py with Node.js version.
  pagx/scripts/publish_spec.js
  pagx/scripts/publish_spec.py
Owners: @domchen, @Hparty, @shlzxjp

Remove basePath from PAGXDocument and resolve paths during import phase.
  pagx/include/pagx/LayerBuilder.h
  pagx/include/pagx/PAGXDocument.h
  pagx/src/PAGXImporter.cpp
  pagx/src/svg/SVGImporter.cpp
  pagx/src/tgfx/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add PAGX spec and viewer publish scripts with multi-language support.
  .codebuddy/commands/cr.md
  .codebuddy/rules/Test.md
  .gitignore
  pagx/include/pagx/LayerBuilder.h
  pagx/scripts/publish_spec.js
  pagx/spec/package.json
  pagx/spec/pagx_spec.md
  pagx/spec/pagx_spec.zh_CN.md
  pagx/spec/script/publish.js
  pagx/viewer/.gitignore
  pagx/viewer/package.json
  pagx/viewer/script/cmake.js
  pagx/viewer/script/publish.cjs
  pagx/viewer/server.js
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Fix Typesetter overriding Text position unconditionally.
  pagx/src/tgfx/Typesetter.cpp
Owners: @domchen, @Hparty, @shlzxjp

[ohos] Fix font fallback crash by using new text module API on API14+
  ohos/libpag/src/main/ets/PAGInit.ets
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp
