Repository Tencent/libpag, changes with the owners that CODEOWNERS names for each.
All owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

CODEOWNERS:

# Default owners:
*       @domchen @Hparty @shlzxjp

*.sh    @kevingpqi123 @domchen @Hparty @shlzxjp
/*      @kevingpqi123 @domchen @Hparty @shlzxjp
/ohos/  @kevingpqi123 @domchen @Hparty @shlzxjp
/ios/   @kevingpqi123 @domchen @Hparty @shlzxjp
/mac/   @kevingpqi123 @domchen @Hparty @shlzxjp
/.github/   @kevingpqi123 @domchen @Hparty @shlzxjp
/test/   @kevingpqi123 @domchen @Hparty @shlzxjp
/linux/   @kevingpqi123 @domchen @Hparty @shlzxjp
/win/   @kevingpqi123 @domchen @Hparty @shlzxjp

Add NoiseStyle node definition and SVG export support
  include/pagx/nodes/Node.h
  include/pagx/nodes/NoiseFilter.h
  include/pagx/nodes/NoiseStyle.h
  include/pagx/types/NoiseMode.h
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/StringParser.cpp
  src/renderer/LayerBuilder.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Remove NoiseFilterWithShadow test case
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add fontFamily and fontStyle to Text elements in NoiseFilterAllElements test for consistent font rendering
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix SVG contentBounds for Repeater and add second test group with layer position displacement.
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Align Multi noise filter SVG export with Figma using feComponentTransfer for contrast and density banding.
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add NoiseFilter test for all element types and update feOffset to use width/2.
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add Text::contentBounds and use it in ComputeElementBounds for SVG filter regions
  include/pagx/nodes/Text.h
  src/pagx/nodes/Text.cpp
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove NoiseFilterWithDropShadowStyle test case and its baseline entry.
  test/baseline/version.json
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Accept screenshot baseline for NoiseFilter tests.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Apply code formatting to SVGExporter.cpp.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Remove NoiseFilterOnText and NoiseFilterWithDropShadow test cases.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Align Multi noise SVG export with tgfx MakeDarkDensityFilter and remove debug log output.
  src/pagx/svg/SVGExporter.cpp
  test/src/PAGXTest.cpp
Owners: @domchen, @Hparty, @shlzxjp, @kevingpqi123

Add NoiseFilterWithDropShadow test case with large shadow offset for SVG and webp output.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove contentBounds parameter from SVG filter and style export pipeline.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix CR issues: TextBox empty bounds early return, ComputeLayerBounds depth limit, remove unused contentBounds params, add NoiseMode enum conversion.
  src/pagx/nodes/TextBox.cpp
  src/pagx/svg/SVGExporter.cpp
  src/pagx/utils/StringParser.cpp
  src/pagx/utils/StringParser.h
Owners: @domchen, @Hparty, @shlzxjp

Update baseline versions for noise filter tests after content simplification.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Change test to DuoNoiseFilter plus DropShadowStyle for cross-testing filter-style combinations.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add NoiseStyleWithDropShadow test case for DuoNoiseStyle plus DropShadowFilter SVG and webp output.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix rebase conflict resolution issues in PAGXTest.cpp.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add nullptr guards for stream property dereferences in exporter callers.
  exporter/src/export/ExportLayer.cpp
  exporter/src/export/ExportVerify.cpp
  exporter/src/export/data/Effect.cpp
  exporter/src/export/data/Shape.cpp
  exporter/src/export/data/TextProperty.cpp
  exporter/src/export/sequence/VideoSequence.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add in-process resource cache for html-snapshot to reuse CSS JS and font assets across snapshot requests.
  tools/html-snapshot/lib/resource-cache.ts
  tools/html-snapshot/test/resource-cache.test.js
Owners: @domchen, @Hparty, @shlzxjp

Add NoiseStyleModes test covering Mono, Duo and Multi noise styles for codecov coverage.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add MakeFrom(BackendTexture) and MakeFrom(BackendRenderTarget) to pagx PAGSurface.
  include/pagx/PAGSurface.h
  src/pagx/PAGSurface.cpp
  src/pagx/runtime/RenderTargetDrawable.cpp
  src/pagx/runtime/RenderTargetDrawable.h
  src/pagx/runtime/TextureDrawable.cpp
  src/pagx/runtime/TextureDrawable.h
Owners: @domchen, @Hparty, @shlzxjp

Add autoClear parameter to PAGScene::draw() for overlay rendering support.
  include/pagx/PAGScene.h
  src/pagx/PAGScene.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix writeShadowMerge skipping feMerge when only NoiseStyle exists without shadows.
  src/pagx/svg/SVGExporter.cpp
Owners: @domchen, @Hparty, @shlzxjp

Add tests for PAGScene::draw autoClear and PAGSurface MakeFrom BackendTexture/RenderTarget.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Accept screenshot baseline for NoiseStyleModes test.
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add test cases for PAGScene draw autoClear and PAGSurface MakeFrom BackendTexture/BackendRenderTarget.
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Move PAGX runtime tests to separate PAGXRuntimeTest.cpp file.
  test/src/PAGXRuntimeTest.cpp
  test/src/PAGXTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Add Baseline::Compare overload for pagx::PAGSurface and move PAGScene runtime tests to PAGXRuntimeTest.
  test/src/PAGXRuntimeTest.cpp
  test/src/PAGXTest.cpp
  test/src/utils/Baseline.cpp
  test/src/utils/Baseline.h
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix autoClear overlay test to use semi-transparent content for visible compositing.
  test/src/PAGXRuntimeTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Remove redundant PAGSceneDrawAndReadPixels test covered by other runtime tests.
  test/src/PAGXRuntimeTest.cpp
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Fix incomplete type error for RuntimeBinding in PAGComposition header.
  include/pagx/PAGComposition.h
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

Fix unique_ptr incomplete type by keeping explicit destructor in cpp.
  include/pagx/PAGComposition.h
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

codeformat
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

fix bug
  include/pagx/PAGComposition.h
  src/pagx/runtime/PAGComposition.cpp
Owners: @domchen, @Hparty, @shlzxjp

update version.json
  test/baseline/version.json
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp

Adapt WeChat system-info APIs for base-library version differences.
  pagx/wechat/ts/pagx-check.ts
  pagx/wechat/ts/pagx-view.ts
  pagx/wechat/ts/wx-system-info.ts
Owners: @domchen, @Hparty, @shlzxjp

Delete debug log
  pagx/wechat/ts/wx-system-info.ts
Owners: @domchen, @Hparty, @shlzxjp

Import HTML CSS keyframes and animation shorthand into PAGX animations.
  CMakeLists.txt
  spec/html_subset.md
  src/pagx/html/importer/HTMLAnimationBuilder.cpp
  src/pagx/html/importer/HTMLAnimationBuilder.h
  src/pagx/html/importer/HTMLCssCascade.cpp
  src/pagx/html/importer/HTMLCssCascade.h
  src/pagx/html/importer/HTMLParserContext.cpp
  src/pagx/html/importer/HTMLParserContext.h
  src/pagx/html/importer/HTMLStyleCascade.cpp
  src/pagx/html/importer/HTMLStyleCascade.h
  src/pagx/html/importer/HTMLSubsetPropertyTable.cpp
  src/pagx/html/importer/HTMLTransformPasses.cpp
  test/src/PAGXHTMLImporterTest.cpp
  tools/html-snapshot/README.md
  tools/html-snapshot/lib/animation-capture.ts
  tools/html-snapshot/lib/browser-snapshot.ts
  tools/html-snapshot/lib/snapshot-runner.ts
  tools/html-snapshot/test/animation-capture.test.js
Owners: @kevingpqi123, @domchen, @Hparty, @shlzxjp
